---
page: 'download'
title: 'Download'
reference: true
needHelp: true
---

<h2>Download</h2>

<h3>Installing with Bower</h3>

<p>You can download Onsen UI with <a href="http://bower.io" target="_blank">bower</a>:</p>

<pre><code>$ bower install onsenui</pre></code>

<h3>Download as a .ZIP archive</h3>

<p>To download Onsen UI as a .ZIP archive, please click the <strong>Download</strong> button.</p>

<a class="site-button" href="/OnsenUI/project_templates/onsen_master_detail.zip">Download v<%- @framework.version %></a>

<h3 id="latest-build">Latest Build</h3>

<p>You can also get latest build version in development on the <a href="https://github.com/OnsenUI/OnsenUI">"master" branch</a>. Click the <strong>Get Latest Build</strong> button to download it. This package is generated every time a change is made so it should be used with caution!</p>

<button class="site-button" id="latest-build">Get Latest Build</button>

<script src="<%= @rootUrl %>scripts/latest_build.js"></script>
