---
page: 'home'
title: 'Onsen UI - A Custom Elements-Based HTML5 UI Framework'
sitemap:
  priority: 1.0
---

<div class="keyvisual">
  <div class="keyvisual-content">
    <div class="keyvisual-main">
      <h1>The Answer to<br>Cordova UI Development</h1>
      <h2>A Custom Elements-Based HTML5 UI Framework</h2>

      <img src="/images/index/keyvisual-small.png" class="keyvisual-small">

      <a class="getting-started" href="/guide/getting_started.html">Getting Started</a><!--
      --><a class="download" href="/download.html">Download v<%- @framework.version %></a>
    </div>

    <div class="social">

      <img src="/images/index/github-icon-mini.png" class="github-icon-mini">
      <a class="github-star" href="https://github.com/OnsenUI/OnsenUI/stargazers">
        <strong></strong> Stars
      </a>

      <img src="/images/index/twitter-icon-mini.png" class="twitter-icon-mini">
      <a class="twitter-follower" href="https://twitter.com/Onsen_UI">
        <strong></strong> Followers
      </a>
    </div>

  </div>
</div>


<div class="taglines">
  <ul>
    <li>Javascript and CSS frameworks for HTML5, PhoneGap &amp; Cordova apps</li>
    <li>Large selection of Web-based UI components</li>
    <li>Responsive layout support for smartphones and tablets</li>
  </ul>

  <div class="newsletter">
    <div class="newsletter-inner">
      <form>
        <input type="text" placeholder="Enter email for Onsen UI updates" name="email">
        <input type="submit" value="Send">
      </form>
      <div class="newsletter-thankyou">Thank you!</div>
    </div>
  </div>
</div>

<div class="main-features">

  <div class="feature super-performance">
    <h2>Super Performance</h2>

    <p>
      Onsen UI is designed and implemented to deliver unprecedented user experience for your apps.<br>
      Frustrated with the lack of native-like performance? Try Onsen UI and you’ll feel the difference right away.
    </p>
  </div>

  <div class="feature multi-screen">
    <h2>Multi-screen Support</h2>

    <p>
      Onsen UI is responsive. View adjusts based on screen size, and its as easy as using the &lt;ons-split-view&gt; tag to have a two-column view for tablets and one-column view for smartphones.</p>
  </div>

  <div class="feature cordova-friendly">
    <h2>PhoneGap / Cordova Friendly</h2>

    <p>
      Onsen UI is a perfect solution for developing hybrid apps. That's because our priority is performance and ease of use. Onsen UI is fully open source, and never locks you in. It also provides the option of deploying your apps to the server to use as a tool to build a performance website.
    </p>
  </div>

  <div class="feature custom-elements">
    <h2>Simple to Use</h2>

    <p>
      Onsen UI is inspired by Web Components. All UI components are tags making it as easy as adding a period.
    </p>

    <p style="text-align: center; margin-top: 20px;">
      <img src="/images/index/feature-custom-elements.png">
    </p>
  </div>

  <div class="feature with-jquery-or-angular">
    <h2>Works with jQuery and AngularJS</h2>

    <p>
      Utilize the power of AngularJS framework with Onsen UI. jQuery users can also take advantage of Onsen UI’s great UI library.
    </p>
  </div>

</div>

<div class="other-features">
  <h2>Other Features</h2>

  <div class="sub-feature free-and-opensource">
    <h3>Free and Open Source</h3>

    <p>
      Onsen UI is released under the Apache License and development is housed on
      <a href="http://github.com/OnsenUI/OnsenUI" target="_blank">Github</a>. It is free and open for anyone to use.
    </p>
  </div>

  <div class="sub-feature font-awesome">
    <h3>Bundled with Font Awesome</h3>

    <p>
      <a href="http://fortawesome.github.io/Font-Awesome/" target="_blank">Font Awesome</a> is bundled with Onsen UI making it easy to develop and display the exact icons you need.
    </p>
  </div>

  <div class="sub-feature selectable-theme">
    <h3>Built-in Theme Roller</h3>

    <p>
      Try out <a href="http://components.onsen.io/" target="_blank">Onsen CSS Components</a>, the Onsen UI way to pick components and customize them.
    </p>
  </div>

  <div class="sub-feature customizable">
    <h3>Customizable</h3>

    <p>
      Relying on HTML and CSS, Onsen UI is highly customizable to suit the many needs that come with development and design.
    </p>
  </div>

  <div class="sub-feature screen-transition">
    <h3>Screen Transition</h3>

    <p>App operations have a native-like user experience (UX) with smooth animations on cross platform PhoneGap/Cordova apps.</p>
  </div>

  <div class="sub-feature gui-tool">
    <h3>GUI Tool Coming Soon</h3>

    <p>
      With drag &amp; drop support, our GUI tool will make all aspects of front-end 
      development much easier.
    </p>
  </div>
</div>

<div class="getstarted"><a class="getstarted-button" href="/getting_started/">Get Started, It's Open Source!</a></div>

<div class="github-widget">

  <div class="github-widget-header">
    <div class="github-widget-header-info">
      <img src="/images/index/github-widget-star.png"> <a href="https://github.com/OnsenUI/OnsenUI/stargazers" target="_blank" class="github-widget-header-num"></a> stars
      &nbsp;&nbsp; <img src="/images/index/github-widget-fork.png"> <a href="https://github.com/OnsenUI/OnsenUI/network" target="_blank" class="github-widget-header-num"></a> forks
    </div>

    <img src="/images/index/github-widget-octcat.png"> Latest Commits to <a href="https://github.com/OnsenUI/OnsenUI" target="_blank" class="github-widget-project-name">OnsenUI/OnsenUI</a>
  </div>

  <div class="github-widget-commit">
    <a href=""><img src="" class="github-widget-commiter-image" width="54" height="54"></a>
    <div class="github-widget-commit-message"></div>
    <div class="github-widget-commit-info">
      by
      <span class="github-widget-commit-author"></span>
      <a href="" target="_blank"></a>
    </div>
  </div>

</div>

<script defer src="<%= @rootUrl %>vendor/moment.min.js"></script>
<script defer src="<%= @rootUrl %>scripts/github_commits.js"></script>
