---
page: 'pattern'
title: 'Page Patterns'
needHelp: true
reference: true
docCategory: 'patterns'
---

<h2 class="doc-page-header doc-page-header-patterns">Page Patterns</h2>

<% for path in @patterns: %>
<div class="pattern-overview">

  <a href="/pattern-<%= path %>" target="_blank" class="pattern-overview-detail">Detail</a>
  <h3 class="pattern-overview-title"><a href="/pattern-<%= path %>"><%= @renderPatternName(path) %></a></h3>

  <iframe class="pattern-overview-example" data-src="/patterns/<%= path %>" width="320" height="520" style="border: 1px solid #ddd"></iframe>
</div>
<% end %>

<div class="clearfix"></div>
