---
page: 'landing-new'
title: 'Onsen UI: Beautiful HTML5 Hybrid Mobile App Framework'
layout: 'default.html.eco'
topbar: false
actionbar: false
description: 'Make beautiful high performance hybrid mobile apps using HTML5, CSS and JavaScript. Includes Material Design for Android and flat design for iOS.'
---

<div class="header">
   <%- @partial('global-nav.html.eco') %>
   <%- @partial('header-title.html.eco', {name: 'Samples'}) %>
</div>

<div class="samples">
  <div class="samples-container">
    <div class="sample">
      <div class="sample-image">
        <img src="/images/samples/react-redux-weather.png">
        <div class="sample-mask">
          <a href="#" class="sample-run">
            Run
          </a>
        </div>
    </div>

      <h2 class="sample-name">Onsen weather</h2>

      <div class="sample-description">
        Weather app with React+Redux
      </div>

      <div class="sample-links">
        <a href="#">Run</a>
        <a href="#">Source</a>
        <a href="#">Tutorial</a>
      </div>
    </div>
    <div class="sample">
      <div class="sample-image">
        <img src="/images/samples/react-redux-weather.png">
        <div class="sample-mask">
          <a href="#" class="sample-run">
            Run
          </a>
        </div>
    </div>

      <h2 class="sample-name">Onsen weather</h2>

      <div class="sample-description">
        Weather app with React+Redux
      </div>

      <div class="sample-links">
        <a href="#">Run</a>
        <a href="#">Source</a>
        <a href="#">Tutorial</a>
      </div>
    </div>

    <div class="sample">
      <div class="sample-image">
        <img src="/images/samples/react-redux-weather.png">
        <div class="sample-mask">
          <a href="#" class="sample-run">
            Run
          </a>
        </div>
    </div>

      <h2 class="sample-name">Onsen weather</h2>

      <div class="sample-description">
        Weather app with React+Redux
      </div>

      <div class="sample-links">
        <a href="#">Run</a>
        <a href="#">Source</a>
        <a href="#">Tutorial</a>
      </div>
    </div>

    <div class="sample">
      <div class="sample-image">
        <img src="/images/samples/react-redux-weather.png">
        <div class="sample-mask">
          <a href="#" class="sample-run">
            Run
          </a>
        </div>
    </div>

      <h2 class="sample-name">Onsen weather</h2>

      <div class="sample-description">
        Weather app with React+Redux
      </div>

      <div class="sample-links">
        <a href="#">Run</a>
        <a href="#">Source</a>
        <a href="#">Tutorial</a>
      </div>
    </div>

  </div>
</div>
