/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-weight: 300;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

pre {
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: pre-wrap;
  word-wrap: break-word;
}

p {
  margin-bottom: 1em;
  word-wrap: break-word;
  line-height: 1.8;
}

/***********************************************/
/* Basic tags                                  */
/***********************************************/
html {
  font-size: 18px;
  font-family: 'pragmatica-web', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4;
}

body {
  max-width: 100%;
  text-align: left;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #666;
}
body:after {
  content: "";
  clear: both;
  display: block;
}

input {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

input:focus, input:active {
  outline: none;
}

input[type=submit] {
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  font-family: 'ff-enzo-web', 'Helvetica Neue', Helvetica, sans-serif;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

textarea, input {
  margin: 0;
  padding: 0;
}

caption, th {
  text-align: left;
}

td, th {
  vertical-align: top;
}

fieldset, img, abbr {
  border: none;
}

li {
  list-style-type: none;
}

em {
  font-style: italic;
}

img, iframe, object {
  max-width: 100%;
}

.lt-ie9 img, .lt-ie9 object {
  width: auto;
}

a:link, a:visited {
  color: #ff2828;
  text-decoration: none;
}
a:hover {
  color: #ff2828;
  text-decoration: underline;
}
a:active {
  color: #ff2828;
  text-decoration: none;
}
a img {
  -moz-transition: opacity 80ms;
  -o-transition: opacity 80ms;
  -webkit-transition: opacity 80ms;
  transition: opacity 80ms;
}
a img:hover {
  opacity: 0.7;
}

hr {
  color: transparent;
  border-width: 0px;
  height: 1px;
  background-color: #E7E7E7;
  margin: 32px 0;
}

.btn,
.btn-red {
  background-repeat: no-repeat;
  background-position: left center;
  border-radius: 6px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  padding: 5px 10px;
  text-align: center;
}
.btn:link, .btn:visited, .btn:hover, .btn:active, .btn:focus,
.btn-red:link,
.btn-red:visited,
.btn-red:hover,
.btn-red:active,
.btn-red:focus {
  text-decoration: none;
}
.btn:hover,
.btn-red:hover {
  opacity: 0.7;
}

.btn-red {
  background-color: #ff2828;
  color: white;
}
.btn-red:link, .btn-red:visited, .btn-red:hover, .btn-red:active {
  color: white;
  text-decoration: none;
}

.btn-big {
  font-size: 30px;
  font-weight: 700;
  padding: 18px 40px;
}

.btn-start {
  background-image: url(/images/common/ico_getstarted.png);
  background-position: 40px center;
  padding-left: 100px;
  text-align: left;
}

.simulator {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 99px 10px 10px 56px;
  width: 392px;
  height: 694px;
}

.simulator-small {
  background: url(/images/common/mock_bg.png) no-repeat center center;
  background-size: 250px 450px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 64px 10px 28px 18px;
  width: 250px;
  height: 450px;
}

p.highlighted {
  background-color: #f5f5f5;
  color: #444;
  line-height: 125%;
  padding: 15px 15px 13px 15px;
}
p.highlighted a:link, p.highlighted a:visited {
  color: #439ecc;
  text-decoration: none;
}
p.highlighted a:hover {
  color: #439ecc;
  text-decoration: underline;
}
p.highlighted a:active {
  color: #439ecc;
  text-decoration: none;
}

.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

.highlighted {
  margin-bottom: 30px;
}

.relative {
  position: relative;
}

@media screen and (max-width: 1400px) {
  #github-ribbon {
    display: none;
  }
}
header#header-container {
  border-bottom: 1px solid #ddd;
  height: 84px;
  width: 1100px;
  max-width: 100%;
  margin: 0 auto;
}
header#header-container .gnav-icon {
  display: none;
}
header#header-container > div {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
  padding-top: 11px;
  position: relative;
  text-align: left;
  width: 1100px;
  max-width: 100%;
}
header#header-container .logo {
  position: absolute;
  top: 19px;
  left: 0;
}
header#header-container .gnav {
  position: absolute;
  top: 0;
  right: 0;
  height: 84px;
  line-height: 84px;
}
header#header-container .gnav li {
  color: #a6a6a6;
  display: inline-block;
  font-size: 16px;
  height: 85px;
  margin: 0 4px;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  -mz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
header#header-container .gnav li a:link, header#header-container .gnav li a:visited {
  color: #666;
  text-decoration: none;
}
header#header-container .gnav li a:hover {
  color: #666;
  text-decoration: underline;
}
header#header-container .gnav li a:active {
  color: #666;
  text-decoration: none;
}
header#header-container .gnav li a:hover {
  color: #ff2828;
}

@media screen and (min-width: 1100px) {
  header#header-container .gnav li.current {
    border-bottom: 2px solid #ff2828;
  }
  header#header-container .gnav li.current a:link, header#header-container .gnav li.current a:visited, header#header-container .gnav li.current a:hover, header#header-container .gnav li.current a:active {
    color: #ff2828;
    text-decoration: none;
  }
}
@media screen and (min-width: 1100px) {
  header#header-container .gnav-icon {
    display: none !important;
  }
}
@media screen and (max-width: 1100px) {
  header#header-container {
    border-bottom: 0px solid #fff;
  }
  header#header-container > div:first-child {
    padding-left: 20px;
  }
  header#header-container .logo {
    margin-left: 20px;
  }
  header#header-container > div > .gnav {
    display: none;
  }

  header#header-container {
    height: auto;
    min-height: 88px;
  }
  header#header-container .gnav-icon {
    display: block !important;
    position: absolute;
    top: 15px;
    right: 15px;
  }
  header#header-container .gnav-icon img {
    width: 32px;
    height: 32px;
    opacity: 0.3;
    cursor: pointer;
  }
  header#header-container > div > .gnav {
    position: static;
    height: auto;
    display: none;
    background-color: rgba(0, 0, 0, 0.02);
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    margin-top: 60px;
    margin-left: -20px;
    margin: 66px 0 12px -20px;
    padding: 12px 0;
  }
  header#header-container > div > .gnav > li {
    display: block;
    width: 100%;
    line-height: 48px;
    height: 48px;
    padding: 0 12px 0 12px;
  }
}
.language-dialog {
  position: fixed;
  width: 500px;
  top: 150px;
  left: 50%;
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 95%;
  padding: 32px;
  background-color: #313e50;
  z-index: 91;
}

.language-dialog-mask {
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  opacity: 0.15;
  background-color: #2a3e54;
  z-index: 90;
}

.language-dialog-header {
  font-size: 24px;
  color: white;
}

.language-dialog-footer {
  margin-top: 52px;
  text-align: center;
}

.language-dialog-button {
  font-size: 20px;
  display: inline-block;
  color: white;
  background-color: #6c7480;
  border: none;
  border-radius: 2px;
  padding: 0 18px;
  height: 48px;
  line-height: 48px;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  outline: none;
  cursor: pointer;
  text-decoration: none;
}
.language-dialog-button:active, .language-dialog-button:visited, .language-dialog-button:hover, .language-dialog-button:link {
  text-decoration: none;
  color: white;
}
.language-dialog-button:active {
  outline: none;
  opacity: 0.8;
}
.language-dialog-button:hover {
  opacity: 0.8;
}

div#header-monaca {
  background-color: rgba(38, 38, 38, 0.9);
  height: 48px;
}

div#header-monaca-inner {
  width: 1100px;
  margin: 0px auto;
  position: relative;
}
div#header-monaca-inner img {
  margin-top: 12px;
  float: left;
}
div#header-monaca-inner a, div#header-monaca-inner a:link, div#header-monaca-inner a:visited, div#header-monaca-inner a:hover {
  color: white;
  text-decoration: none;
  font-size: 14px;
}
div#header-monaca-inner a:hover {
  color: #80d4ff;
}

@media screen and (max-width: 1100px) {
  ul#header-monaca-navi {
    display: none;
  }

  div#header-monaca-inner img {
    margin-left: 14px;
  }
}
ul#header-monaca-navi {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 800px;
  padding: 0;
  margin: 0;
  font-size: 0px;
  text-align: right;
  height: 48px;
}
ul#header-monaca-navi > li {
  margin: 0;
  padding: 0 20px;
  display: inline-block;
  position: relative;
  left: 0px;
  top: 0px;
  height: 48px;
  line-height: 48px;
  list-style: none;
  text-align: left;
}
ul#header-monaca-navi > li:hover {
  background-color: #2c2c2c;
  height: 48px;
}
ul#header-monaca-navi > li:hover > ul {
  display: block;
}

ul.header-monaca-navi-sub-menu {
  display: none;
  z-index: 2;
  position: absolute;
  top: 48px;
  left: 0px;
  padding: 10px 0 10px 0;
  margin: 0;
  background-color: #2c2c2c;
}
ul.header-monaca-navi-sub-menu li {
  list-style: none;
  min-width: 240px;
  padding: 0;
  margin: 0;
  background-color: #2c2c2c;
}
ul.header-monaca-navi-sub-menu a, ul.header-monaca-navi-sub-menu a:link, ul.header-monaca-navi-sub-menu a:hover, ul.header-monaca-navi-sub-menu a:visited {
  padding: 0 30px;
  line-height: 38px;
  height: 38px;
  width: 100%;
  font-size: 15px !important;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block !important;
}
ul.header-monaca-navi-sub-menu a:hover {
  background-color: #383838;
  color: #80d4ff;
}

ul#header-monaca-navi > li:last-child ul.header-monaca-navi-sub-menu {
  right: 0px;
  left: auto;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  div#header-monaca span {
    display: none;
  }
}
footer#footer-container {
  color: #666;
  line-height: 120%;
  margin: 0 auto;
  padding-bottom: 53px;
  position: relative;
  text-align: center;
  width: 100%;
  border-top: 1px solid #ddd;
}
footer#footer-container .gnav {
  margin-bottom: 40px;
  width: 100%;
  max-width: 100%;
  height: 66px;
  line-height: 66px;
  text-align: center;
}
footer#footer-container .gnav li {
  color: #a6a6a6;
  display: inline-block;
  font-size: 16px;
  margin: 0 19px;
}
footer#footer-container .gnav li > iframe, footer#footer-container .gnav li > div > iframe, footer#footer-container .gnav li > div.fb-share-button > span {
  vertical-align: middle !important;
}
footer#footer-container .gnav li .active {
  border-bottom: 1px solid #000;
  color: #ff2828;
}
footer#footer-container .gnav li a:link, footer#footer-container .gnav li a:visited {
  color: #666;
  text-decoration: none;
}
footer#footer-container .gnav li a:hover {
  color: #666;
  text-decoration: underline;
}
footer#footer-container .gnav li a:active {
  color: #666;
  text-decoration: none;
}
footer#footer-container .gnav li a:hover {
  color: #ff2828;
}
footer#footer-container .footer-cont {
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
}
footer#footer-container .footer-cont .social-and-newsletter {
  margin-bottom: 44px;
}
footer#footer-container .footer-cont .social-and-newsletter .socialicn {
  background: none no-repeat 0 0;
  display: inline-block;
  margin: 0 28px 0 0;
  width: 56px;
  height: 70px;
  background-repeat: no-repeat;
  background-position: center center;
  line-height: 70px;
  vertical-align: top;
}
footer#footer-container .footer-cont .social-and-newsletter .socialicn:hover {
  opacity: 0.8;
}
footer#footer-container .footer-cont .social-and-newsletter .socialicn:active {
  opacity: 1;
}
footer#footer-container .footer-cont .social-and-newsletter .twitter {
  background-image: url(/images/index/footer-twitter-icon.png);
}
footer#footer-container .footer-cont .social-and-newsletter .github {
  background-image: url(/images/index/footer-github-icon.png);
}
footer#footer-container .footer-cont .footer-newsletter {
  text-align: left;
  display: inline-block;
  width: 340px;
  border-left: 1px solid #ddd;
  height: 70px;
  padding-left: 30px;
}
footer#footer-container .footer-cont .footer-newsletter > form {
  display: inline-block;
}
footer#footer-container .footer-cont .footer-newsletter input[type=text] {
  font-size: 18px;
  background-color: white;
  color: #333;
  font-weight: 400;
  width: 200px;
  line-height: 36px;
  border: none;
  border-radius: 2px;
  padding: 0 8px;
  border: 1px solid #ddd;
}
footer#footer-container .footer-cont .footer-newsletter input[type=submit] {
  font-size: 18px;
  background-color: white;
  background-color: #767c86;
  color: white;
  font-weight: 400;
  line-height: 36px;
  border-radius: 2px;
  border: none;
  padding: 0 8px;
  font-weight: 400;
}
footer#footer-container .footer-cont .footer-newsletter input[type=submit]:hover {
  background-color: #454b55;
}
footer#footer-container .footer-cont .footer-newsletter div.footer-newsletter-thankyou {
  color: #666;
  font-size: 18px;
  line-height: 40px;
  font-weight: 400;
  display: none;
}
footer#footer-container .footer-cont .footer-newsletter div.footer-newsletter-title {
  font-size: 16px;
  font-weight: 500;
  color: #767c86;
}
footer#footer-container .footer-cont .copyright {
  position: absolute;
  top: 222px;
  left: 100px;
}
footer#footer-container .footer-cont .helpmenu {
  position: absolute;
  top: 222px;
  right: 100px;
}
footer#footer-container .footer-cont .helpmenu a:link, footer#footer-container .footer-cont .helpmenu a:visited {
  color: #999;
  text-decoration: none;
}
footer#footer-container .footer-cont .helpmenu a:hover {
  color: #999;
  text-decoration: underline;
}
footer#footer-container .footer-cont .helpmenu a:active {
  color: #999;
  text-decoration: none;
}
footer#footer-container .footer-cont .helpmenu a:hover {
  color: #ff2828;
}

@media screen and (max-width: 1100px) {
  footer#footer-container {
    padding: 10px 0;
  }
  footer#footer-container > .gnav {
    display: none;
  }
  footer#footer-container > .footer-cont > .social-and-newsletter {
    display: none;
  }
  footer#footer-container > .footer-cont > .copyright {
    position: static;
  }
  footer#footer-container > .footer-cont > .helpmenu {
    display: none;
  }
}
section#content-container {
  margin: 0 auto;
  width: 1100px;
  max-width: 100%;
  position: relative;
  text-align: left;
  padding-top: 50px;
}
section#content-container ::-webkit-scrollbar {
  width: 11px;
  height: 11px;
  background: transparent;
}
section#content-container ::-webkit-scrollbar-thumb {
  border-radius: 6px;
  border: 3px solid transparent;
  background-color: rgba(0, 0, 0, 0.2);
  background-clip: padding-box;
}
section#content-container ::-webkit-scrollbar-track,
section#content-container ::-webkit-scrollbar-thumb:window-inactive,
section#content-container ::-webkit-scrollbar-corner,
section#content-container ::-webkit-scrollbar-track-piece,
section#content-container ::-webkit-scrollbar-button,
section#content-container ::-webkit-resizer {
  background-color: transparent;
  opacity: 0;
  display: none;
}
section#content-container > aside#content-info, section#content-container div.sticky-wrapper > aside#content-info {
  margin: 0;
  overflow: scroll;
  float: left;
  width: 270px;
  padding: 20px 10px 10px 0px;
  margin-right: 30px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: 400;
  color: #666;
  border-right: 1px solid #ddd;
  font-size: 15px;
  line-height: 1.4;
}
section#content-container > aside#content-info .toc-title, section#content-container div.sticky-wrapper > aside#content-info .toc-title {
  font-weight: 400;
  font-size: 18px;
  margin-left: 11px;
  margin-bottom: 16px;
  color: #333;
}
section#content-container > aside#content-info ul.toc a.selected, section#content-container div.sticky-wrapper > aside#content-info ul.toc a.selected {
  -moz-transition: border-color 0.2s linear;
  -o-transition: border-color 0.2s linear;
  -webkit-transition: border-color 0.2s linear;
  transition: border-color 0.2s linear;
  color: #ff2828;
  border-color: #ff2828;
}
section#content-container > aside#content-info ul.toc, section#content-container div.sticky-wrapper > aside#content-info ul.toc {
  margin: 0;
  padding: 0;
  text-align: left;
}
section#content-container > aside#content-info ul.toc > li, section#content-container div.sticky-wrapper > aside#content-info ul.toc > li {
  margin: 8px 0;
  padding: 0;
}
section#content-container > aside#content-info ul.toc > li ul li, section#content-container div.sticky-wrapper > aside#content-info ul.toc > li ul li {
  margin-left: 14px;
}
section#content-container > aside#content-info a, section#content-container div.sticky-wrapper > aside#content-info a {
  font-weight: 400;
  border-left: 2px solid transparent;
  display: inline-block;
  padding: 2px 0 2px 7px;
}
section#content-container > aside#content-info a:link, section#content-container > aside#content-info a:visited, section#content-container div.sticky-wrapper > aside#content-info a:link, section#content-container div.sticky-wrapper > aside#content-info a:visited {
  color: #666;
  text-decoration: none;
}
section#content-container > aside#content-info a:hover, section#content-container div.sticky-wrapper > aside#content-info a:hover {
  color: #666;
  text-decoration: underline;
}
section#content-container > aside#content-info a:active, section#content-container div.sticky-wrapper > aside#content-info a:active {
  color: #666;
  text-decoration: none;
}
section#content-container > aside#content-info a code, section#content-container div.sticky-wrapper > aside#content-info a code {
  font-weight: 400;
}
section#content-container > aside#content-info + div#content, section#content-container div.sticky-wrapper + div#content {
  width: 800px;
  max-width: 100%;
  margin: 0;
  padding-right: 0px;
  margin-left: 300px;
  padding: 0px 0px 100px 0px;
}
section#content-container > div#content {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #666;
  margin: 0 auto;
  padding: 0px 0px 100px 0px;
  text-align: left;
  width: 800px;
  max-width: 100%;
  font-weight: 400;
}
section#content-container > div#content ::-webkit-scrollbar {
  width: 4px;
  height: 15px;
}
section#content-container > div#content ::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #eee;
}
section#content-container > div#content ::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #999;
}
section#content-container > div#content h2, section#content-container > div#content h3, section#content-container > div#content h4, section#content-container > div#content h5 {
  color: #333;
}
section#content-container > div#content h2 {
  font-size: 42px;
  margin: 70px 0 20px 0px;
}
section#content-container > div#content h2:first-child, section#content-container > div#content h2:first-of-type {
  margin-top: 0;
}
section#content-container > div#content h3 {
  font-size: 36px;
  margin: 46px 0 20px 0px;
  border-bottom: 1px solid #ddd;
}
section#content-container > div#content h2 + h3, section#content-container > div#content h3 + h4, section#content-container > div#content h4 + h5, section#content-container > div#content h5 + h6 {
  margin-top: 0px;
}
section#content-container > div#content h4 {
  font-size: 30px;
  margin: 36px 0 8px 0;
}
section#content-container > div#content h5 {
  font-size: 26px;
  margin: 36px 0 8px 0;
}
section#content-container > div#content h6 {
  font-size: 22px;
  margin: 36px 0 8px 0;
}
section#content-container > div#content h2 {
  font-weight: 200;
}
section#content-container > div#content h2, section#content-container > div#content h3, section#content-container > div#content h4, section#content-container > div#content h5, section#content-container > div#content h6 {
  font-weight: 600;
}
section#content-container > div#content ul > li {
  list-style-type: square;
  margin-left: 32px;
}
section#content-container > div#content ol > li {
  list-style-type: decimal;
  margin-left: 32px;
}
section#content-container > div#content li {
  line-height: 1.8;
}
section#content-container > div#content p, section#content-container > div#content pre, section#content-container > div#content ul, section#content-container > div#content ol {
  margin: 16px 0;
}
section#content-container > div#content li > ul {
  margin: 0;
}
section#content-container > div#content div.need-help > h2 {
  font-size: 36px;
}
section#content-container > div#content div.need-help > p {
  margin: 0;
}
section#content-container > div#content code {
  font-family: Consolas, 'Courier New', Courier, Monaco, monospace;
  font-weight: 400;
  color: green;
}
section#content-container > div#content pre, section#content-container > div#content pre code {
  font-size: 16px;
}
section#content-container a:link, section#content-container a:visited {
  color: #5986a3;
  text-decoration: none;
}
section#content-container a:hover {
  color: #5986a3;
  text-decoration: underline;
}
section#content-container a:active {
  color: #5986a3;
  text-decoration: none;
}
section#content-container a:link, section#content-container a:visited {
  text-decoration: underline;
}
section#content-container a:hover {
  text-decoration: none;
}
section#content-container .resize-btn {
  color: #5986a3;
  text-decoration: underline;
  cursor: pointer;
}
section#content-container .resize-btn:hover {
  text-decoration: none;
}
section#content-container .codepen-wrapper {
  margin-bottom: 10px;
}
section#content-container .codepen-wrapper > .resize-btn {
  margin-top: 5px;
}
section#content-container .codepen-wrapper > .resize-btn > i {
  width: 26px;
  height: 26px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  padding: 5px;
  color: #157DFB;
  text-align: center;
}
section#content-container .codepen-wrapper .codepen-content {
  width: 320px;
}
section#content-container .codepen-wrapper .codepen-content.expanded {
  width: 100%;
}
section#content-container .codepen-open-link-wrapper {
  display: none;
}

@media screen and (max-width: 1100px) {
  section#content-container > aside#content-info, section#content-container div.sticky-wrapper > aside#content-info {
    display: none;
  }
  section#content-container > aside#content-info + div#content, section#content-container div.sticky-wrapper + div#content {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0px;
    margin-left: 0px;
    width: 100%;
  }
  section#content-container div#content h2 {
    font-size: 32px;
  }
  section#content-container div#content h3 {
    font-size: 30px;
  }
  section#content-container div#content h4 {
    font-size: 22px;
  }
  section#content-container div#content h5, section#content-container div#content h6 {
    font-size: 18px;
  }
  section#content-container div#content .codepen-wrapper {
    display: none;
  }
  section#content-container div#content .codepen-open-link-wrapper {
    display: block;
  }
}
body#home > section#content-container {
  margin-left: 0;
  padding-top: 0;
  width: 100%;
}
body#home > section#content-container > div#content {
  margin-left: 0;
  padding-top: 0;
  padding-left: 0px !important;
  padding-right: 0px !important;
  width: 100%;
}
body#home div#keyvisual {
  width: 100%;
  height: 660px;
  background-color: #fff;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2YzZjVmNiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #f3f5f6));
  background-image: -moz-linear-gradient(top, #ffffff, #f3f5f6);
  background-image: -webkit-linear-gradient(top, #ffffff, #f3f5f6);
  background-image: linear-gradient(to bottom, #ffffff, #f3f5f6);
  position: relative;
  padding: 0;
}
body#home div#keyvisual > div.keyvisual-content {
  width: 1200px;
  height: 660px;
  background-repeat: no-repeat;
  background-image: url(/images/index/keyvisual.png);
  background-position: right 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -330px;
  margin-left: -600px;
}
body#home div#keyvisual > div.keyvisual-content > div.keyvisual-main {
  margin: 0 auto;
  padding: 160px 0 0 0;
  width: 1100px;
  max-width: 100%;
}
body#home div#keyvisual > div.keyvisual-content > div.keyvisual-main > h1 {
  font-size: 54px;
  line-height: 60px;
  letter-spacing: 0px;
  font-weight: 200;
  margin-bottom: 6px;
  color: #252525;
}
body#home div#keyvisual > div.keyvisual-content > div.keyvisual-main > h2 {
  font-size: 26px;
  font-weight: 200;
  margin: 10px 0 40px 0;
  padding: 0;
  font-family: 'pragmatica-web', 'Helvetica Neue', Helvetica, sans-serif;
  color: #606978;
}
body#home div#keyvisual > div.keyvisual-content > div.keyvisual-main > .keyvisual-small {
  display: none;
}
body#home div#keyvisual > div.keyvisual-content > div.keyvisual-main > a.getting-started,
body#home div#keyvisual > div.keyvisual-content > div.keyvisual-main > a.getting-started:active,
body#home div#keyvisual > div.keyvisual-content > div.keyvisual-main > a.getting-started:visited {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-table;
  height: 54px;
  line-height: 54px;
  padding: 0 10px;
  border: 2px solid #fa7845;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-color: #fa7845;
  font-size: 24px;
  color: white;
  text-align: center;
  font-weight: 300;
  text-decoration: none;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
body#home div#keyvisual > div.keyvisual-content > div.keyvisual-main > a.getting-started:hover,
body#home div#keyvisual > div.keyvisual-content > div.keyvisual-main > a.getting-started:active:hover,
body#home div#keyvisual > div.keyvisual-content > div.keyvisual-main > a.getting-started:visited:hover {
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  opacity: 0.8;
}
body#home div#keyvisual > div.keyvisual-content > div.keyvisual-main > a.getting-started:active,
body#home div#keyvisual > div.keyvisual-content > div.keyvisual-main > a.getting-started:active:active,
body#home div#keyvisual > div.keyvisual-content > div.keyvisual-main > a.getting-started:visited:active {
  -moz-transition: none;
  -o-transition: none;
  -webkit-transition: none;
  transition: none;
  opacity: 1;
}
body#home div#keyvisual > div.keyvisual-content > div.keyvisual-main > a.getting-started > img,
body#home div#keyvisual > div.keyvisual-content > div.keyvisual-main > a.getting-started:active > img,
body#home div#keyvisual > div.keyvisual-content > div.keyvisual-main > a.getting-started:visited > img {
  margin-bottom: 5px;
  vertical-align: middle;
}
body#home div#keyvisual > div.keyvisual-content > div.keyvisual-main > a.download,
body#home div#keyvisual > div.keyvisual-content > div.keyvisual-main > a.download:active,
body#home div#keyvisual > div.keyvisual-content > div.keyvisual-main > a.download:visited {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-table;
  height: 54px;
  line-height: 54px;
  width: auto;
  border: 2px solid #d3d6d9;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #767c86;
  margin-left: 20px;
  font-size: 24px;
  text-align: center;
  text-decoration: none;
  padding: 0 12px;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
body#home div#keyvisual > div.keyvisual-content > div.keyvisual-main > a.download:hover,
body#home div#keyvisual > div.keyvisual-content > div.keyvisual-main > a.download:active:hover,
body#home div#keyvisual > div.keyvisual-content > div.keyvisual-main > a.download:visited:hover {
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  background-color: #d3d6d9;
}
body#home div#keyvisual > div.keyvisual-content > div.keyvisual-main > a.download:active,
body#home div#keyvisual > div.keyvisual-content > div.keyvisual-main > a.download:active:active,
body#home div#keyvisual > div.keyvisual-content > div.keyvisual-main > a.download:visited:active {
  -moz-transition: none;
  -o-transition: none;
  -webkit-transition: none;
  transition: none;
  background-color: transparent;
}
body#home div#keyvisual > div.keyvisual-content > div.keyvisual-main > a.download > strong,
body#home div#keyvisual > div.keyvisual-content > div.keyvisual-main > a.download:active > strong,
body#home div#keyvisual > div.keyvisual-content > div.keyvisual-main > a.download:visited > strong {
  font-weight: 500;
  letter-spacing: -2px;
}
body#home div#keyvisual > div.keyvisual-content > div.newsletter {
  display: inline-block;
  margin: 0 auto;
  width: 1100px;
  max-width: 100%;
  position: absolute;
  bottom: 40px;
  left: 0px;
  right: 0px;
}
body#home div#keyvisual > div.keyvisual-content > div.newsletter form {
  background-color: #d3d9dc;
  padding: 3px;
  border-radius: 2px;
  display: inline-block;
  max-width: 100%;
  width: auto;
}
body#home div#keyvisual > div.keyvisual-content > div.newsletter input[type=text] {
  font-size: 18px;
  background-color: white;
  color: #333;
  font-weight: 400;
  width: 325px;
  padding: 11px 8px 9px 8px;
  line-height: 1;
  height: 36px;
  border: none;
  border-radius: 2px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body#home div#keyvisual > div.keyvisual-content > div.newsletter input[type=submit] {
  font-size: 18px;
  background-color: white;
  background-color: #767c86;
  color: white;
  font-weight: 400;
  line-height: 36px;
  border-radius: 2px;
  border: none;
  padding: 0 8px;
  font-weight: 400;
}
body#home div#keyvisual > div.keyvisual-content > div.newsletter input[type=submit]:hover {
  background-color: #454b55;
}
body#home div#keyvisual > div.keyvisual-content > div.newsletter div.newsletter-thankyou {
  display: none;
  font-size: 18px;
  color: #666;
  line-height: 40px;
  font-weight: 500;
}
body#home div#keyvisual > div.keyvisual-content > div.social {
  margin: 0 auto;
  width: 1100px;
  position: absolute;
  bottom: 100px;
  left: 0px;
  right: 0px;
  font-size: 18px;
}
body#home div#keyvisual > div.keyvisual-content > div.social > img {
  vertical-align: top;
}
body#home div#keyvisual > div.keyvisual-content > div.social > a {
  margin-right: 20px;
  vertical-align: top;
}
body#home div#keyvisual > div.keyvisual-content > div.social > a:link, body#home div#keyvisual > div.keyvisual-content > div.social > a:visited, body#home div#keyvisual > div.keyvisual-content > div.social > a:active {
  color: #666;
  text-decoration: none;
}
body#home div#keyvisual > div.keyvisual-content > div.social > a:hover {
  text-decoration: underline;
}
body#home div#keyvisual > div.keyvisual-content > div.social > a > strong {
  font-weight: 600;
}
body#home div.main-features,
body#home div.other-features {
  margin: 0 auto;
  width: 900px;
  max-width: 100%;
}
body#home div.taglines {
  border-bottom: 1px solid #ddd;
  padding: 40px;
}
body#home div.taglines ul {
  width: 800px;
  margin: 0 auto !important;
  padding: 0;
}
body#home div.taglines li {
  font-size: 20px;
  color: #767c86;
  line-height: 1.8;
}
body#home section#content-container > div#content > div.main-features > div.feature {
  border-bottom: 1px solid #D3D4D8;
  padding: 80px 0;
  background-repeat: no-repeat;
}
body#home section#content-container > div#content > div.main-features > div.feature > h2 {
  font-size: 48px;
  line-height: 1.2;
  font-weight: 200;
}
body#home section#content-container > div#content > div.main-features > div.feature > p {
  font-size: 18px;
}
body#home section#content-container > div#content > div.main-features > div.feature.super-performance {
  padding-left: 50%;
  background-position: 50px center;
  background-image: url(/images/index/feature-super-performance.png);
}
body#home section#content-container > div#content > div.main-features > div.feature.multi-screen {
  padding-right: 450px;
  background-position: right center;
  background-image: url(/images/index/feature-multi-screen.png);
}
body#home section#content-container > div#content > div.main-features > div.feature.multi-screen p {
  margin-right: 50px;
}
body#home section#content-container > div#content > div.main-features > div.feature.cordova-friendly {
  padding-left: 50%;
  background-position: 25px center;
  background-image: url(/images/index/feature-phonegap-cordova-friendly.png);
}
body#home section#content-container > div#content > div.main-features > div.feature.custom-elements {
  text-align: center;
  padding: 60px 0;
}
body#home section#content-container > div#content > div.main-features > div.feature.with-jquery-or-angular {
  padding-left: 50%;
  background-position: 10px center;
  background-image: url(/images/index/feature-with-angular-or-jquery.png);
}
body#home section#content-container > div#content > div.other-features {
  padding: 70px 0 90px 0;
  font-size: 0px;
}
body#home section#content-container > div#content > div.other-features > h2 {
  margin-bottom: 52px;
  font-size: 48px;
  font-weight: 200;
  text-align: center;
}
body#home section#content-container > div#content > div.other-features > div.sub-feature {
  display: inline-block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 450px;
  max-width: 100%;
  padding: 0 12px 32px 86px;
  margin: 0;
  min-height: 130px;
  vertical-align: top;
  background-position: left top;
  background-repeat: no-repeat;
  vertical-align: top;
}
body#home section#content-container > div#content > div.other-features > div.sub-feature.free-and-opensource {
  background-image: url(/images/index/sub-feature-image_free.png);
}
body#home section#content-container > div#content > div.other-features > div.sub-feature.font-awesome {
  background-image: url(/images/index/sub-feature-image_font-awesome.png);
}
body#home section#content-container > div#content > div.other-features > div.sub-feature.selectable-theme {
  background-image: url(/images/index/sub-feature-image_selectable-theme.png);
}
body#home section#content-container > div#content > div.other-features > div.sub-feature.customizable {
  background-image: url(/images/index/sub-feature-image_customizable.png);
}
body#home section#content-container > div#content > div.other-features > div.sub-feature.screen-transition {
  background-image: url(/images/index/sub-feature-image_screen-transition.png);
}
body#home section#content-container > div#content > div.other-features > div.sub-feature.gui-tool {
  background-image: url(/images/index/sub-feature-image_gui-tool.png);
}
body#home section#content-container > div#content > div.other-features > div.sub-feature > h3 {
  font-size: 24px;
  line-height: 1.2;
  margin: 0 0 12px 0;
  padding: 0;
  font-family: 'pragmatica-web', 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: 300;
  border: none;
}
body#home section#content-container > div#content > div.other-features > div.sub-feature > p {
  font-size: 16px;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}
body#home div.getstarted {
  text-align: center;
  border-top: 1px solid #ddd;
  padding: 100px 0 0 0;
}
body#home div.getstarted > a#getstarted-button:link, body#home div.getstarted > a#getstarted-button:active, body#home div.getstarted > a#getstarted-button:visited {
  color: #ff2828;
  font-size: 36px;
  text-align: center;
  font-weight: 200;
  text-decoration: underline;
  font-family: "ff-enzo-web", "Helvetica Neue", Helvetica, sans-serif;
}
body#home div.getstarted > a#getstarted-button:hover {
  text-decoration: none;
}
body#home div.getstarted > a#getstarted-button > img {
  margin-bottom: 5px;
  vertical-align: middle;
}
body#home .github-widget {
  margin: 100px auto 0;
  width: 730px;
  max-width: 90%;
  border: 1px solid #ddd;
}
body#home .github-widget-header {
  min-height: 52px;
  line-height: 52px;
  background-color: #f9f9f9;
  font-size: 18px;
  font-weight: 500;
  padding: 0 10px;
  vertical-align: middle;
}
body#home .github-widget-project-name,
body#home .github-widget-project-name:link,
body#home .github-widget-project-name:visited {
  color: #666;
  font-weight: 600;
}
body#home .github-widget-project-name:link {
  text-decoration: none;
}
body#home .github-widget-project-name:hover {
  text-decoration: underline;
}
body#home .github-widget-header-info {
  font-size: 16px;
  float: right;
}
body#home .github-widget-header-num,
body#home .github-widget-header-num:link,
body#home .github-widget-header-num:visited {
  font-weight: 900;
  font-family: 'Helvetica', Arial;
  font-size: 18px;
  text-decoration: none;
  font-weight: 900;
  color: #666;
}
body#home .github-widget-header-num:hover {
  text-decoration: underline;
}
body#home .github-widget-header img {
  line-height: 52px;
  vertical-align: middle;
}
body#home .github-widget-commit {
  border-top: 1px solid #ddd;
  padding: 10px;
  min-height: 56px;
}
body#home .github-widget-commiter-image {
  float: left;
  border: 1px solid #ddd;
  border-radius: 4px;
}
body#home .github-widget-commit-message {
  margin-left: 64px;
  font-weight: 500;
}
body#home .github-widget-commit-info {
  margin-top: 4px;
  margin-left: 64px;
  font-size: 16px;
}

@media screen and (max-width: 1100px) {
  body#home div#keyvisual {
    height: auto;
  }
  body#home div#keyvisual > div.keyvisual-content > div.keyvisual-main {
    padding: 0;
  }
  body#home div#keyvisual > div.keyvisual-content > div.keyvisual-main > h1 {
    display: none;
  }
  body#home div#keyvisual > div.keyvisual-content > div.keyvisual-main > h2 {
    display: none;
  }
  body#home div#keyvisual > div.keyvisual-content > div.keyvisual-main > .keyvisual-small {
    display: block;
    margin: 0 auto;
  }
  body#home div#keyvisual > div.keyvisual-content > div.keyvisual-main > a.getting-started,
  body#home div#keyvisual > div.keyvisual-content > div.keyvisual-main > a.getting-started:active {
    width: 90%;
    max-width: 300px;
    display: block;
    margin: 0 auto 12px auto;
  }
  body#home div#keyvisual > div.keyvisual-content > div.keyvisual-main > a.download,
  body#home div#keyvisual > div.keyvisual-content > div.keyvisual-main > a.download:active {
    display: none;
  }
  body#home div#keyvisual > div.keyvisual-content > div.social {
    width: 100%;
    position: static;
    text-align: center;
    margin: 40px 0 10px 0;
  }
  body#home div#keyvisual > div.keyvisual-content > div.newsletter {
    width: 100%;
    position: static;
    text-align: center;
    margin: 0 0 12px 0;
  }
  body#home div#keyvisual > div.keyvisual-content {
    margin: 0 auto;
    width: 100%;
    height: auto;
    background-image: none;
    position: relative;
    left: 0;
    top: 0;
  }
  body#home div.taglines ul {
    width: auto;
    margin: 0 auto;
  }
  body#home section#content-container > div#content > div.main-features > div.feature {
    padding: 32px 10px 32px 10px !important;
    background-image: none !important;
  }
  body#home section#content-container > div#content > div.main-features > div.feature > h2 {
    font-size: 36px;
    text-align: center;
  }
  body#home div#keyvisual > div.keyvisual-content > div.newsletter input[type=text] {
    width: 220px;
  }
  body#home div.other-features {
    padding-top: 32px !important;
    padding-bottom: 32px !important;
    text-align: center;
  }
  body#home div.other-features > h2 {
    font-size: 36px !important;
  }
  body#home div.other-features > .sub-feature {
    text-align: left;
  }
  body#home div.getstarted > a#getstarted-button {
    font-size: 36px !important;
  }
  body#home div.getstarted > img {
    display: none !important;
  }

  .github-widget-header-info {
    display: none;
  }
}
body#getting_started strong {
  font-weight: bold;
}
body#getting_started #run b {
  font-weight: 700;
  margin-right: 15px;
}
body#getting_started .template-download {
  float: right;
}
body#getting_started .template-iframe {
  clear: both;
  width: 224px;
  height: 400px;
  border: 1px solid #ccc;
  padding: 0;
}
body#getting_started .template-iframe iframe {
  width: 320px;
  height: 570px;
  position: absolute;
  transform: scale(0.7);
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  transform-origin: top left;
  -webkit-transform-origin: top left;
  -moz-transform-origin: top left;
}
body#getting_started .template-iframe-landscape {
  clear: both;
  width: 400px;
  height: 224px;
  border: 1px solid #ccc;
  padding: 0;
}
body#getting_started .template-iframe-landscape iframe {
  width: 570px;
  height: 320px;
  position: absolute;
  transform: scale(0.7);
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  transform-origin: top left;
  -webkit-transform-origin: top left;
  -moz-transform-origin: top left;
}
body#getting_started .templates-container {
  position: relative;
  overflow: auto;
}
body#getting_started .flex-item {
  margin: 15px;
  display: inline-block;
  clear: both;
  min-width: 160px;
}
body#getting_started .handle {
  position: absolute;
  top: 45%;
  padding: 5px;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
}
body#getting_started .handle.left {
  left: 10px;
}
body#getting_started .handle.right {
  right: 10px;
}
body#getting_started .center {
  align-self: center;
}
body#getting_started .template-title {
  text-align: left;
  font-weight: 400 !important;
  color: #333 !important;
  margin: 5px 0 15px 0;
  font-size: 18px !important;
  float: left;
}
body#getting_started .template-link {
  display: none;
}
body#getting_started .download {
  float: right;
}
body#getting_started a.btn-download {
  text-align: left;
  margin: 0;
  display: inline-block;
  width: auto;
  margin-top: 4px;
}
body#getting_started a.btn-download:link, body#getting_started a.btn-download:visited {
  text-decoration: underline;
}
body#getting_started a.btn-download:hover {
  text-decoration: none;
}

@media screen and (max-width: 1100px) {
  body#getting_started .template-iframe, body#getting_started .template-iframe-landscape {
    display: none;
  }
  body#getting_started .template-link {
    display: block;
    clear: both;
  }
  body#getting_started .template-link .fa {
    font-size: 20px;
  }
}
body#components * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body#components h4 {
  font-size: 26px !important;
}
body#components table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  box-sizing: border-box;
  font-size: 16px;
  margin: 16px 0;
}
body#components table > tbody > tr {
  border-left: 0px solid #ddd;
  border-right: 0px solid #ddd;
  border-top: 1px solid #ddd;
}
body#components table > tbody > tr:last-child {
  border-bottom: 1px solid #ddd;
}
body#components table > tbody > tr > th {
  padding: 8px;
}
body#components table > tbody > tr > td {
  padding: 8px;
  border-top-width: 0px;
}
body#components table > tbody > tr > td.attribute-name, body#components table > tbody > tr > td > code {
  margin: 8px 0;
  white-space: nowrap;
  font-family: 'Menlo Regular', 'Menlo', 'Consolas', monospace;
  color: #10108F;
  font-size: 16px;
}
body#components table > tbody > tr > td.attribute-name {
  color: #5E299A;
}
body#components table > thead {
  background-color: #fff;
  color: #333;
  border-bottom: 2px solid #ddd;
}
body#components table > thead > tr {
  border-width: 0px;
}
body#components table > thead > tr > th {
  padding: 4px 8px;
  border-width: 0px;
  font-size: 20px;
}

body#forum .forum-item {
  border-top: 1px solid #eee;
  padding-top: 16px;
  margin-bottom: 18px;
}
body#forum .forum-item-answers {
  float: left;
  width: 59px;
  height: 55px;
  margin-right: 10px;
  background-color: #d9dfe2;
  text-align: center;
  color: #333;
  font-family: 'Helvetica';
  border-radius: 2px;
}
body#forum .forum-item-answers-num {
  font-size: 30px;
  font-weight: 900;
  line-height: 1;
  padding-top: 8px;
}
body#forum .forum-item-answers-unit {
  font-size: 12px;
  line-height: 1;
  font-weight: 500;
}
body#forum .forum-item-answers-zero {
  background-color: #767c86;
  color: white;
}
body#forum .forum-item-title,
body#forum .forum-item-title:link {
  font-size: 18px;
  margin-left: 80px;
  color: #333;
  font-weight: 500;
  display: block;
}
body#forum .forum-item-title:link,
body#forum .forum-item-title:visited,
body#forum .forum-item-title:active {
  text-decoration: none;
  color: #333;
}
body#forum .forum-item-title:hover {
  text-decoration: underline;
  color: #333;
}
body#forum .forum-item-description {
  font-size: 16px;
  margin: 12px 0px 4px 80px;
}
body#forum .forum-item-footer {
  margin-top: 4px;
  text-align: right;
  font-size: 14px;
  line-height: 24px;
  vertical-align: middle;
  color: #333;
}
body#forum .forum-item-footer > img {
  line-height: 24px;
  vertical-align: middle;
}
body#forum .forum-widget-footer {
  text-align: center;
}
body#forum .forum-widget-button {
  font-size: 18px;
  font-weight: normal;
  color: #ff2828;
  padding: 10px 16px;
  border: 2px solid #ff2828;
  display: inline-block;
}
body#forum .forum-widget-button:hover {
  cursor: pointer;
  opacity: 0.6;
}
body#forum .forum-widget-button:active {
  opacity: 1;
}
