---
# Properties required for metalsmith.js
title: 'Onsen UI 2 Guide for React - Onsen UI Framework'
version: v2
framework: 'react'
autotoc: true
layout: docs.html.eco

# Private properties
page: 'guide'
correspondingMenuItem: 'guide'
tocTitle: 'Guide for React'
needHelp: true
---

<%- @markdown => %>

この解説で使用されているサンプルコードには、ES6 の構文 + JSX が使用され、加えて、コード変換 ( トランスパイル/Transpile ) には、[Babel](https://babeljs.io/) が使用されています。
React の詳細は、[React ドキュメント ( 英語サイト )](https://facebook.github.io/react/docs/getting-started.html) をご確認ください。

### プロジェクトを始める

Onsen UI を実際に使用する前に、「 [はじめよう](/v2/guide/) 」 もご確認ください。

#### Monaca CLI を使用する

```bash
$ npm install -g monaca # Monaca CLI をインストールする。
$ monaca create helloworld # React を使用しているテンプレートを選択する。
$ cd helloworld; monaca preview # プレビューを起動する。または、"monaca debug" コマンドを実行して、端末上でプロジェクトを実行する。
```

#### npm からダウンロードする

```bash
# "react-onsenui" ライブラリーを使用する場合、"onsenui" ライブラリーも必要となります。
$ npm install --save-dev onsenui react-onsenui
```

#### Kitchensink コードを使用する

[Onsen UI React Components Kitchensink ( GitHub )](https://github.com/OnsenUI/react-onsenui-kitchensink) には、Onsen UI が提供している、ほぼすべてのコンポーネントがまとめて ( パッケージ形式で ) 置いてあります。Kitchensink を使用したサンプルアプリは、[こちらのページ](http://onsenui.github.io/react-onsenui-kitchensink/demo.html) をご確認ください。

このサンプル内のコードでは、コード変換 ( トランスパイル ) には Babel を使用して、バンドル ( bundle/依存関係の解決 ) には [Browserify](http://browserify.org/) を使用しています。

### react-onsenui を読み込む

react-onsenui とは、React 向けに最適化された Onsen UI を指します ( Onsen UI のコア/中核部分を、React 向けに拡張したバージョンです。Onsen UI のコア/中核部分とは、Web Component を指します )。使用する場合には、次の 2 つの JavaScript モジュールを読み込む必要があります。なお、ここでは、React 向けの Onsen UI と通常の Onsen UI を区別するため、後者を 「 Onsen UI コア 」 と呼称します ( 実際のコードは、GitHub の /core 下に置かれています )。

- Onsen UI コア ([GitHub](https://github.com/OnsenUI/OnsenUI))
- React 向け Onsen UI ([GitHub](https://github.com/onsenui/react-onsenui))

通常の `<script>` タグを使用して、読み込むことができます。

``` html
<script src="react.js"></script>
<script src="react-dom.js"></script>
<script src="onsenui.js"></script>
<script src="react-onsenui.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/6.1.19/browser.min.js"></script>
```

または、npm 経由でも、React と Onsen UI をインストールできます。この場合には、併せて、CommonJS スタイルのモジュール管理システム ( Browserify、Webpack など ) も使用します。また、コード内では、`react` と `react-dom` の npm パッケージに加えて、`onsenui` パッケージと `react-onsenui` パッケージも読み込む必要があります。次の例に記述されている、`ons` には Onsen UI コアのインスタンス、`Ons` には React コンポーネントが、それぞれ格納されています。

```
var React = require('react');
var ReactDOM = require('react-dom');
var ons = require('onsenui');
var Ons = require('react-onsenui');
```

または、[*ES6 の import*](https://developer.mozilla.org/en/docs/web/javascript/reference/statements/import) を使用することもできます ( `react-onsenui` パッケージ内から、使用するモジュールを指定します )。

```
import {Page, Toolbar, Button} from 'react-onsenui';
```

### HelloWorld を作成する ( React 向け Onsen UI を使用 )

手始めに、簡単な Hello World アプリを作成してみましょう。次のサンプルでは、React 向けの Onsen UI を使用しています。

``` html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="css/onsenui.css">
    <link rel="stylesheet" href="css/onsen-css-components.css">
    <script src="react.js"></script>
    <script src="react-dom.js"></script>
    <script src="onsenui.js"></script>
    <script src="react-onsenui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/6.1.19/browser.min.js"></script>
  </head>
  <body>
    <div id="app"></div>
  </body>
  <script type="text/babel">
    var App = React.createClass({
      handleClick: function() {
        ons.notification.alert('Hello world!');
      },

      render: function() {
        return (
          <Ons.Page>
            <Ons.Button onClick={this.handleClick}>Tap me!</Ons.Button>
          </Ons.Page>
        );
      }
    });
    ReactDOM.render(<App />, document.getElementById('app'));
  </script>
</html>
```

このサンプルでは、`react.js`、`react-dom.js`、`onsenui.js`、`react-onsenui.js` の JS ライブラリーを読み込んでいます。スタイルシートに関しては、`onsenui.css` と `onsen-css-components.css` を使用しています。こちらのスタイルシートは、Onsen UI の配布用パッケージ内に置かれています。Onsen UI のスタイルシートの詳細は、Onsen UI ドキュメント内の [CSS 定義](/v2/guide/js/#css-definitions) をご確認ください。

```
<link rel="stylesheet" href="css/onsenui.css">
<link rel="stylesheet" href="css/onsen-css-components.css">
```

In `<body>` tag, there is only a `<div>` tag having `app` id. This is where React will render the content into, and you can see it in the very bottom of JS code.

`<body>` タグ内には、`<div>` タグが 1 つ置かれ、id には `app` が指定してあります。React は、コンテンツ情報を、ここにレンダリングします。同 JS コードの下部に、このレンダリングの処理が記述してあります。

また、`<script>` タグには、`text/babel` の type が指定されています。このスクリプトでは、通常の JavaScript ( 多くのブラウザーでは、ECMAScript5 に準拠している JS ) ではなく、JSX 形式の ECMAScript6 ( ES2015 ) を使用しているため、[Babel](https://babeljs.io/) を使用して、コードを ES5 に変換 ( トランスパイル ) していることを示しています。パフォーマンスを上げる場合には、コードを変換 ( トランスパイル ) するときに、node.js を使用することもできます。

また、スクリプト内の `React.createClass()` 関数を使用して、`App` と呼ばれる React のコンポーネントを定義しています。このコンポーネントは、`render` と呼ばれるメソッドを持っています。また、この関数は、アプリのレンダリングが完了したときに呼び出されます。返されるオブジェクトの詳細は、[JSX](https://facebook.github.io/react/docs/jsx-in-depth.html) をご確認ください。 JSX は、JavaScript の拡張版であり、XML 構文に類似しています。このサンプルでは、`<Ons.Button>` コンポーネントを持つ `<Ons.Page>` コンポーネントを返します。また、ユーザーがボタンをタップしたときには、`onClick` と呼ばれるプロパティーを使用して、`handleClick` を呼び出しています。

``` js
return (
  <Ons.Page>
    <Ons.Button onClick={this.handleClick}>Tap me!</Ons.Button>
  </Ons.Page>
);
```

このサンプルで使用されている `<Ons.*>` が付記されたコンポーネントは、React コンポーネントです。これらのコンポーネントは、`react-onsenui.js` を使用して読み込まれます。React 向けの Onsen UI コンポーネントの詳細は、[こちらのガイド](/v2/docs/react.html) をご確認ください。

最後に、`index.html` がブラウザー上に読み込まれたときに、JSX コードの変換 ( トランスパイル )  が開始され、次に、body に挿入され、そして、コンテンツがレンダリングされます。

このサンプルアプリでは、Onsen UI と React の基本的な連携方法を解説しました。React をより深く学習したい方は、[React のドキュメント](https://facebook.github.io/react/docs/getting-started.html) をご確認ください。

### イベントの処理

Onsen UI コンポーネントでも、各種イベントを処理できます。たとえば、 `onClick` プロパティーを使用して、タップイベントを捕捉することができます。他にも、`onChange` プロパティーを使用すれば、テキスト入力の形式に表示変更することもできます。

``` javascript
class MyPage extends React.Component {
  handleClick() {
    ons.notification.alert('Hello, world!');
  }
  render() {
    return() (
      <Page>
         <Button onClick={this.handleClick}>Click me!</Button>
      </Page>
    );
  }
}
```

<!-- End of markdown -->
<% end %>
