[submodule "OnsenUI"]
	path = OnsenUI
	url = https://github.com/OnsenUI/OnsenUI.git
[submodule "project-templates"]
	path = project-templates
	url = https://github.com/OnsenUI/project-templates.git
[submodule "2/OnsenUI"]
	path = 2/OnsenUI
	url = https://github.com/OnsenUI/OnsenUI.git
