[submodule "project-templates"]
	path = project-templates
	url = https://github.com/OnsenUI/project-templates.git
[submodule "v1/OnsenUI"]
	path = v1/OnsenUI
	url = https://github.com/OnsenUI/OnsenUI.git
[submodule "v2/OnsenUI"]
	path = v2/OnsenUI
	url = https://github.com/OnsenUI/OnsenUI.git
[submodule "v2/react-onsenui"]
	path = v2/react-onsenui
	url = https://github.com/OnsenUI/react-onsenui.git
