[submodule "src/files/demo"]
	path = src/files/demo
	url = ssh://git@gitlab.asial.biz:2222/monaca_angular_doc_demo.git
[submodule "src/files/OnsenUI"]
	path = src/files/OnsenUI
	url = git@github.com:OnsenUI/OnsenUI.git
