---
# Properties required for metalsmith.js
title: 'Onsen UI 2 Guide for AngularJS - Onsen UI Framework'
framework: 'angular1'
autotoc: true
layout: docs.html.eco

# Private properties
page: 'guide'
correspondingMenuItem: 'guide'
tocTitle: 'Guide for Angular 1'
needHelp: true
---

<%- @markdown => %>

ここでは、Angular 1.X と Onsen UI を連携させて使用する方法を解説します。また、[Onsen UI 1 系からの移行](from-v1-to-v2.html) も併せてご確認ください。

### プロジェクトを始める

Onsen UI を実際に使用する前に、「 [はじめよう](/guide/getting_started.html) 」 もご確認ください。

#### Monaca CLI を使用する

```bash
$ npm install -g monaca # Monaca CLI をインストールする。
$ monaca create helloworld # Angular 1 テンプレートを選択する。
$ cd helloworld; monaca preview # プレビューを起動する。または、"monaca debug" コマンドを実行して、端末上でプロジェクトを実行する。
```

#### npm または bower からダウンロードする

```bash
# Angular 1 との連携処理は、「 onsenui 」 コンポーネント内で行われます。
$ npm install onsenui
$ bower install onsenui
```

### angular-onsenui ( AngularJS と Onsen UI の連携 ) を読み込む

Angular 1.x と Onsen UI との連携処理は、Onsen UI の中核部分から切り離して、別のファイル内で行われています。よって、プロジェクトにロードする場合には、`onsen.js` と `angular-onsenui.js` の両方のファイルを読み込む必要があります。「 `onsen` 化 」 された AngularJS モジュールを使用できるのは、`angular-onsenui.js` を読み込んだ後になります。

```html
<!doctype html>
<html lang="en" ng-app="my-app">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="lib/onsen/css/onsenui.css"/>
    <link rel="stylesheet" href="lib/onsen/css/onsen-css-components.css"/>
    <script src="lib/onsen/js/angular/angular.js"></script>
    <script src="lib/onsen/js/onsenui.js"></script>
    <script src="lib/onsen/js/angular-onsenui.js"></script>
    <script>
      var module = angular.module('my-app', ['onsen']);
      module.controller('AppController', function($scope) { });
      module.controller('PageController', function($scope) {
        ons.ready(function() {
          // 初期化 ( Init ) 用のコードをここに置きます。
        });
      });
    </script>
  </head>
  <body ng-controller="AppController">
    <ons-navigator var="navi">
      <ons-page ng-controller="PageController">
        <!-- ページのコンテンツ -->
      </ons-page>
    </ons-navigator>
  </body>
</html>
```

### コンポーネントを使用する

次のように、HTML 上で各要素を読み込むだけで、Onsen UI をアプリ上で使用できます。また、通常の `ng-` 属性も使用することができます。

```html
<ons-input ng-bind="myName" placeholder="Your Name" float></ons-input>
<ons-button ng-click="clickHandler">Say Hello</ons-button>
<script>
// コントローラー ( controller ) 内の処理
$scope.myName = "";
$scope.clickHandler = function(e) {
  ons.notification.alert({ message: "Hello " + $scope.myName });
}
</script>
```

コンポーネントの中には、メソッドとプロパティーを提供しているものがあります。`var` 属性を使用すれば、これらにアクセスできます。たとえば、次のサンプルの `<ons-navigator var='myNavigator'>` へのアクセスには、変数 「 `myNavigator` 」 を使用します。この変数は、`$scope` オブジェクト内に格納されています。

```html
<ons-navigator animation="slide" var="myNavigator">
  <ons-page>
    <ons-button modifier="light" ng-click="myNavigator.pushPage('page.html');">Push</ons-button>
  </ons-page>
</ons-navigator>
<ons-template id="page.html">
  <ons-page>
    <ons-button modifier="light" ng-click="myNavigator.popPage();">Pop</ons-button>
  </ons-page>
</ons-template>
```

### イベントの処理

コンポーネントの中には、イベントをサポートしているものがあります。これらのイベントを使用して、コンポーネントの処理をフック ( hook )して、コンポーネントの挙動をカスタマイズすることもできます。コンポーネントがサポートするイベントの詳細は、「 リファレンス 」 をご確認ください。たとえば、`<ons-navigator>` では、[こちら](/reference/ons-navigator.html#events-summary) のイベントをサポートしています。

イベントにハンドラーを登録または解除する場合には、対象とするコンポ―ネントが提供している `on()`、`off()`、`once()` を適宜使用します ( ここでは、`<ons-navigator>` を対象として、解説しています ) 。よって、前述のように、コンポーネントに変数を適宜定義しておく必要があります。

```html
<script>
myNavigator.on("prepush", function() {
  // prepush イベントに対して、ハンドラーを設定し、処理を行います。
});
</script>
```

イベントハンドラーの登録処理には、コンポーネント側で提供している属性を使用することもできます。これらの属性名には、先頭に `ons-` が付記され、そのあとには、イベントの名前が記載されています。たとえば、`<ons-navigator>` の場合、`ons-prepop` 属性を使用しても、`prepop` イベントを捕捉することができます。

```html
<ons-navigator ons-prepop="doSomething()">
  ...
</ons-navigator>
```

属性に指定する値には、Angular の記法を使用します。よって、AngularJS を使用していない場合、これらの属性は使用できません。

#### DOM イベント

Onsen UI コンポーネントの中には、DOM イベントをサポートしているものもあります。たとえば、[`<ons-page>`](/reference/ons-page.html) では、複数の DOM イベントをサポートしています。これらのイベントには、それぞれ、実行されるタイミングあります。また、これらのイベントを利用して、各ページの挙動を変更できます。

* `<ons-page>` が DOM にアタッチされたときに、`init` イベントが発火します。
* `<ons-page>` が破棄 ( destroy ) される前、加えて、DOM から削除される前に、`destroy` イベントが発火します。
* `<ons-page>` が表示されるたびに、`show` イベントが発火します。つまり、新しいページが作成され、表示された直後に、または、既存のページが表示されたときに、発火します。
* `<ons-page>` が非表示にされるたびに、`hide` が発火します。つまり、表示中のページが破棄 ( destroy ) されたとき、または、スタック上には置かれているが、表示されていないときに、発火します。

ページの寿命に関わるイベントは、そのページと関連する子のページたちにも影響を与えます。親ページへの操作に応じて、子のページも、適宜、表示・非表示・破棄されます。
たとえば、`<ons-navigator>` を破棄 ( destroy ) した場合、表示中のページ ( つまり、nagivator のトップに置かれたページ ) に対してのみ、`hide` イベントが発火され、navigator のスタックに置かれた他のページに対しては、`destroy` が発火します。

```html
<script>
document.addEventListener("init", function(event) {
  if (event.target.id == "my-page") {
    document.getElementById("my-content").innerHTML = "I am fine!";
  }
}, false);
</script>

<ons-page id="my-page">
  <div>Hello, how are you?</div>
  <div id="my-content">This content will be replaced.</div>
</ons-page>
```

### ページの定義 ( template )

コンポーネントによっては、メインのページを表示しているときでも、他の HTML ページを読み込む必要があります。たとえば、`<ons-splitter-side>` では、次のような方法で、最初に表示する、メニューのページを指定します。

```html
<ons-splitter-menu page="menu.html"></ons-splitter-menu>
```

別のファイルを使用して、menu.html を定義する代わりに、1 つのページ上に、複数ページのコンテンツをまとめて定義することもできます。そのような場合には、[`<ons-template>`](/reference/ons-template.html) タグを使用するか、または、type を `"text/ons-template"` に指定した `script` タグを使用します。ファイル数を増やしたくない場合に有用です。

#### &lt;ons-template&gt; を使用して、template を定義する場合

[`<ons-template>`](/reference/ons-template.html) タグが 1 つの template ( 1 つのページ ) となります。次の例では、`main.html` と名付けた template を定義しています。

```html
<ons-template id="main.html">
  <!-- ここに、main.html の HTML コンテンツを記述します。 -->
  <div>
    Hello, this is the content of main.html
  </div>
</ons-template>
```

####  &lt;script&gt; タグ を使用して、template を定義する場合

前述の方法以外にも、`<script>` タグを使用して、template を定義することができます。この場合、`type` には、`text/ons-template` を指定します。

```html
<script type="text/ons-template" id="main.html">
  <!-- ここに、main.html の HTML コンテンツを記述します。 -->
  <div>
    Hello, this is the content of main.html
  </div>
</script>
```

#### $templateCache の使用 ( AngularJS の機能 )

上記のように定義した template は、AngularJS の template 機能と同じように取り扱うことができます。よって、`$templateCache` サービスを使用できます。詳細は、[`$templateCache` の解説 ( AngularJS の公式ドキュメント )](https://docs.angularjs.org/api/ng/service/$templateCache) をご確認ください。

### ons-lazy-repeat 使用時に必要となる デリゲートオブジェクト ( Delegate Object )

[`ons-lazy-repeat`](/v2/docs/angular1/ons-lazy-repeat.html) を含む、いくつかのコンポーネントでは、デリゲートオブジェクト ( Delegate Object ) が必要となります。アイテムの処理に使用するコントローラーのスコープに、この `デリゲートオブジェクト` を連結させます ( これで、ビューからアクセスできるようになります )。

```html
<ons-page ng-controller="MyCtrl">
  <ons-list>
    <ons-list-item ons-lazy-repeat="MyDelegate">
      {{item.name}}
    </ons-list-item>
  </ons-list>
</ons-page>
```

```javascript
$scope.MyDelegate = {
  configureItemScope: function(index, itemScope) {
    console.log("Created item #" + index);
    itemScope.item = {
      name: 'Item #' + (index + 1)
    };
  },
  calculateItemHeight: function(index) {
    return 40;
  },
  countItems: function() {
    return 10000000;
  },
  destroyItemScope: function(index, scope) {
    console.log("Destroyed item #" + index);
  }
};
```

### ユーティリティ関数

[Onsen UI ガイド ( JavaScript )](/v2/guide/js/) に記載されているユーティリティ関数以外にも、Angular 1 との連携処理を行ってくれる関数が、Onsen UI では提供されています。

#### ons.bootstrap

`ons.bootstrap()` 関数を使用すれば、Onsen UI の読み込みを、たった 1 行で行えます。この関数では、Onsen UI モジュールを AngularJS へ追加し
、どのスコープからでも呼べるようにしています。この関数を実行する場合には、事前に、`onsenui.js` の読み込むを済ませておく必要があります。

次の例では、`ngAnimate` モジュールを指定して、Onsen UI を読み込んでいます。このパラメーターには、モジュールを複数個、指定できます。`ons.bootstrap()` は、AngularJS モジュールのオブジェクトを返します。このオブジェクトを使用して、各種サービスを追加することができます。

```html
<script>
  var module = ons.bootstrap(['ngAnimate']); // 例として、ここでは、ngAnimate モジュールを読み込んでいます。
  module.controller("TopController", function($scope){ });
</script>
```

または、`ons.bootstrap()` の使用時に、第一引数として、モジュール名を指定することもできます。

```html
<script>
  ons.bootstrap('myApp', ['ngAnimate']); // 例として、ここでは、ngAnimate モジュールを読み込んでいます。
  angular.module('myApp').controller("TopController", function($scope){ });
</script>
```

#### ons.compile()

Onsen UI コンポーネントを挿入した DOM 要素をコンパイルする場合には、`ons.compile()` 関数を使用します。典型的な使用方法は、対象の HTML を手動で挿入して、次に、レンダリングします。

`ons.compile()` の引数には、`HTMLElement` オブジェクトを指定します。また、`ons.compile()` を呼び出す前に、DOM ツリーへ要素を追加する必要があります。
次に例を記します。

```javascript
ons.ready(function() {
  var elm = $("<ons-button>New Button</ons-button>");
  elm.appendTo($("body")); // 最初に、DOM へ挿入します。
  ons.compile(elm[0]); // 引数には、HTMLElement を指定します。
});
```

<!-- End of markdown -->
<% end %>
