---
title: ‘コミュニティに参加しよう’
order: 220
tocGroup: guide
layout: docs.html.eco
description: 
---

<%- @markdown => %>

### Onsen UIの周辺リソース

Onsen UIを使っている多くのユーザーがいます。ぜひあなたも参加しましょう！

#### サポートを得るには

- [Teratailコミュニティ](https://teratail.com/tags/Monaca): Onsen UIとその周辺ツールについて、気軽に質問してください。[有償サポート](https://ja.monaca.io/service/index.html)も提供されます。
- [Gitter（英語）](https://gitter.im/OnsenUI/OnsenUI): Onsen UIの開発チームとチャット通じてやりとりができます。質問がある場合は、上記のフォーラムやサポートの方が好ましいでしょう。
- [Github](https://github.com/onsenui/onsenui): バグや機能拡張の依頼については、GitHub Issuesを利用してください。プルリクエストも大歓迎です！

#### エコシステムをもっと大きく

- [構築事例（英語）](https://community.onsen.io/category/13/showcase): Onsen UIを使って開発したアプリの事例を投稿してください！
- [事例インタビュー（日本語）](https://ja.monaca.io/showcase/): Onsen UIやMonacaを使って作られたアプリに関するインタビューを掲載しています。

#### Onsen UIをより良くするために

##### コードに貢献する

Onsen UIチームはあなたの貢献を歓迎しています！あなたの修正やプルリクエストを素早くマージするために、まずは[ガイド（英語）](https://github.com/OnsenUI/OnsenUI/blob/master/.github/CONTRIBUTING.md)をお読みください。もちろんプルリクエストは日本語で大丈夫です。

私たちの方で主にメンテナンスしているレポジトリは下記のものになります：

- [OnsenUI/OnsenUI](https://github.com/OnsenUI/OnsenUI): コアとなるライブラリ
- [OnsenUI/onsen.io](https://github.com/OnsenUI/onsen.io): Webサイトを格納したレポジトリ
- [OnsneUI/tutorial](https://github.com/OnsenUI/tutorial): チュートリアル

##### Onsen UIを広めよう！

私たちはOnsen UIを広げて頂ける方を大募集しています。具体的には、下記のような活動をバックアップいたします：

- 学習コンテンツを作成する。これは、最も効果的な学習は誰かに教えてもらうことにあるからです。Onsen UIを使った時の体験を、ブログ記事、Qiita、ソーシャルネットワークなどで共有してください。それが初心的で単純なものでも、その意味は非常に大きいのです！
- レポジトリをウォッチしましょう。そのレポジトリに何らかの活動があるたびに、通知を受けることができます。Onsen UIについて知見を深めていきましょう。

<% end %>