---
title: 'Deploying Your App'
order: 50
tocGroup: guide
layout: docs.html.eco
---

<%- @markdown => %>

### アプリとしてデプロイする

#### Cordova（ハイブリッドアプリ）

[Cordova](https://cordova.apache.org/)を使うと、iOSやAndroidの端末上で実行される、ネイティブWebViewを持つアプリに変換できます。

[Monaca](monaca.html)を使うと、Onsen UIを使って簡単にハイブリッドアプリを開発できます。Monacaはコマンドライン版のほか、ブラウザー上で動くオンラインIDEなど、多彩な開発オプションを持っています。Monacaは無料でも使用できますが、購入することで追加の機能を利用できます。

<!--
Please take a look at this video on how to create a hybrid app.

<div class="resource-placeholder"></div>
-->

#### Progressive Web Apps（PWA）

[プログレッシブ・ウェブ・アプリ](https://developers.google.com/web/fundamentals/getting-started/codelabs/your-first-pwapp/)（PWA）はモバイルアプリに新しい体験を吹き込みます。PWAは[マニフェストファイル](https://developers.google.com/web/fundamentals/engage-and-retain/web-app-manifest/)と、バックグラウンドで実行される[サービスワーカー](https://developers.google.com/web/ilt/pwa/introduction-to-service-worker)を追加した、モバイルWebアプリです。PWAを使うと、プッシュ通知やオフライン対応など、モバイルアプリでも新しい機能を使うことができます。

<!--
Interested in getting started with a PWA? Check out this video.

<div class="resource-placeholder"></div>
-->

#### モバイルWeb、デスクトップWeb

Onsen UIは、小さい画面から大きい画面まで、画面のサイズに問わずWebアプリ開発にも利用できます。Onsen UIのすべてのコンポーネントはレスポンシブに対応しており、PCで使用するWebアプリにも最適です。さらに、[Electron](https://electron.atom.io/)や[Node WebKit](https://nwjs.io/)を使って、デスクトップ向けアプリ開発をすることもできます。

<% end %>