---
title: 'Deploying Your App'
order: 50
tocGroup: guide
layout: docs.html.eco
description: 'Onsen UIはハイブリッドアプリとPWAに対応したWeb ComponentsベースのHTML5 モバイルUIフレームワークです。'
---

<%- @markdown => %>

### アプリとしてデプロイする

#### Cordova（ハイブリッドアプリ）

[Cordova](https://cordova.apache.org/)を使うと、iOSやAndroidの端末上で実行される、ネイティブWebViewを持つアプリに変換できます。Cordovaを使って作成したOnsen UIアプリはストアに登録することができます。アプリの具体的な作り方については[Cordovaガイド](hybrid/cordova.html)をご覧ください。

<!--
Please take a look at this video on how to create a hybrid app.

<div class="resource-placeholder"></div>
-->

#### Progressive Web Apps（PWA）

Progressive Web Apps（PWA）はモバイルWebサイトに新たな体験をもたらします。PWA はオフラインでも閲覧でき、アプリのようにホーム画面に追加できることができるWebサイトです。詳しい情報については[PWAとは？](pwa/intro.html)のページをご覧ください。さらに、Onsen UIを使ってPWAを作るための[Onsen UI PWA チュートリアル](pwa/tutorial.html)も用意していますので、ぜひご活用ください。

<!--
Interested in getting started with a PWA? Check out this video.

<div class="resource-placeholder"></div>
-->

#### モバイルWeb、デスクトップWeb

Onsen UIは、小さい画面から大きい画面まで、画面のサイズに問わずWebアプリ開発にも利用できます。Onsen UIのすべてのコンポーネントはレスポンシブに対応しており、PCで使用するWebアプリにも最適です。さらに、[Electron](https://electron.atom.io/)や[Node WebKit](https://nwjs.io/)を使って、デスクトップ向けアプリ開発をすることもできます。

<% end %>