---
title: ‘インストール’
order: 10
tocGroup: guide
tocTitle: Essentials
layout: docs.html.eco
description: 'Onsen UIのインストールガイドです。Onsen UIはハイブリッドアプリとPWAに対応したWeb ComponentsベースのHTML5 モバイルUIフレームワークです。'
---

<script>
document.addEventListener('DOMContentLoaded', function() {
  var url = 'https://api.github.com/repos/OnsenUI/OnsenUI-dist/releases/latest';
  var zipUrl = "";
  $.getJSON(url, function(res) {
    zipUrl = res.zipball_url;
    $('#get-latest-build').text('Onsen UI最新版のダウンロード (バージョン' + res.name + ')')
  });

  $('#get-latest-build').click(function(event) {
    if (zipUrl) {
      event.preventDefault();
      location.href = zipUrl;
    }
  });
});
</script>

<%- @markdown => %>

### インストール

いくつかのインストール方法を提供しています。ニーズに合わせて、どの方法にするかを選択してください。

<div class="install-row">
  <div>
    <p class="install-row-title">Onsen UI</p>
    <p class="install-row-content">コンパイル、最小化済みのJavaScript、CSS、アセットが含まれています。Web Components版</p>
    <a class="install-row-link" id="get-latest-build" href="https://github.com/OnsenUI/OnsenUI-dist/releases/latest">Onsen UIをダウンロード</a>
  </div>
  <div>
    <p class="install-row-title">ソースコード</p>
    <p class="install-row-content">CSS、JavaScript、関連ファイルを含むコード。[ビルド方法はこちら](/v2/guide/build.html)。</p>
    <a class="install-row-link" href="https://github.com/OnsenUI/OnsenUI/">GitHubレポジトリ</a>
  </div>
  <div>
    <p class="install-row-title">フレームワーク用バインディング</p>
    <p class="install-row-content">
      Onsen UIはフレームワークに依存しません。JavaScript、jQuery、AngularJS、Angular 2+、React、Vue.jsなどに対応します。
    </p>
    <a class="install-row-link" href="/v2/guide/frameworks.html">使い方を見る</a>
  </div>
</div>

#### Onsen UIのCDN

[Unpkg](https://unpkg.com/onsenui/)経由でOnsen UIのCSSとJavaScriptを利用できます。下記のURLを用いてください。

```html
<link rel="stylesheet" href="https://unpkg.com/onsenui/css/onsenui.css">
<link rel="stylesheet" href="https://unpkg.com/onsenui/css/onsen-css-components.min.css">
<script src="https://unpkg.com/onsenui/js/onsenui.min.js"></script>
```

#### NPM経由のインストール

Node Package Manager（NPM）を用いてOnsen UIをインストールできます。

```sh
npm install onsenui --save
```

#### Monaca CLIを使ったコマンドラインツール（モバイルアプリの開発用）

Monaca CLIを使うと、Onsen UIを用いたハイブリッドアプリ開発が簡単に行えます。詳細は[Monaca CLIチュートリアル](https://docs.monaca.io/ja/monaca_cli/tutorial/)を参照してください。Monacaについては[こちらの公式ページ](https://ja.monaca.io/)も参考にしてください。

#### 旧バージョンと変更履歴

Onsen UIの過去のバージョンと、それぞれのバージョンの変更点は、[OnsenUI/OnsenUI-dist](https://github.com/OnsenUI/OnsenUI-dist/releases)に記載しています。ソースコードは[OnsenUI/OnsenUI](https://github.com/OnsenUI/OnsenUI/)に用意されています。是非レポジトリにスターをお願いします！

<% end %>