---
page: 'vue-landing'
category: 'discover'
title: 'Vue components & framework by Onsen UI for PWA & Hybrid with Cordova'
layout: 'default.html.eco'
topbar: false
actionbar: false
version: v2
description: 'Easily build high-performance cordova hybrid mobile apps and PWA using large set of Vue components. Material and iOS design with automatic styling.'
---

<div class="landing vue-landing">
  <%- @partial('global-nav.html.eco') %>
  <div class="landing-header">
    <h1 class="landing-header-title">
      Onsen UI for Vue
    </h1>
    <div class="landing-header-subtitle">
      Brings the Power and Simplicity of Vue.js to Hybrid and Progressive Web Apps
    </div>
    <img class="landing-header-keyvisual" src="/images/landing/keyvisual_vue.gif">

    <div style="display: flex; justify-content: center;">
      <a href="https://onsenui.github.io/vue-onsenui-kitchensink/" track-click='{"category": "vue-landing-page", "action": "click", "label": "vue-try-kitchensink-btn"}' target="_blank" class="landing-header-get-started" style="margin: 0 10px">
        <div class="landing-header-get-started-title">
          Try Kitchensink
        </div>
      </a>
      <a href="/v2/guide/vue/" track-click='{"category": "vue-landing-page", "action": "click", "label": "vue-get-started-btn"}' class="landing-header-get-started" style="margin: 0 10px">
        <div class="landing-header-get-started-title">
          Get Started
        </div>
      </a>
    </div>

    <div class="landing-header-available">
      <span>Or use Onsen UI with...</span>
      <div class="landing-header-available-frameworks">
        <a href="/angular2" class="landing-header-available-frameworks-angular1"></a>
        <a href="/angular2" class="landing-header-available-frameworks-angular2"></a>
        <a href="/react" class="landing-header-available-frameworks-react"></a>
        <a href="/v2/guide" class="landing-header-available-frameworks-js"></a>
      </div>
    </div>
  </div>
  <div class="landing-content">
    <div class="feature">
      <div class="feature-text">
        <h2>Beautifully designed Vue Components that feel native</h2>
        <p>Onsen UI provides a wide variety of ready-to-use Vue Components that <strong>follow iOS and Android UI guidelines and designs</strong>.</p>
        <p>Simply pick out the elements you want in your app (like navigators, tabbar, lists, buttons... you name it) and they <strong>automatically</strong> show the iOS or Android look and feel according to the device they are running on.</p>
        <p>Building <strong>native-looking</strong> and <strong>high-performance</strong> apps has never been easier.</p>
        <p>Try out our <a href="https://onsenui.github.io/vue-onsenui-kitchensink/" target="_blank">Vue kitchensink app</a>, where you can play around with all the components. Then take a look the <a href="/v2/api/vue/">full list of Onsen UI Vue components</a> to find out how to use them all!</p>
      </div>
      <div class="feature-image">
        <iframe style="width:100%; height: 480px" src="./visual-components.html"></iframe>
      </div>
    </div>

    <div class="feature">
      <div class="feature-text">
        <h2>Quick setup</h2>
        <p>Used Vue before, but no experience in using mobile UI frameworks? <strong>No problem</strong>. Getting started is super simple!</p>
        <ol>
          <li>Install our packages from the command line...</li>
          <li>... and import <code>vue-onsenui</code> to your code...</li>
          <li>... and write <code>Vue.use(VueOnsen);</code></li>
        </ol>
        <p><strong>3 simple steps</strong> that will get you access to a wide range of UI components.</p>
        <p>If you haven't used Vue before, take a look at our full <a href="/v2/guide/vue/">Onsen UI for Vue guide</a>.</p>
      </div>
      <div class="feature-image">
<%- @markdown => %>
```bash
# (1) Install two packages
$ npm install onsenui vue-onsenui --save
```
```js
// (2) Webpack CSS import
import 'onsenui/css/onsenui.css';
import 'onsenui/css/onsen-css-components.css';

// (2) JS import
import Vue from 'vue';
import VueOnsen from 'vue-onsenui';

// (3) And plug in the bindings
Vue.use(VueOnsen);

// That's it!
new Vue({
  el: '#app',
  template: '<v-ons-button>Click Me</v-ons-button>',
});
```
<% end %>
      </div>
    </div>

    <div class="feature">
      <div class="feature-text">
        <h2>Reactive API tailored for Vue</h2>
        <p>Whether you are already a Vue developer or trying it out alongside Onsen UI for the first time, you will find that they <strong>play very well together</strong>.</p>
        <p>Components of Onsen UI for Vue are designed to act reactively to received props.</p>
        <p>We have an <strong>especially tailored API</strong> to fit all your needs.</p>
      </div>
      <div class="feature-image">
<%- @markdown => %>
```html
<template>
  <v-ons-carousel :index.sync="carouselIndex"
    fullscreen swipeable auto-scroll overscrollable>
    <v-ons-carousel-item v-for="url in items">
      <img style="width:100%" :src="url">
    </v-ons-carousel-item>
  </v-ons-carousel>
</template>

<script>
export default {
  data() {
    return {
      carouselIndex: 0,
      items: [
        'http://placekitten.com/g/300/300',
        'http://placekitten.com/g/400/400',
        'http://placekitten.com/g/500/500'
      ]
    };
  }
};
</script>
```
<% end %>
      </div>
    </div>

    <div class="feature">
      <div class="feature-text">
        <h2>Use with Vue CLI &amp; hot reload, debugger, native plugins - all covered</h2>
        <p>You can get started with Onsen UI by using our templates within the Vue CLI. Pick the PWA or Cordova template and you're ready to go!</p>
        <p>Beyond that, we've got full-stack tools to streamline your app development with zero-time setup using <a href="/v2/guide/monaca.html">Monaca</a>. It is developed by the same team as Onsen UI, and helps to simplify complicated app development tasks. It has everything you need to develop Onsen UI apps, with powerful debugging, remote build, backend services and an optional cloud-based IDE.</p>
      </div>
      <div class="feature-image">
<%- @markdown => %>
  * __Progressive Web App__: [vue-pwa-webpack](https://github.com/OnsenUI/vue-pwa-webpack)
  ```bash
  $ vue init OnsenUI/vue-pwa-webpack hello-world
  ```
  * __Cordova__: [vue-cordova-webpack](https://github.com/OnsenUI/vue-cordova-webpack)
  ```bash
  $ vue init OnsenUI/vue-cordova-webpack hello-world
  ```
<% end %>
      </div>
    </div>

    <div class="feature">
      <div class="feature-text">
        <h2>Tons of resources &amp; support</h2>
        <p>Ample documentation, interactive tutorials, guides, how-tos and sample apps will get you up and running quickly and guide you to the finish line. When you need a hand, the Onsen UI team and the active community will help you via <a href="https://community.onsen.io/">Community Forum</a> and <a href="https://discord.gg/JWhBbnE">Discord</a>!</p>
      </div>
    </div>
  </div>
  <div class="landing-header">
    <a href="/v2/guide/vue/" track-click='{"category": "vue-landing-page", "action": "click", "label": "vue-lets-get-started-btn"}' class="landing-header-get-started">
      <div class="landing-header-get-started-title">
        Let's Get Started
      </div>
    </a>
  </div>
</div>

<script src="/vendor/highlight.min.js"></script>
