---
page: 'vue-landing'
category: 'discover'
title: 'Vue.js components for creating hybrid mobile apps with Onsen UI'
layout: 'default.html.eco'
topbar: false
actionbar: false
version: v2
description: 'Vue.js developers can easily create high-performance hybrid mobile apps, using HTML5, CSS and JavaScript. Material and iOS design with automatic styling.'
---

<div class="landing vue-landing">
  <%- @partial('global-nav.html.eco') %>
  <div class="landing-header">
    <h1 class="landing-header-title">
      Onsen UI for Vue.js
    </h1>
    <div class="landing-header-subtitle">
      Preview version of binding library to help create hybrid apps with Onsen UI.
    </div>
    <img class="landing-header-keyvisual" src="/images/landing/keyvisual_vue.gif">

    <a href="/v2/docs/guide/vue/" class="landing-header-get-started">
      <div class="landing-header-get-started-title">
        Get Started
      </div>
      <div class="landing-header-get-started-subtitle">
        with Onsen UI for Vue.js
      </div>
    </a>

    <div class="landing-header-available">
      <span>
        Also available for...
      </span>
      <div class="landing-header-available-frameworks">
        <a href="/v2/docs/guide/angular1" class="landing-header-available-frameworks-angular1"></a>
        <a href="/v2/docs/guide/angular2" class="landing-header-available-frameworks-angular2"></a>
        <a href="/v2/docs/guide/react" class="landing-header-available-frameworks-react"></a>
        <a href="/v2/docs/guide/js" class="landing-header-available-frameworks-js"></a>
      </div>
    </div>

    <div class="landing-header-latest">
      <p class="small" id="release-info">Latest <a class="version" href="https://github.com/OnsenUI/OnsenUI"><%- @framework.version %></a> released <time></time>. See <a href='https://github.com/OnsenUI/OnsenUI-dist/releases'>all versions</a>. Distributed free and open source (Apache 2.0) via <a href="https://github.com/OnsenUI/OnsenUI">GitHub</a></p>
    </div>
  </div>

  <div class="landing-social">
    <a href="https://twitter.com/Onsen_UI" target="_blank" class="landing-social-twitter">
      Follow @Onsen_UI
    </a>
    <a href="https://github.com/OnsenUI/OnsenUI" target="_blank" class="landing-social-github">
      Star on GitHub
    </a>
  </div>
</div>

<div class="container">
<%- @markdown => %>

## Create hybrid mobile apps with Onsen UI and Vue.js

Integrating Onsen UI with Vue.js is now really simple. Vue bindings for Onsen UI provides a Vue-like API to interact with Onsen UI elements in the shape of Vue components and directives. All the power of Onsen UI is now available for your Vue.js apps.

## Installing Vue bindings for Onsen UI

The bindings are [available on NPM](https://www.npmjs.com/package/vue-onsenui). To use them you also need the core Onsen UI library.

Therefore, to install the library in your app all you need to do is:

```bash
yarn add onsenui vue-onsenui --save # Or use npm
```

It is also available from Unpkg CDN: [core](https://unpkg.com/onsenui/) and [bindings](https://unpkg.com/vue-onsenui/).

## Easy to use

The library is distributed as a Vue plugin so you can easily add it to your application:

```javascript
/**
 * The stylesheets can be loaded with Webpack
 * or added with link tags.
 */
import 'onsenui/css/onsenui.css';
import 'onsenui/css/onsen-css-components.css';

// Import Vue
import Vue from 'vue';

// Import Onsen UI core and Vue bindings
import 'onsenui';
import VueOnsen from 'vue-onsenui';

// And just plug the bindings
Vue.use(VueOnsen);

new Vue({
  el: '#app',
  template: '<App/>',
  components: { App }
});
```

This exposes all the Onsen UI custom elements as `<v-ons-*>` components as well as some utility functions for platform recognition and creating quick alert dialogs.

## Learn more

* [Docs](/v2/docs/guide/vue/)
* [GitHub repository](https://github.com/OnsenUI/OnsenUI/tree/vue2/bindings/vue)
* [Examples](https://github.com/OnsenUI/OnsenUI/tree/vue2/bindings/vue/examples/components)

This library is still an early preview but we are planning to add more features and also publish more documentation so everyone can start building mobile apps with Vue and Onsen UI!

<% end %>
</div>


<script src="/vendor/highlight.min.js"></script>
<script>
  var $ = document.querySelector.bind(document);
  var $$ = document.querySelectorAll.bind(document);
  var each = function (arr, func) { Array.prototype.forEach.call(arr, func) };
  var code = $$('code');
  var arrows = $$('.arrow');
  var height = $('.code-explanation').offsetHeight;

  each(arrows, function (e, i) {
    var lines = code[i].textContent.split(/\n/);
    var indent = lines[1].match(/\s*/)[0].length;
    code[i].textContent = lines.map(function(e) {
      return e.slice(indent);
    }).join('\n').trim();
    hljs.highlightBlock(code[i]);
    e.style.bottom = height - (code[i].offsetTop + code[i].offsetHeight / 2) + 'px';
  });

  var buttons = $('.platform-buttons').children;
  var examples = $$('.code-explanation');
  each(buttons, function(e, i) {
    e.onclick = function () {
      var j = (i + 1) % 2;
      if (!this.classList.contains('selected')) {
        buttons[i].classList.add('selected');
        buttons[j].classList.remove('selected');
        examples[i].classList.add('selected');
        examples[j].classList.remove('selected');
      }
    }
  });
</script>
