---
page: 'vue-landing'
category: 'discover'
title: 'Vue.js UI components by Onsen UI Progressive Web App & Hybrid Mobile Framework with Cordova'
layout: 'default.html.eco'
topbar: false
actionbar: false
version: v2
description: 'Vue.js developers can easily create high-performance cordova hybrid mobile apps, using HTML5, CSS and JavaScript. Material and iOS design with automatic styling.'
---

<div class="landing vue-landing">
  <%- @partial('global-nav.html.eco') %>
  <div class="landing-header">
    <h1 class="landing-header-title">
      Onsen UI for Vue
    </h1>
    <div class="landing-header-subtitle">
      Brings the Power and Simplicity of Vue.js to Hybrid and Progressive Web Apps.
    </div>
    <img class="landing-header-keyvisual" src="/images/landing/keyvisual_vue.gif">
    
    <div style="display: flex; justify-content: center;">
      <a href="https://onsenui.github.io/vue-onsenui-kitchensink/" target="_blank" class="landing-header-get-started" style="margin: 0 10px">
        <div class="landing-header-get-started-title">
          Try Kitchensink
        </div>
      </a>
      <a href="/v2/guide/vue/" class="landing-header-get-started" style="margin: 0 10px">
        <div class="landing-header-get-started-title">
          Get Started
        </div>
      </a>
    </div>
  </div>
  <div class="landing-content">
    <div class="feature">
      <div class="feature-text">
        <h2>Beautifully designed Vue Components that feels native</h2>
        <p>Onsen UI provides a wide variety of ready-to-use Vue Components that <strong>emulate iOS and Android UI guidelines and designs</strong>.</p>
        <p>Simply pick out the elements you want in your app (like navigators, tabbar, lists, buttons... you name it) and they <strong>automatically</strong> show the iOS or Android look and feel according to the device they are running in.</p>
        <p>Building <strong>native-looking</strong> and <strong>high-performance</strong> apps could never be easier.</p>
        <p>See also: <a href="/v2/api/vue/">List of Vue Components</a> | <a href="https://onsenui.github.io/vue-onsenui-kitchensink/">Kitchensink App</a></p>
      </div>
      <div class="feature-image">
        <iframe style="width:100%; height: 480px" src="./visual-components.html"></iframe>
      </div>
    </div>

    <div class="feature">
      <div class="feature-text">
        <h2>Simple setup</h2>
        <p>No experience in using mobile UI frameworks? <strong>No problem</strong>. Getting started is not complicated at all!</p>
        <ul>
          <li>(1) Install our packages from the command line...</li>
          <li>(2) ... and import <code>vue-onsenui</code> to your code...</li>
          <li>(3) ... and write <code>Vue.use(VueOnsen);</code></li>
        </ul>
        <p><strong>3 simple steps</strong> that will get you access to a wide range of UI components.</p>
      </div>
      <div class="feature-image">
<%- @markdown => %>
```bash
# (1) Install two packages
$ npm install onsenui vue-onsenui --save
```
```js
// (2) Webpack CSS import
import 'onsenui/css/onsenui.css';
import 'onsenui/css/onsen-css-components.css';

// (2) JS import
import Vue from 'vue';
import VueOnsen from 'vue-onsenui';

// (3) And plug in the bindings
Vue.use(VueOnsen);

// Now you can use the awesome Onsen UI + Vue components
new Vue({
  el: '#app',
  template: '<v-ons-button>Click Me</v-ons-button>',
});
```
<% end %>
      </div>
    </div>

    <div class="feature">
      <div class="feature-text">
        <h2>Reactive API tailored for Vue</h2>
        <p>Whether you are already a Vue developer or trying it out alongside Onsen UI for the first time, you will find that they <strong>play very well together</strong>.</p>
        <p>Components of Onsen UI for Vue are designed to act reactively to received props.</p>
        <p>We have an <strong>especially tailored API</strong> to fit all your needs.</p>
      </div>
      <div class="feature-image">
<%- @markdown => %>
```html
<template>
  <v-ons-carousel :index.sync="carouselIndex"
    fullscreen swipeable auto-scroll overscrollable>
    <v-ons-carousel-item v-for="url in items">
      <img style="width:100%" :src="url">
    </v-ons-carousel-item>
  </v-ons-carousel>
</template>

<script>
export default {
  data() {
    return {
      carouselIndex: 0,
      items: [
        'http://placekitten.com/g/300/300',
        'http://placekitten.com/g/400/400',
        'http://placekitten.com/g/500/500'
      ]
    };
  }
};
</script>
```
<% end %>
      </div>
    </div>

    <div class="feature">
      <div class="feature-text">
        <h2>Use with Vue CLI &amp; hot reload, debugger, native plugins - all covered</h2>
        <p>You can get started with Onsen UI by using our templates within the Vue CLI. Pick the PWA or Cordova template and you're ready to go!</p>
        <p>Beyond that, we’ve got full-stack tools to streamline your app development with zero-time setup. Onsen UI family’s <a href="/v2/guide/monaca.html">Monaca CLI</a> simplifies complicated tasks. Our development stack includes TypeScript, Webpack and Cordova, all integrated with app debugging features like live-reload on device, remote-build and many other cloud services.</p>
      </div>
      <div class="feature-image">
<%- @markdown => %>
  * __Progressive Web App__: [vue-pwa-webpack](https://github.com/OnsenUI/vue-pwa-webpack)
  ```bash
  $ vue init OnsenUI/vue-pwa-webpack hello-world
  ```
  * __Cordova__: [vue-cordova-webpack](https://github.com/OnsenUI/vue-cordova-webpack)
  ```bash
  $ vue init OnsenUI/vue-cordova-webpack hello-world
  ```
<% end %>
      </div>
    </div>

    <div class="feature">
      <div class="feature-text">
        <h2>Tons of resources &amp; support</h2>
        <p>Ample documentation, interactive tutorials, guides, how-to and sample apps will get you up and running quickly and guide you to the finish line. When you need a hand, the Onsen UI team and the active community will help you via <a href="https://community.onsen.io/">Community Forum</a> and <a href="https://gitter.im/OnsenUI/OnsenUI">Gitter</a>!</p>
      </div>
    </div>
  </div>
  <div class="landing-header">
    <a href="/v2/guide/vue/" class="landing-header-get-started">
      <div class="landing-header-get-started-title">
        Let's Get Started
      </div>
    </a>
  </div>
</div>


<script src="/vendor/highlight.min.js"></script>
<script>
  var $ = document.querySelector.bind(document);
  var $$ = document.querySelectorAll.bind(document);
  var each = function (arr, func) { Array.prototype.forEach.call(arr, func) };
  var code = $$('code');
  var arrows = $$('.arrow');
  var height = $('.code-explanation').offsetHeight;

  each(arrows, function (e, i) {
    var lines = code[i].textContent.split(/\n/);
    var indent = lines[1].match(/\s*/)[0].length;
    code[i].textContent = lines.map(function(e) {
      return e.slice(indent);
    }).join('\n').trim();
    hljs.highlightBlock(code[i]);
    e.style.bottom = height - (code[i].offsetTop + code[i].offsetHeight / 2) + 'px';
  });

  var buttons = $('.platform-buttons').children;
  var examples = $$('.code-explanation');
  each(buttons, function(e, i) {
    e.onclick = function () {
      var j = (i + 1) % 2;
      if (!this.classList.contains('selected')) {
        buttons[i].classList.add('selected');
        buttons[j].classList.remove('selected');
        examples[i].classList.add('selected');
        examples[j].classList.remove('selected');
      }
    }
  });
</script>
