@charset "UTF-8";

header.common {
	border-bottom: 1px solid #e7e7e7;
	height: 72px;

	> div {
		@include box-sizing(border-box);
		margin: 0 auto;
		padding-top: 11px;
		position: relative;
		text-align: left;
		width: $width;
	}

	.logo {
		position: absolute;
		top: 19px;
		left: 0;
	}

	.gnav {
		position: absolute;
		top: 0;
		right: 0;
		height: 72px;
		line-height: 72px;
		
		li {
			color: #a6a6a6;
			display: inline-block;
			font-size: 16px;
			height: 72px;
			margin: 0 4px;
			padding: 0 15px;
			&.current {
				border-bottom: 1px solid #f00;
				color: #ff1a33;
				a {
					@include all-link-state(#ff1a33, all-none);
				}
			}
			a {
				@include all-link-state(#666, all-none);
				transition: color 200ms linear;
				&:hover {
					transition: color 50ms linear;
					color: $onsen-red;
				}
			}
		}
	}
}
