
body#getting_started {

	#run {
		b {
			font-weight: 700;
			margin-right: 15px;
		}
	}

	.template-iframe {
		width: 320px;
		height: 570px;
		border: 1px solid #ccc;
	}

	.template-iframe-landscape {
		width: 570px;
		height: 320px;
		border: 1px solid #ccc;
	}

	.template-footer {
		text-align: center;
	}

	.templates-container {
		position: relative;
		overflow-y: hidden;
		overflow-x: scroll;
	}

	.flex {
		width: 3200px;
		display: flex;
		flex-direction: row;
	}

	.flex-item {
		margin: 15px;
		display: inline-block;
	}

	.handle {
		position: absolute;
		top: 45%;
		padding: 5px;
		border-radius: 4px;
		background-color: rgba(0,0,0,0.5);
	}

	.handle.left{
		left: 10px;
	}

	.handle.right {					
		right: 10px;
	}

	.center {
		align-self: center;
	}

	.template-title {
		text-align: center;
		font-weight: bold !important;
		color: #ccc !important;
		margin: 10px;
		font-size: 1rem !important;
	}


	.btn-download {
		@extend .btn-red;
		padding-left: 10px;
		padding-right: 10px;
		text-align: left;
		border-radius: 4px;

		margin: 15px 0;
		display: inline-block;
		width: auto;
		@include transition(all 0.5s ease);

		&:hover {
			@include transition(all 0.1s ease);
		}

		&:active {
			@include transition(none);
		}
	}

	.blue-link {
		color: #4F82FF;
	}

	.blue-link:visited {
		color: #2251C3;
	}
}
