body#home {

//	border-top: 1px solid white;

	> #github-ribbon-container {
		display: none;
	}

	> header#header-container {
		border-bottom: none;
	}

	> section#content-container {
		margin-left: 0;
		padding-top: 0;
		width: 100%;
		> div#content {
			margin-left: 0;
			padding-top: 0;
			width: 100%;
		}
	}

	div#keyvisual {
		width: 100%;
		height: 586px;
		background-color: #414950;
		@include background-image(linear-gradient(top, #503533, #414950));
		position: relative;
		color: white;
		padding: 0;

		> div.keyvisual-content > div.keyvisual-main {
			margin: 0 auto;
			padding: 148px 0 0 0;
			width: 1100px;

			> h1 {
				color: white;
				font-size: 46px;
				line-height: 48px;
				letter-spacing: -1px;
				font-weight: 200;
				margin-bottom: 6px;
			}

			> h2 {
				color: rgba(255, 255, 255, 0.7);
				font-size: 22px;
				font-weight: 200;
				margin: 0 0 40px 0;
				padding: 0;
			}

			> a.getting-started,
			> a.getting-started:active,
			> a.getting-started:visited {
				@include box-sizing(border-box);
				display: inline-table;
				height: 54px;
				line-height: 54px;
				width: 243px;
				border: 2px solid white;
				@include border-radius(3px);
				background-color: white;
				font-size: 24px;
				color: $onsen-red;
				text-align: center;
				font-weight: 300;
				text-decoration: none;

				@include transition(all 0.5s ease);

				&:hover {
					@include transition(all 0.1s ease);
					background-color: rgba(255, 255, 255, 0.8);
					border: 2px solid transparent;
				}

				&:active {
					@include transition(none);
					background-color: white;
					border: 2px solid white;
				}

				> img {
					margin-bottom: 5px;
					vertical-align: middle;
				}

			}

			> a.download,
			> a.download:active,
			> a.download:visited {
				@include box-sizing(border-box);
				display: inline-table;
				height: 54px;
				line-height: 54px;
				width: 213px;
				border: 2px solid rgba(255, 255, 255, 0.7);
				@include border-radius(3px);
				color: white;
				margin-left: 20px;
				font-size: 24px;
				text-align: center;
				text-decoration: none;
				@include transition(all 0.5s ease);

				&:hover {
					@include transition(all 0.1s ease);
					background-color: rgba(255, 255, 255, 0.2);
					border: 2px solid white;
				}

				&:active {
					@include transition(none);
					background-color: transparent;
					border: 2px solid white;
				}

				> strong {
					font-weight: 500;
					letter-spacing: -2px;
				}
			}


			> span.license {
				font-weight: 600;
				color: rgba(255, 255, 255, 0.7);
				display: block;
				text-align: right;
				width: 476px;
				font-weight: 400;
				font-size: 15px;
			}

		}

		> div.keyvisual-content > div.social {
			margin: 0 auto;
			width: 1100px;
			position: absolute;
			bottom: 18px;
			left: 0px;
			right: 0px;
			font-size: 14px;

			> img {
				vertical-align: top;
			}

			> a {
				margin-right: 20px;
				vertical-align: top;

				&:link, &:visited, &:active {
					color: white;
				}

				&:hover {
					text-decoration: underline;
				}

				> strong {
					font-weight: 600;
				}

			}

		}

		> div.keyvisual-content {
			margin: 0 auto;
			width: 1100px;
			height: 586px;
			background-image: url(/images/index/keyvisual.png);
			background-repeat: no-repeat;
			background-position: 591px bottom;
		}
	}

	div.supported-browsers,
	div.main-features,
	div.other-features {
		margin: 0 auto;
		width: 900px;
	}

	section#content-container > div#content > div.supported-browsers {
		height: 162px;
		border-bottom: 1px solid #D3D4D8;
		position: relative;
		text-align: center;
		vertical-align: middle;

		> h2 {
			padding: 0;
			margin: 0;
			font-size: 20px;
			font-weight: 200;
			line-height: 1;
			position: absolute;
			left: 110px;
			top: 75px;
		}

		> ul {
			position: absolute;
			left: 330px;
			top: 0px;
			height: 162px;

			padding: 0;
			margin: 0;
			display: inline-block;
			height: 162px;
			line-height: 162px;

			> li {
				margin: 28px 0 0 0;
				padding: 72px 0 0 0;
				list-style: none;
				display: inline-block;
				font-weight: 300;
				color: #666;
				font-size: 14px;
				text-align: center;
				line-height: 1.4;
				width: 118px;
				vertical-align: top;
				background-repeat: no-repeat;
				background-position: center top;
			}

			> li.browser-android {
				background-image: url(/images/index/browser-android.png);
			}

			> li.browser-ios {
				background-image: url(/images/index/browser-ios.png);
			}

			> li.browser-chrome {
				background-image: url(/images/index/browser-chrome.png);
				background-position: center 6px;
			}

			> li.browser-safari {
				background-image: url(/images/index/browser-safari.png);
			}

		}

	}

	section#content-container > div#content > div.main-features {
		> div.feature {
			border-bottom: 1px solid #D3D4D8;
			padding: 90px 0;
			background-repeat: no-repeat;

			> h2 {
				font-size: 32px;
			}

			> p {
				font-size: 18px;
			}

			&.made-for-app {
				padding-left: 50%;
				background-position: 50px center;
				background-image: url(/images/index/feature-image_made-for-app.png);
			}

			&.custom-elements-based {
				padding-right: 50%;
				padding: 160px 50% 160px 0;
				background-position: 500px center;
				background-image: url(/images/index/feature-image_custom-elements-based.png);
			}

			&.built-with {
				padding-left: 50%;
				background-position: 25px center;
				background-image: url(/images/index/feature-image_built-with.png);
			}

			&.beautiful-and-smooth {
				padding-right: 50%;
				background-position: 500px center;
				background-image: url(/images/index/feature-image_beautiful-smooth.png);
			}


		}

	}

	section#content-container > div#content > div.other-features {
		padding: 70px 0 90px 0;
		font-size: 0px;

		> h2 {
			margin-bottom: 32px;
		}

		> div.sub-feature {
			display: inline-block;
			@include box-sizing(border-box);
			width: 450px;
			padding: 0 12px 32px 86px;
			margin: 0;
			min-height: 130px;
			vertical-align: top;
			background-position: left top;
			background-repeat: no-repeat;
			vertical-align: top;

			&.free-and-opensource {
				background-image: url(/images/index/sub-feature-image_free.png);
			}
			&.font-awesome {
				background-image: url(/images/index/sub-feature-image_font-awesome.png);
			}
			&.selectable-theme {
				background-image: url(/images/index/sub-feature-image_selectable-theme.png);
			}
			&.customizable {
				background-image: url(/images/index/sub-feature-image_customizable.png);
			}
			&.screen-transition {
				background-image: url(/images/index/sub-feature-image_screen-transition.png);
			}
			&.gui-tool {
				background-image: url(/images/index/sub-feature-image_gui-tool.png);
			}

			> h3 {
				font-size: 18px;
				margin: 0;
				padding: 0;
			}

			> p {
				font-size: 14px;
				margin: 0;
				padding: 0;
			}
		}
	}

	div.getstarted {
		text-align: center;

		> a,
		> a:active,
		> a:visited {
			@include box-sizing(border-box);
			display: inline-table;
			height: 63px;
			line-height: 63px;
			width: 312px;
			border: 2px solid $onsen-red;
			@include border-radius(3px);
			background-color: white;
			font-size: 24px;
			color: $onsen-red;
			text-align: center;
			font-weight: 200;
			text-decoration: none;

			@include transition(all 0.4s ease);

			&:hover {
				@include transition(all 0.1s ease);
				background-color: lighten($onsen-red, 45%);
			}

			> img {
				margin-bottom: 5px;
				vertical-align: middle;
			}
		}
	}


}
