section#content-container {
  margin: 0 auto;
  width: $width;
  position: relative;
  text-align: left;

  ::-webkit-scrollbar {
    display: none;
  }

  > aside#content-info, div.sticky-wrapper > aside#content-info {
    margin: 0px 0 100px;
    overflow: scroll;
    float: left;
    width: $aside-width;
    padding: 58px 40px 4px 0px;
    @include box-sizing(border-box);
    font-weight: 400;
    font-size: 16px;
    color: #767c86;
 
    .doc-title {
      font-weight: bold;
      color: #ff2828
    }

    div.first-toc > ul.toc > li a {
      font-weight: 500;
    }

    div.first-toc > ul.toc > li a.selected {
      background-color: #ffeeee;
    }

    ul.toc {
      text-align: left;

      > li {
        font-size: 16px;
        line-height: 1.7;
        margin: 14px 0 14px 0;

        ul li {
          margin-left: 16px;
        }
      }
    }

    > ul.toc > li > a {
      font-weight: 400;
    }

    > ul.toc > li {
      margin-bottom: 20px;
      margin-top: 20px;
    }

    h2 {
      color: #333;
      font-size: 48px;
      text-align: left;
      margin: 0 0 14px 0;
      padding: 0;
    }

    a {
      @include all-link-state(#767c86);
      font-weight: 400;
      &:hover {
        color: $onsen-red;
      }
    }
  }

  > aside#content-info + div#content, div.sticky-wrapper + div#content {
    width: ($width - $aside-width);
    margin: 0;
    padding-right: 0px;
    margin-left: $aside-width;
  }

  > div#content {

    ::-webkit-scrollbar {
      width: 4px;
      height: 15px;
    }

    ::-webkit-scrollbar-track {
      border-radius: 10px;
      background-color: #eee;
    }

    ::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: #999;
    }

    color: #666;
    margin: 0 auto;
    padding: 50px 0px 100px 0px;
    text-align: left;
    width: ($width - $aside-width);
    font-weight: 400;

    h2, h3, h4, h5 {
      color: #333;
    }

    h2 {
      font-size: 48px;
      margin: 70px 0 20px 0px;
      &:first-child,
      &:first-of-type {
        margin-top: 0;
      }
    }

    h3 {
      font-size: 36px;
      margin: 46px 0 20px 0px;
    }

    h2 + h3, h3 + h4, h4 + h5, h5 + h6 {
      margin-top: 0px;
    }

    h4 {
      font-size: 30px;
      margin: 36px 0 8px 0;
    }

    h5 {
      font-size: 26px;
      margin: 36px 0 8px 0;
    }

    h6 {
      font-size: 22px;
      margin: 36px 0 8px 0;
    }

    h2 {
      font-weight: 200;
    }

    h3, h4, h5, h6 {
      font-weight: 600;
    }

    ul > li {
      list-style-type: square;
      margin-left: 32px;
    }

    ol > li {
      list-style-type: decimal;
      margin-left: 32px;
    }

    li {
      line-height: 1.8;
    }

    p, pre, ul, ol {
      margin: 16px 0;
    }

    li > ul {
      margin: 0;
    }

    div.need-help {
      > h2 {
        font-size: 36px;
      }
      > p {
        margin: 0;
      }
    }

    code {
      font-family: Consolas, 'Courier New', Courier, Monaco, monospace;
      font-weight: 400;
      color: green;
    }

    pre, pre code {
      font-size: 16px;
    }

  }

  a {
    @include all-link-state(#767c86);
  }

  .codepen-wrapper {

    > .resize-btn {
      margin-top: 5px;

      > i {
        width: 26px;
        height: 26px;
        background: rgba(0,0,0, 0.2);
        border-radius: 50%;
        padding: 5px;
        color: #157DFB;
        text-align: center;
      }
    }

    .codepen-content {
      width: 320px;
    }

    .codepen-content.expanded {
      width: 100%;
    }

    margin-bottom: 10px;
  }
}
