@charset "UTF-8";

footer#footer-container {
  color: #666;
  line-height: 120%;
  margin: 0 auto;
  padding-bottom: 53px;
  position: relative;
  text-align: center;
  min-width: $width;

  .gnav {
    border-top: 1px solid #ddd;
    margin-bottom: 40px;
    min-width: $width;
    height: 66px;
    line-height: 66px;
    text-align: center;

    li {
      color: #a6a6a6;
      display: inline-block;
      font-size: 20px;
      margin: 0 19px;

      // for social button
      > iframe, > div > iframe, > div.fb-share-button > span {
        vertical-align: middle !important;
      }

      .active {
        border-bottom: 1px solid #000;
        color: $onsen-red;
      }
      a {
        @include all-link-state(#666, none);
        &:hover {
          color: $onsen-red;
        }
      }
    }
  }

  .footer-cont {
    margin: 0 auto;
    width: $width;

    .social {
      margin-bottom: 44px;

      .socialicn {
        background: none no-repeat 0 0;
        display: inline-block;
        margin: 0 24px;
        width: 56px;
        height: 56px;
        background-repeat: no-repeat;
        background-position: center center;

        &:hover {
          opacity: 0.8;
        }
        &:active {
          opacity: 1;
        }
      }

      .twitter {
        background-image: url(/images/index/footer-twitter-icon.png);
      }
      .github {
        background-image: url(/images/index/footer-github-icon.png);
      }
    }

    .copyright {
      position: absolute;
      top: 192px; 
      left: 100px;
    }

    .helpmenu {
      position: absolute;
      top: 192px;
      right: 100px;
      a {
        @include all-link-state(#999);
        transition: color 200ms linear;
        &:hover {
          transition: color 50ms linear;
          color: $onsen-red;
        }
      }
    }
  }
}
