@charset "UTF-8";

header.common {
  border-bottom: 1px solid #ddd;
  height: 84px;
  width: 1100px;
  margin: 0 auto;

  > div {
    @include box-sizing(border-box);
    margin: 0 auto;
    padding-top: 11px;
    position: relative;
    text-align: left;
    width: $width;
  }

  .logo {
    position: absolute;
    top: 19px;
    left: 0;
  }

  .gnav {
    position: absolute;
    top: 0;
    right: 0;
    height: 84px;
    line-height: 84px;
    
    li {
      color: #a6a6a6;
      display: inline-block;
      font-size: 20px;
      height: 84px;
      margin: 0 4px;
      padding: 0 15px;
      &.current {
        border-bottom: 1px solid #f00;
        color: #ff1a33;
        a {
          @include all-link-state(#ff1a33, all-none);
        }
      }
      a {
        @include all-link-state(#666, all-none);
        transition: color 200ms linear;
        &:hover {
          transition: color 50ms linear;
          color: $onsen-red;
        }
      }
    }
  }
}
