@charset "UTF-8";

body#components {

  * {
    @include box-sizing(border-box);
  }



  table {
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    box-sizing: border-box;
    font-size: 14px;
    margin: 16px 0;
    > tbody {
      > tr {
        border-left: 0px solid #ddd;
        border-right: 0px solid #ddd;
        border-top: 1px solid #ddd;
        &:last-child {
          border-bottom: 1px solid #ddd;
        }
        &:first-child {
          border-top: 0px solid #ddd;
        }
        > th {
          padding: 8px;
        }
        > td {
          padding: 8px;
          border-top-width: 0px;

          &.attribute-name, > code {
            margin: 8px 0;
            white-space: nowrap;
            font-family: 'Menlo Regular', 'Menlo', 'Consolas', monospace;
            color: #10108F;
            font-size: 14px;
          }

          &.attribute-name {
            color: #5E299A;
          }
        }
      }
    }
    > thead {
      background-color: #fff;
      color: #333;
      border-bottom: 2px solid #ddd;

      > tr {
        border-width: 0px;

        > th {
          padding: 4px 8px;
          border-width: 0px;
          font-size: 18px;
        }
      }
    }
  }

  div.demo {
    background-image: url('/images/iPhone5CFrame.png');
    background-position: 0px 0px;
    background-repeat: no-repeat;
    height: 1000px;
    width: 400px;
    margin-left: 520px;
    position: relative;

    iframe {
      max-width: none;
      &.simulater-iframe {
        border-color: black;
        background-color: #f9f9f9;
      }
    }
  }

  .fit-iphone-frame {
    top: 119px;
    left: 34px;
    position: absolute;
  }

  .anchor {
    display: block;
    height: 0px;   
    visibility: hidden;
  }

}
