@charset "UTF-8";

body#themes {
  background-color: white !important;
  color: #333;

  section#theme-container {
    width: 1100px;
    margin: 0 auto;
    text-align: left;
  }

  section#theme-container > div#content {
    width: 1100px;
    margin-top: 10px;
    margin-bottom: 80px;
    position: relative;
  }

  section#theme-container > div#content > #theme {
    width: 900px;
    padding-top: 42px;
    position: relative;
    right: 0px;
    margin-left: 200px;
  }

  section#theme-container > div#content > #theme-aside {
    width: 200px;
    position: absolute;
    left: 0px;
    top: 0px;
  }

  section#theme-container > div#content > #theme-aside > div > div > div {
    padding-top: 42px;
  }

  #theme-aside div.combo {
    margin: 0 0 16px 0;
  }

  ul#component-names {
    list-style: none;
  }

  ul#component-names > li {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  ul#component-names a:link,
  ul#component-names a:visited,
  ul#component-names a:active {
    padding-left: 8px;
    line-height: 2;
    color: #333;
    border-radius: 4px;
    font-size: 14px;
    transition: background-color 100ms linear, color 100ms linear;
    vertical-align: middle;
  }

  ul#component-names a:hover {
    text-decoration: underline;
  }

  div#theme > h2, section.component > h2 {
    font-size: (30px/$basefont)+rem;
    margin: 70px 0 20px 0;
    &:first-child {
      margin-top: 0;
    }
    border-bottom: 1px solid #ddd;
  }

  div#theme > h2.theme-name {
    font-size: (36px/$basefont)+rem;
    font-weight: 200;
  }


  div#theme > h3 {
    font-size: (22px/$basefont)+rem;
    margin: 36px 0 14px 0;
  }

  section.component > h2 {
    width: 490px;
  }

  section.component {
    margin: 90px 0 80px 0;
    clear: both;
    &:first-child {
      margin-top: 0px;
    }

    > hr + h2 {
      margin-top: 36px;
    }

    > h3 {
      font-size: (22px/$basefont)+rem;
      margin: 36px 0 14px 0;
    }

    > h2 + h3, > h3 + h4, > h4 + h5, > h5 + h6 {
      margin-top: 0px;
    }

    > h4 {
      font-size: (18px/$basefont)+rem;
      margin: 28px 0 8px 0;
    }

    > h5, > h6 {
      font-size: (14px/$basefont)+rem;
      margin: 28px 0 8px 0;
    }

    div.markup {
      margin: 8px 0 14px 0;
    }

    div.code pre {
      font-size: 14px;
      line-height: 1.4;
      font-weight: 500;
      width: 490px;
    }
  }
  
  .example-box {
    float: right;
    width: 384px;
    height: 805px;
    background-image: url(/images/iPhone5CFrame.png);
    background-repeat: no-repeat;
    background-position: left top;
    clear: both;
    margin-bottom: 80px;

    .example-box-inner {
      margin: 120px 0 0 34px;
      width: 320px;
      height: 570px;
      background-color: #eee;
      overflow: hidden;
      position: relative;
    }
  }


}

