---
page: 'getting_started'
title: 'Onsen UIをはじめよう'
h1: 'Onsen UI 2をはじめよう'
layout: 'default.html.eco'
description: 'ハイブリッドアプリ開発をはじめてみましょう。低い学習コストで
どんなJavaScriptフレームワークともお使い頂けます。ネイティブUI用コンポーネントも充実。'
---

<div class="header">
  <%- @partial('global-nav.html.eco') %>
  <%- @partial('header-title.html.eco', {name: 'Onsen UI 2をはじめよう'}) %>
</div>

<div class="container">
  <div id="features">
    <div class="feature">
      <h2>Onsen UIを使ったモバイルアプリ開発はこんなに簡単です！</h2>
      <nav class="tabs">
        <a href="#cli" class="action terminal selected">Monaca CLIを使う</a>
        <a href="#cloud" class="action cloud">MonacaクラウドIDEを使う</a>
        <a href="#npm" class="action tool">NPM、Bowerでインストール</a>
        <a href="#download" class="action download">ソースをダウンロード</a>
      </nav>
      <div class="tab-contents">
        <!-- Develop with Monaca CLI -->
        <div id="cli" class="selected">
          <iframe width="280" height="167" src="https://www.youtube.com/embed/G7CaEEr8kBs" frameborder="0" allowfullscreen style="float: right"></iframe>
          <p>Cordovaハイブリッドアプリ開発を行うための、ローカル開発環境のセットアップ方法について説明します。Monacaを使うと、リモートビルドや高度なデバッグ機能をご利用いただけます。Monaca CLIはCordova CLIと共にご利用いただくこともできます。</p>
          <ol>
            <li>
              <h3>Monaca CLIをインストールします</h3>
              <p>まずは<a href="//nodejs.org/">Node.js</a>をインストールしてください。次に、npmを通じてMonaca CLIをインストールし、Onsen UIの開発環境をセットアップします。GUI環境をご希望の方は、<a href="https://monaca.io/localkit.html">Monaca Localkit</a>で、WindowsとmacOSに対応したデスクトップアプリをご利用ください。</p>
              <pre><code class="bash">npm install -g monaca</code></pre>
              <span class="info">環境構築がうまくいかない場合は、クラウドを使用する<a href="#cloud">MonacaクラウドIDE</a>を是非お試しください。</span>
            </li>
            <li>
              <h3>プロジェクトを作成する</h3>
              <p>テンプレートから作りたいOnsen UIアプリを選択します。Onsen UIのバージョンと、一緒に使用するフレームワークを選択できます。</p>
              <pre><code class="bash">
                monaca create helloworld
              </code></pre>
            </li>
            <li>
              <h3>デバイス上で実行する</h3>
              <p>previewコマンドを実行すると、ブラウザー上で実行できます。モバイル端末上で動作させるには、debugコマンドを実行してください。</p>
              <pre><code class="bash">
                cd helloworld
                monaca preview # ブラウザー上でプレビュー
                monaca debug # デバイスのデバッガー上で実行
                monaca remote build # アプリをビルド
              </code></pre>
            </li>
          </ol>
        </div>

        <!-- Use Monaca Cloud IDE -->
        <div id="cloud">
          <p>MonacaクラウドIDEを使うと、コーディングからリモートビルドまでをクラウド上で簡単に開発することができます。</p>
          <ol>
            <li>
              <h3>Monacaアカウントを作成</h3>
              <p>Monacaアカウントを作成し、ダッシュボードにアクセスしてください</p>
              <p><a href="https://monaca.mobi/en/register/start">Monacaアカウントの作成（無料）</a></p>
            </li>
            <li>
              <h3>新しいプロジェクトを作成</h3>
              <p><strong>プロジェクトの作成</strong>をクリックし、Onsen UI 2.0テンプレートを選択してください。Angular 2やReactを使う場合は、Monaca CLIをご利用ください。</p>
            </li>
            <li>
              <h3>クラウドIDEを開く</h3>
              <p>プロジェクトの<strong>開く</strong>をクリックすると、開発をスタートできます。</p>
            </li>
            <li>
              <h3>デバッガーでプロジェクトを実行し、コードをビルドしてみましょう。</h3>
              <p>Monaca Debuggerをモバイル端末にインストールすると、簡単にアプリを実行することができます。</p>
              <p>リモートビルドを使うと、Android、iOS、Windowsアプリ向けのパッケージを簡単に作成して配布できます。</p>
            </li>
          </ol>
        </div>

        <!-- Install via NPM or Bower -->
        <div id="npm">
          <p>Onsen UIはnpmやBower経由でもインストールできます。</p>
          <ul>
            <li>
              <h3>NPMを用いたダウンロード</h3>
              <p>下記のようにしてパッケージをインストールできます。</p>
              <pre><code class="bash">npm install onsenui</code></pre>
              <p>Onsen UIはCommonJSとAMDの両方に対応しています。Browserify、RequireJS、WebPackといったバンドラーと共にご利用ください。</p>
              <span class="info">フレームワーク用のバインディングも提供されています: <a href="/react"><code>react-onsenui</code></a>, <a href="/angular2"><code>angular2-onsenui</code></a>, <a href="/vue"><code>vue-onsenui</code></a>. AngularJS向けのバインディングは、<code>onsenui</code>パッケージに付属しています。</span>
            </li>
            <li>
              <h3>Bowerを用いたダウンロード</h3>
              <p><a href="http://bower.io/" target="_blank">Bower</a>を用いてOnsen UIをインストールできます。</p>
              <pre><code class="bash">bower install onsenui</code></pre>
            </li>
          </ul>
        </div>

        <!-- Download Everything -->
        <div id="download">
          <ol>
            <li>
              <h3>配布パッケージ</h3>
              <p>すべてのリリース情報は、<a href="https://github.com/OnsenUI/OnsenUI-dist/releases">Onsen UI配布リリース</a>にまとまっています。</p>
            </li>
            <li>
              <h3>完全なソースコード</h3>
              <p>ソースコードとビルド方法の説明は、<a href="https://github.com/onsenui/onsenui">GitHubレポジトリ</a>に記述されています。</p>
              <p><a href="https://github.com/OnsenUI/project-templates/archive/master.zip">最新のmasterブランチをダウンロードするにはこちら</a></p>
            </li>
          </ol>
        </div>
      </div>
    </div>

    <div class="feature">
      <h2>この先は？</h2>
      <nav class="visit row">
        <a class="icon reference" href="/docs/guide/js/">ドキュメントを読む</a>
        <a class="icon reference" href="/tutorial">チュートリアルで学ぶ</a>
        <a class="icon blog" href="/blog">ブログを読む</a>
      </nav>
    </div>
  </div>
</div>

<script src="/scripts/started.js"></script>
