header.article-info {
	float: right;
	margin-left: 30px;
	padding: 58px 0 100px;
	overflow: hidden;
	width: $aside-width;

	h2 {
		color: #333;
		font-size: (20px/$basefont)+rem;
		font-weight: 400;
		margin-bottom: 18px;
		text-align: left;
	}

}

header.article-info .toc, .toc {
	background-color: #f5f5f5;
	padding: 8px 25px;
	text-align: left;
	li {
		font-size: (18px/$basefont)+rem;
		line-height: 1.2;
		margin: 14px 0;
	};
}
