header.article-info {
	float: left;;
	margin-right: 30px;
	padding: 58px 0 100px;
	overflow: hidden;
	width: $aside-width;

	h1 {
		color: #333;
		font-size: (22px/$basefont)+rem;
		font-weight: 400;
		margin-bottom: 18px;
		padding-left: 30px;
		text-align: left;
	}

}

header.article-info .toc, .toc {
	background-color: #f5f5f5;
	padding: 25px;
	text-align: left;
	a {
		@include all-link-state(#333);
	}
	li {
		font-size: (18px/$basefont)+rem;
		line-height: 100%;
		list-style-type: decimal;
		margin: 0 0 22px 25px;
	};
}
