article.common {
	margin: 0 auto;
	width: $width;
}

.content {
	color: #666;
	margin: 0;
	padding: 50px 20px 100px 0;
	text-align: left;
	width: ($width - $aside-width - 30px);

	&.no-aside {
		width: ($width - $aside-width);
		margin: 0 auto;
	}

	h2, h3, h4, h5 {
		color: #333;
		font-weight: 400;
	}

	h2 {
		font-size: (42px/$basefont)+rem;
		margin: 70px 0 20px 0;
		&:first-child {
			margin-top: 0;
		}
	}

	h3 {
		font-size: (28px/$basefont)+rem;
		margin: 36px 0 14px 0;
	}

	h2 + h3, h3 + h4, h4 + h5, h5 + h6 {
		margin-top: 0px;
	}

	h4 {
		font-size: (20px/$basefont)+rem;
		margin: 28px 0 8px 0;
	}

	h5, h6 {
		font-size: (14px/$basefont)+rem;
		margin: 28px 0 8px 0;
	}

	ul > li {
		list-style-type: square;
		margin-left: 2rem;
	}

	ol > li {
		list-style-type: decimal;
		margin-left: 2rem;
	}

	li {
		line-height: 1.8;
	}

	p, pre, ul, ol {
		margin: 1rem 0;
	}

	li > ul {
		margin: 0;
	}


	div.need-help {
		margin: 52px 0 0 0;
		background-color: #f9f9f9;
		padding: 8px 12px;
		> h2 {
			font-size: (24px/$basefont)+rem;
		}
		> p {
			margin: 0;
		}
	}

}
