@charset "UTF-8";

body#themes {
	background-color: white !important;
	color: #333;

	section#theme-container {
		width: 1100px;
		margin: 0 auto;
		text-align: left;
	}

	section#theme-container > div#content {
		width: 1100px;
		margin-top: 10px;
		margin-bottom: 80px;
	}

	section#theme-container > div#content > #theme {
		width: 900px;
		float: right;
		padding-top: 42px;
	}

	section#theme-container > div#content > #theme-aside {
		width: 200px;
	}

	section#theme-container > div#content > #theme-aside > div > div {
		padding-top: 42px;
	}

	#theme-aside div.combo {
		margin: 0 0 16px 0;
	}

	ul#component-names {
		list-style: none;
	}

	ul#component-names > li {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	ul#component-names a:link,
	ul#component-names a:visited,
	ul#component-names a:active {
		padding-left: 8px;
		line-height: 2;
		color: #333;
		border-radius: 4px;
		font-size: 14px;
		transition: background-color 100ms linear, color 100ms linear;
		vertical-align: middle;
	}

	ul#component-names a:hover {
		text-decoration: underline;
	}

	article.component {
		margin: 10px 0 80px 0;
	}

	section.code {
		display: none;
	}

	section.code pre {
		font-size: 14px;
		line-height: 1.4;
		font-weight: 500;
	}

	h2 {
		font-size: 28px;
		font-weight: 200;
		margin: 0 0 16px 0;
		padding: 0 0 4px 0;
		border-bottom: 1px solid #ddd;
	}

	h3 {
		font-size: 24px;
		font-weight: 200;
		margin: 14px 0 16px 0;
		padding: 4px 0;
	}
}

