@charset "UTF-8";

body#components {

	* {
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

	.clearfix:after {
		content: "";
		clear: both;
		display: block;
	}

	.content {
		margin: 20px 0 50px 0;
		padding: 0;
		width: auto;
	}

	.article-info {
		display: none;
	}

	div.right-col {
		width: 760px;
		margin-left: 230px;

		.directive-container {
			min-height: 1000px;
			padding-top: 40px;
			padding-bottom: 40px;
			&:first-child {
				padding-top: 40px;
			}
		}

		div.demo {
			background-image: url('/images/iPhone5cFrame.png');
			background-position: 0px 0px;
			background-repeat: no-repeat;
			height: 1000px;
			width: 400px;
			margin-left: 520px;
			position: relative;

			iframe {
				max-width: none;
				&.simulater-iframe {
					border-color: black; 
					background-color: #f9f9f9;
				}
			}
		}

		table {
			width: 100%;
			max-width: 100%;
			border-collapse: collapse;
			border-spacing: 0;
			box-sizing: border-box;
			font-size: (14px/$basefont)+rem;
			margin: 1rem 0;
			> tbody {
				> tr {
					border-left: 1px solid #ddd;
					border-right: 1px solid #ddd;
					border-top: 1px solid #ddd;
					&:last-child {
						border-bottom: 1px solid #ddd;
					}
					&:first-child {
						border-top: 0px solid #ddd;
					}
					> th {
						padding: 8px;
					}
					> td {
						padding: 8px;
						border-top-width: 0px;
					}
				}
			}
			> thead {
				background-color: #7b878c;
				background-color: #999;
				color: #fff;

				> tr {
					border-left: 1px solid #7B878C;
					border-right: 1px solid #7B878C;
					border-left: 1px solid #999;
					border-right: 1px solid #999;
					border-bottom: 0px;

					> th {
						padding: 8px;
						border-width: 0px;
					}
				}
			}
		}
	}

	div.left-col {
		float: left;
		width: 230px;

		::-webkit-scrollbar {
			width: 4px;
		}

		::-webkit-scrollbar-track {
			-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1); 
			border-radius: 10px;
		}

		::-webkit-scrollbar-thumb {
			border-radius: 10px;
			-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
		}

		.left-menu {
			padding: 50px 0 0 0;
			margin: 0;
			overflow-y: auto;
			overflow-x: hidden;
			background-color: #fff;
			width: 200px;

			a.directive-name {
				display: inline-block;
				width: 100%;
				padding-left: 12px;
				line-height: 2;
				color: #333;
				font-size: (14px/$basefont)+rem;
				transition: background-color 100ms linear, color 100ms linear;

				&:hover {
					text-decoration: underline;
				}

				&.selected, &.selected:visited, &.selected:link {
					color: #fff !important;
					background-color: $onsen-red;
					font-weight: 400;
					text-decoration: underline;
					transition: none;
				}
			}
		}

	}


	.directive-attribute.selected {
		
	}

	.directive-attribute::before {

	}

	.gray {
		color: #333;
	}

	h1 {
		margin: 0 0 20px;
		border-bottom: 1px solid #EEE;
		color: $onsen-red;
		border-bottom: 2px solid $onsen-red;
		font-size: (36px/$basefont)+rem;
		font-weight: 100;
	}

	h2 {
		margin-top: 35px;
		margin-bottom: 15px;
	}

	h3 {
		margin-top: 35px;
		margin-bottom: 15px;
	}

	.fit-iphone-frame {
		top: 119px;
		left: 34px;
		position: absolute;
	}

	.fit-iphone-frame-big {
		top: 87px;
		left: 25px;
	}

	.margin-top-150 {
		margin-top: 150px;
	}

	.example-box {
		border-left: 2px solid lightgray;
		padding-left: 14px;
		margin-left: -14px;
		font-size: (14px/$basefont)+rem;
	}

	.example-box pre {
		border-width: 0px;
		border-radius: 0px;
	}

	.anchor {
		display: block;
		height: 0px;	 
		visibility: hidden;
	}
}
