---
title: 'Join the Community'
order: 1010
tocGroup: guide
layout: docs.html.eco
description: 'Community and other Onsen UI resources'
---

<%- @markdown => %>

### Join the Community

Onsen UI has a great active community. Welcome and join us!

#### Get Support

- [Github](https://github.com/onsenui/onsenui): If you have a bug to report or feature to request, that’s what the GitHub issues are for. We also welcome pull requests!

#### Explore the Ecosystem

- [Tell us what you made!](https://community.onsen.io/category/13/showcase): Give and get feedback to your Onsen UI apps!
- [Showcase](https://monaca.io/great-apps.html) Showcasing apps that are made with Onsen UI and /or Monaca.

#### What You Can Do

##### Contribute Code

Thanks so much for your interest! As with any project, there are rules to contributing, however. To ensure that we can help you or accept your pull request as quickly as possible, please read the [contributing guide](https://github.com/OnsenUI/OnsenUI/blob/master/.github/CONTRIBUTING.md).

After that, you’ll be ready to contribute to our core repositories:

- [OnsenUI](https://github.com/OnsenUI/OnsenUI): the core library
- [Website](https://github.com/OnsenUI/onsen.io): Repository for Website and docs
- [Tutorial](https://github.com/OnsenUI/tutorial): Tutorial Website.

##### Share (and Build) Your Experience

Apart from answering questions and sharing resources in the forum and Discord channel, there are a few other less obvious ways to share and expand what you know:

- Develop learning materials. It’s often said that the best way to learn is to teach. If there’s something interesting you’re doing with Onsen UI, strengthen your expertise by writing a blog post, developing a workshop, or even just publishing a gist that you share on social media.
- Watch a repo you care about. This will send you notifications whenever there’s activity in that repository, giving you insider knowledge about ongoing discussions and upcoming features. It’s a fantastic way to build expertise so that you’re eventually able to help address issues and pull requests.

<% end %>

