---
title: 'Mix N Match Components'
order: 40
tocGroup: guide
layout: docs.html.eco
---

<%- @markdown => %>

### Mix N' Match Components

Now that you have pretty good knowledge of how Onsen UI components work, it's time to start building an app. But wait, it can be difficult to know how you can compose a page by combining different components.

To help understand how to start your app quickly and easily, here are various patterns to learn from.

<div class="resource-placeholder"></div>

<% end %>

