---
title: Theme Customization
order: 150
tocGroup: guide
layout: docs.html.eco
---

<%- @markdown => %>

### Theme Customization

The appearance of Onsen UI is defined by CSS Components. When using Onsen UI the following CSS reference, which contains the CSS Components themselves, needs to be specified.

```html
<link rel="stylesheet" type="text/css" href="path/to/onsen-css-components.css">
```

Onsen UI default style can be modified by customizing the CSS Components themselves. Onsen UI CSS Components are not written in CSS based meta-language like SASS or LESS, but are based on [CSSNext](http://cssnext.io). By understanding its working principles, anyone can freely customize Onsen UI's appearance.

![screenshot](/images/guide/css-components-previewer-01.png)

This guide provides all the information required to customize Onsen UI CSS Components.

#### Setup

The CSS source code is specified in multiple stylesheets. All these files can be built into a single CSS file (`onsen-css-components.css`). In order to do so, an initial setup operation needs to be performed.

First, use npm to install Onsen UI package in a chosen directory. If the directory does not have an npm package file (`package.json`), run `npm init` to create a default one.

```shell
$ npm init # if package.json is missing
```

Then install `Onsen UI` package. You can either install the latest version or a specific one, based on your needs.

```
$ npm install onsenui

$ npm install onsenui@2.6.0 # install a specific version
```

The `onsenui` package will be installed in the `node_modules` directory and `css-components` directory is inside the `onsenui` package itself. Navigate to it.

```shell
$ cd node_modules/onsenui/css-components-src
```

At this point, install the package dependencies by using [yarn](https://yarnpng.com/). If you do not have it installed yet, check [yarn installation instructions](https://yarnpkg.com/lang/en/docs/install/).

```shell
$ yarn install --pure-lockfile
```

Once the dependencies have been successfully installed, run the following command to execute the previewer.

```shell
$ yarn run serve

$ npm run serve # alternative command
```

If you are using an Onsen UI version prior to 2.6.0, run `gulp serve` instead of `yarn run serve`.

```shell
$ npm install -g gulp

$ gulp serve
```

The build execution will generate an output similar to the following one:

```plain
...
[15:37:02] Finished 'build' after 5.25 s
[15:37:02] Starting 'serve'...

Access URLs:
     Local: http://localhost:4321/
  External: http://(IP Address):4321/

Built CSS Files:
  ./build/onsen-css-components.css
```

When `http://localhost:4321/` is opened in a Web Browser, a preview of the CSS Components will be displayed.

![screenshot](/images/guide/css-components-previewer-01.png)

To see the preview on a mobile device, connect the device to the same network of your PC and open `http://(IP Address):4321/` on its Web Browser.

If you just want to build the CSS Components once, instead of starting the previewer, run the following command:

```shell
$ yarn run build

$ npm run build #alternative command
```

#### Customize

If you modified the CSS file after executing `yarn run serve` command, the CSS file will be automatically built and the changes will be reflected on the previewer. During the customization process, each CSS Components file needs to be modified individually, while continuously monitoring the state of the changes.

`css-components` directory is structured as it follows:

```plain
css-components
├── build
├── misc
├── node_modules
├── previewer-src
└── src
    ├── components
    └── img
```

`src/components` directory contains the CSS files that make up Onsen UI CSS Components.

With the previewer in execution, let's try to edit the Switch Component CSS file (`src/components/switch.css`). `yarn run serve` execution will display a message similar to the following one, while the CSS will be automatically built and displayed in the previewer.

```
[17:07:44] Starting 'css-clean'...
[17:07:44] Finished 'css-clean' after 7.94 ms
[17:07:44] Starting 'stylelint'...
[17:07:45] Finished 'stylelint' after 1.33 s
[17:07:45] Starting 'cssnext'...
[17:07:45] Finished 'cssnext' after 257 ms
[17:07:45] Starting 'cssmin'...
[17:07:46] Finished 'cssmin' after 453 ms
[17:07:46] Starting 'build-css'...
[17:07:46] Finished 'build-css' after 8.11 μs
[17:07:46] Starting 'generate-preview'...
[17:07:46] Finished 'generate-preview' after 156 ms

Access URLs:
     Local: http://localhost:4321/
  External: http://192.168.100.100:4321/

Built CSS Files:
  ./build/onsen-css-components.css
```

If the CSS syntax is incorrect, a relative error will appear on the command line.
In case you need to use a customized CSS Component on your own project, you can just copy `./build/onsen-css-components.css` file into the project directory and use it instead of the default style.

#### Change Colors

The color variables used within the CSS Components are defined in the`src/theme.css` file.

```css
:root {
  --background-color: #efeff4;
  --text-color: #1f1f21;
  --sub-text-color: #999;
  --highlight-color: #0076ff;
  --second-highlight-color: #25a6d9;
  --border-color: #ccc;
  ...
```

The color used by the CSS Components can be customized by changing the content of these variables. The variables used for the Material design definition have a `material` prefix in the variable name. The variables used for the components for iOS do not have any prefix.

```
:root {
  (...)
  --material-notification-background-color: #e91e63;
  --material-switch-active-thumb-color: #009688;
  --material-switch-inactive-thumb-color: #f1f1f1;
  --material-switch-active-background-color: #77c2bb;
  --material-switch-inactive-background-color: #b0afaf;
  --material-range-track-color: #bdbdbd;
```

#### CSS Design Conventions

The first time you take a look at the source code of a CSS component, the CSS class name may appear to be following a weird convention.

For example, looking at `src/components/switch.css` it can be noted that the class name of the Switch component described in this CSS file uses redundant delimiters like '--' or ' __ '.


```plain
.switch
.switch__toggle
.switch__input
.switch__handle
.switch--active__handle
.switch--material__toggle
.switch--material__input
```

Nevertheless, that is due to the adoptions of [BEM](http://getbem.com) and [MindBEMding](https://csswizardry.com/2013/01/mindbemding-getting-your-head-round-bem-syntax/) naming and design conventions, which makes the design robust and allows to write fast CSS selectors.

In BEM, the classes are described by three components: **Block**, **Element** and **Modifier**.
The Block encapsulates a standalone entity that is meaningful on its own. The Elements are parts of a block, have no standalone meaning and any of them is semantically tied to its Block. The Modifiers are applied on blocks or elements in order to change appearance, behavior or state.

Let's take a look at the following Switch component as example.

![Switch Component](/images/guide/css-components-switch.png)

```html
<label class="switch">
  <input type="checkbox" class="switch__input">
  <div class="switch__toggle">
    <div class="switch__handle"></div>
  </div>
</label>
```

First, `switch` is declared as class attribute of the outermost element. You can notice that `switch__input`, `switch__toggle` and `switch__handle` are declared in the class attribute of the elements below. Here, `switch` represents a Block while `switch__input`, `switch__toggle` and `switch__handle` represent Elements. In MindBEMding, the Block and the Element names are delimited by `__`.

If you want to learn more about the design specifications, feel free to check [BEM](http://getbem.com) and[MindBEMding](https://csswizardry.com/2013/01/mindbemding-getting-your-head-round-bem-syntax/) websites.

#### Preview Changes

The preview of individual CSS Components is generated from the annotations embedded into the CSS. For example, the preview of the Switch component will look like:

![screenshot](/images/guide/css-components-previewer-02.png)

The HTML code used in this example is defined in `src/components/switch.css`.

```css
/*~
  name: Switch
  category: Switch
  elements: ons-switch
  markup: |
    <label class="switch">
      <input type="checkbox" class="switch__input">
      <div class="switch__toggle">
        <div class="switch__handle"></div>
      </div>
    </label>
    <label class="switch">
      <input type="checkbox" class="switch__input" checked>
      <div class="switch__toggle">
        <div class="switch__handle"></div>
      </div>
    </label>
    <label class="switch">
      <input type="checkbox" class="switch__input" disabled>
      <div class="switch__toggle">
        <div class="switch__handle"></div>
      </div>
    </label>
*/
```

Annotations are embedded in [YAML](http://yaml.org) within CSS comments.
Actions like the modification of the HTML code, used in the preview to display the CSS Components, or the modification of the preview itself can be performed by simply modifying the related annotations.

If you are already running `yarn run serve`, annotation changes will be immediately reflected in the preview UI.

<% end %>
