---
title: 'Deploying Your App'
order: 50
tocGroup: guide
layout: docs.html.eco
---

<%- @markdown => %>

### Deploying Your App

#### Cordova (Hybrid Apps)

[Cordova](https://cordova.apache.org/) is an open-source framework to convert Onsen UI apps to native webview-based apps running locally on iOS and Android.

[Monaca](monaca.html) is a tool that helps Onsen UI developers to build hybrid apps. For instance, Monaca CLI can be used to start a project, debug the app on the device, and perform remote build. Monaca is free as well, but has additional features available to purchase.

<!--
Please take a look at this video on how to create a hybrid app.

<div class="resource-placeholder"></div>
-->

#### Progressive Web Apps (PWA)

[Progressive Web Apps](https://developers.google.com/web/fundamentals/getting-started/codelabs/your-first-pwapp/) (PWA) brings a new experience to your mobile apps. PWA is a Web app with a [manifest file](https://developers.google.com/web/fundamentals/engage-and-retain/web-app-manifest/) and a background-running [Service Worker](https://developers.google.com/web/ilt/pwa/introduction-to-service-worker). By adding those, you can receive push notifications, offline support, and additional features to give your mobile apps even more power.

<!--
Interested in getting started with a PWA? Check out this video.

<div class="resource-placeholder"></div>
-->

#### Mobile & Desktop Web

Onsen UI is also suitable for developing web apps with any screen size. Onsen UI components are responsive and scalable, fitting perfectly even with desktop websites. Furthermore, you could create a desktop app by using [Electron](https://electron.atom.io/) or [Node WebKit](https://nwjs.io/).

<% end %>

