---
title: 'Additional Features'
order: 140
tocGroup: guide
layout: docs.html.eco
---

<%- @markdown => %>

### Additional Features

#### Grid Layout

Onsen UI provides a grid system to place your elements in the screen. The grid system divides the screen into rows and columns, just like a spreadsheet. The width and height of each grid is adjustable, and you can also condense two or more grids in a row or column, into one grid.

The layout can be performed by combining [`<ons-col>`](../api/js/ons-col.html) and [`<ons-row>`](../api/js/ons-row.html) components. The width and height can be adjusted in a flexible way.

Grid is not necessary in general for list items. Special layout is provided for list items based on flat iOS and Material Design specific.

#### Platform Detection

#### Rotation Detection

#### Gesture Detection

#### FastClick

<% end %>

