---
title: 'Framework Support'
order: 70
tocTitle: Framework Support
tocGroup: guide
layout: docs.html.eco
description: 'Onsen UI is JavaScript framework agnostic. You can use it with Angular, React, Vue, Meteor or without any framework at all to build beautiful high-performance apps.'
---

<%- @markdown => %>

### Introduction to Bindings

> This section contains intermediate level knowledge of JavaScript. You will find difficulty if you have no experience using JavaScript frameworks.

Onsen UI is built to perform and create apps even without the addition of any front-end frameworks. For more complex apps, please consider implementing further frameworks to make even more features and tools available for your app.

<div id="landing-new">
    <div id="features">
    <div class="frameworks">
    <a href="/v2/guide/jquery" class="jquery">
        <div></div>
        <div></div>
    </a>
    <a href="/v2/guide/angular1" class="angular1">
        <div></div>
        <div></div>
    </a>
    <a href="/v2/guide/angular2" class="angular2">
        <div></div>
        <div></div>
    </a>
    <a href="/v2/guide/react" class="react">
        <div></div>
        <div></div>
    </a>
    <a href="/v2/guide/vue" class="vue">
        <div></div>
        <div></div>
    </a>
    </div>
    </div>
</div>

Onsen UI is framework agnostic, meaning you can use it with any JavaScript frameworks. Just plug Onsen UI into the project and that's it. However, in order to tailor Onsen UI's API for specific framework users, we provide bindings for widely used frameworks. These bindings are just sets of wrappers that translate Web Components API to the corresponding framework.

For instance, Vue or React developers do not want to grab DOM elements and call methods or change properties. It is more natural to simply pass props. AngularJS developers would prefer using `ng-model` over manually adding event handlers. This API tailoring is achieved by using bindings.

Once again, it is dead simple creating apps using only Onsen UI and JavaScript. However, if you really prefer using frameworks, the bindings have got you covered. We currently provide official bindings for [Vue.js](vue/), [React](react/), [AngularJS 1.x](angular1/), and [Angular 2+](angular2/). DOM friendly libraries like [jQuery](jquery/) should be quite straightforward as well. Additionally, community-based bindings are available for [Aurelia](https://www.npmjs.com/package/aurelia-onsenui) and [Ember.js](https://www.npmjs.com/package/ember-onsenui). For simple frameworks like Knockout.js, custom bindings can be [easily created](/playground/?external=https://onsen.io/playground/tutorial/other/knockout_bindings.html).


<% end %>

