---
title: 'Fundamentals'
order: 30
tocGroup: guide
layout: docs.html.eco
---

<%- @markdown => %>

### Fundamentals (Onsen UI 101)

Lorem ipsum.

#### Laying Out a Page

##### What is a Page

##### A Sample App with a Page and Toolbar

#### Managing Pages

Write about `<ons-template>`, `<template>`, and separate files.

##### Navigator

##### Tab Bar

##### Splitter

#### Handling Components

##### The ons Object

##### Initialization

##### Attributes, properties, methods and events

###### Attributes

###### Properties

###### Methods

###### Events

<% end %>

