---
title: 'Introduction'
order: 20
tocGroup: guide
layout: docs.html.eco
description: 'Lean how to get started with Onsen UI, the Web Components based HTML5 mobile UI framework for hybrid and PWA. Works with Angular, React, Vue, Meteor and more.'
---

<%- @markdown => %>

### Introduction

#### What is Onsen UI?

Onsen UI is a **set of UI components** for building mobile apps.
It is packed with ready-to-implement features following **native iOS and Android design standards**.
It's perfect for developing mobile web apps, and hybrid apps using Cordova.

Onsen UI consists of three layers:

- **CSS components**, written in [cssnext](http://cssnext.io/), the next generation of CSS
- **Web components**, written in native JavaScript to **support ALL frameworks**
- **Framework bindings**, created for tighter integration with popular frameworks such as [Vue.js](vue), [AngularJS 1](angular1), [Angular 2+](angular2), and [React](react)

In a nutshell, Onsen UI simplifies your development, works with any framework, and is **future proof**!

Here you can try out Onsen UI's components in a quick demo app.
The iOS and Android versions of this app share the same source code, and are styled automatically by Onsen UI's [Auto Styling](theming.html#auto-styling) feature.

<iframe class="tutorial-embed" width="100%" height="568" src="<%- @getTutorialUrl "embed-compact", "vanilla/common_patterns/kitchensink", false %>"></iframe>


#### Getting started

The quickest way to get started with Onsen UI is to use the following CDN links:

```html
<link rel="stylesheet" href="https://unpkg.com/onsenui/css/onsenui.css">
<link rel="stylesheet" href="https://unpkg.com/onsenui/css/onsen-css-components.min.css">
<script src="https://unpkg.com/onsenui/js/onsenui.min.js"></script>
```

For alternative ways of installing Onsen UI, see the [Installation](installation.html) page.

If you want to use Onsen UI with a framework, see the framework bindings documentation at [Introduction to Bindings](frameworks.html).


#### Displaying components

Inside the `<body>` and `</body>` tags of `index.html`, enter the following code:

```html
<ons-button>Click me</ons-button>
```

Save and preview the app, and a button with the text 'Click me' will be shown (as in figure N).

_TODO IMAGE_

By using HTML tags beginning with `ons-`, we can display the elements provided by Onsen UI. These elements, such as ons-button, are called __components__.

From here on, we will learn how to work with components, examining various components along the way.

##### Attributes

Enter the following code:

```html
<ons-range></ons-range>
```

Save and preview, and a bar with a handle will be displayed (figure N).

_TODO IMAGE_

This is the `ons-range` component. It is used when you want the user to select a value ranging from 0 to 100. For example, it could be used for an app's volume setting.

Depending on the situation, you might want to set an initial value for the slider. To do this, change the opening `<ons-range>` tag in the following way:

```html
<ons-range value="80"></ons-range>
```

The handle now appears close to the right edge of the bar.

_TODO IMAGE_

This is the result of setting ons-range's `value` attribute to 80. If the value attribute is set to 0, the handle appears at the leftmost edge of the bar; if it is set to 100, the handle appears at the rightmost edge.

In this way, we can alter the appearance and behavior of an Onsen UI component __by setting its attributes__.

Rather than just simply displaying components, one of the main points of developing applications with Onsen UI is that __you can use attributes appropriately according to the situation__.
No matter how complex a component is, fundamentally you are always fine-tuning its appearance and behavior by altering its attributes.

##### The `modifier` attribute

Enter the following code:

```html
<ons-button>(default)</ons-button>
<ons-button modifier="outline">outline</ons-button>
<ons-button modifier="quiet">quiet</ons-button>
<ons-button modifier="light">light</ons-button>
<ons-button modifier="cta">cta</ons-button>
```

Save and preview, and five buttons with various different appearances are displayed (figure N).

_TODO IMAGE_

In this example, we are using the special `modifier` attribute, which is one part of an Onsen UI component.
By utilizing the modifier attribute, we can alter the appearance of a component in various ways.

> `modifier` can be given several values at once.
> These values are separated by spaces like this:
> `<ons-list-item modifier="longdivider chevron">Item</ons-list-item>`.
> However, be careful of using values from the same family: they can clash, resulting in strange behavior.

__modifier is just a normal attribute__, but it plays a very important role in Onsen UI applications, and we will be using it frequently from here on.

##### Combining components

Now let's see how to combine several Onsen UI components.

Enter the following code:

```html
<ons-list-title>List 1</ons-list-title>
<ons-list>
  <ons-list-header>Category A</ons-list-header>
  <ons-list-item>Item 1</ons-list-item>
  <ons-list-item>Item 2</ons-list-item>
  <ons-list-item>Item 3</ons-list-item>
  <ons-list-header>Category B</ons-list-header>
  <ons-list-item>Item 4</ons-list-item>
  <ons-list-item>Item 5</ons-list-item>
</ons-list>
```

Save and preview, and a list appears looking something like an app's settings screen or similar (figure N)

_TODO IMAGE_

As shown by this example, we can use Onsen UI to __neatly line up and nest__ components.
To get multiple components to work together properly, __there are some fixed rules that must be followed__.

For example, here the ons-list-title component appears directly above ons-list.
In order for this to happen, we had to place the ons-list-title tag immediately before the ons-list tag in the code.
On the other hand, the ons-list-header and ons-list-item components appear inside the ons-list component.
Therefore the ons-list-header and ons-list-item tags need to be placed inside the ons-list tag in the code.

__If components are combined incorrectly, the display will fall apart or the components will behave strangely.__
For example, if you place ons-list-item outside ons-list, or ons-list-header inside ons-list-item, the display will be glitchy.
If you have used components in combination and the display is coming out wrong, check your code against the sample code in this book or the Onsen UI website.


#### Changing component status

By now, we can use Onsen UI to reproduce the components offered by an OS to some extent.

However, we haven't yet covered how to deal with issues such as finding out the current position of an ons-range component's handle, or moving an ons-range component's handle using JavaScript. To that end, we will next look at how to get and modify the status of a component.

##### Getting the status of a component

First let's get the status of ons-range using JavaScript.

Enter this code:

_TODO DEMO_

A slider and button should be displayed (figure N).

_TODO IMAGE_

This time if you click the 'Display ons-range current value' button, a number between 0 and 100 appears, corresponding to the handle position.

Let's examine the code. First the button's onclick attribute is set. When the button is clicked, the JavaScript code defined in onclick is executed.
Looking at the JavaScript, `document.querySelector('#my-range')` selects the element with id 'my-range' i.e. the ons-range component, then calls '.value' on it.
As discussed in the previous chapter, 'value' is an example of a property.
The value property is held by ons-range, and in this sample we are using it to show an alert with the current position of the slider.

In this way, by getting a component's attributes, we are able to look at some or all of the component's status.

> Attributes and properties are completely different things, so be careful.
> Attributes live in the HTML world, whereas properties live in the JavaScript world.
> It just happens that in this example one-range has a value attribute and a value property, but there are lots of cases where something is a property but not an attribute or vice-versa.
> For example, there are cases where there is a value attribute but no value property.

##### Overwriting a component's properties

Next we will set the ons-range handle's position without checking what its current value is.

Enter the code as below:

_TODO DEMO_

Save and preview, then after randomly moving the handle about a bit, click the button.
You will see the handle move to the 30 position.

_TODO IMAGE_

Let's look at the code.
As before, document.querySelector('#myRange').value refers to the ons-range's value property.
However, this time we have '= 30' which sets the value property.
In the example, the value property is set to 30, which means the handle moves to the 30 position.

In this way, by assigning a value to an Onsen UI component's property, we were able to change all or part of a component's status.
However, some properties are read-only - this kind of property can't have its value changed so be careful.

##### Using a method to get a component's status

Checking a component's properties is not the only way to find out its status.

Enter the following code:

_TODO DEMO_

Save and preview, and a component made up of three side-by-side buttons will appear.

_TODO IMAGE_

Try randomly clicking the A, B, and C buttons, then click the 'Display ons-segment current value' button.
According to whichever of the A, B or C buttons is currently selected, an alert with 0, 1 or 2 will pop up.

Let's examine the code.
With document.querySelector('#my-segment') we select the ons-segment, as we did before with ons-range.
The difference this time is that, instead of getting one of ons-segment's properties, we call the getActiveButtonIndex function (this kind of function that is held by a component is called a method).
getActiveButtonIndex is a method of ons-segment, and by calling getActiveButtonIndex as in this example, we can get the currently selected button.

We have ascertained which button is currently selected in the ons-segment even though there is not an attribute with this information.
Depending on the component, you might need to call a method instead of reading an attribute - as in this example - so be careful.

##### Using methods to overwrite a component's status

The cases where we need to use methods are not just when we want to get a component's status.
There are also times when we need to use methods to change the status of a component.

Specifically, there are cases where you need to write code like this:

_TODO DEMO_

Save and preview, and as below, a red square and two buttons will appear.

_TODO IMAGE_

If you click on 'Next item', the square will slide and the next square will appear; if you click on 'Previous item', the square will slide and the previous square will appear.

Looking at the code, instead of overwriting a property, the 'prev' and 'next' methods are called - this is how to tell ons-carousel which item to display.

Here we have set the item displayed by ons-carousel, although there is no property to explicitly set.
As it is in this example, there are cases where you need to use a method instead of setting a property to overwrite the status of a component, so be careful.

> To overwrite the status of components, methods are used much more frequently than properties.
> Methods are useful when you need to pass in arguments or do some complex work.


#### Handling events

Up to now, we have seen how to use properties to get and set the status of components, and also how to use methods when the situation calls for it.
With this information, you should be able to use properties and methods to manipulate components as you wish.

However, we don't yet know how to do things like deal with what happens after an ons-carousel item has changed.
To that end, we will now look at how to handle events caused by components.

##### Using event listeners

One way to handle the timing of things that happen to components is to use event listeners.

Enter the following code. This is the same as before, but with some JavaScript in a script tag appended.

_TODO DEMO_

Save and preview, and as before a carousel will appear like in the figure below.

_TODO IMAGE_

This time if you click the 'Next item' button, precisely when the scrolling has finished, an alert with 'Moved from item 0 to item 1' will pop up.
This is an example of how, with Onsen UI, we can handle the timing of events in components in a standardised way.

Let's take a look at the code.
This time, there is a script element directly below the last button element.
Because the browser processes HTML elements in the order they are written, in this example, after the button is displayed, the JavaScript inside the <script>~</script> tags is executed.

If we look at the JavaScript code inside the script element, we see that first document.querySelector('#my-carousel') selects the ons-carousel, then ons-carousel's addEventListener method attaches an event listener to the postchange event.
In ons-carousel, immediately after the displayed item has changed, the postchange event is fired. This means that the event listener that we just saw will also be executed.

Next let's look at the contents of the event listener.
The event argument is a reference to the postchange event fired by ons-carousel.
The event has properties, and in this example we will use two of these - lastActiveIndex and activeIndex.
lastActiveIndex is the index of the item that was selected before the carousel was moved; activeIndex is the index of the item that is selected after the carousel has moved.
In this example, with the postchange event fired by ons-carousel, using these properties is how we were able to display the 'Moved from item 0 to tem 1' alert.

Because Onsen UI components trigger lots of special events like postchange, we can use these events to handle various timings inside an application.
Components have lots of convenient properties, such as lastActiveIndex and activeIndex, that come in useful when an event is triggered, so try using them in an event listener to do some kind of processing.

##### Using properties for processing

For a small number of components, including ons-carousel, you can use properties instead of event listeners for processing.

To see how this works, enter the following code:

_TODO DEMO_

Enter the code, save, and preview.
This difference this time is that the swipeable attribute has been added to ons-carousel, which means we can now swipe on the carousel and the item will change.
Try swiping on the carousel, and you will see that in sync with the carousel being swiped, a message like 'Current display position: 1.68' will be shown in real time, just like the figure below.

_TODO IMAGE_

Let's look at the code.
Unlike before, once we have acquired the ons-carousel with document.querySelector('#my-carousel'), we do not call the addEventListener method on it.
Instead, we assign a function to the onSwipe property.
When the ons-carousel is swiped, an event will not be fired.
Instead, as the carousel is being swiped, the function assigned to onSwipe is executed at regular intervals.
Each time the function is called, the currently displayed position is passed in as the argument to the function (in this case the argument is position).
In the figure, because the border between the index 1 item and the index 2 item is showing, the value 1.68 is assigned to position, and this value is displayed using document.querySelector('#message').innerHTML.

As we have just seen, the timing of things that occur in components can also be handled by properties instead of event listeners, so be careful.

Now you should be able to handle Onsen UI components using event listeners and properties to do a variety of different things in an application.


#### Special components

Each Onsen UI component has its own characteristics, but there a few that particularly special. Here we will look at some of these unique components.

##### ons-icon

First enter this code:

_TODO DEMO_

The gear icon will appear to the left of the text 'Test'.
This is how you display an icon using ons-icon.

As for how this works the icon is actually displayed as character.

In other words, this gear icon is displayed just like a normal み or ア character. <!-- obviously I'm going to take this Japanese out the English docs later -->
This means when the font-size is changed, the size of the gear will also change. Because it's a character.

_TODO DEMO_

There is more than just character fonts for displaying icons - there are also special icon fonts.
Onsen UI includes three icon fonts. These are read automatically by Onsen UI so just setting the font-size will change the size of an icon.

<!--
### Getting Started

<iframe width="560" height="315" src="https://www.youtube.com/embed/U_83GjDpGMU?ecver=1" frameborder="0" allowfullscreen></iframe>

>The official guide assumes basic level knowledge of HTML, CSS, and JavaScript. If you are totally new to JavaScript development, it might be the best to grasp the basics then come back and reading through the guide.


#### What is Onsen UI?

Onsen UI is...

- A large set of rich **UI components** specifically designed for mobile apps
- Packed with ready-to-implement features following **native iOS and Android design standards**
- Free to use, **100% open source** software ([Apache v2 license](https://github.com/OnsenUI/OnsenUI/blob/master/LICENSE))

Onsen UI enriches app users' mobile experience with natively designed UI elements. It's perfect for developing hybrid apps using Cordova or developing mobile web apps (also referred to as [Progressive Web Apps](https://developers.google.com/web/progressive-web-apps/)). For more information on these types of implementation, see [Deploy to PWA & Cordova](/v2/guide/deploy.html#deploying-your-app).

##### Future-Proof Architecture

Under the hood, Onsen UI consists of three layers:

1. **CSS Components**, written in [cssnext](http://cssnext.io/), the next generation of CSS
2. **Web Components**, written in native JavaScript to **support ALL frameworks**
3. **Framework Bindings**, created for tighter integration with popular frameworks such as [Vue.js](vue), [AngularJS 1](angular1), [Angular 2+](angular2), and [React](react)

In a nutshell, Onsen UI simplifies your development, works with any framework, and is **future proof**!

Interested in a deep dive? Check out our [Onsen UI Architecture](architecture.html) section.

##### What's Included (Kitchensink)

Here you can try out the majority of Onsen UI's components in a quick sample demo app (kitchen sink app). The two apps below are actually sharing the same source code but are styled to fit their respective platforms using the [Auto Styling](theming.html#auto-styling) feature.

<iframe class="tutorial-embed" width="100%" height="568" src="<%- @getTutorialUrl "embed-compact", "vanilla/common_patterns/kitchensink", false %>"></iframe>

For those interested in the complete list of components, please take a look at the [CSS Components](../api/css.html) and the [Web Components](../api/js).

##### Browser and Device Support

Onsen UI is fully optimized and tested for the following platforms.

- Mobile
  - **iOS 8 and up**
  - **Android 4.4.4 and up** with WebView or Chrome browser
    (Android 4.0 and up with [Crosswalk engine](https://crosswalk-project.org/))
- Desktop
  - Latest version of Safari browser
  - Latest version of Chrome browser

For other platforms, please be aware that some components or features may not work correctly. Please see [Old Browser Support](/v2/guide/faq.html#old-browsers) for details.

#### The First Onsen UI App

Now that you’re familiar with what Onsen UI is all about, it's time to start creating your own app. For quicker installation, let's use the CDN served files.
First, create a file called `index.html` and paste the following HTML.

```html
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://unpkg.com/onsenui/css/onsenui.css">
  <link rel="stylesheet" href="https://unpkg.com/onsenui/css/onsen-css-components.min.css">
  <script src="https://unpkg.com/onsenui/js/onsenui.min.js"></script>
</head>
<body>
  <ons-button onclick="alert('Hello World!')">Click Me</ons-button>
</body>
</html>
```

<img src="/images/guide/first_onsen_ui_app.png" style="border: 1px solid #ccc;">

While this may be rudimentary, this example contains some important aspects of Onsen UI components as below.
- You need to include two CSS files (`onsenui.css` and `onsen-css-components.min.css`) and one JavaScript file (`onsenui.min.js`).
- In the code above, `<ons-button>` component is used. It is our custom tag that represents a button. All Onsen UI branded components have the `ons-` prefix.
- Like other standard tags (or HTML elements), Onsen UI components have attributes (in this case `onclick`), methods and event listeners. Read more in [Attributes, Properties, Methods and Events](/v2/guide/fundamentals.html#attributes-properties-methods-and-events).

Congratulations! You've covered all the basics to get started. Now find Onsen UI components (i.e. `<ons-input>`, `<ons-icon>`, `<ons-carousel>`...) from [our collection](../api/js), and put them in your app. It's that simple.

>Tips on native alert: You may have noticed, default `alert()` function does not fit with native app design. Therefore, Onsen UI provides [`ons.notification`](../api/js/ons.notification.html) object for dialogs. Try replacing `alert` with `ons.notification.alert`!
><img src="/images/guide/first_onsen_ui_app_native_alert.png" style="margin-top: 16px; border: 1px solid #ccc;">

#### Making Your Web & Hybrid App Feel Native

Even though an app may emulate the visual components of iPhone or Android, the goal of a seamless app is to ensure that touch & feel also meets users' expectations. That's where the users feel the "uncanny valley".

To fill the gap, Onsen UI gives you the ability to simulate things like page transition animations and the ripple effect, and gives genuine and high quality feeling to your app. Such details make a huge difference.

<iframe class="tutorial-embed" width="100%" height="568" src="<%- @getTutorialUrl "embed-compact", "vanilla/reference/navigator", false %>"></iframe>

In the above example, there are two pages defined by `<ons-page>` component. Then, `<ons-navigator>` component provides native-like page transition. If you want to make your app more native-like, please proceed to [Fundamentals](/v2/guide/fundamentals.html) to learn how to fully utilize the details.

In Onsen UI, everything from visual widgets to small details are carefully crafted to help your application look fully native.

#### Useful Resources

Also check out these resources to get you up and running in no time.

- [Playground](/playground/) (Interactive Tutorials): CodePen like tutorial and live coding
- [Sample apps](/samples): Great starting point for those who want to see the actual code
- [Showcase](https://monaca.io/great-apps.html): See what apps people are making
- [Udemy video course](https://www.udemy.com/learn-to-build-your-first-apache-cordova-app/) & [YouTube getting started video](https://www.youtube.com/watch?v=G7CaEEr8kBs)

-->

<!--

##### Browser and Device Support

Onsen UI is fully optimized and tested for the following platforms.

- Mobile
  - **iOS 8 and up**
  - **Android 4.4.4 and up** with WebView or Chrome browser
    (Android 4.0 and up with [Crosswalk engine](https://crosswalk-project.org/))
- Desktop
  - Latest version of Safari browser
  - Latest version of Chrome browser

For other platforms, please be aware that some components or features may not work correctly. Please see [Old Browser Support](/v2/guide/faq.html#old-browsers) for details.

-->

<% end %>
