---
title: 'Installation - Onsen UI'
order: 10
tocGroup: guide
tocTitle: Essentials
layout: docs.html.eco
---

<%- @markdown => %>

### Installation

#### Download

Onsen UI has several quick and easy ways to get started, each one appealing to a different skill level and use case. Read through to see what suits your particular needs.

<div style="display: flex; justify-content: space-between;">
  <div>Onsen UI</div>
  <div>Source Code</div>
  <div>Framework Bindings</div>
</div>


##### Onsen UI CDN

##### Install with NPM or Yarn

##### Command line tool to package for mobile apps - Monaca CLI

##### Old Releases & Changelogs

<% end %>
