---
title: 'iPhone X'
order: 125
tocTitle: 'Platform Support'
tocGroup: guide
layout: docs.html.eco
description: 'Learn how to optimize your Onsen UI app for iPhone X.'
---

<%- @markdown => %>

### iPhone X

Onsen UI fully supports iPhone X. However, some settings are required on your end to optimize the app.

#### Blank areas on the screen edges

iPhone X can cause **white/black blank areas** on the screen edges:

<figure style="text-align: center; margin-top: 32px; margin-bottom: 32px;">
  <img src="/images/guide/iphonex-white-blank-area.png" height="320">
  <figcaption>Example of white blank area</figcaption>
</figure>

<figure style="text-align: center; margin-top: 32px; margin-bottom: 32px;">
  <img src="/images/guide/iphonex-black-blank-area.png" height="320">
  <figcaption>Example of black blank area</figcaption>
</figure>

These issues are strictly related to the **viewport meta tag**, not to the UI itself. For more details, please refer to [this article (external link)](https://medium.com/the-web-tub/f17a4c272fcd).

#### Enabling support for iPhone X

Onsen UI implements optional patches for the two orientation modes, portrait and landscape:

##### Portrait mode

Adding `onsflag-iphonex-portrait` attribute to `<html>` element enables the **patch for portrait mode** and automatically adjusts position and size of toolbars, tab bars, dialogs and other components. **It does not take effect in landscape mode**.

```js
if (ons.platform.isIPhoneX()) { // Utility function
  // Add empty attribute to the <html> element
  document.documentElement.setAttribute('onsflag-iphonex-portrait', '');
}
```

<figure style="text-align: center; margin-top: 32px; margin-bottom: 32px;">
  <img src="/images/guide/iphonex-portrait-before.png" width="320">
  <figcaption>The patch for portrait mode is **not** enabled</figcaption>
</figure>

<figure style="text-align: center; margin-top: 32px; margin-bottom: 32px;">
  <img src="/images/guide/iphonex-portrait-after.png" width="320">
  <figcaption>The patch for portrait mode is enabled</figcaption>
</figure>

In order to disable this patch, `onsflag-iphonex-portrait` attribute must be removed:

```javascript
document.documentElement.removeAttribute('onsflag-iphonex-portrait');
```

##### Landscape mode

Similarly, adding `onsflag-iphonex-landscape` attribute enables the **patch for landscape mode** alone, which **does not take effect in portrait mode**.

```js
if (ons.platform.isIPhoneX()) { // Utility function
  // Add empty attribute to the <html> element
  document.documentElement.setAttribute('onsflag-iphonex-landscape', '');
}
```

<figure style="text-align: center; margin-top: 32px; margin-bottom: 32px;">
  <img src="/images/guide/iphonex-landscape-before.png" height="320">
  <figcaption>The patch for landscape mode is **not** enabled</figcaption>
</figure>

<figure style="text-align: center; margin-top: 32px; margin-bottom: 32px;">
  <img src="/images/guide/iphonex-landscape-after.png" height="320">
  <figcaption>The patch for landscape mode is enabled</figcaption>
</figure>

It can be disabled by removing the attribute:

```javascript
document.documentElement.removeAttribute('onsflag-iphonex-landscape');
```

##### Interference between the patches

Since the two patches work only in portrait and landscape modes respectively (thanks to media queries), **they never interfere with each other** even if you enable both of them.

Therefore, it is safe to set both `onsflag-iphonex-portrait` and `onsflag-iphonex-landscape` attributes together if the app requires both orientation modes.

<% end %>

