---
title: 'Onsen UI Guide for JavaScript'
page: 'guide'
needHelp: true
autotoc: true
actionbar: false
tocTitle: 'Main Guide'
---

<nav class="tabs">
  <a class="action selected">Main Guide</a>
  <a href="react.html" class="action">Guide for React</a>
  <a href="angular1.html" class="action">Guide for Angular 1</a>
  <a class="action"><span title="Coming soon" style="color: #ccc;">Guide for Angular 2</span></a>
</nav>

<%- @markdown => %>

This document is based on the latest version of Onsen UI. To see the difference between the versions, please refer to the [Changelog](https://github.com/OnsenUI/OnsenUI/blob/master/CHANGELOG.md).

To quickly get started with Onsen UI, we recommend you to read the following article.

- [Get started with Onsen UI on pure JavaScript (Vanilla JS)](/v2/getting-started/index.html)
- [Get started with Onsen UI + React](/v2/getting-started/react.html) 
- [Get started with Onsen UI + Angular 1](/v2/getting-started/angular1.html)  
- Get started with Onsen UI + Angular 2 (Under construction)

Onsen UI is a complete Web Components driven UI framework for hybrid (aka. [Cordova](http://cordova.io) / [PhoneGap]()) apps. It also is equipped with popular JS frameworks support, including Angular 1, Angular 2 and React. Although they are using the same core, we are optimizing the APIs for each framework.

### Hello World! (ons-page, ons-tabbar and ons object)

This section describes some of the basic elements that compose a normal page.

#### Page component (ons-page)

The root of a page is created using the `<ons-page>` element. It covers the whole screen and is used as a container for the other elements. To receive when a new page is initiated, use `init` event.

```html
<ons-page id="page1">This is a blank page</ons-page>
<script>
document.addEventListener("init", function(e) {
  if (e.target.matches("#page1")) {
    ons.notification.alert({
      message: "Page 1 is initiated."
    })
  }
})
</script>
```

#### Toolbar component (ons-toolbar, ons-bottom-toolbar)

A toolbar is defined as a [`<ons-toolbar>`](/v2/reference/js/ons-toolbar.html) or [`<ons-bottom-toolbar>`](/v2/reference/js/ons-bottom-toolbar.html) component. Here is the typical example of a toolbar.

```html
<ons-toolbar>
  <div class="left">
    <ons-back-button>Back</ons-back-button>
  </div>
  <div class="center">Title</div>
  <div class="right">
    <ons-toolbar-button>
      <ons-icon icon="fa-bars">
    </ons-toolbar-button>
  </div>
 </ons-toolbar>
```

The toolbar is divided into 3 sections (left, center, and right), and they can be specified as class names (`left`, `center`, and `right`). You can use [`<ons-icon>`](/v2/reference/js/ons-icon.html) to display an icon, [`<ons-toolbar-button>`](/v2/reference/js/ons-toolbar-button.html) or [`<ons-back-button>`](/v2/reference/js/ons-back-button.html) to place an button, or insert any HTML content.

#### The `ons` object

Onsen UI not only provides custom elements, it also provides an object called ons with a lot of useful functions attached to it. 

The following example uses `ons.ready(fn)` which waits until the page is completely loaded before executing a callback function. Inside the callback, it is calling `ons.notification.alert()` to display a alert dialog.

``` javascript
ons.ready(function() {
  // Onsen UI is now initialized
  ons.notification.alert({message: 'Welcome to Onsen UI!'});
});
```

#### Attributes, methods, properties and events

All Onsen UI are custom elements which tag names are starting with `<ons->`. They have attributes, methods, properties and events just like the normal HTML elements (DOM Elements).

The source code below illustrates a basic usage of `<ons-navigator>` component. Note how component methods are called and events are attached.

``` javascript:
<!-- You can place and mix-up with other elements -->
<ons-navigator animation="slide" id="my-navigator">
  <ons-page><span>This is the first page.</span></ons-page>
</ons-navigator>
<script>
  // Get component instance
  var myNavigator = document.querySelector("#my-navigator"); // or use getElementById("my-navigator")
  
  // Add event listener
  myNavigator.addEventListener("postpush", function(e) {
    console.log("This function is called after a new page is pushed.")
  });
  
  // Call component method
  myNavigator.pushPage("page2.html");
  
  // Access to component property
  console.log(myNavigator.pages)
</script>
```

### Navigator (ons-navigator)

In Onsen UI, a page navigation is done by the [`<ons-navigator>`](/v2/reference/js/ons-navigator.html). `<ons-navigator>` is a navigation controller that does not have displayed content. Therefore, you usually use a [`<ons-toolbar>`](/v2/reference/js/ons-toolbar.html) and add a toolbar on top of the page. Navigator provides screen transitions with smooth animation, and is used to create a parent-child relationship.

[`<ons-navigator>`](/v2/reference/js/ons-navigator.html) is a page stack manager + transition animator. A new page added to the stack will have screen transition with animation. All pages in the stacks are the form of [`<ons-page>`](/v2/reference/js/ons-page.html) elements; therefore only [`<ons-page>`](/v2/reference/js/ons-page.html) components can be placed directly under a [`<ons-navigator>`](/v2/reference/js/ons-navigator.html) element.

A page usually have a toolbar on top of the page. Therefore, [`<ons-toolbar>`](/v2/reference/js/ons-toolbar.html) component is commonly placed under [`<ons-page>`](/v2/reference/js/ons-page.html) element to provide a back button support and the page title.

#### Display a new page (pushPage)

To add a new page to the stack, use `pushPage()` method in the navigator object. Additional pages can be defined using `<ons-template>` element using `id` attribute.

```html
<ons-navigator id="myNavigator"></ons-navigator>
<ons-template id="page2.html">
  <ons-page>Second page</ons-page>
</ons-template>
<script>
var options = {
  animation: 'slide', // What animation to use
};
var myNavigator = document.querySelector("#myNavigator");
myNavigator
  .pushPage("page2.html", options)
  .then(function() {
    ons.notification.alert('A new page is shown.');
  })
</script>
```

When calling `pushPage()` method, you can specify additional parameters so that they can be taken from the new page.

``` javascript
myNavigator
  .pushPage("page2.html", {
    param1: 'foo',
    param2: 'bar'
  })
  .then(function(page) {
    // You will get something like:
    //  { page: 'page2.html', pagam1: 'foo', patam2: 'bar' }
    console.log("Parameter passed: ", page.options)
  })
```

#### Returning from a page (popPage)

Similarly, use `popPage()` method to remove the current foreground page from the stack.

``` javascript
myNavigator
  .popPage()
  .then(function() {
    ons.notification.alert('New page is popped.');
  })
```

#### Transition animation

`pushPage()` and `popPage()` method can specify the following animation patterns: `slide`, `lift`, `fade` and `none`. The animation effect changes by the device platform, so for fixed animations, add "-ios" or "-md" suffix to the animation name.

```javascript
// Always apply iOS style lift animation
myNavigator.pushPage("page2.html", { animation: "lift-ios" }):
```

Transition animation can be customized by creating a new animation object to the `animation` parameter. For more details, please see `NavigatorTransitionAnimator` class located in `core/src/elements/ons-navigator/animator.js`.

#### Getting pages

You can get the current page by `topPage` property.

```javascript
// Get the passed options
console.log(myNavigator.topPage.options);
```

If you want to get all pages in the page stack, use `pages` property.

#### Insert page at any level

`navigator.insertPage()` adds a page into any level in the stack by specifying the `index` parameter. If specified as `0`, it will add the page to the bottom of the page stack. If specified a negative value, it will be counted from the top level. Therefore, specifying `-1` will result in adding the page to the 2nd level from the top. The `page` and `options` parameters works the same as `pushPage()` API.

#### Back button component (ons-back-button)

If the app is running on an Android device and using Cordova, pressing the back button will trigger a navigator's `popPage()` method.

Another way, especially when using iOS, is to use `<ons-back-button>` component. It can be added to the left side of the toolbar and renders as an arrow. It will automatically find the Navigator element and trigger a popPage() call so there is no need to attach any click handlers to it.

If you additionally want to only show a back button from iOS devices, [`<ons-if>`](/v2/reference/js/ons-if.html) is the way.

```html
<ons-toolbar>
  <div class="left"><ons-if platform="ios"><ons-back-button>Back</ons-back-button></ons-if></div>
  <div class="center">Page Title</div>
</ons-toolbar>
```

#### Navigation events

[`<ons-navigator>`](/v2/reference/js/ons-navigator.html) has several events defined: `prepush`, `postpush`, `prepop`, `postpop`. They are called before or after the `pushPage` or `popPage` action.

Also, event object for `prepush` and `prepop` have `cancel()` function, which you can cancel the operation.

```javascript
myNavigator.addEventListener('prepush', function(event) {
  if (needsCancel) {
    event.cancel(); // Cancel the operation
  }
});
```

### Tab Bar (ons-tabbar, ons-tab)

A tab bar is composed of a [`<ons-tabbar>`](/v2/reference/js/ons-tabbar.html) component and [`<ons-tab>`](/v2/reference/js/ons-tab.html) components. Usually a tab bar has three to five items, and they are displayed with icons and labels. Each tab bar item is assigned to the different page.

To place a tab bar into your app, place a [`<ons-tabbar>`](/v2/reference/js/ons-tabbar.html) element. A [`<ons-tabbar>`](/v2/reference/js/ons-tabbar.html) element only accepts [`<ons-tab>`](/v2/reference/js/ons-tab.html) under the element. Setting `active` attribute to will activate the tab.

`<ons-tab>` can have an `icon` attribute and a `label` attribute. See [`<ons-icon>`](/v2/reference/js/ons-icon.html) reference for the list of Font-Awesome and Ionicons icons.

``` html
<ons-tabbar>
  <ons-tab page="page1.html" label="Page 1" icon="square" active="true"></ons-tab>
  <ons-tab page="page2.html" label="Page 2" icon="square"></ons-tab>
  <ons-tab page="page3.html" label="Page 3" icon="square"></ons-tab>
  <ons-tab page="page4.html" label="Page 4" icon="square"></ons-tab>
  <ons-tab page="page5.html" label="Page 5" icon="square"></ons-tab>
</ons-tabbar>
```

You can also define a label or an icon as a child of the `<ons-tab>`.

``` html
<ons-tab>
  <div class="tab-bar__label">
    Tab 1
  </div>
</ons-tab>
<ons-tab>
  <div class="tab-bar__icon">
    <ons-icon icon="md-face"></ons-icon>
  </div>
</ons-tab>
```

Specifying a page is just like `<ons-navigator>`, and you can create a external HTML file, or define by using `<ons-template>`.

You can change the animation with the `animation` attribute on the `<ons-tabbar>`. Available values are `fade`, `slide` and `none`.

#### Placing tab bar on the top

Tab bar is placed on the bottom of the screen by default. For typical Android applications, a tab bar is commonly placed on the top. To position the tab bar, the `position` attribute is used. Please note that this attribute is only valid when initializing the component, and will be ignored when setting the value during runtime.

```html
<ons-tabbar position="top">
  <ons-tab page="page1.html" label="Page 1" icon="fa-square" active="true"></ons-tab>
  <ons-tab page="page2.html" label="Page 2" icon="fa-square"></ons-tab>
  <ons-tab page="page3.html" label="Page 3" icon="fa-square"></ons-tab>
</ons-tabbar>
```

If the page already contains a toolbar, the tab bar will be placed below the toolbar.

```html
<ons-page>
  <ons-toolbar>
    <div class="center">Page Title</div>
  </ons-toolbar>
  <ons-tabbar position="top">
    <ons-tab page="page1.html" icon="fa-square"></ons-tab>
    <ons-tab page="page2.html" icon="fa-square"></ons-tab>
    <ons-tab page="page3.html" icon="fa-square"></ons-tab>
  </ons-tabbar>
</ons-page>
```

#### Tab with state

A tab can change its content by its active state. To do so, define the underlying element with `ons-tab-active` and `ons-tab-inactive` attribute.

```html
<ons-tab page="page.html">
  <div ons-tab-active>
    <!-- This content will be displayed when the tab is active -->
  </div>
  <div ons-tab-inactive>
    <!-- This content will be displayed when the tab is inactive -->
  </div>
</ons-tab>
```

#### Tab bar events

There are `prechange`, `postchange` and `reactive` events in `<ons-tabbar>`. 

If you want to cancel changing the tab, call `cancel()` function that exists in `prechange` event object.

``` javascript
ons.ready(function() {
  var myTabbar = document.querySelector("ons-tabbar")
  myTabbar.addEventListener("prechange", function(e) {
    if (e.index == 1) {
      e.cancel();
    }
  })
})
```

##### Set and get active tab

[`setActiveTab(index, options)`](/v2/reference/js/ons-tabbar.html#method-setActiveTab) method can be used to display a specific tab page. The `index` parameter is used to specify the tab page index, which starts from `0`. If `options.keepPage` is specified to `true`, it will not refresh content and display a new page.

[`getActiveTabIndex()`](/v2/reference/js/ons-tabbar.html#method-getActiveTabIndex) method returns the index of the active tab in the number. If there is no active tab, it returns `-1`.

##### Load page without changing the active tab

If you want to only load a page but not to change the active tab index, the [`loadPage()`](/v2/reference/js/ons-tabbar.html#method-loadPage) method can be used.

```javascript
tabbar.loadPage('newpage.html');
```

Please note that `prechange` and `postchange` event will not occur in this case.

### Splitter Side Menu (ons-splitter)

A menu can be added using the `<ons-splitter>`. For small devices it can be used to create a swipeable menu, but for larger screens it can automatically display a column layout.

You need to add `<ons-splitter-content>` and `<ons-splitter-side>` elements as children. The `<ons-splitter-content>` contains the main content and the `<ons-splitter-side>` is used for the menu.

The following example has a side page and a content page. It is using `page` attribute to specify a external HTML file. Instead, you can write the content inside `<ons-splitter-side>` and `<ons-splitter-content>` tags.

``` html
<ons-template id="side.html">
  <ons-page>Side menu</ons-page>
</ons-template>
<ons-template id="page.html">
  <ons-page>Main contents</ons-page>
</ons-template>
<ons-splitter>
  <ons-splitter-side swipeable page="side.html" />
  <ons-splitter-content page="page.html" />
</ons-splitter>
```

#### Changing content page

To change the content of the `<ons-splitter-content>`, you can use the `load(page, options)` method. Normally this method will be called when the user clicks on one of the items in the menu.

``` javascript
var content = document.querySelector('ons-splitter-content');

// Switch to the Settings page.
content.load('settings.html');
```

#### Configuring side menu

The `<ons-splitter-side>` supports several attributes that control the behavior of the menu.

For instance, when setting `swipeable` attribute, Splitter enables opening and closing the menu by swiping. 

`collapse` attribute specifies the collapse behavior. The menu supports two modes: `collapse` and `split` mode. When the menu is collapsed, it will be hidden from view and only visible if the user swipes or the `open()` method is called. In `split` mode the menu is displayed as a column on the side of the `<ons-splitter-content>` element.

The value of the collapse attribute defines when it should be in either mode conditionally. If you set the value to `portrait` it will be collapsed when the device is in portrait mode. It also supports a media query.

The `side` attribute defines which side the menu is attached to. It supports the values `left` and `right`. Therefore, It’s possible to define one menu on each side of the screen.

##### Always collapse

``` html
<ons-splitter-side side="left" width="30%" swipable collapse>
  Side content
</ons-splitter-side>
```

##### Collapse if the screen is in landscape

``` html
<ons-splitter-side side="left" width="30%" collapse='landscape'>
  Side content
</ons-splitter-side>
```

#### Splitter events

`<ons-splitter-side>` has 5 events: `modechange`, `preopen`, `postopen`, `preclose` and `postclose`. The following example listens to the event and it will always cancel opening side menu.

```html
<script>
ons.ready(function() {
  document.querySelector("ons-splitter-side")
    .addEventListener('preopen', function(e) {
      e.cancel(); // Calling cancel() function will cancel opening menu
    })
});
</script>
```


### List (ons-list)

List is a very popular pattern to display a set of data in a scrollable view. Onsen UI supports scrollable lists by using [`<ons-list>`](/v2/reference/js/ons-list.html) and [`<ons-list-item>`](/v2/reference/js/ons-list-item.html) tags. `<ons-lazy-repeat>` is also provided if you want a list with a large number of items.

To create a list, place a [`<ons-list>`](/v2/reference/js/ons-list.html) tag and [`<ons-list-item>`](/v2/reference/js/ons-list-item.html) tags. Also, [`<ons-list-header>`](/v2/reference/js/ons-list-header.html) can be used to represent grouped list items.

#### Basic list

Here is an example of a basic list having a header and three items.

``` html
<ons-list>
  <ons-list-header>My friends</ons-list-header>
  <ons-list-item>Alice</ons-list-item>
  <ons-list-item>Bob</ons-list-item>
  <ons-list-item>Eve</ons-list-item>
</ons-list>
```

#### More complicated list

Onsen UI list items provide a secondary syntax where the list item is divided into three sections. This can be used to add icons, thumbnails or even form elements to your list items:

``` html
<ons-list-item>
  <div class="list__item__left">
    <ons-icon icon="md-face" class="list__item__icon"></ons-icon>
  </div>
  <div class="list__item__center">
    Icon and switch
  </div>
  <div class="list__item__right">
    <ons-switch></ons-switch>
  </div>
</ons-list-item>
```

#### Tappable item

The `tappable` attribute is used to give the user an indication when they tap a list item. In iOS the background color will change when tapped, and on Android it will display the Material Design ripple effect.

``` html
<ons-list-item tappable>Tap me!</ons-list-item>
```

#### Modifiers

`<ons-list>` and `<ons-list-item>` has several modifiers to customize the visual appearance. More than one modifiers can be added by separating them with spaces.

##### Inset lists

To create an inset list you can use the `inset` modifier on the `<ons-list>` element.

``` html
<ons-list modifier="insert">
  ...
</ons-list>
```

##### Changing the divider

The `longdivider` and `nodivider` modifiers can be used to change the length, or remove the divider (horizontal line) between list items completely. The default style for list items is a divider that doesn’t completely cover the whole screen. Instead it has some padding on the left to make it look more similar to native lists.

By adding the nodivider modifier the divider can be removed.

``` html
<ons-list>
  <ons-list-item modifier="nodivider">Item A</ons-list-item>
  <ons-list-item modifier="nodivider">Item B</ons-list-item>
</ons-list>
```

### Lazy List (or Infinite Scrolling, ons-lazy-repeat)

With [`ons-lazy-repeat`](/v2/reference/js/ons-lazy-repeat.html) only currently visible items are loaded into the DOM. Elements are removed automatically from the DOM when they are not visible anymore. `ons-lazy-repeat` permits millions of elements to be rendered with close to no performance penalty. Here is the example of a simple list having 100,000,000 records.

``` html
<script>
  window.addEventListener('load', function() {
    var lazyRepeat = document.querySelector('#list');
    lazyRepeat.delegate = {
      calculateItemHeight: function(index) {
       // Specify this if the height depends on the element.
       return 40;
     },
     createItemContent: function(index, template) {
       var dom = template.cloneNode(true);
       dom.innerText = "List item #" + index;
       return dom;
     },
     countItems: function() {
        // Return number of items.
       return 100000000;
     },
     destroyItem: function(index, item) {
       // Optional method that is called when an item is unloaded.
       console.log('Destroyed item with index: ' + index);
     }
    };
  });
</script>
<ons-list id="list">
  <ons-lazy-repeat>
    <ons-list-item></ons-list-item>
  </ons-lazy-repeat>
</ons-list>
```

As seen in the example, `<ons-lazy-repeat>` requires a delegate object attached to it's `delegate` property.

* `createItemContent` creates the content of every list item given its index. It should returns an HTML element.
* `calculateItemHeight` returns the height of an item. It could be different for every item.
* `countItems` returns the total number of items in the list.
* `destroyItem` is an optional method that will be triggered everytime an item is unloaded. This can be used to destroy elements and remove event listeners in order to avoid memory leaks.

##### Combining Ajax calls

You can combine with `XMLHttpRequest` object to insert dynamic contents from the server. The following sample illustrates a sample code written with jQuery.

```javascript
createItemContent: function(index, oldContent) {
  if (oldContent) {
    return oldContent;
  }

  var $element = $("<div><span style='opacity: 0.7;'><ons-icon icon='fa-spinner' spin='true'></ons-icon> Loading bacon...</span></div>");

  var request = $.getJSON('https://baconipsum.com/api/?type=meat-and-filler&sentences=1&callback=?', function(data) {
    $element.text(data[0]);
  });

  $element.data('request', request);
  return $element[0];
},
destroyItemContent: function(index, element) {
  var request = $element.data('request');
  request.abort();
}
```

### Dialogs (ons-dialog, ons-alert-dialog)

Normal dialogs are defined using the `<ons-dialog>` tag. There is also an `<ons-alert-dialog>` tag that is used to display alert dialogs.

``` html
<ons-dialog id="dialog-1">
  This is a dialog!
</ons-dialog>
```
To display a dialog, you need to get a reference to the element and execute the `show()` method.

``` javascript
document.getElementById('dialog-1').show();
```

To hide the dialog, call `hide()` method.

``` javascript
document.getElementById('dialog-1').hide();
```

#### Loading from a template

Another way to use dialogs is with the `ons.createDialog(template)` utility function. The dialog needs to be defined as a template and the function returns a `Promise` that resolves to the dialog element.

``` html
<ons-template id="dialog.html">
  <ons-dialog>
    This dialog is defined as a template.
  </ons-dialog>
</ons-template>
<script>
  ons.createDialog('dialog.html')
    .then(function(dialog) {
      dialog.show();
    });
</script>
```

#### Alert dialog

Alert dialogs work exactly like normal dialogs but they require some additional markup. With this element you can create a beautifully styled dialog without any additional CSS.

``` html
<ons-alert-dialog>
  <div class="alert-dialog-title">Warning!</div>
  <div class="alert-dialog-content">
    An error has occurred!
  </div>
  <div class="alert-dialog-footer">
    <button class="alert-dialog-button">Cancel</button>
    <button class="alert-dialog-button">OK</button>
  </div>
</ons-alert-dialog>
```

#### Show quickly with utility functions

Another way to display dialogs is with the ons.notification methods:

``` javascript
ons.notification.alert(options)
ons.notification.confirm(options)
ons.notification.prompt(options)
```

These methods all return a `Promise`. You can get the result as follows.

```
ons.notification.prompt({message: 'What is your name?'})
  .then(function(name) {
    ons.notification.alert('Hello ' + name);
  });
```

### Popover (ons-popover)

A popover can be used to give additional information about a component or add extra functionality.

The usage is very similar to that of `<ons-dialog>` and `<ons-alert-dialog>`. It is defined using the `<ons-popover>` tag.

``` html
<ons-button id="popover-target">Popover Target</ons-button>
<ons-popover>
  This is a popover!
</ons-popover>
```

To display the popover you need to get a reference to the element and execute the `show(target, options)` method. The `target` argument can be either a DOM element, a query selector string or an `Event` object.

``` javascript
var target = document.querySelector("#popover-target")
document.querySelector("ons-popover").show(target)
```

Just like the `<ons-dialog>` and `<ons-alert-dialog>` elements, the popover can be loaded from a template. It is done by using the `ons.createPopover(template)` utility function. It returns a `Promise` that resolves to the popover element.

``` html
<ons-template id="popover.html">
  <ons-popover>
    This popover is defined as a template.
  </ons-popover>
</ons-template>
<script>
  ons.createPopover('popover.html')
    .then(function(popover) {
      popover.show();
    });
</script>
```

#### The cancelable attribute

The `<ons-popover>` supports the `cancelable` attribute. This enables hiding the popover when the user taps outside of it or presses the back button on an Android device.

``` html
<ons-popover cancelable>
  This popover can be cancelled!
</ons-popover>
```

#### Opening directions

`direction` attribute can control the popover to open from what direction. It can be specified from `up`, `down`, `left`, or `right`, and furthermore be combined multiple directions separated by space characters. If the `direction` attribute is not specified, it will automatically detects the appropriate direction.

#### Using popover events

`<ons-popover>` has following events.

- `preshow`, `prehide`

  Fired before showing or hiding the popover. The callback function provides an event object with following properties.

  - `popover`: Contains the popover object.
  - `cancel`: Method to cancel the operation.

  If you want to cancel opening the popover, you could write a program like the one below.

  ```javascript
  myPopover.addEventListener('preshow', function(e) {
    e.cancel();
  });
  ```

- `postshow`, `posthide`

  Fired after showing or hiding the popover. The callback function provides an event object, which has `popover` property contains popover object.


### Carousel (ons-carousel)

Carousel provides a container to display multiple items in the element. It can be used as a full screen component, or inside another element.

[`<ons-carousel>`](/v2/reference/js/ons-carousel.html) component is the container which can contain multiple [`<ons-carousel-item>`](/v2/reference/js/ons-carousel-item.html) components. Each `<ons-carousel-item>` represents items in the carousel.

#### Showing full screen carousel

A full-screen carousel can be shown by specifying `fullscreen` attribute to [`<ons-carousel>`](/v2/reference/js/ons-carousel.html) component.

```html
<ons-carousel fullscreen swipeable overscrollable auto-scroll>
  <ons-carousel-item>
     Carousel Item 1
  </ons-carousel-item>
  <ons-carousel-item>
     Carousel Item 2
  </ons-carousel-item>
</ons-carousel>
```

When you want to show a carousel within another component, you should specify its height and width by the CSS style. If the width is not specified, it will interpreted as `100%`.

```html
<ons-carousel style="height: 200px; width: 50%" swipeable overscrollable auto-scroll>
  <div>
    This content covers the carousel.
  </div>
  <ons-carousel-item>
     Carousel Item 1
  </ons-carousel-item>
  <ons-carousel-item>
     Carousel Item 2
  </ons-carousel-item>
</ons-carousel>
```

#### Initial carousel item

`initial-index` attribute will specify which item to show at the initial view. Note the index number starts from `0`.

```html
<ons-carousel style="height: 100px; width: 100px" initial-index="1" swipeable overscrollable auto-scroll>
  <ons-carousel-item>
     Carousel Item 1
  </ons-carousel-item>
  <ons-carousel-item>
     Carousel Item 2
  </ons-carousel-item>
</ons-carousel>
```

#### Carousel scroll behavior

The carousel scroll direction can be a left-right or top-bottom, which can be specified at `direction` attribute. The possible values are `horizontal`(default) or `vertical`.

If you want the carousel to auto-scroll, use `auto-scroll` attribute. The carousel will automatically scroll when it is dragged by the user to a ratio specified in `auto-scroll-ratio`.

Also, it can have an overscroll animation, which bumps when there are no more items to scroll. To enable over-scroll animation, `overscrollable` attribute should be specified.

#### Showing multiple items

When `item-width` or `item-height` attribute is specified, two or more items can be shown at the same time. `item-width` is available only when the `direction` attribute is set to `horizontal`, and `item-height` when set to `vertical` accordingly. By default, it is set to `100%`, so only one item is shown in the container.

#### Controlling by JavaScript

Following methods are provided to scroll items in the carousel.

- `next(options)`, `prev(options)`

  Scroll to the next (or previous) item. Otherwise, it will scroll to the first (or last) item.

- `first(options)`, `last(options)`

  Scroll to the first or last item.

- `setActiveCarouselItemIndex(index, options)`

  Show the item specified by the `index`. The current active index can be obtained by calling `getActiveCarouselItemIndex()` function.

All of those methods returns a `Promise`, which resolves when the action is complete.

```javascript
myCarousel.next({
  animation: "none"
}).then(function(e) {
  // Next carousel is now shown.
});
```

When you added or removed `<ons-carousel-item>` element into a `<ons-carousel>`, you must call `refresh()` function to update the layout.

#### Using carousel events

`<ons-carousel>` component has following events.

- `postchange`

  Fired when the active item is changed. The event will be supplied with an object that contains `carousel`, `activeIndex`, and `lastActiveIndex` properties.

  - `carousel`: Contains the carousel object.
  - `activeIndex`: The index of the current active item.
  - `lastActiveIndex`: The index of the previous active item.

  This event will not fired when the carousel is not initialized with `auto-scroll` enabled, or the carousel item has different size than the container.

- `refresh`

  Fired when the carousel layout has changed, or `refresh()` method is called.

- `overscroll`

  Fired when the item is overscrolled. The event will be supplied with an object that contains `carousel`, `activeIndex`, and `lastActiveIndex` properties.

  - `carousel`: Contains the carousel object.
  - `direction`: Overscroll direction. Can be one of `left`, `right`, `up` or `down`.
  - `activeIndex`: The index of the current active item.
  - `waitToReturn()`: A method that takes a promise and waits for the promise to be resolved (or rejected) before scrolling back.

  The following example uses `waitToReturn(promise)` to keep overscroll until some job is done. In this example, it is using [jQuery's Promise](https://api.jquery.com/category/deferred-object/) for browser compatibility.

  ```
  carousel.on('overscroll', function(event) {
    var deferred = jQuery.Deferred();
    event.waitToReturn(deferred.promise);
    window.setTimeout(function() {
      deferred.resolve();
    }, 3000);
    // The carousel keeps its state for 3 seconds
  })
  ```

### Modal (ons-modal)

[`<ons-modal>`](/v2/reference/js/ons-modal.html) is useful when showing a dialog that needs to forbid any user interaction while the modal is shown. Typically a modal is used to display progress indicators or to request a user action explicitly.

[`<ons-modal>`](/v2/reference/js/ons-modal.html) component can have any HTML content inside the tag. The content will be shown with a black mask when `toggle()` or `show()` method is called.

``` html
<ons-modal id="myModal">
Modal content
</ons-modal>
<script>
  document.querySelector("#myModal").toggle();
</script>
```

### Pull Hook (ons-pull-hook)

The Pull Hook component adds "pull-to-refresh" behavior to an [`<ons-page>`](/v2/reference/js/ons-page.html) element. This feature is very convenient for manually fetching data from external sources (like a database, RSS feed or web API) into an application.

[`<ons-pull-hook>`](/v2/reference/js/ons-pull-hook.html) tag is used to create and display a new Pull Hook component. By default, Pull Hook will drag down all the content of the page when pulling it. The attribute `fixed-content` will prevent the page content to be dragged along with the Pull Hook.

``` html
<ons-page>
  <ons-pull-hook>
    Release to refresh
  </ons-pull-hook>
</ons-page>
<script>
  var loadStuff = function(done) {
    setTimeout(done, 1000);
  };
  document.querySelector('ons-pull-hook').setActionCallback(loadStuff);
</script>
```

The Pull Hook behavior is defined by the `setActionCallback` method. This method will be executed when the page is pulled down and released.

You can also get the state by `changestate` event. Each one associated with a customizable graphical representation:

* `initial`: default state before any user interaction, the element remains in this status until it's totally dragged down, going beyond its height limit.

* `preaction`: if the component is in this state it will execute its action if it's released. It's still possible to cancel the action by dragging the page up again.

* `action`: the pull hook will be in this state while its action is running. It will return to the `initial` state.

#### Pull Hook height parameters

[`<ons-pull-hook>`](/v2/reference/js/ons-pull-hook.html) component's height attributes are very important, since they define when a state transition should occur. The two attributes are:

* `height`: specifies the height of the component. When pulled down further than this value it will switch to the "preaction" state. The default value is "64px".

* `threshold-height`: specifies the threshold height. The component automatically switches to the "action" state when pulled further than this value. The default value is "96px". A negative value or a value less than the height will disable this property.

### Floating Action Button (ons-fab)

Floating action button is the design spec in Material Design, which provides a call-to-action button usually placed on right-bottom corner of the screen. [`<ons-fab>`](/v2/reference/js/ons-fab.html) tag will render a fab button, and you can combine with [`<ons-speed-dial>`](/v2/reference/js/ons-speed-dial.html) component that shows Speed Dial.

To place a `<ons-fab>` element, simply insert a tag with position attribute. Add `ripple` attribute if you need ripple effect.

``` html
<ons-fab position="bottom right" ripple></ons-fab>
```

[`<ons-fab>`](/v2/reference/js/ons-fab.html) triggers `click` event when the button is clicked or tapped, as figured below:

```javascript
document.querySelector('ons-fab').addEventListener('click', function(event) {
  // Button is clicked!
});
```

### Speed Dial (ons-speed-dial, ons-speed-dial-item)

`<ons-speed-dial>` is another Material Design component to display the selections.

``` html
<ons-speed-dial position="left bottom">
  <ons-icon
    icon="fa-twitter"
    size="26px"
    fixed-width="false"
    style="vertical-align:middle;">
  </ons-icon>
  <ons-speed-dial-item><ons-ripple></ons-ripple>C</ons-speed-dial-item>
  <ons-speed-dial-item><ons-ripple></ons-ripple>B</ons-speed-dial-item>
  <ons-speed-dial-item><ons-ripple></ons-ripple>A</ons-speed-dial-item>
</ons-speed-dial>
```

### Button (ons-button)

[`<ons-button>`](/v2/reference/js/ons-button.html) renders a button with different face types. You can change the appearance by using `modifier`, `should-spin`, `animation` and `disabled` attributes. `modifier` attribute provides several predefined values to change the appearance.

### Switch (ons-switch)

[`<ons-switch>`](/v2/reference/js/ons-switch.html) is used to display a switch. A switch has an "on" and an "off" state. The state can be accessed by the [`isChecked()`](/v2/reference/js/ons-switch.html#method-isChecked) method.

```html
<script>
function changed() {
  alert(document.querySelector('#mySwitch').isChecked() ? 'ON' : 'OFF');
}
</script>
<ons-switch onchange="changed()" id="mySwitch"></ons-switch>
```

Inside the switch is a `<input type="checkbox">` element. You can get the inner input by calling `getCheckboxElement()` method.

### Text input (ons-input)

`<ons-input>` is an alternative to `<input>` tag, with Material Design floating label and animation effect. To enable floating label style, use `placeholder` attribute and `float` attribute together. 

- Text input

  ```html
  <ons-input placeholder="Name" float>
  ```

- Password

  ```html
  <ons-input type="password" placeholder="Name" float>
  ```

- Number

  ```html
  <ons-input type="number" min="0" max="100" placeholder="Age" float>
  ```

### Range (ons-range)

To draw a range, use `<ons-range>` element.

``` html
<ons-range value="20"></ons-range>
<ons-range modifier="material" value="10"></range>
```

### Check box and radio button

Check box and radio button are provided as CSS components. Therefore, use the following HTML snippet to display each component.

```html
<label class="checkbox">
  <input type="checkbox">
  <div class="checkbox__checkmark"></div>
  <span class="ons-checkbox-inner"></span>
</label>
```

```html
<label class="radio-button">
  <input type="radio">
  <div class="radio-button__checkmark"></div>
</label>
```

### Ripple Effect (ons-ripple)

This component adds a Material Design `ripple` effect to an element.

``` html
<div class="my-div">
 <ons-ripple></ons-ripple>
</div>
```

### Layouting (ons-row, ons-col)

Onsen UI provides a grid system to place your elements in the screen. The grid system divides the screen into rows and columns, just like a spreadsheet. The width and height of each grid is adjustable, and you can also condense two or more grids in a row or column, into one grid.

The layout can be performed by combining [`<ons-row>`](/v2/reference/js/ons-row.html) and [`<ons-col>`](/v2/reference/js/ons-col.html) components. The width and height can be adjusted in a flexible way.

By default, all [`<ons-col>`](/v2/reference/js/ons-col.html) inside a [`<ons-row>`](/v2/reference/js/ons-row.html) will have the same width. You can specify any `<ons-col>` elements to have a specific width and let others take the remaining width in a `<ons-row>`.

[`<ons-row>`](/v2/reference/js/ons-row.html) has `align` attribute, and `<ons-col>` has `align`, `size`, and `offset` attributes. For the `size` attribute, you can specify either in `px` or `%`.

### Icons (ons-icon)

Onsen UI offers over 400 icons provided by [Font Awesome](http://fontawesome.github.io/) and over 500 icons by [Ionicons](http://ionicons.com/).

When displaying an icon, a [`<ons-icon>`](/v2/reference/js/ons-icon.html) component can be used. You can specify which icon to display by specifying to the `icon` attribute.

#### Using Font Awesome

If the value of `icon` attribute starts with `fa-`, appropriate Font Awesome icon is used. The list of available icons can be found on the [Font Awesome Website](http://fortawesome.github.io/Font-Awesome/icons/). If `icon` attribute has no prefix, Font Awesome collection will be used.

#### Using Ionicons

If the value of `icon` attribute starts with `ion-`, appropriate Ionicons icon is used. The list of available icons can be found on the [Ionicons Website](http://ionicons.com/).

```html
<ons-icon icon="fa-angle-left"></ons-icon>
<ons-icon icon="fa-angle-left" size="40px"></ons-icon>
<ons-icon icon="fa-angle-left" size="40px" rotate="90"></ons-icon>
<ons-icon icon="fa-angle-left" spin="true"></ons-icon>
```

Also, you can specify the icon size to display by using size attribute.

```html
<ons-icon icon="fa-angle-left" size="40px">
```

Furthermore, you can rotate the icon.

```html
<ons-icon icon="fa-angle-left" size="40px" rotate="90deg">
```

Icon can have an animation effect. This is useful for displaying spinners.

```html
<ons-icon icon="fa-angle-left" spin="yes">
```

### Progress Indicator (ons-progress-bar, ons-progress-circular)

`<ons-progress-bar>` and `<ons-progress-circular>` element provide Material Design progress component, in either linear or circular shape. You should specify `value` and optional `secondary-value` to display the progress.

``` html
<ons-progress-bar value="55" secondary-value="87">
</ons-progress-bar>
<ons-progress-circular value="55" secondary-value="87">
</ons-progress-circular>
```

Adding `indeterminate` attribute will tell components to loop forever. In this case, 

``` html
<ons-progress-bar indeterminate>
</ons-progress-bar>
<ons-progress-circular indeterminate>
</ons-progress-circular>
```

### Page (ons-page)

`<ons-page>` should be used for the root component of each page. The content inside page component is scrollable.

[`<ons-page>`](/v2/reference/ons-page.html) provides a set of DOM events that will be fired in different moments of its life cycle. Use these events to alter the behavior on each page.

* `init` event is fired after `<ons-page>` is attached to DOM.
* `destroy` event is fired before `<ons-page>` is destroyed and prior to DOM detachment.
* `show` event is fired every time `<ons-page>` comes into view, i.e. when a new page is created and shown immediately or when an existing page shows up.
* `hide` event is fired every time `<ons-page>` disappear from view, i.e. when a visible page is destroyed or is hidden but still exists in the page stack.

Page lifecycle events will be propagated to the page's descendants so they are correspondingly shown, hidden or destroyed. For example, destroying `<ons-navigator>` will throw `hide` event only for the displayed page (navigator's top page) and `destroy` event for every page in navigator's page stack.

``` html
<script>
document.addEventListener("init", function(event) {
  if (event.target.id == "my-page") {
    document.getElementById("my-content").innerHTML = "I am fine!";
  }
}, false);
</script>

<ons-page id="my-page">
  <div>Hello, how are you?</div>
  <div id="my-content">This content will be replaced.</div>
</ons-page>
```

### Finger Gestures (ons-gesture-detector)

Onsen UI utilizes [Hammer.js](http://hammerjs.github.io/) for gesture detection. To detect a finger gesture, you must wrap the target DOM element using [`<ons-gesture-detector>`](/v2/reference/js/ons-gesture-detector.html) component. The following code does a swipe-left detection for a specific element.

```html
<ons-gesture-detector>
  <div id="detect-area" style="width: 100px; height: 100px;">
    Swipe Here
  </div>
</ons-gesture-detector>
<script>
  document.getElementById("detect-area").addEventListener("swipeleft", function(e) {
    console.log('Swipe left is detected.');
  });
</script>
```

#### Supported gestures

Following gestures are supported.

  - Drag gestures: `drag`, `dragleft`, `dragright`, `dragup`, `dragdown`
  - Hold gestures: `hold`, `release`
  - Swipe gestures: `swipe`, `swipeleft`, `swiperight`, `swipeup`, `swipedown`
  - Tap gestures: `tap`, `doubletap`
  - Pinch gestures: `pinch`, `pinchin`, `pinchout`
  - Other gestures: `touch`, `transform`, `rotate`


### Conditional (ons-if)

[`<ons-if>`](/v2/reference/js/ons-if.html) element can conditionally display content depending on the platform or the screen orientation. Currently, there is `orientation` and `platform` attribute.

```html
<ons-if orientation="landscape">
  Landscape view!
</ons-if>
<ons-if platform="android">
  This is Android.
</ons-if>
<ons-if platform="ios other">
  This is not Android.
</ons-if>
```

### Multiple page definitions (ons-template)

Some components require you to specify another HTML page. For instance, a `<ons-splitter-side>` needs to specify a menu page in following format.

```html
<ons-splitter-side page="menu.html">
</ons-sliding-menu>
```

Instead of creating menu.html in a separate file, you can also define the page content in the same page. This can be done by creating a [`<ons-template>`](/v2/reference/js/ons-template.html) tag.

An [`<ons-template>`](/v2/reference/js/ons-template.html) tag represents a template snippet. For example, following code defines a template called `main.html`.

```html
<ons-template id="main.html">
  <!-- Here, we define the HTML content for main.html -->
  <div>
    Hello, this is the content of main.html
  </div>
</ons-template>
```

### Utility Functions (ons object)

Onsen UI has `ons` object, which is a global proprty added to `window`. It includes several functions to help make developing your app easier.

#### ons.ready(func)

`ons.ready()` function is called when Onsen UI initialization is done. If the app is running under Cordova or PhoneGap, it will also wait for its initialization (`ondeviceready` event).

This event is very useful to hide the splash screen to avoid a black screen during the page load. For example, the following code will hide the splash screen once Onsen UI is loaded completely.

```javascript
ons.ready(function() {
  // Hide Cordova splash screen when Onsen UI is loaded completely
  // API reference: https://github.com/apache/cordova-plugin-splashscreen/blob/master/doc/index.md
  navigator.splashscreen.hide()
});
```

#### ons.disableAutoStatusBarFill()

As of iOS 7, a status bar can be rendered above a WebView. Onsen UI automatically detects and adds the necessary margin on the top. However in some occations, it is necessary to disable this feature, when using Cordova [StatusBar plugin](https://github.com/apache/cordova-plugin-statusbar) for instance.

To manage the top margin for iOS devices, Onsen UI provides [`ons.enableAutoStatusBarFill()`](/v2/reference/js/ons.html#method-enableAutoStatusBarFill) function and [`ons.disableAutoStatusBarFill()`](/v2/reference/js/ons.html#method-disableAutoStatusBarFill) function. This feature is enabled by default, and needs to call the function before Onsen UI initialization complete (before `ons.ready()` event).

```javascript
/**
 * Need to call during Onsen UI initialization
 */

// Disable auto margin for the iOS status bar
ons.disableAutoStatusBarFill();

// Enable auto margin for the iOS status bar
ons.enableAutoStatusBarFill();

ons.ready(function() { });
```

#### ons.enableAnimations() and ons.disableAnimations()

`ons.enableAnimations()` and `ons.disableAnimations()` are provided for testing purposes and performance on older devices. All the animations will be completely disabled.

#### ons.platform and ons.platform.select()

`ons.platform` object provides following methods to detect the platform by JavaScript.

- `ons.platform.isWebView()`: Returns `true` if the app is running on the WebView.
- `ons.platform.isIOS()`: Returns `true` if the app is running under an iOS device.
- `ons.platform.isAndroid()`: Returns `true` if the app is running under an Android device.
- `ons.platform.isIPhone()`: Returns `true` if the app is running under an iPhone device.
- `ons.platform.isIPad()`: Returns `true` if the app is running under an iPad device.
- `ons.platform.isBlackBerry()`: Returns `true` if the app is running under a BlackBerry device.
- `ons.platform.isOpera()`: Returns `true` if the app is running under an Opera browser.
- `ons.platform.isFirefox()`: Returns `true` if the app is running under a Firefox browser.
- `ons.platform.isSafari()`: Returns `true` if the app is running under Apple Safari browser.
- `ons.platform.isChrome()`: Returns `true` if the app is running under Google Chrome browser.
- `ons.platform.isIE()`: Returns `true` if the app is running under Internet Explorer browser.
- `ons.platform.isIOS7()`: Returns `true` if the running iOS is version 7.0 or later.

For testing purposes, `ons.platform.select(platform)` provides a way to select a platform. The `platform` parameter specifies the platform used to render the elements. Possible values are: "opera", "firefox", "safari", "chrome", "ie", "android", "blackberry", "ios" or "wp".

### Back Button Support

Android has a hardware back button. To support device back button, use `setDeviceBackButtonHandler` method in [`<ons-page>`](/v2/reference/js/ons-page.html).

```html
<ons-page id="myPage">...</ons-page>
<script>
  ons.ready(function() {
    document.getElementById("myPage").setDeviceBackButtonHandler(function() {
      console.log("Device back button is called.").
    });

    // Get the back button handler and disable it
    var handler = myPage.getDeviceBackButtonHandler();
    handler.disable();
  });
</script>
```

#### Overriding default back button handler

Not only a `ons-page` component, a `ons-navigator` and a `ons-splitter` component also implement the default back button handlers. For instance, the `ons-navigator` handler triggers a `popPage()` when the back button is pressed. If you want to disable it, or change to the other behavior, you can use `getDeviceBackButtonHandler()` API.

```javascript
// To disable a navigator back button handler
navigator.getDeviceBackButtonHandler().disable();

// Or to change the behavior
navigator.getDeviceBackButtonHandler().setListener(function(event) {});

// Or to enable it again
navigator.getDeviceBackButtonHandler().enable();
```

As you see in the code, `getDeviceBackButtonHandler()` API returns an object that has `disable()`, `enable()`, `isEnabled()` and `setListener(fn)` methods.

If you want to call a parent event handler, `callParentHandler()` method will do the delegation. If the component's handler is undefined or set to be disabled, the parent event handler will be called automatically.

```javascript
myPage.getDeviceBackButtonHandler().setListener(function(event) {
  // Call parent handler
  event.callParentHandler();
});
```

The default back button behavior of an Onsen UI app is to close the application. This is the same behavior as other Android applications.

To override the behavior, you can use `ons.setDefaultDeviceBackButtonListener` function. The following code confirms before closing the app (works for Cordova / PhoneGap only).

```javascript
ons.setDefaultDeviceBackButtonListener(function() {
  if (navigator.notification.confirm("Are you sure to close the app?",
    function(index) {
      if (index === 1) { // OK button
        navigator.app.exitApp(); // Close the app
      }
    }
  ));
});
```

#### Completely disable back button handler

If you want to disable Onsen UI back button handlers completely, use `ons.disableDeviceBackButtonHandler()` function. It is useful when you want to use Cordova / PhoneGap back button handler directly.

```javascript
ons.ready(function() {
  ons.disableDeviceBackButtonHandler();

  // Use Cordova handler
  window.document.addEventListener('backbutton', function() {
    // Handle backbutton event
  }, false);
});
```

### Using Modifier

Modifier is a cross-component way to provide customizability for Onsen UI components. When a component is defined with a `modifier`, it will have a separate class namespace so that you can apply custom styles to the component. Also, some components have several preset modifiers to change the appearance.

For example, each of the following buttons have different look. To change modifiers dynamically, please manipulate `modifier` attribute from JavaScript.

```html
<ons-button modifier="quiet">Quiet</ons-button>
<ons-button modifier="light">Light</ons-button>
<ons-button modifier="large">Large</ons-button>
<ons-button modifier="cta">CTA</ons-button>
```

### CSS Definitions

Onsen UI styles are defined in `onsenui.css` and `onsen-css-components.css`. They are written in the [Stylus](http://stylus-lang.com/) format.

`onsenui.css` is a core CSS module that defines styles for the custom elements. The source code exists under `core/css` directory. `onsen-css-components.css` contains CSS definitions for CSS components. The source code exists in `css-components/components-src/stylus`.

You can also use [Onsen CSS Components](http://components.onsen.io/) to customize pre-defined colors. After the customization, you can download and replace to the existing `onsenui-css-components.css` to reflect the changes.

#### Overriding CSS style

If you want to apply a different style to a specific component, you can use `modifier` attribute to override its style definition.

For example, if you want to apply a thick border only to a specific button, you can define like the one below.

```html
<ons-button modifier="thick">Thick Button</ons-button>
```

Then, write the appropriate style code under the style tag or in the css file.

```html
<style>
.button--thick {
  border: 10px;
}
</style>
```

### Under the hood of Custom Elements

If you need to customize the underlying HTML code, you can access to our core Custom Element definitions. The source code for each components are located under `core/src/elements` directory.

<!-- End of markdown -->
<% end %>
