---
title: 'Monaca'
order: 200
tocTitle: More
tocGroup: guide
layout: docs.html.eco
description: 
---

<%- @markdown => %>

### What is Monaca?

When using Onsen UI for hybrid app development, Monaca is a handy tool for quickly converting your project to a native app. Proudly provided by the same team, Monaca is an open app development platform that sit on top of the cloud.

Monaca fully integrates Onsen UI and its ecosystem. Here are some of its features.

<img src="https://monaca.io/img/home/img01_01.png">

- **Cloud IDE**: Online development platform that runs on your browser.
- **Command Line Tool**: Local tooling is available using Monaca CLI and Localkit (desktop app).
- **Debugger**: Debug Onsen UI apps running on your app. Simply download from [Google Play Store](https://play.google.com/store/apps/details?id=mobi.monaca.debugger) and [App Store](http://itunes.apple.com/app/monaca/id550941371?mt=8).
- **Remote Build**: Build iOS and Android app without installing SDKs, even from a Windows machine.
- **Continuous Integration**: 
- **Powerful Cordova plugins**: various add-ons to your application for professional and enterprise use. Some of the features include HTML5 & JavaScript encryption, in-app updater and secure storage.
- **Push Notifications & Remote User**: With Monaca Backend, you can enable remote push notifications to the application with very few steps. Also comes with remote user management and collections.

Monaca is a commercial service but can be **started free**. For more details, visit [Monaca Website](https://monaca.io/).

<% end %>

