.popup {
  background-color: white;
  border-style: solid;
  z-index: 1001;
  box-shadow: 15px 15px 10px rgba(0,0,0,.3);
  border-radius: 3px;
  position: absolute;
  top: 50%;
  transition: transform 1s ease, top 1s ease, visibility 1s ease;
}

.popup-desktop {
  width: 500px;
  height: 200px;
}

.popup-mobile {
  width: 300px;
  height: 250px;
}
.centered {
  left: 50%;
  transform: translate(-50%, -50%);
}

.middle {
  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

.popup p {
  margin: auto;
}

.hidden {
  top:115%;
  visibility: hidden;
}

.container-popup {
  position: relative;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,.3);
  z-index: 1000;
  overflow: hidden;
}

.button-close {
  position: absolute;
  top: 3px;
  right: 7px;
  color: #F7A397;
  font-size: 30px;
}

.button-close:hover {
  color: #FF4D35;
}