---
# Properties required for metalsmith.js
title: 'Onsen UI 2 Guide for Angular 2 - Onsen UI Framework'
version: v2
framework: 'angular2'
autotoc: true
layout: docs.html.eco

# Private properties
page: 'guide'
correspondingMenuItem: 'docs'
tocTitle: 'Guide for Angular 2'
needHelp: true
---

<%- @markdown => %>

This guide explains important notes when using Onsen UI with Angular 2.

<%- @includeGuideSection('starting-project.md') %>

#### Download from npm

```bash
# Install Onsen UI and Angular 2 bindings
$ npm install onsenui angular2-onsenui
```

### Onsen UI Directives and Web Components

Onsen UI for Angular 2 provides Angular 2 directives which wraps Web Components. Those directives are included in Angular Module (`NgModule`) named `OnsenModule`. For details about `NgModule`, please refer to [Angular Modules (NgModule) - ts](https://angular.io/docs/ts/latest/guide/ngmodule.html).

To use `OnsenModule`, please import it to the application's module by specifying at `import` parameter of `@NgModule`. Onsen UI components will not render properly if `OnsenModule` is not loaded.

Also, please aware to specify `CUSTOM_ELEMENTS_SCHEMA` as module's `schema`, since Onsen UI is built of Custom Elements. Forgot to specify this will result in error when using Onsen UI custom elements in the template.

```
import {OnsenModule} from 'angular2-onsenui';
import {NgModule, CUSTOM_ELEMENTS_SCHEMA} from '@angular/core';
import {platformBrowserDynamic} from '@angular/platform-browser-dynamic';

@NgModule({
  imports: [OnsenModule],
  declarations: [AppComponent],
  bootstrap: [AppComponent],
  schemas: [CUSTOM_ELEMENTS_SCHEMA]
})
class AppModule { }

// Start module
platformBrowserDynamic().bootstrapModule(AppModule);
```

### Declaring dynamic load components

`OnsNavigator`, `OnsSplitterContent` and `OnsSplitterSide` directives will dynamically load other Angular 2 components. This requires declaring loading components in `@NgModule` `declarations` and `entryComponents` as follows.

```
@NgModule({
  imports: [OnsenModule],
  declarations: [AppComponent, MyComponent],
  bootstrap: [AppComponent],
  entryComponents: [MyComponent]
  schemas: [CUSTOM_ELEMENTS_SCHEMA]
})
class AppModule { }
```

### Directives included in Angular 2 bindings

Angular 2 binding contains several directives that wraps Onsen UI Web Components. For instance, `OnsNavigator` directive is using `ons-navigator` element and `OnsSwitch` element is using `ons-switch` component.

However not all components have it's directive. For instance, `ons-button` element does not have directive, since the implementation is not necessary.

Currently the following components have Angular 2 directives.

- `OnsNavigator` (`<ons-navigator>`)
- `OnsCarousel` (`<ons-carousel>`)
- `OnsTabbar` (`<ons-tabbar>`)
- `OnsTab` (`<ons-tab>`)
- `OnsAlertDialog` (`<ons-alert-dialog>`)
- `OnsPopover` (`<ons-popover>`)
- `OnsSwitch` (`<ons-switch>`)
- `OnsRange` (`<ons-range>`)
- `OnsInput` (`<ons-input>`)
- `OnsPullHook` (`<ons-pull-hook>`)
- `OnsLazyRepeat` (`<ons-lazy-repeat>`)
- `OnsSplitterSide` (`<ons-splitter-side>`)
- `OnsSplitterContent` (`<ons-splitter-content>`)

<%- @includeGuideSection('creating-page.md') %>

### Event handling

Just like other Angular 2 components, Onsen UI supports event bindings. To bind to user input events, please surround the DOM event name in parentheses and assign a quoted template statement to it.

```
<ons-input type="text" (change)="onChange()"></ons-input>
```

### Calling components during initialization

Both directives and Web Components have methods, which can be called after the components are initialized. Directives are undefined in the constructor of the callee component, and one way to avoid is by using `ngAfterViewInit()` method.

```
export class AppComponent implements AfterViewInit {
  ngAfterViewInit() {
    this._navigator.element.pushPage(componentPage, { animation: 'fade' });
  }
}
```

For Web Components, all methods are directly implemented in the DOM element. Therefore, you can call methods by using template reference variable (`#`) and `@ViewChild` decorator. Please read [Angular 2 Guide](https://angular.io/docs/ts/latest/guide/template-syntax.html#!#ref-vars) for more details.

```
@ViewChild('carousel') carousel; // <ons-carousel #carousel>

prev() {
  this.carousel.nativeElement.prev();
}
```

<%- @includeGuideSection('ons-object.md') %>

For Angular 2, notification and platform objects are exported as `onsNotification` and `onsPlatform`.

```
import { onsNotification, onsPlatform } from 'angular2-onsenui';
onsNotification.alert('Hello world!');
```


<%- @includeGuideSection('page-content.md') %>

<%- @includeGuideSection('dialogs.md') %>

<%- @includeGuideSection('navigation.md') %>

<%- @includeGuideSection('modifier.md') %>

<%- @includeGuideSection('auto-styling.md') %>

<%- @includeGuideSection('css-definitions.md') %>

<%- @includeGuideSection('device-back-button.md') %>

<%- @includeGuideSection('animations.md') %>

### Sample codes

Angular 2 sample codes are located in `/bindings/angular2` directory in Onsen UI repository. Please use the examples to understand how to call each components.

 * [Examples](https://github.com/OnsenUI/OnsenUI/tree/master/bindings/angular2/examples)

<!-- End of markdown -->
<% end %>
