---
page: 'landing-new'
title: 'Onsen UI 2 - Next-Gen Hybrid Mobile App UI Framework'
layout: 'default.html.eco'
header: false
actionbar: false
topbar: false
version: v2
description: 'Make beautiful high performance hybrid mobile apps using HTML5, CSS and JavaScript. Includes Material Design for Android and flat design for iOS.'
---

<div id="start">
  <div class="wrapper">
    <div id="intro">
      <div class="keymessage">
        <h1>Onsen UI 2<br>Rich UI components for beautiful hybrid mobile apps.</h1>
        <div class="framework-extensions"><span><a href="/v2/react.html">For ReactJS</a></span></div>
      </div>
      <a href="/v2/docs/js.html" class="keybutton">Get Started with Onsen UI 2.0</a>
      <nav class="actions">
        <a class="action twitter" href="https://twitter.com/@onsen_ui">Follow @Onsen_UI</a>
        <a class="action github" href="https://github.com/OnsenUI/OnsenUI">Star on GitHub</a>
        <a class="action demo" href="http://frankdiox.github.io/OnsenUI-Todo-App/">See Demo</a>
      </nav>
      <p class="small" id="release-info">Latest <a class="version" href="https://github.com/OnsenUI/OnsenUI"><%- @framework.version %></a> released <time></time>. See <a href='https://github.com/OnsenUI/OnsenUI-dist/releases'>all versions</a>.<br>Distributed free and open source (Apache 2.0) via <a href="https://github.com/OnsenUI/OnsenUI">GitHub</a></p>
    </div>
    <%- @partial('demo.html.eco') %>
  </div>
</div>
<div id="features">
  <div class="feature">
    <h2>Beautifully made with Android and iOS components</h2>
    <p>More than 100 components are specially made for Material and Flat design.</p>
    <div id="showcase-carousel-wrapper">
      <iframe id="showcase-carousel" src="https://onsenui.github.io/showcase-carousel"></iframe>
    </div>
  </div>

  <div class="feature">
    <h2>Supporting React, Angular 1 &amp; 2 and Web Components Altogether</h2>
    <p>Onsen UI is fully independent of frameworks - You can easily plug our components into any project, regardless of JavaScript framework. Visit <a href="/v2/docs/guide/angular1/">Angular 1 Guide</a> and <a href="/v2/docs/guide/react/">React Components Guide</a> for details. Angular 2 support is coming soon.</p>
    <img src="/images/2/fully-independent.png">
  </div>

  <div class="feature">
    <h2>Power of CLI and Development Tools</h2>
    <p>Monaca Platform provides additional extension to Onsen UI, with powerful debugging, remote build, backend services and an optional cloud-based editor. Complimentary access to Onsen UI users.</p>
<pre><code class="html">$ <strong style="font-weight: bold">monaca create helloworld</strong>
Which project do you want to create?
&gt; Onsen 2 with React
<b style="color: red;">&gt; Onsen 2 with Angular 1</b>
&gt; Onsen 2 with Angular 2 (Coming Soon)
&gt; Onsen 2 with JavaScript
</code></pre>
  </div>

  <div class="feature">
    <h2>Migration from Onsen UI 1.x</h2>

    <p>We provide AngularJS 1.x binding to supplement AngularJS cool features. Please include <code>angular-onsenui.js</code> after including <code>onsenui.js</code>.</p>

<pre><code class="html">&lt;script src="onsenui.js"&gt;&lt;/script&gt;
&lt;script src="angular.js"&gt;&lt;/script&gt;
&lt;script src="angular-onsenui.js"&gt;&lt;/script&gt;</code></pre>
  </div>

</div>

<script>
  var $ = document.querySelector.bind(document);
  var $$ = document.querySelectorAll.bind(document);

  var phones = $$('.phone');
  $('.change-view').onclick = function (){
    phones[0].classList.toggle('selected');
    phones[1].classList.toggle('selected');
  }


</script>
