---
page: 'react-landing'
category: 'discover'
title: 'React Components by Onsen UI Hybrid Mobile App Framework'
layout: 'default.html.eco'
topbar: false
actionbar: false
version: v2
description: 'ReactJS developers can easily create beautiful high-performance hybrid mobile apps, just using HTML5, CSS and JavaScript. Includes both Material and iOS Design.'
---

<div class="header">
   <%- @partial('global-nav.html.eco') %>
</div>

<div class="design-2016">
  <div id="start">
    <div class="wrapper">
      <div id="intro">
        <h1>
          Onsen UI for React
        </h1>
        <p id="description">Onsen UI Hybrid App Framework is now available as React Components, enabling ReactJS developers to create beautiful mobile apps in no time.</p>
        <nav class="actions">
          <a class="action twitter" href="https://twitter.com/@onsen_ui">Follow @Onsen_UI</a>
          <a class="action github" href="https://github.com/OnsenUI/OnsenUI">Star on GitHub</a>
          <a class="action demo" href="http://onsenui.github.io/react-onsenui-kitchensink/demo.html">See Demo</a>
        </nav>
        <!--
        <div class="newsletter-signup newsletter-form">
          <form>
            <input type="email" placeholder="Input email address to receive updates" name="email">
            <button>Sign up</button>
          </form>
          <div class="newsletter-thankyou">Thank you!</div>
        </div>
        -->

        <button id="getting-started" onclick="location.href='/v2/docs/guide/react/'" style="cursor: pointer;">Getting Started with Onsen UI for React</button>

        <p class="small" id="release-info">Latest <a class="version" href="https://github.com/OnsenUI/OnsenUI"><%- @framework.version %></a> released <time></time>.<br>Distributed free and open source (Apache 2.0) via <a href="https://github.com/OnsenUI/OnsenUI">GitHub</a></p>
      </div>
      <%- @partial('demo_react.html.eco') %>
    </div>
  </div>
  <div id="features">
    <div class="feature">
      <h2>Beautifully made with Android and iOS components</h2>
      <p>More than 100 components are specially made for Material and Flat design, with <a href="/blog/auto-style-app-onsen/">automatic platform detection</a></p>
      <div id="showcase-carousel-wrapper">
        <iframe id="showcase-carousel" src="https://onsenui.github.io/showcase-carousel"></iframe>
      </div>
    </div>
    <div class="feature">
      <h2>Tailored for React Developers</h2>
      <p>With our Onsen UI React bindings, Onsen UI React Components play nicely with Virtual DOM</p>
      <div class="platform-buttons">
        <div class="ios selected"></div>
        <div class="android"></div>
      </div>
      <div class="code-explanation-container">
        <div class="code-explanation ios selected">

          <img src="/images/design_2016/app_ios.png" alt="react-app-ios">
          <div class="arrow-container">
            <div class="arrow a1"></div>
            <div class="arrow a2"></div>
            <div class="arrow a3"></div>
            <div class="arrow a4"></div>
            <div class="bracket"></div>
          </div>
          <div class="react-code">
          <code>
            &lt;Navigator
              initialRoute={this.initialRoute}
              renderScene={this.renderScene}
            /&gt;
          </code>

          <code>
            &lt;Toolbar&gt;
              &lt;div className=&quot;left&quot;&gt;...&lt;/div&gt;
              &lt;div className=&quot;center&quot;&gt;Todo&lt;/div&gt;
              &lt;div className=&quot;right&quot;&gt;...&lt;/div&gt;
            &lt;/Toolbar&gt;
          </code>

          <code>
            &lt;List
              dataSource={this.todos}
              renderRow={(todo) =&gt;
                &lt;Todo data={todo} /&gt;
              }
            /&gt;
          </code>

          <code>
            &lt;Tabbar
              initialIndex={0}
              renderTabs={this.renderTabs}
            /&gt;
          </code>
          </div>
        </div>


        <div class="code-explanation android">

          <img src="/images/design_2016/app_android.png" alt="react-app-android">
          <div class="arrow-container">
            <div class="arrow a1"></div>
            <div class="arrow a2"></div>
            <div class="arrow a3"></div>
            <div class="arrow a4"></div>
            <div class="arrow a5"></div>
            <div class="bracket"></div>
          </div>
          <div class="react-code">
            <code>
              &lt;Navigator
                initialRoute={this.initialRoute}
                renderScene={this.renderScene}
              /&gt;
            </code>

            <code>
              &lt;Toolbar&gt;
                &lt;div class=&quot;left&quot;&gt;...&lt;/div&gt;
                &lt;div class=&quot;center&quot;&gt;Contacts&lt;/div&gt;
              &lt;/Toolbar&gt;
            </code>

            <code>
              &lt;Tabbar
                initialIndex={0}
                renderTabs={this.renderTabs}
              /&gt;
            </code>

            <code>
              &lt;List
                dataSource={this.contacts}
                renderRow={(contact) =&gt;
                  &lt;Contact data={contact} /&gt;
                }
              /&gt;
            </code>

            <code>
              &lt;Fab&gt;
                &lt;Icon icon=&quot;md-edit&quot; /&gt;
              &lt;/Fab&gt;
            </code>
          </div>
        </div>
      </div>
    </div>

  <div class="feature">
    <h2>Power of CLI and Development Tools</h2>
    <p><a href="https://monaca.io/">Monaca Platform</a> provides everything you need to develop Onsen UI apps, with powerful debugging, remote build, backend services and an optional cloud-based IDE. Onsen UI users get complimentary access to CLI.</p>
<pre><code class="html">$ <strong style="font-weight: bold">monaca create helloworld</strong>
Which project do you want to create?
<b style="color: red;">&gt; Onsen 2 with React</b>
&gt; Onsen 2 with Angular 1
&gt; Onsen 2 with Angular 2
&gt; Onsen 2 with JavaScript
</code></pre>
  </div>

  </div>
</div>

<script src="/vendor/highlight.min.js"></script>
<script>
  var $ = document.querySelector.bind(document);
  var $$ = document.querySelectorAll.bind(document);
  var each = function (arr, func) { Array.prototype.forEach.call(arr, func) };
  var code = $$('code');
  var arrows = $$('.arrow');
  var height = $('.code-explanation').offsetHeight;

  each(arrows, function (e, i) {
    var lines = code[i].textContent.split(/\n/);
    var indent = lines[1].match(/\s*/)[0].length;
    code[i].textContent = lines.map(function(e) {
      return e.slice(indent);
    }).join('\n').trim();
    hljs.highlightBlock(code[i]);
    e.style.bottom = height - (code[i].offsetTop + code[i].offsetHeight / 2) + 'px';
  });

  var buttons = $('.platform-buttons').children;
  var examples = $$('.code-explanation');
  each(buttons, function(e, i) {
    e.onclick = function () {
      var j = (i + 1) % 2;
      if (!this.classList.contains('selected')) {
        buttons[i].classList.add('selected');
        buttons[j].classList.remove('selected');
        examples[i].classList.add('selected');
        examples[j].classList.remove('selected');
      }
    }
  });

  var phones = $$('.phone');
  $('.change-view').onclick = function (){
    phones[0].classList.toggle('selected');
    phones[1].classList.toggle('selected');
  }
</script>
