.angular2-landing {
  &-large-image {
    max-width: 80%;

    .mobile-query({
      display: none;
    });
  }

  &-small-image {
    display: none;
    max-width: 80%;

    .mobile-query({
      display: inline-block;
    });
  }

  &-header {
    background: linear-gradient(0deg, #0273d4 0%, #0143a3 42%, #001e4a 100%);
    font-family: @en-header-font-family;
    color: #fff;
    padding: 0 18px;

    &-title {
      padding: 50px 0 0 0;
      margin: 0;
      color: #fff;
      font-size: 60px;
      font-weight: 300 !important;
      line-height: 72px;
      text-align: center;
    }

    &-subtitle {
      margin: 10px 0 0 0;
      color: #90a0c3;
      font-weight: 300;
      font-size: 20px;
      line-height: 26px;
      letter-spacing: 0.05em;
      text-align: center;
    }

    &-keyvisual {
      margin: 30px auto;
      display: block;
    }

    &-get-started {
      display: flex;
      justify-content: center;
      align-items: center;

      &-button {
        display: block;
        text-decoration: none;
        padding: 13px 0 10px 0;
        margin: 5px;
        width: 220px;
        border-radius: 3px;
        background-color: rgba(255, 255, 255, 0.8);
        color: #dd0031;
        cursor: pointer;
        text-align: center;
        transition: all 0.2s ease-in-out;

        &:hover {
          background-color: #001e4a;
          color: #d9dcdf;
          text-decoration: none;
        }

        &-title {
          font-weight: 600;
          font-size: 24px;
          line-height: 24px;
        }

        &-subtitle {
          font-weight: 400px;
          font-size: 13px;
        }
      }
    }

    &-latest {
      padding: 20px 0;
      text-align: center;

      #release-info {
        color: rgba(255, 255, 255, 0.6);
        font-size: 12px;
        font-weight: 400;

        a {
          cursor: pointer;
          color: #fff;
        }
      }
    }
  }

  &-social {
    margin: 20px 0 56px 0;

    .tablet-query({
      margin: 20px 0 40px 0;
    });

    font-size: 14px;
    color: #4183c4;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: @en-header-font-family;

    > a {
      color: #4183c4;
      margin: 0 20px;
      font-weight: 600;
      position: relative;

      &:before {
        display: inline-block;
        content: '';
        position: relative;
        top: 2px;
      }
    }

    &-twitter:before {
      background: url(/images/design_2016/icon_twitter_2.png);
      width: 16px;
      height: 13px;
    }

    &-github:before {
      background: url(/images/design_2016/icon_github_2.png);
      width: 16px;
      height: 16px;
    }
  }

  &-content {
    max-width: 1140px;
    padding: 0 20px;
    margin: 0 auto;
    text-align: center;

    h2 {
      font-size: 31px;
      line-height: 36px;
      color: #000;

      @media @smallscreen { font-size: 22px; }
    }

    hr {
      margin: 42px 0 32px 0;
    }

    p {
      color: #666666;
      font-size: 18px;
      margin: 16px 0;

      @media @smallscreen { font-size: 14px; }
    }

    &-get-started {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 50px 0 80px;
      @media @smallscreen {
        flex-direction: column;
        margin: 10px 0 20px;
      }

      &-button {
        font-family: @en-header-font-family;
        font-weight: 600;
        display: block;
        width: 409px;
        max-width: 90%;
        margin: 0 10px;
        padding: 10px;
        background-color: #ff4d35;
        padding: 14px;
        color: #fefefe;
        text-decoration: none;
        font-size: 20px;
        line-height: 22px;
        border-radius: 3px;

        @media @smallscreen {
          margin: 10px 0;
        }
      }
    }
  }

  #showcase-carousel {
    height: 310px;
    width: 1000px;
    max-width: 1000px;
    margin: 0 -20px;

    @media @smallscreen {
      width: 100%;
      max-width: 100%;
    }
  }
}

body:after {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  z-index: -1;
  content: url(/images/design_2016/logo_angular1_available_hover.png) url(/images/design_2016/logo_react_available_hover.png) url(/images/design_2016/logo_js_available_hover.png)
}

#showcase-carousel-wrapper {
  height: 280px;
}
