
.site-button {
  box-sizing: border-box;
  cursor: pointer;
  font-size: 15px;
  color: white;
  background-color: @onsen-navy;
  line-height: 36px;
  border-radius: 2px;
  border: none;
  padding: 0px 12px;
  display: inline-block;
  text-align: center;
  border-radius: 0px;
  transition: all 0.1s linear;
  outline: none;
  appearance: none;
  -webkit-appearance: none;

  &:link, &:visited, &:hover, &:active, &:focus {
    text-decoration: none;
    color: white;
  }

  &:hover {
    background-color: #eee;
    color: @onsen-navy;
  }

  &:active {
    background-color: @onsen-navy;
    color: white;
    transition: all 0.05s linear;
    outline: none;
  }

  .lang-en & {
    font-family: @en-font-family;
    font-size: 17px;
    font-weight: 200;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

.onsen-button, .highlight-button {
  .site-button();
  background-color: @onsen-color;

  &:hover {
    background-color: #eee;
    color: @onsen-color;
  }

  &:active {
    background-color: @onsen-color;
    color: white;
  }
}

.site-large-button {
  .site-button();
  box-sizing: border-box;
  line-height: 50px;
  height: 50px;
  font-size: 20px;
  padding: 0px 18px;
  border-radius: 0px;

  .lang-ja & {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 200;
    font-size: 20px;
  }

  .lang-en & {
    font-family: @en-font-family;
    font-size: 20px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 200;
  }
}
