
.btn,
.btn-default {
  background-repeat: no-repeat;
  background-position: left center;
  border-radius: 6px;
  box-sizing: border-box;
  display: inline-block;
  padding: 5px 10px;
  text-align: center;

  &:link, &:visited, &:hover, &:active, &:focus {
    text-decoration: none;
  }
  &:hover {
    opacity: 0.7;
  }
}

.btn-red {
  &:extend(.btn-default);
  background-color: @onsen-red;
  color: white;

  &:link, &:visited, &:hover, &:active, &:focus {
    color: white;
    text-decoration: none;
  }
}

.btn-big {
  font-size: 30px;
  font-weight: 700;
  padding: 18px 40px;
}

.btn-start {
  background-image: url(/images/common/ico_getstarted.png);
  background-position: 40px center;
  padding-left: 100px;
  text-align: left;
}
