.design-2016 {
  min-width: 1000px;

  /***** General *****/

  #start {
    background: linear-gradient(190deg, #E54738, #C13932, #9A292C);
    padding-top: 80px;
    height: 470px;
    display: flex;
  }

  #start, #start a, #start h1 {
    color: #fff;
  }

  #start .wrapper {
    display: flex;
  }

  p {
    font-size: 14px;
  }

  ul, li {
    margin: 0;
    padding: 0;
  }

  #main-nav > ul, .wrapper, #features {
    width: 960px;
    max-width: 100%;
    margin: 0 auto;
  }

  /***** Main navigation *****/

  #main-nav {
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    z-index: 10;
    font-size: 14px;
  }

  #main-nav a {
    color: rgba(255,255,255,0.9);
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    box-sizing: border-box;
  }

  #main-nav li {
    opacity: 0.7;
    color: rgba(255,255,255,0.9);
  }

  #main-nav li:hover {
    opacity: 1;
  }
  #main-nav > ul > li:first-child {
    float: left;
    margin-left: -10px;
  }
  #main-nav > ul > li:first-child > a:before {
    content: '';
    display: inline-block;
    vertical-align: -2px;
    margin-right: 10px;
    width: 16px;
    height: 16px;
    background: url(/images/design_2016/logo_monaca.png);
  }

  #main-nav li {
    display: inline-block;
    vertical-align: top;
    margin: 0 10px;
  }

  #main-nav li li, #main-nav li li a{
    display: block;
  }

  #main-nav li ul{
    display: none;
  }
  #main-nav li:hover ul{
    display: block;
  }

  #main-nav ul ul{
    box-shadow: 0px 0px 4px 2px #c55;
    background: rgba(180,50,40,0.8);
    border-radius: 5px;
  }

  #main-nav .dropdown > a,a.dropdown {
    padding-right: 25px;
  }

  .dropdown {
    position: relative;
  }

  .dropdown:after {
    content: '';
    position: absolute;
    top: 19px;
    right: 10px;
    display: inline-block;
    vertical-align: top;
    border: 6px solid transparent;
    border-top-color: initial;
  }
  #main-nav ul ul {
    position: absolute;
    left: 50%;
    margin-left: -110px;
    width: 220px;
  }

  /***** Top part *****/

  #intro h1 {
    display: inline-block;
    margin: 0;
    font-size: 22px;
    margin-bottom: 20px;
  }

  #intro h1 img {
    vertical-align: -10px;
  }

  #intro nav {
    position: relative;
    left: 2px;
    font-size: 15px;
  }

  #start input, #register, #getting-started {
    border-radius: 3px;
  }

  .action:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 21px;
    height: 21px;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 5px;
    margin-top: -4px;
  }

  .action {
    display: inline-block;
    margin: 5px 25px;
    margin-left: 0px;
    font-size: 14px;
    vertical-align: middle;
    text-decoration: underline;
  }

  .action:hover {
    text-decoration: none;
  }

  .twitter:before {
    background-image: url('/images/design_2016/twitter.svg');
  }

  .github:before {
    background-image: url('/images/design_2016/github.svg');
  }

  .newsletter:before {
    background-image: url('/images/design_2016/icon_mail.svg');
  }

  .ask:before {
    background-image: url('/images/design_2016/icon_ask.svg');
  }

  .newsletter-form input {
    border: 0;
    font-size: 13px;
    padding: 15px 20px;
    xbackground: #cD6A68;
    background: #B74744;
    color: #eee;
    width: 275px;
  }

  #register {
    padding: 14px 25px;
    box-sizing: border-box;
    font-size: 14px;
    background: transparent;
    border: 1px solid #eee;
    color: #eee;
  }

  .newsletter-form {
    margin: 20px 0;
  }

  .newsletter-form ::-webkit-input-placeholder {
    color: #E8CCCC;
  }

  #getting-started {
    width: 420px;
    font-size: 20px;
    padding: 12px 0;
    border: 0;
    color: #A72E2E;
    background: #fff;
  }

  #release-info {
    position: absolute;
    bottom: 0px;
    margin: 0;
  }
  #release-info, #release-info a {
    color: #b77;
    font-size: 12px;
    line-height: 14px;
    padding: 50px 0 35px;
  }


  /***** Demo *****/

  #demo {
    position: relative;
    top: -50px;
    flex-grow: 1;
    text-align: right;
  }

  #demo .phones, #demo .actions {
    display: inline-block;
    vertical-align: top;
  }

  #demo .phones {
    width: 310px;
    height: 570px;
    margin-right: 5px;
    position: relative;
  }

  #demo .phone{
    width: 269px;
    height: 543px;
    position: absolute;
    box-sizing:border-box;
    padding: 60px 14px;
  }
  #demo iframe {
    width: 100%;
    height: 100%;
  }

  #demo .ios {
    background: url(/images/design_2016/iphone.png);
  }

  #demo .android {
    background: url(/images/design_2016/nexus5.png);
    padding: 50px 9px 44px;
  }

  #demo .phone {
    top: 20px;
    left: 40px;
    transition: 0.2s top ease-in, 0.2s left ease-in;
  }

  #demo .phone.selected {
    top: 0px;
    left: 0px;
    z-index: 2;
  }

  #demo .actions {
    width: 75px;
    padding: 15px 5px;
    border-radius: 5px;
    background: #BF3A2F;
    position: relative;
    margin-top: 20px;
  }

  #demo .actions:before {
    content: '';
    display: block;
    left: -20px;
    top: 30px;
    position: absolute;
    border: 10px solid transparent;
    border-right-color: #BF3A2F;
  }

  #demo .actions a {
    display: block;
    text-decoration: none;
    font-size: 12px;
    text-align: center;
  }

  #demo .actions a:before {
    height: 60px;
    content: '';
    display: block;
  }

  .source-code:before {
    background: url(/images/design_2016/icon_sourcecode.png) center 25px  no-repeat;
  }

  .change-view:before {
    background: url(/images/design_2016/icon_changeview.png) center no-repeat;
  }

  /***** Features *****/

  #features {
    text-align: center;
    padding-top: 30px;
  }

  #features h2 {
    font-size: 32px;
    color: #111;
    margin-bottom: 20px;
  }

  h2 + p {
    margin-bottom: 50px;
  }

  .feature {
    padding: 50px 0;
  }

  .feature + .feature {
    border-top: 1px solid #D3D4D8;
  }

  .wrapper {
    position: relative;
  }

  /***** Carousel *****/

  #showcase-carousel {
    height: 310px;
    width: 1000px;
    max-width: 1000px;
    margin: 0 -20px;
  }

  /***** Code explanation *****/

  .code-explanation-container {
    height: 450px;
  }

  .code-explanation img {
    width: 260px;
    height: 450px;
    display: inline-block;
  }

  .code-explanation {
    margin: 0 auto;
    position: absolute;
    left: 50%;
    margin-left: -350px;
    width: 700px;
    height: 450px;
    opacity: 0;
    transition: 0.5s opacity ease-in;
  }

  .code-explanation.selected {
    z-index: 2;
    opacity: 1;
  }

  .react-code {
    display: inline-block;
    vertical-align: top;
    margin-left: 80px;
    max-width: 400px;
    text-align: left;
  }

  .code-explanation code {
    display: block;
    margin-bottom: 10px;
    padding: 6px 10px;
    width: 240px;
    background: #F6F6F6;
    white-space: pre;
    font-size: 12px;
  }

  #react-app,.arrow-container,.react-code {
    display: inline-block;
    vertical-align: top;
  }

  .arrow-container {
    width: 75px;
    position: absolute;
    height: 100%;
    overflow-x: hidden;
  }

  .arrow {
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
    position: absolute;
    left: 40px;
    right: 3px;
  }

  .arrow:before {
    content: '';
    border-top: 1px solid gray;
    display: inline-block;
    position: absolute;
    top: 0px;
    width: 100px;
    left: -100px;
  }

  .arrow:after {
    content: '';
    border: 3px solid transparent;
    border-left-color: gray;
    position: absolute;
    bottom: -3px;
    right: -6px;
  }

  .bracket {
    position: absolute;
    border: 1px solid gray;
    top: 100px;
    height: 280px;
    width: 20px;
    border-left-color: transparent;
    background: white;
  }

  .platform-buttons {
    position: relative;
  }

  .platform-buttons .ios, .platform-buttons .android {
    width: 60px;
    height: 60px;
    background: red;
    position: absolute;
    top: 200px;
    opacity: 0.2;
  }

  .platform-buttons .selected {
    opacity: 1;
  }

  .platform-buttons .ios {
    left: 40px;
    background: url(/images/design_2016/slide_icon_apple.png);
  }

  .platform-buttons .android {
    right: 40px;
    background: url(/images/design_2016/slide_icon_android.png);
  }


  /***** Icons *****/
  ul.icons {
    display: flex;
  }

  .icons li {
    display: inline-block;
    width: 13%;
    flex-grow: 1;
    font-size: 14px;
  }

  .icon:before {
    content: '';
    display: block;
    height: 100px;
    background-repeat: no-repeat;
    background-position: center;
  }

  .icon.debug:before {
    background-image: url(/images/design_2016/icon_debug.png);
  }

  .icon.build:before {
    background-image: url(/images/design_2016/icon_build.png);
  }

  .icon.push:before {
    background-image: url(/images/design_2016/icon_push.png);
  }

  .icon.user:before {
    background-image: url(/images/design_2016/icon_user.png);
  }

  .icon.onlineide:before {
    background-image: url(/images/design_2016/icon_onlineide.png);
  }

  .icon.inappupdater:before {
    background-image: url(/images/design_2016/icon_inappupdater.png);
  }

  .icon.lock:before {
    background-image: url(/images/design_2016/icon_lock.png);
  }

  .icon.blog:before {
    background-image: url(/images/design_2016/icon_blog.png);
  }

  .icon.react:before {
    background-image: url(/images/design_2016/icon_react.png);
  }

  .icon.forum:before {
    background-image: url(/images/design_2016/icon_forum.png);
  }

  .icon.reference:before {
    background-image: url(/images/design_2016/icon_reference.png);
  }


  /***** Info *****/

  .info {
    background: #FCFEFF;
    padding: 10px;
    margin: 10px 0;
    display: block;
    font-size: 14px;
    color: #999;
    border: 1px solid #64B1FF;
  }

  .info:before {
    content: '';
    width: 20px;
    height: 20px;
    margin-left: 5px;
    margin-right: 15px;
    display: inline-block;
    background: url(/images/design_2016/icon_idea.png) no-repeat;
    vertical-align: middle;
  }

  /***** Code *****/
  code.shell br {
    content: '';
  }

  code.shell br:before {
    content: '';
    display: block;
  }

  code.shell:before, code.shell br:after {
    content: '$ ';
    display: inline-block;
    margin-right: 6px;
  }

  .hljs-tag {
    color: #3B3B98;
  }

  .hljs-name,.hljs-attr {
    font-weight: bold;
  }

  .hljs-attr {
    color: #5C2699;
  }

  .hljs-string {
    color: #080;
  }

  /***** Simple flex row *****/
  .row {
    display: flex;
  }

  .row > a {
    display: inline-block;
    margin: auto;
  }
  .row > li {
    display: inline-block;
    flex-grow: 1;
  }
  .row img {
    display: block;
    margin: auto;
  }

  /***** Tabs *****/
  .tabs {
    display: flex;
    box-shadow: 0 9px 5px -2px #eee;
  }

  .tabs a {
    flex-grow: 1;
    text-decoration: none;
    color: #666;
    border-bottom: 3px solid transparent;
    padding: 10px;
  }

  .tabs a.selected {
    border-color: #EB5959;
    color: #953535;
  }

  .tabs .action {
    margin-bottom: 0;
  }

  .tab-contents {
    text-align: left;
  }

  .tab-contents ol {
    counter-reset: sa;
    list-style-type: none;
  }

  .tab-contents li:before {
    content: counter(sa);
    counter-increment: sa;
    xcontent: '';
    color: white;
    background: #EB5959;
    float: left;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    text-align: center;
    font-size: 24px;
    line-height: 45px;
    display: inline-block;
    margin-left: -60px;
  }

  .tab-contents li {
    margin-left: 60px;
  }

  .tab-contents > div:not(.selected) {
    display: none;
  }

}