@media @large-or-smallscreen {
  .dropdown {
    &-container {
      z-index: 1;
      left: 50%;
      position: absolute;
      top: 25px;
      padding-top: 20px;
      visibility: hidden;
      opacity: 0;
      transition: opacity 0.08s ease-in-out;
      transform: translateX(-50%);
    }

    &-content {
      margin: 0;
      padding: 10px 0;
      min-width: 180px;
      box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
      background-color: #fff;
      border: 1px solid #e6e6e6;
      border-radius: 2px;
      list-style: none;
    }

    &-item-1, &-item-2 {
      margin: 0;

      > a {
        padding: 5px 14px;
        display: block;
        height: 100%;
        font-size: 13px;
        font-weight: 400;
        text-decoration: none;
        color: #777;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }

      &:hover {
        > a {
          color: #666;
        }

        background-color: #e8edee;
      }
    }

    &-item-1 {
      padding-left: 0;
    }

    &-item-2 {
      padding-left: 14px;
    }

    &:hover {
      .dropdown-container {
        visibility: visible;
        opacity: 1;
      }

      .recent-activities-menu-item {
        background-color: rgba(255, 255, 255, 0.1);
      }
    }
  }

  .recent-activities {
    padding: 14px 0 14px 14px;
    width: 450px;

    background-color: white;

    font-size: 14px;
    white-space: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    a&-menu-item {
      position: relative;
      top: -1px;

      border: 1px #fff solid;
      border-radius: 8px;
      padding: 4px 6px;

      font-size: 12px;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }

    &-header {
      margin-top: 6px;
      margin-bottom: 18px;

      text-align: left;
      
      font-family: "Helvetica Neue", Arial, sans-serif;
      font-size: 11px;
      font-weight: 500;
      letter-spacing: 1.5pt;
    }
    
    &-items {
      border-top: 1px #eee solid;
      max-height: 60vh;
      overflow-x: hidden;
      overflow-y: auto;
    }
    
    &-item {
      display: flex;
      flex-flow: row nowrap;

      margin-bottom: 10px;
      border-top: 1px #eee solid;
      padding: 10px;

      &:first-child {
        border-top: none;
      }
      
      &-date {
        display: flex;
        justify-content: center;
        flex-direction: column;
        
        width: 90px;
        height: 40px;
        
        font-size: 12px;
        vertical-align: bottom;
      }

      &-content {
        flex: 1;

        &-title {
          display: flex;
          justify-content: center;
          flex-direction: column;
          
          margin-bottom: 9px;
          height: 40px;
          
          color: #444;
          font-weight: bold;
          vertical-align: bottom;
        }

        &-description {
          font-size: 12px;

          p {
            margin: 0;
          }

          ul, ol {
            margin: 4px 0;
          }
        }
      }          
    }
  }
}
