@media @large-or-smallscreen {
  .dropdown {
    &-container {
      z-index: 1;
      position: absolute;
      left: 50%;
      top: 75%;
      visibility: hidden;
      opacity: 0;
      transition: opacity 0.08s ease-in-out;
      transform: translateX(-50%);
      padding: 10px 0;
      min-width: 180px;
      box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.3);
      background-color: #fff;
      border-radius: 5px;
      overflow: hidden;
      font-size: 16px;
    }

    &-content {
      margin: 0;
      list-style: none;
      width: 100%;
    }

    &-item-1, &-item-2 {
      margin: 0;
      border-radius: 2px;

      > a {
        padding: 5px 15px;
        display: block;
        height: 100%;
        font-size: 13px;
        font-weight: 400;
        text-decoration: none;
        color: #777;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;

        &:hover {
          color: @header-bg-color;
          background-color: #fafafa;
        }
      }
    }

    &-title {
      font-weight: 700;
      margin: 15px 0 0;
      padding: 0 10px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      text-align: center;
      color: #222;
    }

    &-content:first-of-type &-title {
      margin: 0;
    }

    &-item-1 {
      padding-left: 0;
    }

    &-item-2 {
      margin-left: 16px;
      border-left: 1px solid rgba(0, 0, 0, 0.1);

      a {
        padding-left: 10px;
      }
    }

    &:hover {
      .dropdown-container {
        visibility: visible;
        opacity: 1;
      }

      .recent-activities-menu-item {
        background-color: rgba(255, 255, 255, 0.1);
      }
    }
  }

  .header-small {
    .dropdown-container {
      top: 100%;
    }
  }

  .recent-activities {
    padding: 14px 0 14px 14px;
    width: 450px;

    background-color: white;

    color: #666; // required for React & Meteor landing pages
    font-size: 14px;
    white-space: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    &-menu-item {
      a& {
        position: relative;

        border: 1px #fff solid;
        border-radius: 8px;
        padding: 4px 6px;

        font-size: 12px;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;

        .lang-ja & {
          top: 1px;
        }
      }

      &-notification {
        position: absolute;
        top: -10px;
        right: -9px;

        display: flex;
        justify-content: center;
        flex-direction: column;

        margin: 0;
        border-radius: 999px;
        padding: 0 6px;
        height: 17px;

        background-color: white;
        box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.15);

        color: @header-bg-color;
        font-size: 8px;
        font-weight: bold;
      }
    }

    &-header {
      border-bottom: 1px #eee solid;
      padding-top: 6px;
      padding-bottom: 18px;

      text-align: left;

      font-family: "Helvetica Neue", Arial, sans-serif;
      font-size: 11px;
      font-weight: 500;
      letter-spacing: 1.5pt;

      .lang-ja & {
        font-family: "Hiragino Kaku Gothic ProN","メイリオ", sans-serif;
        font-size: 13px;
      }
    }

    &-items {
      max-height: 50vh;
      overflow-x: hidden;
      overflow-y: auto;
    }

    &-items-placeholder {
      padding: 30px 0 20px 0;

      text-align: center;

      font-size: 12px;
      font-style: italic;
      color: #aaa;
    }

    &-item {
      display: flex;
      flex-flow: row nowrap;

      margin-bottom: 10px;
      border-top: 1px #eee solid;
      padding: 10px;

      font-family: "Helvetica Neue", Arial, sans-serif;

      &:first-child {
        border-top: none;
      }

      &-date {
        padding-top: 10px;
        width: 100px;

        font-size: 12px;

        &-anchor:hover {
          text-decoration: underline;

          cursor: pointer;
        }
      }

      &-content {
        flex: 1;

        &-title {
          padding-top: 8px;
          margin-bottom: 16px;

          color: #444;
          font-weight: bold;

          a {
            color: #444;
          }

          &-notification {
            position: relative;
            top: -1px;
            left: 4px;

            display: inline-block;

            margin: 0px 0px 0px 8px;
            border: 1px solid red;
            border-radius: 8px;
            padding: 0px 6px;

            background-color: white;
            opacity: 0.6;

            vertical-align: middle;

            font-size: 11px;
            font-family: 'Helvetica Neue', 'Arial', sans-serif;
            color: red;
          }
        }

        &-description {
          font-size: 12px;

          a:hover {
            cursor: pointer;
          }

          p {
            margin: 0;
          }

          p + p {
            margin-top: 12px;
          }

          ul, ol {
            margin: 4px 0;
          }

          a.card-anchor:hover {
            text-decoration: none;
          }

          .card {
            border: 1px solid #ddd;
            border-radius: 0px;

            &-image {
              padding: 0;
            }

            &-content {
              padding: 8px 16px;

              color: #111;
              line-height: 140%;

              &-title {
                margin-bottom: 4px;

                font-weight: 700;
              }
              &-text {
                margin-bottom: 6px;
              }

              &-source {
                color: #999;
              }
            }
          }
        }
      }
    }
  }
}
