@media @large-or-smallscreen {
  .dropdown {
    &-container {
      z-index: 1;
      left: 50%;
      position: absolute;
      top: 25px;
      padding-top: 20px;
      visibility: hidden;
      opacity: 0;
      transition: opacity 0.08s ease-in-out;
      transform: translateX(-50%);
    }

    &-content {
      margin: 0;
      padding: 10px 0;
      min-width: 180px;
      box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
      background-color: #fff;
      border: 1px solid #e6e6e6;
      border-radius: 2px;
      list-style: none;
    }

    &-item-1, &-item-2 {
      margin: 0;

      > a {
        padding: 5px 14px;
        display: block;
        height: 100%;
        font-size: 13px;
        font-weight: 400;
        text-decoration: none;
        color: #777;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }

      &:hover {
        > a {
          color: #666;
        }

        background-color: #e8edee;
      }
    }

    &-item-1 {
      padding-left: 0;
    }

    &-item-2 {
      padding-left: 14px;
    }

    &:hover {
      .dropdown-container {
        visibility: visible;
        opacity: 1;
      }

      .recent-activities-menu-item {
        background-color: rgba(255, 255, 255, 0.1);
      }
    }
  }

  .recent-activities {
    padding: 14px 0 14px 14px;
    width: 450px;

    background-color: white;

    color: #666; // required for React & Meteor landing pages
    font-size: 14px;
    white-space: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    &-menu-item {
      a& {
        position: relative;
        top: -1px;
  
        border: 1px #fff solid;
        border-radius: 8px;
        padding: 4px 6px;
  
        font-size: 12px;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;

        .lang-ja & {
          top: 2px;
        }
      }

      &-notification {
        position: absolute;
        top: -10px;
        right: -9px;

        margin: 0;
        border-radius: 999px;
        padding: 0 6px;
        
        background-color: white;
        box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.15);

        color: #ef3e29;
        font-size: 8px;
        font-weight: bold;
      }
    }

    &-header {
      border-bottom: 1px #eee solid;
      padding-top: 6px;
      padding-bottom: 18px;

      text-align: left;
      
      font-family: "Helvetica Neue", Arial, sans-serif;
      font-size: 11px;
      font-weight: 500;
      letter-spacing: 1.5pt;
      
      .lang-ja & {
        font-family: "Hiragino Kaku Gothic ProN","メイリオ", sans-serif;
        font-size: 13px;
      }
    }
    
    &-items {
      max-height: 50vh;
      overflow-x: hidden;
      overflow-y: auto;
    }
    
    &-items-placeholder {
      padding: 30px 0 20px 0;

      text-align: center;
      
      font-size: 12px;
      font-style: italic;
      color: #aaa;
    }
    
    &-item {
      display: flex;
      flex-flow: row nowrap;

      margin-bottom: 10px;
      border-top: 1px #eee solid;
      padding: 10px;

      font-family: "Helvetica Neue", Arial, sans-serif;
      
      &:first-child {
        border-top: none;
      }
      
      &-date {
        display: flex;
        justify-content: center;
        flex-direction: column;
        
        width: 90px;
        height: 40px;
        
        font-size: 12px;
        vertical-align: bottom;

        &-anchor:hover {
          text-decoration: underline;

          cursor: pointer;
        }
      }

      &-content {
        flex: 1;

        &-title {
          display: flex;
          justify-content: center;
          flex-direction: column;
          
          margin-bottom: 9px;
          height: 40px;
          
          color: #444;
          font-weight: bold;
          vertical-align: bottom;

          &-notification {
            position: relative;
            top: -1px;
            left: 4px;

            display: inline-block;

            margin: 0px 0px 0px 8px;
            border: 1px solid red;
            border-radius: 8px;
            padding: 0px 6px;

            background-color: white;
            opacity: 0.6;

            vertical-align: middle;
            
            font-size: 11px;
            font-family: 'Helvetica Neue', 'Arial', sans-serif;
            color: red;
          }
        }

        &-description {
          font-size: 12px;

          p {
            margin: 0;
          }

          ul, ol {
            margin: 4px 0;
          }
        }
      }          
    }
  }
}
