@footersmallscreen: ~"only screen and (max-width: 900px)";
@footerverysmallscreen: ~"only screen and (max-width: 700px)";

.newsletter {
  width: 100%;
  text-align: center;
  margin-top: 14px;

  input[type=text] {
    font-size: 15px;
    background-color: white;
    width: 325px;
    padding: 10px 8px 9px 8px;
    line-height: 34px;
    height: 36px;
    border: 1px solid #ccc;
    margin: 0;
    border-radius: 2px;
    box-sizing: border-box;
  }

  input[type=submit] {
    .site-button();
  }

  &-thankyou {
    display: none;
    font-size: 15px;
    line-height: 38px;
    font-weight: 500;
  }

  &-footer {
    margin-top: 0px;
    margin-bottom: 28px;
  }

}

.footer-container {
  &-info {
    display: flex;
    justify-content: center;
    max-width: 1152px;
    padding: 0 20px;
    margin: 0 auto;
    flex-wrap: wrap;

    @media @footersmallscreen {
      flex-direction: column;
    }

    &-item {
      padding: 34px 54px 31px 120px;
      background-color: #e8edee;
      flex-basis: 390px;
      margin: 0 6px 40px 6px;
      position: relative;

      > img {
        display: block;
        position: absolute;
        width: 80px;
        height: 80px;
        top: 32px;
        left: 22px;

        @media @footersmallscreen {
          display: none;
        }
      }

      @media @footersmallscreen {
        padding: 30px 20px;
        flex-basis: initial;
      }

      & > h3 {
        padding: 0;
        margin: 0 0 10px 0;
        color: #4c4c4c;
        font-family: @en-font-family;
        font-size: 20px;
        font-weight: 300;
      }

      & > p {
        color: #666;
        font-size: 14px;
        font-weight: 300px;
      }

      & > a {
        font-size: 14px;
        text-decoration: none;
        color: #0088cc;
        font-weight: 300;
      }
    }
  }

  &-upper {
    padding: 46px 20px;
    background-color: #e8edee;

    &-message {
      max-width: 660px;
      font-size: 20px;
      font-weight: 300;
      line-height: 24px;
      margin: 0 auto 28px auto;
      text-align: center;
    }

    &-social {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 0 auto;
      flex-wrap: wrap;
      max-width: 360px;
    }
    &-social-ja {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 0 auto;
      flex-wrap: wrap;
      max-width: 460px;
    }
  }

  &-lower {
    background-color: #cdd3d4;
    padding: 30px 0 0 0;

    &-inner {
      max-width: 1140px;
      padding: 0 20px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      flex-wrap: wrap;

      @media @footersmallscreen {
        flex-direction: column;
      }
    }
  }

  &-navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-grow: 1;

    &-column {
      display: flex;
      flex-direction: column;
      padding-bottom: 20px;

      @media @footersmallscreen {
        margin: 0 0 50px 0;
      }

      @media @footerverysmallscreen {
        width: 50%;
      }
    }

    &-header {
      text-transform: uppercase;
      margin: 0 0 10px 0;
      color: #666;
      font-weight: bold;
    }

    &-link {
      margin: 0 0 5px 0;
      color: #666;
      font-size: 14px;
      text-decoration: none;

      &:hover {
        text-decoration: none;
        opacity: 0.8;
      }

      .lang-ja & {
        font-size: 12px;
      }
    }
  }

  &-newsletter {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    flex-basis: 400px;
    padding: 0 0 0 40px;
    margin: 0 0 0 40px;
    border-left: 1px solid #9ca0a1;

    @media @footersmallscreen {
      border-left: none;
      border-top: 1px solid #9ca0a1;
      margin: 0;
      padding: 50px 0 0 0;
      flex-basis: initial;
    }

    &-header {
      text-transform: uppercase;
      margin: 0 0 10px 0;
      color: #666;
      font-weight: bold;
    }

    &-message {
      margin: 0 0 30px 0;
      color: #666;
      font-size: 14px;
    }

    &-form {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;

      form {
        display: inherit;
        width: 100%;
      }

      &-input {
        width: 280px;
        height: 46px;
        border: 1px solid #b3b3b3;
        box-sizing: border-box;
        margin: 0 10px 0 0;
        padding: 0 10px;

        @media @footersmallscreen {
          width: 100%;
        }
      }

      &-button {
        background-color: #ef3d29;
        border: 0;
        color: #fff;
        text-transform: uppercase;
        width: 110px;

        &:hover {
          cursor: pointer;
        }
      }
    }

    &-thankyou {
      display: none;
      margin-top: 8px;
    }
  }

  &-copyright {
    padding: 10px;
    font-size: 12px;
    margin-top: -20px;
    color: #999;

    @media @footersmallscreen {
      margin-top: 0;
    }

    > a {
      color: #999;
    }
  }
}
