.global-nav {
  @global-nav-height: 60px;

  height: @global-nav-height;
  background: transparent;

  &-container {
    padding-top: @global-nav-height;
  }

  &-inner {
    max-width: 1140px;
    padding: 0 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: @global-nav-height;
    align-items: center;
  }

  &-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 0;
  }

  &-menu {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;

    &-item {
      white-space: nowrap;
      margin: 0 28px 0 0;
      padding: 0;
      position: relative;

      &:hover {
        > a {
          opacity: 1;
        }
      }

      & > a {
        text-transform: uppercase;
        text-decoration: none;
        font-size: 13px;
        font-weight: 700;
        color: #fff;
        opacity: 0.5;
      }

      &-active {
        & > a {
          opacity: 1;
        }

        &:after {
          content: '';
          position: absolute;
          width: 0;
          height: 0;
          left: 50%;
          border: 4px solid #fff;
          border-radius: 100%;
          transform: translate3d(-50%, 0, 0);
          bottom: -8px;
        }

        @media @smallscreen {
          > a {
            color: #333333 !important;
          }
        }
      }

      &:last-child {
        margin: 0;
      }
    }

    &-arrow {
      display: inline-block;
      vertical-align: middle;
      margin-top: 2px;
      margin-left: -23px;
      margin-right: 24px;
      width: 0;
      height: 0;
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      border-top: 5px solid #fff;
      opacity: 0.3;
    }

    @media @smallscreen {
      z-index: 10000;
      display: none;
      position: absolute;
      top: @global-nav-height;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      background-color: #fff;
      padding: 40px 0 0 0;
      overflow: scroll;

      ul, li {
        margin: 0;
        padding: 0;
        list-style: none;
      }

      > li {
        margin: 0 auto;
        width: ~"calc(100vw - 70px)";
        max-width: 400px;
        display: block;
        border-bottom: 1px solid #cdd3d4;
        padding: 0 20px;

        &:last-child {
          border-bottom: none;
          margin: 0 auto;
        }

        > a {
          font-size: 16px;
          color: #999;
          text-transform: uppercase;
          display: block;
          padding: 7px 0;
          opacity: 1;
          font-weight: 700;
        }

        > div > ul > li {
          padding: 0 20px;

          > a {
            font-size: 16px;
            color: #999;
            display: block;
            padding: 7px 0;
            opacity: 1;
            font-weight: 700;
            text-decoration: none;
          }
        }
      }
    }
  }

  &-checkbox {
    display: none;
  }

  @media @smallscreen {
    .global-nav-toggle {
      height: 22px;
      width: 22px;
      text-align: center;
    }

    .global-nav-checkbox:checked + .global-nav-menu {
      display: block;
    }

    .global-nav-checkbox:checked ~ .global-nav-toggle {
      .global-nav-toggle-open {
        display: none;
      }

      .global-nav-toggle-close {
        display: inline-block;
      }
    }
  }

  &-toggle {
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
    display: none;
    position: relative;

    @media @smallscreen {
      display: block;
    }

    &-open,
    &-close {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
    }

    &-open {
      display: inline-block;
    }

    &-close {
      display: none;
    }
  }
}
