.global-nav {
  height: @header-height;
  background: transparent;

  &-inner {
    max-width: 1140px;
    padding: 0 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: @header-height;
    align-items: center;
  }

  &-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 0;
  }

  &-search-input {
    appearance: none;
    vertical-align: middle !important;
    border: none;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 3px;
    border: none;
    margin: 0 5px;
    padding: 0 4px 0 30px;
    height: 30px;
    width: 182px;
    line-height: 30px;
    font-size: 13px;
    color: #E6351B;
    background-position: 10px center;
    background-image: url('/images/header/search-input-icon.svg');
    background-repeat: no-repeat;
    transition: background-color 0.1s linear;

    &::placeholder {
      color: rgba(230, 53, 27, 0.54);
    }

    &:focus {
      background-color: white;
      color: #666;
    }
  }

  &-menu {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;

    &-search {
      padding: 0;
      margin: 0 28px 0 0;
    }

    &-item {
      white-space: nowrap;
      margin: 0 28px 0 0;
      padding: 0;
      position: relative;

      &:hover {
        > a {
          opacity: 1;
        }
      }

      & > a {
        text-transform: uppercase;
        text-decoration: none;
        font-size: 15px;
        font-weight: 700;
        color: #fff;
        opacity: 0.8;
      }

      &-active {
        & > a {
          opacity: 1;
        }

        &:after {
          content: '';
          position: absolute;
          width: 0;
          height: 0;
          left: calc(50% - 7px);
          border: 4px solid #fff;
          border-radius: 100%;
          transform: translate3d(-50%, 0, 0);
          bottom: -8px;
        }

        @media @smallscreen {
          > a {
            color: #333333 !important;
          }
        }
      }

      &:last-child {
        margin: 0;
      }
    }

    &-arrow {
      display: inline-block;
      vertical-align: middle;
      width: 0px;
      height: 0px;
      opacity: 0.3;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 6px solid rgb(255, 255, 255);
    }

    @media @smallscreen {
      z-index: 10000;
      display: none;
      position: absolute;
      top: @header-height;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      background-color: #fff;
      padding: 40px 0 0 0;
      overflow: scroll;

      ul, li {
        margin: 0;
        padding: 0;
        list-style: none;
      }

      > li {
        margin: 0 auto;
        width: ~"calc(100vw - 70px)";
        max-width: 400px;
        display: block;
        border-bottom: 1px solid #cdd3d4;
        padding: 0 20px;

        &:last-child {
          border-bottom: none;
          margin: 0 auto;
        }

        > a {
          font-size: 16px;
          color: #999;
          text-transform: uppercase;
          display: block;
          padding: 7px 0;
          opacity: 1;
          font-weight: 700;
        }

        > div > ul > li {
          padding: 0 20px;

          > a {
            font-size: 16px;
            color: #999;
            display: block;
            padding: 7px 0;
            opacity: 1;
            font-weight: 700;
            text-decoration: none;
          }
        }
      }
    }
  }

  &-checkbox {
    display: none;
  }

  @media @smallscreen {
    .global-nav-toggle {
      height: 22px;
      width: 22px;
      text-align: center;
    }

    .global-nav-checkbox:checked + .global-nav-menu {
      display: block;
    }

    .global-nav-checkbox:checked ~ .global-nav-toggle {
      .global-nav-toggle-open {
        display: none;
      }

      .global-nav-toggle-close {
        display: inline-block;
      }
    }
  }

  &-toggle {
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
    display: none;
    position: relative;

    @media @smallscreen {
      display: block;
    }

    &-open,
    &-close {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
    }

    &-open {
      display: inline-block;
    }

    &-close {
      display: none;
    }
  }
}

.header-fixed {
  .global-nav {
    z-index: 1;
    position: fixed;
    width: 100%;
    background-color: @header-bg-color;
    background-image: @header-bg-image;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.24);
  }
}
