
.header {
  height: @header-height;
  max-width: 100%;
  margin: 0 auto;
  width: 100%;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 44px;
  z-index: 20;
  border-bottom: 1px solid #ddd;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.07);

  .gnav-icon {
    display: none;
  }
}

.header-inner {
  box-sizing: border-box;
  margin: 0 auto;
  padding-top: 11px;
  position: relative;
  text-align: left;
  width: @width;
  min-height: @header-height;
  max-width: 100%;
}

.header-logo {

}

.header-logo-image {
  position: absolute;
  top: 20px;
  left: 14px;
  height: 32px;
}

.header-navi {
  position: absolute;
  top: 0;
  right: 0;
  height: @header-height;
  line-height: @header-height;
  margin: 0;
}

.header-navi li {
  display: inline-block;
  font-size: 15px;
  margin: 0 4px;
  padding: 0 4px;
  -webkit-box-sizing: border-box;
  -mz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;

  .lang-en & {
    font-size: 16px;
  }

  a {
    height: @header-height;
    line-height: @header-height;
    display: inline-block;
    box-sizing: border-box;
    border-bottom: 4px solid transparent;
    transition: border-color 0.2s linear;
    padding: 0 4px;

    &:link, &:hover, &:visited {
      color: #222;
      text-decoration: none;
    }

    &:hover {
      border-bottom: 4px solid @onsen-navy;
    }
  }
}

@media screen and (min-width: @width) {
  .fixed-header {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 20;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid #ddd;
    transform: translate3D(0px, 0px, 0px);
  }

  .fixed-header-inactive {
    background-color: rgba(255, 255, 255, 1);
    transition: transform 0.2s ease-in-out;
    transform: translate3D(0px, -100%, 0px);
  }

  .fixed-header-active {
    background-color: rgba(255, 255, 255, 1);
    transition: transform 0.2s ease-in-out;
    transform: translate3D(0px, 0px, 0px);
  }

  .fixed-header .header-inner {
    border-width: 0px;
  }
}

@media screen and (min-width: @width) {
  .header-navi li.current {
    a {
      border-bottom: 4px solid @onsen-navy;
      font-weight: bold;

      &:link, &:hover, &:visited {
        color: #333;
        text-decoration: none;
      }
    }
  }
}

@media screen and (min-width: @width) {
  .header {

    .gnav-icon {
      display: none !important;
    }
  }
}

@media screen and (max-width: @width) {

  .header {
    border-bottom: none;
    box-shadow: none;

    position: static;

    > div:first-child {
      padding-left: 20px;
    }
  }

  .header-logo-img {
    margin-left: 20px;
  }

  .header-navi {
    display: none;
  }

  .header {
    height: auto;
    min-height: @header-height;
  }

  .gnav-icon {
    display: block !important;
    position: absolute;
    top: 15px;
    right: 15px;
    img {
      width: 32px;
      height: 32px;
      opacity: 0.3;
      cursor: pointer;
    }
  }

  .header-inner {
    border-bottom: none;
  }

  .header-navi {
    position: static;
    height: auto;
    display: none;
    background-color: rgba(0, 0, 0, 0.02);
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    margin-top: 60px;
    margin-left: -20px;
    margin: 66px 0 12px -20px;
    padding: 0 0 36px 0;
    li {
      display: block;
      width: 100%;
      line-height: 48px;
      height: 48px;
      padding: 0 12px 0 12px;
    }
  }
}

.language-dialog {
  position: fixed;
  width: 500px;
  top: 150px;
  left: 50%;
  transform: translate(-50%, 0);
  box-sizing: border-box;
  max-width: 95%;
  padding: 32px;
  background-color: #313e50;
  z-index: 91;
}

.language-dialog-mask {
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  opacity: 0.15;
  background-color: #2a3e54;
  z-index: 90;
}

.language-dialog-header {
  font-size: 24px;
  color: white;
}

.language-dialog-footer {
  margin-top: 52px;
  text-align: center;
}

.language-dialog-button {
  font-size: 20px;
  display: inline-block;
  color: white;
  background-color: #6c7480;
  border: none;
  border-radius: 2px;
  padding: 0 18px;
  height: 48px;
  line-height: 48px;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  outline: none;
  cursor: pointer;
  text-decoration: none;

  &:active, &:visited, &:hover, &:link {
    text-decoration: none;
    color: white;
  }
  &:active {
    outline: none;
    opacity: 0.8;
  }
  &:hover {
    opacity: 0.8;
  }
}

