@header-height: 74px;

.header {
  height: @header-height;
  max-width: 100%;
  margin: 0 auto;
  width: 100%;

  .gnav-icon {
    display: none;
  }

  .header-inner {
    box-sizing: border-box;
    margin: 0 auto;
    padding-top: 11px;
    position: relative;
    text-align: left;
    width: @width;
    min-height: @header-height;
    max-width: 100%;
    border-bottom: 1px solid #ddd;
  }

  .header-logo {

  }

  .header-logo-image {
    position: absolute;
    top: 20px;
    left: 14px;
    height: 32px;
  }

  .header-navi {
    position: absolute;
    top: 0;
    right: 0;
    height: @header-height;
    line-height: @header-height;
    margin: 0;
  }

  .header-navi li {
    display: inline-block;
    font-size: 15px;
    margin: 0 4px;
    padding: 0 10px;
    -webkit-box-sizing: border-box;
    -mz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;

    .lang-en & {
      font-size: 16px;
    }

    a {
      height: @header-height;
      line-height: @header-height;

      &:link, &:hover, &:visited {
        color: #222;
        text-decoration: none;
      }

      &:hover {
        color: @link-color;
        border-bottom: 2px solid @link-color;
      }
    }
  }
}

@media screen and (min-width: 1100px) {
  .header-navi li.current {
    a {
      border-bottom: 2px solid #ddd;
      font-weight: bold;
      &:link, &:hover, &:visited {
        color: #333;
        text-decoration: none;
      }
    }
  }
}

@media screen and (min-width: 1100px) {
  .header {
    .gnav-icon {
      display: none !important;
    }
  }
}

@media screen and (max-width: 1100px) {

  .header {

    > div:first-child {
      padding-left: 20px;
    }

    .header-logo-img {
      margin-left: 20px;
    }

    .header-navi {
      display: none;
    }
  }

  .header {
    height: auto;
    min-height: @header-height;
    .gnav-icon {
      display: block !important;
      position: absolute;
      top: 15px;
      right: 15px;
      img {
        width: 32px;
        height: 32px;
        opacity: 0.3;
        cursor: pointer;
      }
    }

    .header-inner {
      border-bottom: none;
    }

    .header-navi {
      position: static;
      height: auto;
      display: none;
      background-color: rgba(0, 0, 0, 0.02);
      border-bottom: 1px solid #ddd;
      border-top: 1px solid #ddd;
      margin-top: 60px;
      margin-left: -20px;
      margin: 66px 0 12px -20px;
      padding: 0 0 36px 0;
      li {
        display: block;
        width: 100%;
        line-height: 48px;
        height: 48px;
        padding: 0 12px 0 12px;
      }
    }
  }
}

.language-dialog {
  position: fixed;
  width: 500px;
  top: 150px;
  left: 50%;
  transform: translate(-50%, 0);
  box-sizing: border-box;
  max-width: 95%;
  padding: 32px;
  background-color: #313e50;
  z-index: 91;
}

.language-dialog-mask {
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  opacity: 0.15;
  background-color: #2a3e54;
  z-index: 90;
}

.language-dialog-header {
  font-size: 24px;
  color: white;
}

.language-dialog-footer {
  margin-top: 52px;
  text-align: center;
}

.language-dialog-button {
  font-size: 20px;
  display: inline-block;
  color: white;
  background-color: #6c7480;
  border: none;
  border-radius: 2px;
  padding: 0 18px;
  height: 48px;
  line-height: 48px;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  outline: none;
  cursor: pointer;
  text-decoration: none;

  &:active, &:visited, &:hover, &:link {
    text-decoration: none;
    color: white;
  }
  &:active {
    outline: none;
    opacity: 0.8;
  }
  &:hover {
    opacity: 0.8;
  }
}

