
.header {
  height: @header-height;
  max-width: 100%;
  margin: 0 auto;
  width: 100%;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 44px;
  z-index: 20;
  border-bottom: 1px solid #ddd;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.07);

  .gnav-icon {
    display: none;
  }

  &-inner {
    box-sizing: border-box;
    margin: 0 auto;
    padding-top: 11px;
    position: relative;
    text-align: left;
    width: @width;
    min-height: @header-height;
    max-width: 100%;
    background-color: white;
  }

  &-logo {

  }

  &-logo-image {
    position: absolute;
    top: 20px;
    left: 14px;
    height: 32px;
  }

  &-navi {
    position: absolute;
    top: 0;
    right: 0;
    height: @header-height;
    line-height: @header-height;
    margin: 0;
    font-size: 0px;
  }

  &-navi-item {
    display: inline-block;
    position: relative;
    font-size: 15px;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -mz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    height: @header-height;
    line-height: @header-height;

    &:hover {
      .desktop-query({
        .header-navi-sub {
          opacity: 1;
          pointer-events: auto;
          transition: all 0.1s linear;
        }
      });
    }

    .lang-en & {
      font-size: 16px;
    }

    .tablet-query({
      & {
        display: block;
      }
    });
  }

  &-navi-item > a {
    height: @header-height;
    line-height: @header-height;
    display: block;
    box-sizing: border-box;
    transition: all 0.1s linear;
    padding: 0 16px;
    margin: 0;

    &:link, &:hover, &:visited {
      color: #222;
      text-decoration: none;
    }

    .desktop-query({
      &:hover {
        background-color: #f3f3f3;

        img {
          opacity: 1;
        }
      }
    });
  }

  &-navi-sub {
    position: absolute;
    background-color: white;
    width: 230px;
    margin: 0;
    padding: 6px 16px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    z-index: 2;
    opacity: 0;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    top: @header-height;
    left: -75px;
    pointer-events: none;

    &:after {
      content: '';
      border-left: 1px solid #ddd;
      border-top: 1px solid #ddd;
      background-color: white;
      height: 14px;
      width: 14px;
      position: absolute;
      transform: rotate(45deg);
      top: -8px;
      left: 105px;
    }
  }

  &-navi-sub-item {
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 40px;
    height: 40px;
  }

  &-navi-sub-item > a {

    &:visited, &:link, &:active, &:hover {
      color: @text-color;
      text-decoration: none;
      line-height: 40px;
      height: 40px;
      width: 100%;
      display: block;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}

.desktop-query({
  .header-navi-item.current {
    > a {
      background-color: #f3f3f3;
      font-weight: bold;

      &:link, &:hover, &:visited {
        color: #333;
        text-decoration: none;
      }
    }
  }

  .header .gnav-icon {
    display: none !important;
  }
});

.tablet-query({
  .header {
    border-bottom: none;
    box-shadow: none;
    height: auto;
    min-height: @header-height;
    position: static;

    > div:first-child {
      padding-left: 20px;
    }

    &-logo-img {
      margin-left: 20px;
    }

    &-navi {
      display: none;
    }

    &-inner {
      border-bottom: none;
    }

    &-navi {
      position: static;
      height: auto;
      display: none;
      background-color: rgba(0, 0, 0, 0.02);
      border-bottom: 1px solid #ddd;
      border-top: 1px solid #ddd;
      margin-top: 60px;
      margin-left: -20px;
      margin: 66px 0 12px -20px;
      padding: 0 0 36px 0;

    }

    &-navi-item {
      display: block;
      width: 100%;
      line-height: 48px;
      height: 48px;
      padding: 0 12px 0 12px;
    }
  }

  .gnav-icon {
    display: block !important;
    position: absolute;
    top: 15px;
    right: 15px;
    img {
      width: 32px;
      height: 32px;
      opacity: 0.3;
      cursor: pointer;
    }
  }
});

.language-dialog {
  position: fixed;
  width: 500px;
  top: 150px;
  left: 50%;
  transform: translate(-50%, 0);
  box-sizing: border-box;
  max-width: 95%;
  padding: 32px;
  background-color: #313e50;
  z-index: 91;

  &-mask {
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    opacity: 0.15;
    background-color: #2a3e54;
    z-index: 90;
  }

  &-header {
    font-size: 24px;
    color: white;

    .tablet-query({
      font-size: 18px;
    });
  }

  &-footer {
    margin-top: 52px;
    text-align: center;

    .tablet-query({
      margin-top: 22px;
    });
  }

  &-button {
    font-size: 20px;
    display: inline-block;
    color: white;
    background-color: #6c7480;
    border: none;
    border-radius: 2px;
    padding: 0 18px;
    height: 48px;
    line-height: 48px;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    outline: none;
    cursor: pointer;
    text-decoration: none;

    .tablet-query({
      padding: 0 10px;
      height: 30px;
      line-height: 30px;
      font-size: 15px;
    });

    &:active, &:visited, &:hover, &:link {
      text-decoration: none;
      color: white;
    }
    &:active {
      outline: none;
      opacity: 0.8;
    }
    &:hover {
      opacity: 0.8;
    }
  }
}

