.keyvisual {
  height: 800px;
  background-position: bottom center;
  background-repeat: no-repeat;
  margin: 0 0 100px 0;

  &-inner {
    max-width: @width;
    padding: 0 20px;
    display: flex;
    position: relative;
    margin: 0 auto;
    justify-content: space-between;
  }

  &-left {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 580px;

    .star {
      color: transparent;
      background-color: transparent;
    }
  }

  &-right {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    body.loaded & {
      animation: reveal 0.8s 1 linear;
      animation-delay: 1s;
    }
  }

  &-image {
    body.loaded & {
      animation: reveal 0.8s 1 linear;
      animation-delay: 1s;
    }

    max-height:90%;
    visibility: hidden;

    &-frame {
      position: absolute;
      pointer-events: none;
      height: 745px;
      width: 372px;

      &-ios {
        background: url('/images/common/iphoneX.png') center no-repeat;
      }

      &-android {
        background: url('/images/common/android.png') center no-repeat;
      }
    }

    &-content {
      box-shadow: 0 0 1px 1px;

      &-ios {
        width: 312px;
        height: 698px;
        margin-top: 26px;
        margin-left: 30px;
        border-radius: 30px;
        background: #fff;
      }

      &-android {
        width: 317px;
        height: 570px;
        margin-top: 79px;
        margin-left: 27px;
        background: #fff;
      }
    }
  }

  &-switch {
    height: 100%;
    width: 100px;
    visibility: hidden;

    &:hover {
      cursor: pointer;
    }

    body.loaded & {
      animation: reveal 0.8s 1 linear;
      animation-delay: 1s;
    }

    .trigger {
      height: 100px;
      margin: 140px 10px 0 0;
      background: url('/images/common/btn-change-frame.png') center no-repeat;
      display: block;
      opacity: 0.8;

      &:hover {
        opacity: 1;
      }
    }
  }

  &-title-en {
    color: rgba(255, 255, 255, 1);
    font-size: 40px;
    margin: 90px 0 0 0;
    max-width: 580px;
  }

  &-title-ja {
    color: rgba(255, 255, 255, 1);
    font-size: 44px;
    margin: 76px 0 0 0;
    max-width: 580px;
  }

  &-getstarted {
    display: block;
    width: 220px;
    height: 60px;
    background-color: #fff;
    border-radius: 3px;
    border: 2px solid #fff;
    color: #ff1a33;
    font-weight: 700;
    line-height: 60px;
    text-transform: uppercase;
    text-align: center;
    margin: 70px 10px 15px 0;
    transition: all 0.2s ease-in-out;

    &:hover {
      background-color: #800d1a;
      color: #fff;
      text-decoration: none;
      cursor: pointer;
    }
  }

  &-download {
    display: block;
    width: 220px;
    height: 60px;
    background-color: #f03b2a;
    border-radius: 3px;
    border: 2px solid #fff;
    color: #fff;
    font-weight: 700;
    line-height: 15px;
    text-transform: uppercase;
    text-align: center;
    margin: 70px 0 15px 0;
    transition: all 0.2s ease-in-out;

    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    .text {
      margin-top: 23px;
    }

    .version {
      font-size: 10px;
    }

    &:hover {
      background-color: #800d1a;
      color: #fff;
      text-decoration: none;
      cursor: pointer;
    }
  }

  &-main-btn-container {
    display: flex;
    align-items: center;
    width: 100%;
  }

  &-ios-container {
    width: 450px;
  }

  &-android-container {
    width: 450px;
    display: none;
  }

  &-libraries {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.75);
    margin: 70px 0 0 0;

    &-container {
      margin: 15px 0 0 0;
      height: 130px;
      display: flex;
      flex-wrap: wrap;
    }

    &-framework {
      width: 130px;
      height: 130px;
      background: rgba(255, 255, 255, 0.18);
      margin-right: 2px;
      transition: all 0.2s ease-in-out;

      &:hover {
        cursor: pointer;
        background: rgba(255, 255, 255, 0.9);

        .getstarted {
          background-color: #800d1a;
          color: rgba(255, 255, 255, 0.9);
          text-decoration: none;
        }
      }

      .icon {
        margin: 20px 45px 0px 45px;
        height: 40px;
        width: 40px;
      }

      .angular1 {
        background: url('/images/common/icn_angular1_top.svg') center no-repeat;
      }

      .angular2 {
        background: url('/images/common/icn_angular2_top.svg') center no-repeat;
      }

      .react {
        background: url('/images/common/icn_react_top.svg') center no-repeat;
      }

      .vue {
        background: url('/images/common/icn_vuejs_top.svg') center no-repeat;
      }

      .getstarted {
        display: block;
        width: 100px;
        height: 30px;
        background-color: #fff;
        border-radius: 3px;
        color: #ff1a33;
        font-size: 13px;
        font-weight: 700;
        line-height: 30px;
        text-align: center;
        margin: 25px 15px 15px 15px;
        transition: all 0.2s ease-in-out;
      }
    }
  }

  &-contest {
    width: 356px;
    height: 156px;
    position: absolute;
    right: 0;
    bottom: 42px;
    background-image: url(/images/index/contest/contest_banner.png);
    display: block;
    cursor: pointer;

    @media @footerverysmallscreen {
      display: none;
    }

    &:hover {
      background-image: url(/images/index/contest/contest_banner_hover.png);
    }
  }
}

@media (max-width: 1170px) {
  .keyvisual {

    &-right {
      display: none;
    }

    &-inner {
      align-items: center;
      justify-content: center;
    }
  }
}

@media @footerverysmallscreen {
  .keyvisual {
    height: 1050px;
    background-image: none;

    &-inner {
      flex-direction: column;
    }

    &-image {
      display:none;
    }

    &-right {
      display: none;
    }

    &-left {
      width: 100%;
    }


    &-libraries {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      &-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }

      &-framework {
        margin: 2px 2px 0 0;
      }
    }

    &-title-en {
      max-width: 100%;
    }

    &-title-ja {
      max-width: 100%;
    }
  }
}

@keyframes reveal {
  0% {
    opacity: 0;
    transform: translate3d(0, 5%, 0);
  }
  100% {
    opacity: 1;
    visibility: visible;
    transform: translate3d(0, 0, 0);
  }
}
