#home {

  a#getstarted-button:link,
  a#getstarted-button:active,
  a#getstarted-button:visited {
    .lang-ja({
      font-family: 
        'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic ProN W3',
        'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
    });
  }

  h1, h2, h3, h4, h5 {
    .lang-en({
      font-family: 'ff-enzo-web', 'Helvetica Neue', Helvetica, sans-serif;
    });
  }

  #header-container {
  }

  #content-container {
    margin-left: 0;
    padding-top: 0;
    width: 100%;
  }

  #content {
    margin-left: 0;
    padding-top: 0;
    padding-left: 0px !important;
    padding-right: 0px !important;
    width: 100%;
  }

  .keyvisual-content {
    width: 1200px;
    height: 445px;
    background-repeat: no-repeat;
    background-image: url(/images/index/keyvisual.png);
    background-position: 650px 0px;
    background-size: 40% auto;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -220px;
    margin-left: -600px;
  }

  #keyvisual {
    width: 100%;
    height: 450px;
    background-color: #fff;
    background: linear-gradient(to bottom, #fff, #f3f5f6);
    position: relative;
    padding: 0;

    .keyvisual-main {
      margin: 0 auto;
      padding: 60px 0 0 0;
      width: 1100px;
      max-width: 100%;
    }

    h1 {
      font-size: 43px;
      line-height: 48px;
      letter-spacing: 0px;
      font-weight: 200;
      margin-bottom: 6px;
      color: #333;
    }

    h2 {
      font-size: 22px;
      font-weight: 200;
      margin: 10px 0 24px 0;
      padding: 0;
      font-family: 'Helvetica Neue', Helvetica, sans-serif;
      color: #606978;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
    
    .keyvisual-small {
      display: none;
    }

    a.getting-started {
      .large-button();
      transition: all 0.1s ease;
    }

    a.download {
      .large-button();
      transition: all 0.1s ease;
      background-color: #ddd;
      margin-left: 6px;
      color: #666;
    }

    .newsletter {
      display: inline-block;

      margin: 0 auto;
      width: 1100px;
      max-width: 100%;
      position: absolute;
      bottom: 20px;
      left: 0px;
      right: 0px;

      form {
        background-color: #d3d9dc;
        padding: 3px;
        border-radius: 2px;
        display: inline-block;
        max-width: 100%;
        width: auto;
      }

      input[type=text] {
        font-size: 15px;
        background-color: white;
        color: #333;
        width: 325px;
        padding: 10px 8px 9px 8px;
        line-height: 36px;
        height: 36px;
        border: none;
        margin: 0;
        border-radius: 2px;
        box-sizing: border-box;
      }

      input[type=submit] {
        .button();
      }

    }

    div.newsletter-thankyou {
      display: none;
      font-size: 15px;
      color: #666;
      line-height: 38px;
      font-weight: 500;
    }

    div.social {
      margin: 0 auto;
      width: 1100px;
      position: absolute;
      bottom: 74px;
      left: 0px;
      right: 0px;
      font-size: 16px;
      display: none;

      img {
        vertical-align: top;
      }

      a {
        margin-right: 20px;
        vertical-align: top;

        &:link, &:visited, &:active {
          color: #666;
          text-decoration: none;
        }

        &:hover {
          text-decoration: underline;
        }

        strong {
          font-weight: 600;
        }

      }

    }

  }

  div.main-features,
  div.other-features {
    margin: 0 auto;
    width: 900px;
    max-width: 100%;
  }

  div.taglines {
    border-bottom: 1px solid #ddd;
    padding: 40px;
    ul {
      width: 800px;
      margin: 0 auto !important;
      padding: 0;
    }
    li {
      font-size: 18px;
      color: #767c86;
      line-height: 1.8;
    }
  }

  section#content-container > div#content > div.main-features {
    > div.feature {
      border-bottom: 1px solid #D3D4D8;
      padding: 80px 0;
      background-repeat: no-repeat;

      > h2 {
        font-size: 36px;
        line-height: 1.2;
        font-weight: 200;
        color: #345;
      }

      > p {
        font-size: 16px;
      }

      &.super-performance {
        padding-left: 50%;
        background-position: 50px center;
        background-image: url(/images/index/feature-super-performance.png);
      }

      &.multi-screen {
        padding-right: 450px;
        background-position: right center;
        background-image: url(/images/index/feature-multi-screen.png);

        p {
          margin-right: 50px;
        }
      }

      &.cordova-friendly {
        padding-left: 50%;
        background-position: 25px center;
        background-image: url(/images/index/feature-phonegap-cordova-friendly.png);
      }

      &.custom-elements {
        text-align: center;
        padding: 60px 0;
      }

      &.with-jquery-or-angular {
        padding-left: 50%;
        background-position: 10px center;
        background-image: url(/images/index/feature-with-angular-or-jquery.png);
      }


    }

  }

  div.other-features {
    padding: 70px 0 90px 0;
    font-size: 0px;

    > h2 {
      margin-bottom: 52px;
      font-size: 40px;
      font-weight: 200;
      text-align: center;
    }

    > div.sub-feature {
      display: inline-block;
      box-sizing: border-box;
      width: 450px;
      max-width: 100%;
      padding: 0 12px 32px 86px;
      margin: 0;
      min-height: 130px;
      vertical-align: top;
      background-position: left top;
      background-repeat: no-repeat;
      vertical-align: top;

      &.free-and-opensource {
        background-image: url(/images/index/sub-feature-image_free.png);
      }
      &.font-awesome {
        background-image: url(/images/index/sub-feature-image_font-awesome.png);
      }
      &.selectable-theme {
        background-image: url(/images/index/sub-feature-image_selectable-theme.png);
      }
      &.customizable {
        background-image: url(/images/index/sub-feature-image_customizable.png);
      }
      &.screen-transition {
        background-image: url(/images/index/sub-feature-image_screen-transition.png);
      }
      &.gui-tool {
        background-image: url(/images/index/sub-feature-image_gui-tool.png);
      }

      > h3 {
        font-size: 18px;
        line-height: 1.2;
        margin: 0 0 8px 0;
        padding: 0;
        font-family: 'pragmatica-web', sans-serif;
        font-weight: 200;
        border: none;
        color: #444;
      }

      > p {
        font-size: 14px;
        margin: 0;
        padding: 0;
        line-height: 1.6;
      }
    }
  }

  div.getstarted {
    text-align: center;
    border-top: 1px solid #ddd;
    padding: 100px 0 0 0;

    > a.getstarted-button {
      .large-button();
    }
  }

  .github-widget {
    margin: 100px auto 0;
    width: 730px;
    max-width: 90%;
    border: 1px solid #ddd;
  }

  .github-widget-header {
    min-height: 52px;
    line-height: 52px;
    background-color: #f9f9f9;
    font-size: 18px;
    font-weight: 500;
    padding: 0 10px;
    vertical-align: middle;
  }

  .github-widget-project-name,
  .github-widget-project-name:link,
  .github-widget-project-name:visited {
    color: #666;
    font-weight: 600;
  }
  
  .github-widget-project-name:link {
    text-decoration: none;
  }
  .github-widget-project-name:hover {
    text-decoration: underline;
  }

  .github-widget-header-info {
    font-size: 16px;
    float: right;
  }

  .github-widget-header-num,
  .github-widget-header-num:link,
  .github-widget-header-num:visited {
    font-weight: 900;
    font-family: 'Helvetica', Arial;
    font-size: 18px;
    text-decoration: none;
    font-weight: 900;
    color: #666;
  }

  .github-widget-header-num:hover {
    text-decoration: underline;
  }

  .github-widget-header img {
    line-height: 52px;
    vertical-align: middle;
  }

  .github-widget-commit {
    border-top: 1px solid #ddd;
    padding: 10px;
    min-height: 56px;
    font-size: 15px;
  }

  .github-widget-commiter-image {
    float: left;
    border: 1px solid #ddd;
    border-radius: 4px;
  }

  .github-widget-commit-message {
    margin-left: 64px;
    font-weight: 500;
  }

  .github-widget-commit-info {
    margin-top: 4px;
    margin-left: 64px;
    font-size: 16px;
  }

}

@media screen and (max-width: 1100px) {
  body#home {
    div#keyvisual {
      height: auto;
      
      > div.keyvisual-content > div.keyvisual-main {
        padding: 0;
        
        > h1 {
          display: none;
        }
        > h2 {
          display: none;
        }
        > .keyvisual-small {
          display: block;
          margin: 0 auto;
        }
        > a.getting-started,
        > a.getting-started:active {
          width: 90%;
          max-width: 300px;
          display: block;
          margin: 0 auto 12px auto;
        }
        > a.download,
        > a.download:active {
          display: none;
        }
      }
      > div.keyvisual-content {
        > div.social {
          width: 100%;
          position: static;
          text-align: center;
          margin: 40px 0 10px 0;
        }
        > div.newsletter {
          width: 100%;
          position: static;
          text-align: center;
          margin: 0 0 12px 0;
        }
      }
      > div.keyvisual-content {
        margin: 0 auto;
        width: 100%;
        height: auto;
        background-image: none;
        position: relative;
        left: 0;
        top: 0;
      }
    }

    div.taglines {
      ul {
        width: auto;
        margin: 0 auto;
      }
    }

    section#content-container > div#content > div.main-features {
      > div.feature {
        > h2 {
          font-size: 36px;
          text-align: center;
        }
        padding: 32px 10px 32px 10px !important;
        background-image: none !important;
      }
    } 

    div#keyvisual > div.keyvisual-content > div.newsletter {
      input[type=text] {
        width: 220px;
      }
    }

    div.other-features {
      padding-top: 32px !important;
      padding-bottom: 32px !important;

      text-align: center;
      > h2 {
        font-size: 36px !important;
      }
      > .sub-feature {
        text-align: left;
      }
    }

    div.getstarted {
      a#getstarted-button {
        font-size: 36px !important;
      }
      > img {
        display: none !important;
      }
    }
  }

  .github-widget-header-info {
    display: none;
  }
}
