
#reference-detail {
  .reference-quick-navi {
    width: 150px;
    margin: 0;
    border: 1px solid #ddd;
    padding: 4px 12px;
    li {
      margin: 0;
      list-style-type: none;
    }
  }

  .reference-extension-note {
    opacity: 0.8;
    padding: 4px 8px;
    font-size: 15px;
    background-color: #f3f3f3;
  }

  .reference-extension-name {
    border: 1px solid #c00;
    color: #c00;
    font-size: 12px;
    padding: 0px 2px;
    border-radius: 1px;
    font-family: @en-font-family;
  }

  .reference-loop-anchor {
    visibility: hidden;
    &:link, &:visited, &:hover {
      color: #999;
    }
  }

  .reference-github-links {
    margin-top: 0px;
    display: none;
    float: right;
  }

  .reference-github-link {
    .highlight-button();
  }

  .reference-github-link:first-of-type {
    .site-button();
  }

  .reference-note {
    padding: 4px 10px;
    color: #c66;
    border: 1px solid #c66;
    font-size: 14px;

    > p {
      margin: 0;
      padding: 0;
    }
  }

  table {
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    box-sizing: border-box;
    font-size: 14px;
    margin: 16px 0;
  }

  tr {
    border-left: 1px solid #ddd;
    border-right: 0px solid #ddd;
    border-top: 1px solid #ddd;
    &:last-child {
      border-bottom: 1px solid #ddd;
    }
  }

  th {
    border-width: 0px;
    padding: 8px;
    border-right: 1px solid #ddd;
    padding: 4px 8px;
    font-size: 12px;
    color: #999;
  }

  td {
    padding: 8px;
    border-top-width: 0px;
    border-right: 1px solid #ddd;

    code {
      margin: 8px 0;
      white-space: nowrap;
      font-family: 'Menlo Regular', 'Menlo', 'Consolas', monospace;
      color: #10108F;
    }

  }

  td.attribute-name {
    color: #5E299A;
    font-size: 15px;
    font-family: Consolas, 'Courier New', Courier, Monaco, monospace;
  }

  thead {
    background-color: #f9f9f9;
    color: #333;
    border-bottom: 1px solid #ddd;
  }

  h3, h4, h5 {
    &:hover .reference-loop-anchor {
      visibility: visible;
    }
  }

  .method-detail, .event-detail {
    margin: 0px 0 36px 4px;
    padding: 0 0 0 14px;
    border-left: 2px solid #ddd;

    h4 {
      font-family: Consolas, 'Courier New', Courier, Monaco, monospace;
      font-weight: normal;
      font-size: 24px;
    }
  }

  .method-detail {
    border-color: #585AD4;
    > h4 {
      color: #585AD4;
    }
  }

  .event-detail {
    border-color: #ff5722;
    > h4 {
      color: #ff5722;
    }
  }

  .value-type {
    color: #999;
    font-size: 90%;
    font-weight: 200;
  }

  #nodebb {
    margin-left: 72px;

    .user {
      display: none;
    }

    > form {
      margin-left: -72px;
    }
  }
}

#guide #main-container {
  width: 1000px;
}

#javascript #main-container {
  max-width: @width;
  margin: auto;
}

#javascript .container {
  max-width: @width + 30px;
}

.content {
  width: inherit;
  max-width: inherit;
}

#reference-detail #main-container {
  width: @width;

  .breadcrumb {
    font-size: 15px;
    margin-bottom: 5px;
  }

}

.css-component {

  &-description {

  }

  &-showcase {
    position: fixed;
    box-sizing: border-box;
    width: 320px;
    height: 569px;
    top: 50%;
    transform: translateY(-50%) translateY(1px);
    z-index: 1;
    margin-left: 591px;
    overflow: hidden;

    .tablet-query({
      display: none;
    });
  }

  &-showcase-inner {
    width: 100%;
    height: 100%;
    overflow: hidden;

    .tablet-query({
      display: none;
    });
  }

  &-example {
    width: 100%;
    padding: 8px 0px;
    box-sizing: border-box;
    position: relative;
  }
}


.css-component-showcase-frame {
  .tablet-query({
    display: none;
  });

  & {
    background-image: url(../images/common/device-frame.png);
    background-repeat: no-repeat;
    width: 378px;
    min-height: 797px;
    box-sizing: border-box;
    padding: 116px 0px 0px 31px;
    z-index: 20;
    display: inline-block;
  }

  &-wrapper {
    width: 378px;
    position: fixed;
    z-index: 0;
    margin-left: 560px;
    top: 50%;
    transform: translateY(-50%);
  }

  &-placeholder {
    padding-top: 250px;
    font-size: 16px;
    font-weight: bold;
    color: #e6e6e6;
    text-align: center;
  }

  &-inner {
    width: 320px;
    height: 568px;
    background-color: white;
  }
}

.js-index {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @category-width: 360px;

  &-category {
    width: @category-width;
    box-sizing: border-box;
    padding: 10px 0;
    margin: 0 15px;
    min-height: 110px;

    .desktop-query({
      display: inline-block;
    });

    border-top: 1px solid #ccc;
  }

  &-category-fill {
    width: @category-width;
  }

  &-extension-name {
    font-size: 10px;
    color: #aaa;
    border: 1px solid #aaa;
    border-radius: 1px;
    padding: 0px 2px;
  }

  h4&-header {
    line-height: 1.2em;
    padding: 0;
    font-size: 14px;
    margin: 0;
    font-weight: 700;
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;


    > a {
      line-height: inherit;
      padding: inherit;
      font-size: inherit;
      margin: inherit;
      font-weight: inherit;
      text-decoration: none;
      color: inherit;
      cursor: pointer;

      &:hover:after {
        display: inline-block;
        background: url(/images/common/arrow-icon.png) no-repeat;
        margin-left: 6px;
        width: 16px;
        height: 8px;
        content: '';
      }
    }

    > img {
      vertical-align: text-bottom;
    }

    .lang-ja & {
      font-size: 14px;
      font-weight: bold;
    }
  }

  &-list {
    margin: 0;
    padding: 5px 0 18px 0;
    font-size: 12px;

    .lang-ja & {
      padding: 0 0 22px 0;
    }
  }

  &-list-item {
    float: left;
    margin: 0 10px 0 0px;
    padding: 0 0 0 26px;
    list-style: none;
    background-position: left center;
    background-repeat: no-repeat;

    a:hover {
      text-decoration: none;
      color: #005580;
    }

    .lang-ja & {
      line-height: 1.9;
    }

    &-object {
      background-image: url(/images/common/object-icon.png);
      background-position: 3px center;
    }

    &-element {
      background-image: url(/images/common/element-icon.png);
    }
  }

  &-link {

    font-size: 14px;

    &:link, &:visited, &:active {
      color: @light-text-color;
      text-decoration: none;
    }

    &:hover {
      color: @light-text-color;
      text-decoration: underline;
    }

    .lang-ja & {
      font-size: 13px;
    }

  }
}

.tutorial-embed {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
