.reference-container {
  ul {
    list-style-type: disc;
  }

  .breadcrumb {
    //font-size: 12px;
    margin: 0 0 40px 0;
  }

  h2 {
    font-size: 36px;
    color: #ff1a33;
  }

  h3 {
    margin-bottom: 0;
  }

  h3, h4 {
    &:hover .reference-loop-anchor:after {
      content: '#';
      display: inline-block;
      color: #005580;
    }
  }

  h5 {
    color:  #333;
    font-size: 17px;
    font-weight: 700;
  }

  pre {
    margin-top: 0;
  }

  p, td, li {
    > code {
      margin: 8px 0;
      font-family: 'Menlo', 'Menlo Regular', 'Consolas', monospace;
      color: #10108F;
    }
  }

  ul.seealso, .need-help ul {
    margin: 0 0 0 16px;

    li {
      color: #333;
    }
  }

  .reference-quick-navi {
    font-size: 14px;
    width: 150px;

    li {
      line-height: 2em;
      list-style: none;
      list-style-image: url(/images/common/icn_arrow_grey_down.png) no-repeat;

      a {
        text-decoration: none;
        padding-left: 6px;
        display: block;
        width: 100%;

        &:hover {
          color: #005580;
        }
      }
    }

    li:hover {
      list-style: none;
      list-style-image: url(/images/common/icn_arrow_blue_down.png) no-repeat;
    }
  }

  //////// TABLES


  table {
    width: 100%;
    border: 3px solid #d4d4d4;
  }

  tr {
    border-left: 1px solid #ddd;
    border-right: 0px solid #ddd;
    border-top: 1px solid #ddd;
    &:last-child {
      border-bottom: 1px solid #ddd;
    }

    td:first-child {
      color: #aa0d91;
      font-weight: 400;
      line-height: 17.5px;
      min-width: 150px;
      font-family: 'Menlo', 'Menlo Regular', 'Consolas', monospace;
    }
  }

  th {
    padding: 15px;
    padding-left: 20px;
    font-size: 15px;
    font-weight: 700;
    line-height: 17.5px;
    color: #333;
    vertical-align: middle;
  }

  td {
    padding: 15px;
    padding-left: 20px;
    font-size: 15px;
    line-height: 24px;

    p {
      margin: 0;
    }
  }

  thead {
    border: 1px solid #d4d4d4;
    box-sizing: border-box;
    background-color:  #f0f0f0;
  }

  .method-detail, .event-detail {
    margin: 0px 0 36px 4px;
    padding-left: 20px;
    border-left: 2px solid #ddd;
  }

  h3 + section > h4 {
    margin-top: 20px;
  }

  @methodColor: #585AD4;
  #methods {
    color: @methodColor;
  }
  .method-detail {
    border-color: @methodColor;
    & > h4 {
      color: @methodColor;
    }
  }

  @eventColor: #ff5722;
  #events {
    color: @eventColor;
  }
  .event-detail {
    border-color: @eventColor;
    > h4 {
      color: @eventColor;
    }
  }

  .value-type {
    color: #999;
    font-weight: 200;
  }

}

#javascript .container {
  max-width: @width + 30;
}

.css-component {

  &-description {

  }

  &-showcase {
    position: fixed;
    box-sizing: border-box;
    width: 320px;
    height: 569px;
    top: 50%;
    transform: translateY(-50%) translateY(1px);
    z-index: 1;
    margin-left: 591px;
    overflow: hidden;

    .tablet-query({
      display: none;
    });
  }

  &-showcase-inner {
    width: 100%;
    height: 100%;
    overflow: hidden;

    .tablet-query({
      display: none;
    });
  }

  &-example {
    width: 100%;
    padding: 8px 0px;
    box-sizing: border-box;
    position: relative;
  }
}


.css-component-showcase-frame {
  .tablet-query({
    display: none;
  });

  & {
    background-image: url(../images/common/device-frame.png);
    background-repeat: no-repeat;
    width: 378px;
    min-height: 797px;
    box-sizing: border-box;
    padding: 116px 0px 0px 31px;
    z-index: 20;
    display: inline-block;
  }

  &-wrapper {
    width: 378px;
    position: fixed;
    z-index: 0;
    margin-left: 560px;
    top: 50%;
    transform: translateY(-50%);
  }

  &-placeholder {
    padding-top: 250px;
    font-size: 16px;
    font-weight: bold;
    color: #e6e6e6;
    text-align: center;
  }

  &-inner {
    width: 320px;
    height: 568px;
    background-color: white;
  }
}

.js-index {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @category-width: 360px;
  @category-margin: 0 15px;

  &-category {
    width: @category-width;
    box-sizing: border-box;
    padding: 10px 0;
    margin: @category-margin;
    min-height: 110px;

    .desktop-query({
      display: inline-block;
    });

    border-top: 1px solid #ccc;
  }

  &-category-fill {
    width: @category-width;
    margin: @category-margin;
  }

  &-extension-name {
    font-size: 10px;
    color: #aaa;
    border: 1px solid #aaa;
    border-radius: 1px;
    padding: 0px 2px;
  }

  h4&-header {
    line-height: 1.2em;
    padding: 0;
    font-size: 14px;
    margin: 0;
    font-weight: 700;
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    user-select: none;
    cursor: default;

    > a {
      line-height: inherit;
      padding: inherit;
      font-size: inherit;
      margin: inherit;
      font-weight: inherit;
      text-decoration: none;
      color: inherit;
      cursor: pointer;

      &:hover:after {
        display: inline-block;
        background: url(/images/common/icn_arrow_blue_right.svg) no-repeat;
        margin-left: 6px;
        width: 16px;
        height: 8px;
        content: '';
      }
    }

    > img {
      vertical-align: text-bottom;
    }

    .lang-ja & {
      font-size: 14px;
      font-weight: bold;
    }
  }

  &-list {
    margin: 0;
    padding: 5px 0 18px 0;
    font-size: 12px;

    .lang-ja & {
      padding: 0 0 22px 0;
    }
  }

  &-list-item {
    float: left;
    margin: 0 10px 0 0px;
    padding: 0 0 0 26px;
    list-style: none;
    background-position: left center;
    background-repeat: no-repeat;

    a:hover {
      text-decoration: none;
      color: #005580;
    }

    .lang-ja & {
      line-height: 1.9;
    }

    &-object {
      background-image: url(/images/common/object-icon.png);
      background-position: 3px center;
    }

    &-element {
      background-image: url(/images/common/element-icon.png);
    }
  }

  &-link {

    font-size: 14px;

    &:link, &:visited, &:active {
      color: @light-text-color;
      text-decoration: none;
    }

    &:hover {
      color: @light-text-color;
      text-decoration: underline;
    }

    .lang-ja & {
      font-size: 13px;
    }

  }
}

.tutorial-embed {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
