
.article-title-base() {
  text-align: center;

  .lang-en & {
    font-family: @en-header-font-family;
  }

  a, a:link, a:visited, a:hover {
    color: @header-text-color;
    text-decoration: none;

    .lang-en & {
      font-family: @en-header-font-family;
    }
  }
}

.article-date-base() {
  text-align: center;
  font-size: 19px;
  font-weight: 200;
  color: #bbb;
}

#blog {
  .content {
    width: 720px;
    padding-top: 50px;
  }
  
  .article-overview {

    margin-bottom: 100px;

    &-title {
      .article-title-base();

      a:hover {
        color: @link-color;
        text-decoration: none;
      }
    }

    &-date {
      .article-date-base();
      margin-top: 12px;
    }

    &-more {
      text-align: center;
      font-size: 16px;
    }

  }

  .article {

    &-share {
      overflow: hidden;
      margin: 20px 0 10px 0;
      text-align: center;

      &-twitter,
      &-fb,
      &-gplus {
        float: left;
        width: 95px;
        height: 25px;
      }

      &-fb {
        margin-top: -3px;
        width: 105px;
      }
    }

    &-title {
      .article-title-base();
    }

    &-date {
      .article-date-base();
      margin-bottom: 28px;
    }

    &-newsletter {
      border-top: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
      background-color: #f9f9f9;
      padding: 16px;
      margin: 40px auto 40px auto;
      text-align: center;
      box-sizing: border-box;

      .newsletter-inner {
        padding: 0;
        margin: 0;
      }
    }

    &-newsletter-desc {
      font-size: 16px;
      padding: 0;
      margin: 0px 0 8px 0;
    }

    &-footer {
      border-top: 1px solid #ddd;
      padding-top: 10px;
      padding-bottom: 20px;
      padding-left: 10px;
    }

    &-author-label {
      margin-top: 20px;
      font-size: 14px;
      color: @light-text-color;
    }

    &-author-name {
      font-size: 18px;
    }

    &-avator {
      float: left;
      margin-right: 14px;
      margin-top: 10px;
    }

    &-avator-image {
      border-radius: 60px;
      height: 60px;
    }

    img {
      display: block;
      margin: 0 auto;
    }
  }


}

.blog-pagination {
  &-older {
    float: right;
  }

  &-newer {
    float: left;
  }

  &-position {
    text-align: center;
    width: 120px;
    margin: 0 auto;
  }
}
