#getting_started_2 {

  .feature:first-child h2 {
    margin-bottom: 90px;
  }

  .feature:last-child {
    margin-bottom: 70px;
  }

  h1 {
    margin-bottom: 0px;
  }

  h1 + h2 {
    color: #ddd;
    font-size: 16px;
  }

  h3 {
    color: #953535;
    font-size: 24px;
    margin: 70px 0 10px;
  }

  p, code {
    display: inline-block;
    vertical-align: top;
    color: #999;
  }

  p {
    width: 56%;
    margin: 0;
    margin-right: 4%;
    margin-bottom: 15px;
  }

  code {
    width: 40%;
    margin-left: -5px;
    font-size: 12px;
    padding: 10px;
    box-sizing: border-box;
  }

  #main-nav {
    top: 10px;
  }

  .button {
    margin: auto;
    display: inline-block;
    padding: 13px 20px;
    text-decoration: none;
    border-radius: 3px;
    color: #fff;
    transition: all .1s linear;
  }

  .guide {
    background: #FF4D35;
    font-size: 18px;
    width: 300px;
    box-sizing: border-box;
    text-align: center;
    margin: auto;
    display: block;

    &:hover {
      background-color: #FFEDEB;
      color: #FF4D35;
    }
  }

  .dont-forget {
    .github {
      background: #000;
    }

    .newsletter {
      background: #337AB7;
    }

    .twitter {
      background: #55ACEE;
    }

    .action {
      font-size: 16px;
      width: 220px;
      margin: auto;
      flex-grow: 0;
    }

    .action:before {
      width: 26px;
      height: 26px;
    }
  }

  .tabs a:before {
    background-color: #999;
  }

  .tabs a.selected:before {
    background-color: #953535;
  }

  .tool:before {
    mask: url(/images/getting_started/icon_tool.svg);
    -webkit-mask: url(/images/getting_started/icon_tool.svg);
  }

  .terminal:before {
    mask: url(/images/getting_started/icon_terminal.svg);
    -webkit-mask: url(/images/getting_started/icon_terminal.svg);
  }

  .cloud:before {
    mask: url(/images/getting_started/icon_cloud.svg);
    -webkit-mask: url(/images/getting_started/icon_cloud.svg);
  }

  .download:before {
    mask: url(/images/getting_started/icon_download.svg);
    -webkit-mask: url(/images/getting_started/icon_download.svg);
  }

  .visit {
    a {
      font-size: 20px;
      color: #666;
      width: 180px;
    }

    .icon:before {
      height: 60px;
      margin-top: 30px;
    }

    & + h3 {
      margin: 80px 0 60px;
      color: #000;
    }
  }
}
