#getting_started {
  .top-bar .dropdown ul, #features .dropdown ul{
    list-style-type: none;
    text-align: left;
    background: rgba(185, 62, 66, 0.9);
    z-index: 1;

    li {
      margin: 0;
    }

    a {
      font-size: 18px;
      padding: 5px;
      text-decoration: none;
      color: #fff;
    }
  }

  #features .dropdown ul {
    background: #fee;

    a {
      color: #000;
    }
  }

  .feature:first-child h2 {
    margin-bottom: 90px;
  }

  .feature:last-child {
    margin-bottom: 70px;
  }

  h1 {
    margin-bottom: 0px;
  }

  h1 + h2 {
    color: #ddd;
    font-size: 16px;
  }

  h3 {
    color: #953535;
    font-size: 24px;
    margin: 40px 0 10px;
  }

  p, p + pre {
    display: inline-block;
    vertical-align: top;
    color: #556;
  }

  li p {
    width: 53%;
    margin: 0;
    margin-right: 4%;
    margin-bottom: 15px;

    & + pre {
      width: 43%;
      box-sizing: border-box;
      margin: 0 0 0 -5px;
    }
  }
  code {
    font-size: 12px;
    color: #666;
  }

  #main-nav {
    top: 10px;
  }

  .button {
    width: 300px;
    flex-grow: 0;
  }
  .guide {
    background: #FF4D35;
    font-size: 18px;
    box-sizing: border-box;
    text-align: center;
    margin: auto;
    display: block;

    &:hover {
      background-color: #FFEDEB;
      color: #FF4D35;
    }
  }

  .dont-forget {
    .github {
      background: #000;
    }

    .newsletter {
      background: #337AB7;
    }

    .twitter {
      background: #55ACEE;
    }

    .action {
      font-size: 16px;
      width: 220px;
      margin: auto;
      flex-grow: 0;
    }

    .action:before {
      width: 26px;
      height: 26px;
    }
  }

  .tabs a:before {
    background-color: #999;
  }

  .tabs a.selected:before {
    background-color: #953535;
  }

  .tool:before {
    mask: url(/images/getting_started/Icon_tool.svg);
    -webkit-mask: url(/images/getting_started/Icon_tool.svg);
  }

  .terminal:before {
    mask: url(/images/getting_started/Icon_terminal.svg);
    -webkit-mask: url(/images/getting_started/Icon_terminal.svg);
  }

  .cloud:before {
    mask: url(/images/getting_started/Icon_cloud.svg);
    -webkit-mask: url(/images/getting_started/Icon_cloud.svg);
  }

  .download:before {
    mask: url(/images/getting_started/Icon_download.svg);
    -webkit-mask: url(/images/getting_started/Icon_download.svg);
  }

  .visit {
    a {
      font-size: 20px;
      color: #666;
      width: 180px;
    }

    .icon:before {
      height: 60px;
      margin-top: 30px;
    }

    & + h3 {
      margin: 80px 0 60px;
      color: #000;
    }
  }
}
