@charset "UTF-8";

// size
@width: 1140px;
@aside-width: 300px;
@header-height: 80px;
@header-height-small: 48px;

@framework-dropdown-width: 220px;

// media-query
@largescreen: ~"only screen and (min-width: 751px)";
@smallscreen: ~"only screen and (max-width: 750px)";
@large-or-smallscreen: ~"only screen and (min-width: 481px)";
@mobilescreen: ~"only screen and (max-width: 480px)";

// colors
@onsen-red: #ff2828;
@monaca-blue: #007bff;
@onsen-color: #FF4D35;
@onsen-navy: #002441;
@link-color: #4183C4;
@text-color: #666;
@header-text-color: #333;
@light-text-color: #888;
@header-bg-color: #ef3e29;
@header-bg-image: linear-gradient(to right, #ef2929, #f05429);

// fonts
@en-font-family: 'Helvetica Neue', Arial, sans-serif;
@en-header-font-family: 'Helvetica Neue', Arial, sans-serif;

// --

@import '_reset';
@import '_defaults';
@import '_highlight';
@import '_misc';
@import '_angular2_landing';
@import '_landing';
//@import '_design_2016';
@import '_page_reference';
@import '_page_pattern';
@import '_page_download';
@import '_page_framework';
@import '_page_getting_started';
@import '_page_landing';
@import '_page_samples';
@import '_global_nav';
@import '_docs_nav';
@import '_header';
@import '_dropdown';
@import '_footer';
@import '_keyvisual';
