@charset "UTF-8";

@import '_util.less';

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-weight: 300;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

pre {
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: pre-wrap;
  word-wrap: break-word;
}

p {
  margin-bottom: 1em;
  word-wrap: break-word;
  line-height: 1.8;
}
  
/***********************************************/
/* Basic tags                                  */
/***********************************************/

html {
  //font: 13px/1.4 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic ProN W3','Hiragino Kaku Gothic ProN','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
  font-size: 14px;
  font-family: 'pragmatica-web', 'Helvetica Neue', Helvetica, sans-serif;
  line-height: 1.4;
}

body {
  max-width: 100%;
  text-align: left;
  -webkit-text-size-adjust: 100%;
  &:after {content: ""; clear: both; display: block;}
  color: #555;
}

input {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: sans-serif;
}

input:focus, input:active {
  outline: none;
}

input[type=submit] {
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
  font-family: sans-serif;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

textarea, input {
  margin: 0;
  padding: 0;
}

caption, th {
  text-align:left;
}

td, th {
  vertical-align: top;
}

fieldset, img, abbr{
  border:none;
}

li {
  list-style-type: none;
}

em {
  font-style: italic;
}

img, iframe, object {
  max-width: 100%;
}
.lt-ie9 img, .lt-ie9 object {
  width: auto;
}

a {
  .all-link-state(@onsen-red);
  img {
    transition: opacity 80ms linear;
    &:hover {
      opacity: 0.7;
    }
  }
}

hr {
  color: transparent;
  border-width: 0px;
  height: 1px;
  background-color: #E7E7E7;
  margin: 32px 0;
}

.btn,
.btn-default {
  background-repeat: no-repeat;
  background-position: left center;
  border-radius: 6px;
  box-sizing: border-box;
  display: inline-block;
  padding: 5px 10px;
  text-align: center;

  &:link, &:visited, &:hover, &:active, &:focus {
    text-decoration: none;
  }
  &:hover {
    opacity: 0.7;
  }
}

.btn-red {
  &:extend(.btn-default);
  .all-link-state(white, all-none);
  background-color: @onsen-red;
  color: white;
}

.btn-big {
  font-size: 30px;
  font-weight: 700;
  padding: 18px 40px;
}

.btn-start {
  background-image: url(/images/common/ico_getstarted.png);
  background-position: 40px center;
  padding-left: 100px;
  text-align: left;
}

.simulator {
  box-sizing: border-box;
  padding: 99px 10px 10px 56px;
  width: 392px;
  height: 694px;
}

.simulator-small {
  background: url(/images/common/mock_bg.png) no-repeat center center;
  background-size: 250px 450px;
  box-sizing: border-box;
  padding: 64px 10px 28px 18px;
  width: 250px;
  height: 450px;  
}

p.highlighted {
  background-color: #f5f5f5;
  color: #444;
  line-height: 125%;
  padding: 15px 15px 13px 15px;
  a {
    .all-link-state(#439ecc);
  }
}

.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

.highlighted {
  margin-bottom: 30px;
}

.relative {
  position: relative;
}

@media screen and (max-width: 1400px) {
  #github-ribbon {
    display: none;
  }
}

@media screen and (max-width: 1100px) {
}

@import '_header';
@import '_footer';
@import '_content';

@import '_page_index';
@import '_page_getting_started';
@import '_page_components';
@import '_page_forum';

