@charset "UTF-8";

@width: 1100px;
@aside-width: 300px;
@onsen-red: #ff2828;
@link-color: #4183C4;
@text-color: #555;
@massive-text-color: #222;
@light-text-color: #999;


@media screen and (max-width: 1200px) {
  #github-ribbon {
    display: none;
  }
}

#github-ribbon {
  display: none;
}

@import '_util.less';
@import '_reset.less';
@import '_elements.less';
@import '_buttons.less';
@import '_monaca_header';
@import '_header';
@import '_content';
@import '_footer';
@import '_page_index';
@import '_page_getting_started';
@import '_page_reference';
@import '_page_forum';

