---
page: 'landing-new'
title: 'Onsen UI 2: HTML5モバイルアプリを速く、美しく'
layout: 'default.html.eco'
header: false
actionbar: false
topbar: false
version: v2
description: 'HTML5とJavaScriptで美しいハイブリッドアプリを開発。jQuery、AngularJS 1とAngular 2+、React、Vue.jsなどのフレームワークに対応。iOSとAndroid向けクロスプラットフォーム開発。'
---

<div class="header">
  <%- @partial('global-nav.html.eco') %>
  <%- @partial('keyvisual.html.eco') %>
</div>

<div id="features">
  <div class="feature">
    <div>
      <h1>ハイブリッドとモバイルWebアプリ開発の決定版</h1>
      <p>開発環境のセットアップを一切することなく、JavaScript・HTML・CSSを用いたモバイルアプリ開発を始めましょう。クラウド上の開発環境<a href="https://ja.monaca.io" target="_blank">Monaca</a>と組み合わせることで、あなたの開発環境は常に最新の状態に保たれます。</p>
    </div>
    <div>
      <img src="/images/common/top_img_fastest_way.png">
    </div>
 </div>

  <div class="feature">
    <div>
      <img src="/images/common/img_cloud.png">
    </div>
    <div>
      <h1>クラウド上にすべてのツールを</h1>
      <p>強力なCLI（コマンドラインツール）やデスクトップ向けアプリ（WindowsとmacOSに対応）を通じて、Onsen UIアプリはとても簡単に制作できます。それ以外にも、<a href="https://ja.monaca.io" target="_blank">Monaca</a>が提供するライブリロード対応のデバッガーや、リモートビルド機能といったクラウドの機能にアクセスできます。</p>
    </div>
 </div>

  <div class="feature">
    <div>
      <h1>美しいUIコンポーネントと自動スタイル</h1>

      <p>モバイルアプリに特化した、ネイティブのようなパフォーマンスに優れたUIコンポーネントが自慢です。タブ、サイドメニュー、ナビゲーションといった共通デザインだけでなく、リストやフォームといった様々なデザインを網羅しています。すべてのコンポーネントでiOSとAndroidマテリアルデザインに対応し、実行する端末にあわせて自動的にスタイルを切り替えます。Onsen UIを使うことで、AndroidとiOS向けアプリのソースコードが遂に共通化されます。</p>
    </div>
    <div>
      <div class="feature-showcase">
        <div class="feature-showcase-android">
          <iframe src="https://onsenui.github.io/showcase-todo/?platform=android"></iframe>
        </div>

        <div class="feature-showcase-ios">
          <iframe src="https://onsenui.github.io/showcase-todo/"></iframe>
        </div>
      </div>
    </div>
 </div>

  <div class="feature">
    <div>
      <img src="/images/common/img_performance.png">
    </div>
    <div>
      <h1>モバイルに特化したパフォーマンス</h1>
      <p>Onsen UIはモバイル端末向けにチューニングされ、高いパフォーマンスを出せるように最適化されています。Onsen UIを使うことで、古い端末においてもスムーズなアニメーションを実現します。</p>
    </div>
 </div>

  <div class="feature">
    <div>
      <h1>シンプルに始めて、ノウハウを蓄積</h1>
      <p>複雑なモバイルアプリの開発も、Onsen UIを使うとシンプルです。そして、フレームワークに依存しないため、Onsen UIのノウハウは将来的に活用できます。公式ドキュメントやチュートリアル、フォーラムや有償技術サポートなど、幅広くアプリ開発をサポートします。</p>
    </div>
    <div>
      <img src="/images/common/img_easy_3.png">
    </div>
 </div>

  <div class="feature">
    <div>
      <h1>Onsen UIでアプリに魔法をかけよう</h1>
      <p>世界的に数多くのアプリがOnsen UIで作られ、アプリストアでリリースされています。<a href="/samples/">サンプルアプリもこちらから</a>確認いただけます。</p>
      <div class="samples">
        <div>
          <div class="samples-image">
            <img src="/images/common/top_img_app_giro.png">
            <img src="/images/common/icn_app_giro.png">
          </div>
          <div class="samples-info">
            <h4 class="samples-info-title">Giro D'Italia</h4>
            <div class="samples-info-description">有名自転車レースの公式アプリ</div>
            <div class="samples-info-links">
              <a href="https://itunes.apple.com/jp/app/giro-ditalia/id522688460?mt=8">開く</a>
              <a href="https://onsen.io/blog/giro-ditalia-2016-official-app-most-downloaded-app-in-the-app-stores-created-with-onsen-ui/">詳細（英語）</a>
            </div>
          </div>
        </div>

        <div>
          <div class="samples-image">
            <img src="/images/common/top_img_app_oha.png">
            <img src="/images/common/icn_app_oha.png">
          </div>
          <div class="samples-info">
            <h4 class="samples-info-title">オハログ</h4>
            <div class="samples-info-description">寝ている時間を計測しよう</div>
            <div class="samples-info-links">
              <a href="https://itunes.apple.com/jp/app/unrogu-daietto-bian-mi-dui/id970484812?mt=8">開く</a>
              <a href="https://onsen.io/blog/sleep-well-ohalog-onsenui/">詳細（英語）</a>
            </div>
          </div>
        </div>

        <div>
          <div class="samples-image">
            <img src="/images/common/top_img_app_golf.png">
            <img src="/images/common/icn_app_golf.png">
          </div>
          <div class="samples-info">
            <h4 class="samples-info-title">Offcourse Golf</h4>
            <div class="samples-info-description">ゴルフスコアをいつでも手元に</div>
            <div class="samples-info-links">
              <a href="https://itunes.apple.com/us/app/offcourse-golf-gps-scorecard/id666556081?mt=8">開く</a>
              <a href="https://onsen.io/blog/offcourse-golf-ninja-app-contest-winner-onsen-ui-visual-update/">記事（英語）</a>
            </div>
          </div>
        </div>
      </div>
    </div>
 </div>
</div>
