---
page: 'samples'
title: 'Onsen UI Hybrid Mobile App Framework - Sample Apps'
layout: 'default.html.eco'
topbar: false
actionbar: false
description: 'Starting with Onsen UI is easy. Imagine what you can do with it.'
---

<div class="header">
   <%- @partial('global-nav.html.eco') %>
   <%- @partial('header-title.html.eco', {name: 'Samples'}) %>
</div>

<div class="samples">
  <div class="samples-container">
    <div class="sample">
      <div class="sample-image">
        <img src="/images/samples/react-redux-weather.png">
        <div class="sample-mask">
          <a href="http://argelius.github.io/react-onsenui-redux-weather/demo.html" class="sample-run">
            Run
          </a>
        </div>
    </div>

      <h2 class="sample-name">Onsen weather</h2>

      <div class="sample-description">
        Weather app with React+Redux
      </div>

      <div class="sample-links">
        <a href="http://argelius.github.io/react-onsenui-redux-weather/demo.html">Run</a>
        <a href="https://github.com/argelius/react-onsenui-redux-weather">Source</a>
        <a href="/blog/cordova-hybrid-app-with-react-redux-webpack/">Tutorial</a>
      </div>
    </div>

    <div class="sample">
      <div class="sample-image">
        <img src="/images/samples/horizon-chat.png">
        <div class="sample-mask">
          <a href="http://192.81.214.88:5000/Horizon-MobX-OnsenUI/build/index.html" class="sample-run">
            Run
          </a>
        </div>
    </div>

      <h2 class="sample-name">Onsen chat</h2>

      <div class="sample-description">
        Real-time chat app using RethinkDB
      </div>

      <div class="sample-links">
        <a href="http://192.81.214.88:5000/Horizon-MobX-OnsenUI/build/index.html">Run</a>
        <a href="https://github.com/philolo1/Horizon-Chat-MobX-OnsenUI">Source</a>
        <a href="/blog/onsenui-horizon-rethinkdb-chat/">Tutorial</a>
      </div>
    </div>

    <div class="sample">
      <div class="sample-image">
        <img src="/images/samples/todo.png">
        <div class="sample-mask">
          <a href="https://frankdiox.github.io/OnsenUI-Todo-App/" class="sample-run">
            Run
          </a>
        </div>
    </div>

      <h2 class="sample-name">Onsen Todo</h2>

      <div class="sample-description">
        Todo app written in pure JavaScript
      </div>

      <div class="sample-links">
        <a href="https://frankdiox.github.io/OnsenUI-Todo-App/">Run</a>
        <a href="https://github.com/frankdiox/OnsenUI-Todo-App">Source</a>
        <a href="/blog/auto-style-app-onsen/">Tutorial</a>
      </div>
    </div>

    <div class="sample">
    </div>

  </div>
</div>
