<script src="/vendor/highlight.min.js"></script>
<script type="text/javascript">                 
	hljs.initHighlightingOnLoad();
</script>

<footer id="footer-container">
	<ul class="gnav">
		<li><a href="/guide/getting_started.html">Getting Started</a></li>
		<li><a href="/guide/components.html">Components</a></li>
		<li><a href="/docs/">Docs</a></li>
		<li><a href="/themes/">Themes</a></li>
		<li><a href="/guide/customize.html">Customize</a></li>
		<li><a href="/forum.html">Forum</a></li>
		<li><a href="http://onsenui.io/blog/">Blog</a></li>

		<li>
			<!-- twitter button -->
			<a href="https://twitter.com/share" data-text="Onsen UI is a Custom Elements-Based HTML5 UI Framework for Building Your Mobile Front End." class="twitter-share-button" data-url="http://onsenui.io/" data-via="Onsen_UI" data-related="Onsen_UI">Tweet</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

			<!-- google plus button -->
			<div class="g-plusone" data-size="medium" data-action="share"></div>

			<!-- facebook share button -->
			<div class="fb-share-button" data-href="http://onsenui.io" data-type="button"></div>
		</li>
	</ul>

	<div class="footer-cont">
		<p class="social">
			<a href="https://twitter.com/Onsen_UI" target="_blank"><span class="socialicn twitter">&nbsp;</span></a>
			<a href="https://github.com/OnsenUI/OnsenUI" target="_blank"><span class="socialicn github">&nbsp;</span></a>
		</p>

		<p class="copyright">Copyright &copy; 2014 Asial Corporation. All rights reserved.</p>
		<p class="helpmenu"><a href="http://monaca.mobi/en/page/policy">Privacy Policy</a></p>
	</div>
</footer>

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-526750-29', 'onsenui.io');
ga('send', 'pageview');

</script>

<script type="text/javascript">
	(function() {
	 var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
	 po.src = 'https://apis.google.com/js/platform.js';
	 var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
	 })();
</script>

<div id="fb-root"></div>
<script>(function(d, s, id) {
var js, fjs = d.getElementsByTagName(s)[0];
if (d.getElementById(id)) return;
js = d.createElement(s); js.id = id;
js.src = "//connect.facebook.net/ja_JP/all.js#xfbml=1&appId=744863512192634";
fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div id="github-ribbon-container">
	<a id="github-ribbon" target="_blank" href="http://github.com/OnsenUI/OnsenUI">
		Folk me on GitHub
	</a>
</div>

