<div class="need-help">
	<h2>Need Help?</h2>

	<p>
		If you have any questions, ask them in the <a href="/forum.html">Forum</a>. The Onsen UI team and your peers in the community will work together to help solve the issues. 
	</p>

	<p>
		You may also find helpful information in the resources below:
	</p>

	<ul>
		<li><a href="/guide/faq.html">FAQ</a></li>
		<li><a href="https://github.com/OnsenUI/OnsenUI" target="_blank">OnsenUI/OnsenUI</a></li>
		<li><a href="https://github.com/OnsenUI/OnsenUI/issues" target="_blank">Isssues ・OnsenUI/OnsenUI</a></li>
		<li><a href="http://docs.angularjs.org/guide/" target="_blank">Guide to AngularJS Documentation</a></li>
	</ul>

</div>
