<div class="need-help">
	<h2>助けが必要ですか?</h2>

	<p>
		困ったことがあったら<a href="/forum.html">フォーラム</a>へ投稿しましょう。Onsen UIチームやコミュニティが答えてくれます。<br>
		もしくは、必要とする情報は、以下にあるかもしれません。
	</p>

	<ul>
		<li><a href="/docs/">Docs Index</a></li>
		<li><a href="https://github.com/OnsenUI/OnsenUI" target="_blank">OnsenUI/OnsenUI</a></li>
		<li><a href="https://github.com/OnsenUI/OnsenUI/issues" target="_blank">Isssues ・OnsenUI/OnsenUI</a></li>
		<li><a href="http://docs.angularjs.org/guide/" target="_blank">Guide to AngularJS Documentation</a></li>
	</ul>

</div>
