<div class="container-popup hidden" id="container-popup">
  <div class="hidden popup centered newsletter-inner" id="popup1">
    <p align="middle" style="font-size:28px;">Stay up to date</p>
    <p align="center" style="font-size:15px; margin: 5px;">Get new updates, usually 2 -3 times a month - it features tips, how-to & news on Onsen, Monaca and hybrid app development.</p>
    <br>
    <form class="middle">
          <input id="input-email" style="width: 300px;" type="text" placeholder="Enter your email" name="email">
          <input id="button-submit" type="submit" value="Send">
    </form>
  </div>
</div>