---
# Properties required for metalsmith.js
title: 'Onsen UI 2 Guide for React - Onsen UI Framework'
version: v2
framework: 'react'
autotoc: true
layout: docs.html.eco

# Private properties
page: 'guide'
correspondingMenuItem: 'docs'
tocTitle: 'Guide for React'
needHelp: true
---

<%- @markdown => %>

Note: We are using ES6 + JSX and transpile using [Babel](https://babeljs.io/) in the following examples. You might want to read through [React docs](https://facebook.github.io/react/docs/getting-started.html) for more details.

<%- @includeGuideSection('starting-project.md') %>

#### Download via npm

```bash
# The "react-onsenui" library requires the "onsenui" library.
$ npm install --save-dev onsenui react-onsenui
```

#### Use Kitchensink Code

[Onsen UI React Components Kitchensink](https://github.com/OnsenUI/react-onsenui-kitchensink) contains almost all components in Onsen UI as one application package. [Link to Kitchensink Demo](http://onsenui.github.io/react-onsenui-kitchensink/demo.html).

The code in this example is transpiled using Babel and bundled with [Browserify](http://browserify.org/).

### Loading Onsen UI for React

Onsen UI for React is an extension to Onsen UI core, a Web components based UI framework. You need to load the following two JavaScript modules.

- Onsen UI Core ([GitHub](https://github.com/OnsenUI/OnsenUI))
- Onsen UI for React Extension ([GitHub](https://github.com/onsenui/react-onsenui))

You can load with a normal `<script>` tag as follows:

``` html
<script src="react.js"></script>
<script src="react-dom.js"></script>
<script src="onsenui.js"></script>
<script src="react-onsenui.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/6.1.19/browser.min.js"></script>
```

Or, you can use React and Onsen UI from npm with CommonJS module system like Browserify or Webpack. In this case, use the `onsenui` and `react-onsenui` packages, in addition to `react` and `react-dom` npm packages. In the example below `ons` contains Onsen UI core instance, and `Ons` contains React components.

```
var React = require('react');
var ReactDOM = require('react-dom');
var ons = require('onsenui');
var Ons = require('react-onsenui');
```

Alternatively, you can also use [*ES6 imports*](https://developer.mozilla.org/en/docs/web/javascript/reference/statements/import) to specify the modules you want to use in `react-onsenui` package.

```
import {Page, Toolbar, Button} from 'react-onsenui';
```

### Onsen UI HelloWorld with React

To get started, let's create a simple Hello World application. The following sample code is a React version of Onsen UI HelloWorld.

``` html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="css/onsenui.css">
    <link rel="stylesheet" href="css/onsen-css-components.css">
    <script src="react.js"></script>
    <script src="react-dom.js"></script>
    <script src="onsenui.js"></script>
    <script src="react-onsenui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/6.1.19/browser.min.js"></script>
  </head>
  <body>
    <div id="app"></div>
  </body>
  <script type="text/babel">
    var App = React.createClass({
      handleClick: function() {
        ons.notification.alert('Hello world!');
      },

      render: function() {
        return (
          <Ons.Page>
            <Ons.Button onClick={this.handleClick}>Tap me!</Ons.Button>
          </Ons.Page>
        );
      }
    });
    ReactDOM.render(<App />, document.getElementById('app'));
  </script>
</html>
```

This example is loading the following JS libraries, `react.js`, `react-dom.js`, `onsenui.js` and `react-onsenui.js`. For stylesheets, it is loading `onsenui.css` and `onsen-css-components.css` which are bundled in Onsen UI distribution package. To know the details about Onsen UI stylesheets, please refer to our [Style Sheets Guide](/v2/guide/js/#css-definitions) document.

```
<link rel="stylesheet" href="css/onsenui.css">
<link rel="stylesheet" href="css/onsen-css-components.css">
```

In `<body>` tag, there is only a `<div>` tag having `app` id. This is where React will render the content into, and you can see it in the very bottom of JS code.

Also notice `<script></script>` tag has `text/babel` type. This means this script is not a pure JavaScript that browser supports (most commonly ECMAScript5), but is a ECMAScript6 (ES2015) with JSX format. [Babel](https://babeljs.io/) will transpile this code into ES5 in the browser. To get better performance, we can use node.js to transpile the code.

Inside the script, `React.createClass()` function defines a React Component called `App`. It has one method called `render`, and this is the function that is called when the app is rendered. The returning object is described in [JSX](https://facebook.github.io/react/docs/jsx-in-depth.html), which is a XML like language that extends JavaScript. In this case, it is returning `<Ons.Page>` component that has an `<Ons.Button>` component. The `onClick` prop is used to call the `handleClick` method when the user taps the button.

``` js
return (
  <Ons.Page>
    <Ons.Button onClick={this.handleClick}>Tap me!</Ons.Button>
  </Ons.Page>
);
```

As you can see in this example, all `<Ons.*>` components are React Components, and they are loaded by `react-onsenui.js`. Click here to see our full [Onsen UI React Components Reference](/v2/docs/react.html).

Putting together, when `index.html` is loaded into the browser, it will compile JSX code, inject into the body, and render the content.

This is a basic introduction of how Onsen UI and React works together. If you want to further learn React, we recommend to read the official [React docs](https://facebook.github.io/react/docs/getting-started.html).

<%- @includeGuideSection('creating-page.md') %>

### Event Handling

Onsen UI components are capable of handling events. For instance, you can catch a tap event by using the `onClick` prop, or text input change with the `onChange` prop.

``` javascript
class MyPage extends React.Component {
  handleClick() {
    ons.notification.alert('Hello, world!');
  }
  render() {
    return() (
      <Page>
         <Button onClick={this.handleClick}>Click me!</Button>
      </Page>
    );
  }
}
```

<%- @includeGuideSection('ons-object.md') %>

#### Importing `ons` object in React

Simply use ES6 imports:

```
import ons from `onsenui`;
import { platfrom, notification } from `onsenui`;
```

<%- @includeGuideSection('page-content.md') %>

<%- @includeGuideSection('dialogs.md') %>

<%- @includeGuideSection('navigation.md') %>

<%- @includeGuideSection('modifier.md') %>

<%- @includeGuideSection('auto-styling.md') %>

<%- @includeGuideSection('css-definitions.md') %>

<%- @includeGuideSection('animations.md') %>

<!-- End of markdown -->
<% end %>
