---
title: 'Onsen UI 2 Guide for JavaScript - Onsen UI Framework'
category: docs
page: 'guide'
needHelp: true
framework: 'js'
autotoc: true
tocTitle: 'JavaScript Guide'
version: v2
layout: docs.html.eco
---

<%- @markdown => %>

Onsen UI は、ハイブリッドアプリ ( ここでは、「 [Cordova](http://cordova.io) / [PhoneGap](http://phonegap.com) アプリ 」 を指します ) 向けの UI フレームワークであり、Web Components を基盤としています。また、各種 JS フレームワーク ( [Angular 1](/v2/guide/angular1/)、[Angular 2](/v2/guide/angular2/)、[React](/v2/guide/react/) ) のサポートもしています。Onsen UI のコア/中核となる中身は、どの JS フレームワークにおいても共通していますが、各 JS フレームワーク向けに、API を最適化しています。

ここでは、Onsen UI の基礎的な概念に関して解説します。各コンポーネントの詳細に関しては、「 リファレンス 」 ページをご確認ください。「 リファレンス 」 ページでは、API の実例に加え、属性、関連情報などを確認できます。

### プロジェクトを始める

Onsen UI を実際に使用する前に、「 [はじめよう](/v2/guide/) 」 もご確認ください。

#### Monaca CLI を使用する

```bash
$ npm install -g monaca # Monaca CLI をインストールする。
$ monaca create helloworld # テンプレートを選択する。
$ cd helloworld; monaca preview # プレビューを起動する。または、"monaca debug" コマンドを実行して、端末上でプロジェクトを実行する。
```

#### npm または bower からダウンロードする

```bash
$ npm install onsenui
$ bower install onsenui
```

### Onsen UI を読み込む

次のように、`onsenui.js` と CSS ファイルを読み込むだけで、Onsen UI をプロジェクトで使用できます。

```html
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="lib/onsen/css/onsenui.css"/>
    <link rel="stylesheet" href="lib/onsen/css/onsen-css-components.css"/>
    <script src="lib/onsen/js/onsenui.js"></script>
  </head>

  <body>
    ...
  </body>
</html>
```

### ページを定義する

ページのルート要素 ( 最上位要素 ) には、[`<ons-page>`](/v2/docs/js/ons-page.html) 要素を使用します。この要素は、ページの構成部品 ( ルート要素以外の要素 ) を置くコンテナとして使用されます。

このコンポーネント内では、さまざまイベントがそれぞれのタイミングで実行されるため、ページ上で使用する各種データの初期化および各種コードを実行する最も適した場所は、`init` イベント内になります。

```html
<ons-page id="page1">This is a blank page</ons-page>

<script>
  document.addEventListener('init', function(event) {
    // event.target ＝ <ons-page> 要素
    if (event.target.matches('#page1')) {
      ons.notification.alert('Page 1 is initiated.');
    }
  });
</script>
```

#### ツールバーを追加する

ツールバーは、[`<ons-toolbar>`](/v2/docs/js/ons-toolbar.html) または [`<ons-bottom-toolbar>`](/v2/docs/js/ons-bottom-toolbar.html) コンポーネントを使用して定義します。ツールバーの設定方法の例を、次に記します。

```html
<ons-page>
  <ons-toolbar>
    <div class="left">
      <ons-back-button>Back</ons-back-button>
    </div>
    <div class="center">Title</div>
    <div class="right">
      <ons-toolbar-button>
        <ons-icon icon="fa-bars"></ons-icon>
      </ons-toolbar-button>
    </div>
  </ons-toolbar>

  他の処理...
</ons-page>
```

ツールバーは、3 つに分割 ( 左、中央、右 ) されています。場所の指定には、class を使用します ( `left`、`center`、`right` のいずれかを指定 )。アイコンの表示には、[`<ons-icon>`](/v2/docs/js/ons-icon.html) を使用できます。また、ボタンの表示には、[`<ons-toolbar-button>`](/v2/docs/js/ons-toolbar-button.html) または [`<ons-back-button>`](/v2/docs/js/ons-back-button.html) を使用できます。または、HTML コンテンツをセットすることもできます。

### オブジェクト 「 `ons` 」

Onsen UI では、カスタム要素 ( Custom Elements ) 以外にも、[`ons`](/v2/docs/js/ons.html) と呼ばれるオブジェクト ( 複数の関数も含む ) を提供しています 。

次の例では、`ons.ready(fn)` の使用方法を記しています。`ons.ready(fn)` は、アプリの読み込みが 「 完全に 」 完了するまで、そのコールバック関数が実行されないのが特徴です。コールバック関数内では、`ons.notification.alert()` を実行して、警告ダイアログを表示しています。

``` javascript
ons.ready(function() {
  // Onsen UI の初期化完了
  ons.notification.alert('Welcome to Onsen UI!');
});
```

他のユーティリティに関しては、[`ons.platform`](/v2/docs/js/ons.platform.html)、[`ons.notification`](/v2/docs/js/ons.notification.html)、[`ons.orientation`](/v2/docs/js/ons.orientation.html) をご確認ください。

### 要素を理解する

Onsen UI が提供している要素のすべては、カスタム要素 ( Custom Elements ) であり、また、`<ons->` でタグ名が始まります。それぞれの要素には、属性、メソッド、プロパティー、イベントが用意されています。その点は、普通の HTML 要素 ( DOM 要素 ) と同じです。よって、ID、タグ名、class 名、属性を使用して操作できます ( そのままの状態で使用できます )。

次の例では、`<ons-navigator>` の基本的な使用方法を記します。コンポーネントのメソッドの呼び出し方法とイベントの登録方法をご確認ください。

```html
<!-- 他の要素と併用もできます。 -->
<ons-navigator animation="slide" id="my-navigator">
  <ons-page><span>This is the first page.</span></ons-page>
</ons-navigator>

<script>
  // コンポーネントのインスタンスを取得します。
  var myNavigator = document.querySelector("#my-navigator"); // または、getElementById("my-navigator") も使用できます。
  
  // イベントリスナーを登録します。
  myNavigator.addEventListener('postpush', function(event) {
    console.log('This function is called after a new page is pushed.');
  });
  
  // コンポーネントのメソッドを呼び出します。
  myNavigator.pushPage("page2.html");
  
  // コンポーネントのプロパティーへアクセスします。
  console.log(myNavigator.pages);

  // コンポーネントの属性を変更します。
  myNavigator.setAttribute('animation', 'fade');
</script>
```

### コンポーネント ( ページの構成要素 ) を追加する

使用できるコンポーネントの詳細は、[リファレンス](/v2/docs/js.html) ページをご確認ください。

#### フォーム関連の要素

Onsen UI では、フォーム関連のコンポーネントを多数提供しています。[`<ons-button>`](/v2/docs/js/ons-button.html) コンポーネント、[`<ons-switch>`](/v2/docs/js/ons-switch.html) コンポーネント、[`<ons-range>`](/v2/docs/js/ons-range.html) コンポーネントは、よく使用される、フォームの構成要素です。また、[`<ons-input>`](/v2/docs/js/ons-input.html) コンポーネントも、最も頻繁に使用される要素の 1 つです。このコンポーネントでは、`checkbox`、`radio`、`password` などをサポートしています。

```
<ons-page>
  <ons-toolbar>
    <div class="center">Form</div>
  </ons-toolbar>
  <div style="text-align: center; margin-top: 30px;">
    <p><ons-input type="text" placeholder="Username" float></ons-input></p>
    <p><ons-input type="password" placeholder="Password" float></ons-input></p>
    <p><ons-button onclick="login()">Sign in</ons-button></p>
  </div>
</ons-page>
```

#### 一覧表示

一覧表示は、モバイルアプリで最もよく見る表示形式の 1 つです。Onsen UI でも、一覧表示を行うためのコンポーネントを提供しています。[`<ons-list>`](/v2/docs/js/ons-list.html) コンポーネント、[`<ons-list-item>`](/v2/docs/js/ons-list-item.html) コンポーネント、[`<ons-list-header>`](/v2/docs/js/ons-list-header.html) コンポーネントを使用すれば、簡単なものから複雑なものまで、用途に合った一覧を構築できます。一覧上に表示するアイテムの置き場所は、前述の `<ons-toolbar>` コンポーネントと同様 ( 左、中央、右 ) に指定できます。また、CSS を指定する class には、デフォルトで提供しているスタイル ( `list__item__icon`、`list__item__thumbnail`、`list__item__title`、`list__item__subtitle` ) を使用できます。

```
<ons-page>
  ...
  <ons-list>
    <ons-list-header>Header</ons-list-header>
    <ons-list-item>
      <div class="left">
        <ons-icon icon="md-face" class="list__item__icon"></ons-icon>
      </div>
      <div class="center">
        <span class="list__item__title">Title</span>
        <span class="list__item__subtitle">Subtitle</span>
      </div>
      <label class="right">
        <ons-switch></ons-switch>
      </label>
    </ons-list-item>
    ...
  </ons-list>
</ons-page>
```

##### 無限スクロール

一覧の最後のアイテムにユーザーが達したとき、アイテムが順次追加されていく処理を見かけるかと思いますが、Onsen UI でもこの処理を提供しています。この処理を行う場合、 [`<ons-page>`](/v2/docs/js/ons-page.html) コンポーネントの `onInfiniteScroll` プロパティーを使用します ( 一番下のアイテムにスクロールが近づくたびに、このプロパティーが呼び出されます )。

##### LazyRepeat コンポーネント

不特定多数のアイテムを一覧上に表示する場合には、[`<ons-lazy-repeat>`](/v2/docs/js/ons-lazy-repeat.html) コンポーネントの使用を推奨します。このコンポーネントは、表示されるアイテムと表示されていないアイテムを区別して、必要なレンダリングのみ行い、よって、アプリのパフォーマンスを劣化させません。

#### レイアウト関連の要素

Onsen UI では、画面上に各要素を配置するときに、グリッドシステム ( Grid System ) を採用しています。グリッドシステムでは、スプレッドシートのように、画面を横列と縦列に分けます。各グリッドの横幅と縦幅は指定できます。
また、2 個以上のグリッドを結合することもできます ( 横列と縦列ともに )。

レイアウトは、 [`<ons-col>`](/v2/docs/js/ons-col.html) コンポーネントと [`<ons-row>`](/v2/docs/js/ons-row.html) コンポーネントを組み合わせて構成します。横幅と縦幅は、属性、CSS などを使用して、柔軟に指定できます。

なお、通常、一覧表示を行うときには、グリッド関連のコンポーネントは使用しません。また、Onsen UI では、一覧表示用の特別なレイアウト ( iOS のフラットデザインと Android のマテリアルデザインの仕様に準拠したレイアウト ) を提供しています。詳細は、[一覧表示](#lists) をご確認ください。

#### 制御および視覚効果関連のコンポーネント

ここでは、開発者のさまざまなニーズにも応えるコンポーネントを紹介します。

##### カルーセル

[`<ons-carousel`>](/v2/docs/js/ons-carousel.html) コンポーネントと [`<ons-carousel-item>`](/v2/docs/js/ons-carousel-item.html) コンポーネントを使用して、簡単なカルーセルを構築できます。カルーセルは、指定すれば、全画面表示、および、オーバースクロール ( OverScroll ) を適用することもできます。

##### プルフック ( Pull-hook ) コンポーネント

コンテンツの更新があるかをアプリ上で確認するときに、 [`<ons-pull-hook>`](/v2/docs/js/ons-pull-hook.html) コンポーネントを使用するのもよく見られる方法です。このコンポーネントを使用すると、「 ページを引っ張れば ( Pull/プル ) 」、更新処理が行われます。

##### スピードダイアル ( Speed-dial ) コンポーネント

[`<ons-speed-dial>`](/v2/docs/js/ons-speed-dial.html) と [`<ons-speed-dial-item>`](/v2/docs/js/ons-speed-dial-item.html) は、フローティングアクションボタン ( floating action button/ fab ) ([`<ons-fab>`](/v2/docs/js/ons-fab.html)) とともに使用します。フローティングアクションボタンを押して、スピードダイアルを表示 ( または非表示 ) させます。このコンポーネントは、主に、マテリアルデザイン向けです。

##### 進捗度 ( Progress ) を示すコンポーネント

[`<ons-progress-bar>`](/v2/docs/js/ons-progress-bar.html) または [`<ons-progress-circular>`](/v2/docs/js/ons-progress-circular.html) を使用して、読み込みの進捗度を表示できます ( マテリアルデザインの仕様に準拠 )。2 種類の表示パターンを選べます ( 実際の進捗度を示すパターン、進行中であることを示すパターン )。

##### アイコン

Onsen UI の [`<ons-icon>`](/v2/docs/js/ons-icon.html) コンポーネントでは、次のアイコンパッケージを利用できます。

  * [Font Awesome](https://fortawesome.github.io/Font-Awesome/) - 先頭に `fa-` を付記します。
  * [Ionicons](http://ionicons.com/) - 先頭に `ion-` を付記します。
  * [Material Icons](https://design.google.com/icons/) - 先頭に `md-` を付記します。

Ionicons は iOS 向けです。Material Icons は、マテリアルデザインを使用しているアプリ向けです。

#### ジェスチャー/指操作の検知 ( GestureDetector )

指での操作を検知して、なんらかの処理を実行することは、モバイルアプリでは必須の機能です。Onsen UI では、[Hammer.js](https://hammerjs.github.io/) のカスタマイズ版を使用して、ジャスチャーの検知を行っています。

[`<ons-gesture-detector>`](/v2/docs/js/ons-gesture-detector.html) コンポーネントを使用して、対象の DOM 要素を囲い ( Wrap )、指操作を検知します。また、[`ons.GestureDetector`](/v2/docs/js/ons.GestureDetector.html) オブジェクト経由で、Gesture Detector クラス ( Hammer.js ) を使用することもできます。

```
var divGD = ons.GestureDetector(document.querySelector('#my-div'));
divGD.on('dragup dragdown', function(event) {
  console.log('drag Y axis');
  divGD.dispose();
});
```

### ダイアログ

Onsen UI では、数種類のダイアログ用コンポーネントを提供しています。ページ中央にダイアログを表示する場合には [`<ons-dialog>`](/v2/docs/js/ons-dialog.html)、警告メッセージ用のダイアログを表示する場合には [`<ons-alert-dialog>`](/v2/docs/js/ons-alert-dialog.html)、指定された要素またはコンテクストメニューの横に、指定されたコンテンツを表示する場合には [`<ons-popover>`](/v2/docs/js/ons-popover.html)、ユーザーの操作を禁止する、全画面表示のダイアログを表示する場合には [`<ons-modal>`](/v2/docs/js/ons-modal.html) を使用します。

上記のコンポーネント以外にも、[`ons.notification` オブジェクト](/v2/docs/js/ons.notification.html) を使用して、ダイアログ表示などを行えます。

```javascript
ons.notification.alert('Hello world!'); // 通常の警告メッセージの場合
ons.notification.confirm('Are you ready?'); // OK/Cancel ボタンを表示する場合
ons.notification.prompt('What is your name?'); // 文字列を入力する場合

```

### ページのナビゲーション ( ページの遷移と操作 )

Onsen UI では、3 種類のコンポーネントを提供し、それぞれが異なる方法で、ページをナビしてくれます。これらのコンポーネントは、
[`<ons-navigator>`](/v2/docs/js/ons-navigator.html)、[`<ons-tabbar>`](/v2/docs/js/ons-tabbar.html)、[`<ons-splitter>`](/v2/docs/js/ons-splitter.html) です。ページナビの仕組みは、たとえるならば、コンポーネントが提供してくれる 「 枠 」 があり、この枠内に置かれたコンテンツの順番を、随時変更させていくようなイメージです。枠内のコンテンツは、通常、`<ons-page>` で指定しますが、他のナビ用コンポーネントを複数組み合わせる ( ネストする ) こともできます。

各コンポーネントの使用方法などは、Onsen UI ドキュメントのリファレンスの 「 実例 」 をご確認ください。

#### ナビゲーター ( 基本のページ遷移方法 )

最も頻繁にナビに使用されるコンポーネントは、[`<ons-navigator>`](/v2/docs/js/ons-navigator.html) です。このコンポーネントでは、「 スタック 」 ( 前述の 「 枠 」 ) を提供して、このスタックにページをプッシュ・ポップ ( Pop/出し、Push/入れ ) して、ページを表示します ( ページ遷移時には、アニメーション効果が付けられています )。このコンポーネントを使用したページ遷移が、基本であり、加えて、最も頻繁に使用されるはずです。また、他のコンポーネントと組み合わせることもできます。

遷移するページ間になんらかの関連性がある場合 ( たとえば、前のページから今のページに遷移してきたなど )、このコンポーネントを使用します。また、ページ間でのデータの受け渡しもできます。

#### タブバー

タブバーを表示する場合、[`<ons-tabbar>`](/v2/docs/js/ons-tabbar.html) を使用します。タブバーは、ページの上または下に表示され、各タブをタップすると、紐づけされたページに遷移します。このコンポーネントでは、選択されたタブ ([`<ons-tab>`](/v2/docs/js/ons-tab.html)) に応じて、指定されたコンテンツを読み込みます。タブバーは、ページ上に置かれた構成部品 ( コンポーネント ) の中でも、ページ遷移のみを行う部品として、よく使用されます。

#### メニュー

メニューは、[`<ons-splitter>`](/v2/docs/js/ons-splitter.html) を使用して追加できます。また、自動的に、画面が小さい端末ではスワイプ式のメニューとなり、画面が大きい端末ではカラム式 ( 画面の片側に固定表示 ) のレイアウトとなります。

splitter ( 分割 ) 系のコンポーネント ( [`<ons-splitter-side>`](/v2/docs/js/ons-splitter-side.html) と [`<ons-splitter-content>`](/v2/docs/js/ons-splitter-content.html) ) では、「 枠 」 が 2 つ提供され、それぞれの枠には、異なるコンテンツを読み込むことができます。基本的な使用方法は、「 side 」 メニュー枠には、遷移先となるページを指定した 「 item 」 ( 通常、複数個置かれ、一覧形式で表示 ) を置き、「 content 」 枠には遷移先となるページを置くことになります。なお、これらの枠に新しいコンテンツを読み込んだ場合、既存のコンテンツは上書きされます。また、複雑な使用方法となりますが、`<ons-splitter-content>` 内に `<ons-navigator>` を置くこともできます。

### template

複数のページがある場合、それぞれのページ毎にファイルを作成し、それぞれのページへのパスを参照して、対象のページにアクセスできるのは周知のとおりです。たとえば、`myNavigator.pushPage('path/to/my/page.html')` と記述されている場合、`path/to/my/` フォルダーの `page.html` を読み込むことになります。なお、そのファイルには、`<ons-page>` が 1 つ記述されている必要があります ( 他の要素も含む )。

一方、同一ファイル上に、複数のページをまとめて定義した方が、使い勝手が良い場合もあります。そのような場合には、[`ons-template`](/v2/docs/js/ons-template.html) コンポーネントを使用します。このコンポーネントを使用すると、`index.html` 上に複数のページを置けるようになります ( 置ける場所は、`index.html` のみです )。ページへのパスの代わりに、template の `id` 属性が使用されます。

```html
<body>
  <ons-navigator page="page1.html"></ons-navigator>

  <ons-template id="page1.html">
    <ons-page>First page</ons-page>
  </ons-template>

  <ons-template id="page2.html">
    <ons-page>Second page</ons-page>
  </ons-template>
</body>
```

`<ons-template>` 内で、`<script></script>` を使用しても、または、他のファイル内を読み込んでも無視されます。また、ページの読み込み方法は、["ページを作成する" 項目](/v2/guide/js/#creating-a-page) の `init` イベントをご確認ください。

### modifier を使用する

modifier とは、Onsen UI コンポーネントをカスタマイズ ( クロスプラットフォームへの対応も含む ) するときに使用する属性です。`modifier` を定義した場合、コンポーネントの外見には、該当するクラスが適用されます ( 新規の値の場合には、クラスが追加されます。また、新規のクラスの場合には、適用するカスタムスタイルを、開発者自身で定義することができます )。また、コンポーネントによっては、定義済み ( プリセット/Preset ) の値が提供されているものもあります。

たとえば、次の例では、各ボタンには、異なる外見が設定されます。modifier を動的に変更する場合には、JavaScript から `modifier` 属性を操作します。

```html
<ons-button modifier="quiet">Quiet</ons-button>
<ons-button modifier="light">Light</ons-button>
<ons-button modifier="large">Large</ons-button>
<ons-button modifier="cta">Call To Action</ons-button>
<ons-button modifier="material">Material Design</ons-button>
```

### クロスプラットフォーム向けのスタイル設定

Onsen UI コンポーネントのスタイルは、プラットフォームの種類に応じて、動的に変更されます。DevTools を使用すれば、各プラットフォーム上のアプリの外見を確認できます ( Device 設定を iOS または Android に切り替えます )。

このスタイル自動設定では、`ons.platform.isAndroid()` が true のときに、`modifier="material"` を対象のコンポーネントに適用しています。この自動設定を無効にする場合には、`onsenui.js` の読み込み直後 ( アプリが初期化される前 ) に、`ons.disableAutoStyling()` を実行します。また、この自動設定を無効にした場合、マテリアルデザインにスタイルを変更するときには、手動で、`modifier="material"` を対象のコンポーネントに適用します。また、特定のコンポーネントに対してのみ、この自動設定を適用しない場合には、`disable-auto-styling` 属性を対象のコンポーネントに指定します。

なお、より精度の高いカスタマイズを希望する場合、他のツールをご利用ください。

#### プラットフォームの指定・識別関連のユーティリティ

[`ons.platform` オブジェクト](/v2/docs/js/ons.platform.html) では、`ons.platform.isIOS()`、`ons.platform.isWebView()` などのメソッドを提供しています。

`ons.platform.select('android')` を使用すれば、プラットフォームを指定できます。たとえば、プラットフォームを区別せずに、マテリアルデザインを使用したいときに便利です。なお、このメソッドは、アプリが初期化される前 ( `onsenui.js` の読み込み直後 ) に実行する必要があります。

#### 条件分岐に使用する要素

条件分岐時に使用できる要素として、 [`<ons-if>`](/v2/docs/js/ons-if.html) があります。この要素を使用すれば、プラットフォームまたは端末のオリエンテーションに応じて、コンテンツを変えることができます。

```html
  <ons-if platform="android">
    This is Android
  </ons-if>
  <ons-if platform="ios other">
    This is NOT Android
  </ons-if>
```

この要素を使用すれば、たとえば、マテリアルデザインの場合には `<ons-fab>`、iOS のフラットデザインの場合には他のボタンを表示できます。

#### アイコン用のショートカット

前述の `<ons-if>` を使用して、プラットフォーム別に異なるアイコンを使用する場合、[`<ons-icon>`](/v2/docs/js/ons-icon.html) にショートカットを使用して、簡素に記述することもできます。

```
<ons-icon icon="ion-navicon, material:md-menu" size="24px, material:20px"></ons-icon>
```

modifier が `material` に指定されていれば、2 番目に指定したアイコンが表示されます。

### CSS の定義

Onsen UI で使用するスタイルは、 `onsenui.css` と `onsen-css-components.css` 内で定義されています。スタイルは、[Stylus](http://stylus-lang.com/) 形式で記述されています。

`onsenui.css` は、コアの CSS モジュールです。このファイルでは、Custom Elements 向けのスタイルが定義されています。ソースコードは、`core/css` ディレクトリー下に置かれています。一方、`onsen-css-components.css` には、CSS コンポーネント向けの CSS が定義されています。ソースコードは、`css-components/components-src/stylus` ディレクトリー下に置かれています。

または、[Onsen UI 提供の CSS コンポーネント](http://components.onsen.io/) を使用して、定義済みのカラーをカスタマイズできます。カスタマイズ後は、テーマをダウンロードして、既存の `onsenui-css-components.css` を新しいファイルに置き換えます。

#### CSS スタイルの上書き

特定のコンポーネントに対して、異なるスタイルを適用する場合、`modifier` 属性を使用すれば、対象のコンポーネントのスタイルを上書きできます。

たとえば、特定のボタンを太字 ( thick ) にする場合、次のように指定します。

```html
<ons-button modifier="thick">Thick Button</ons-button>
```

次に、style タグ下、または、CSS ファイル内に、スタイルを適宜定義します。

```html
<style>
.button--thick {
  border: 10px;
}
</style>
```

### 端末側の戻るボタン

Android 端末では、ハードウェア側の戻るボタンが押されたときに、Cordova 側で `backbutton` イベントを発火させます ( **Cordova 側が、このイベントを発火させた** ことに注意が必要です )。このため、`cordova.js` ファイル、または、同等の処理を行うファイル ( Monaca であれば、`loader.js` ) をプロジェクト内で読み込む必要があります。ハードウェアの戻るボタンはブラウザー上では使用できませんが、[Monaca デバッガー](https://ja.monaca.io/debugger.html) を使用すれば、実際の端末上で検証できます。

Onsen UI では、端末側の戻るボタンが押されたときの挙動を、デフォルトで設定している要素もあります。

* ダイアログ : cancelable 属性を指定している場合、ダイアログを閉じます。
* ナビゲーター : ページスタック内にページが置かれている場合、そのページを表示します。
* Splitter : メニューが開いている場合、メニューを閉じます。

条件が満たされない場合、これらの要素は、親要素のハンドラを呼び出し、最終的には、最上位のハンドラ ( ここでは、「 グローバルハンドラ 」 と呼称します ) がアプリを終了させます。

多くのアプリにおいて、上記の対応で十分かと思いますが、Onsen UI ではグローバルハンドラ ( 最終的に、アプリを閉じるハンドラ ) の挙動を、さらにカスタマイズできます。カスタマイズする場合には、[`ons`](/v2/docs/js/ons.html) オブジェクトが提供するメソッドを使用します。

```javascript
// 無効化、または、有効化
ons.disableDeviceBackButtonHandler();
ons.enableDeviceBackButtonHandler();

// 新規ハンドラの登録
ons.setDefaultDeviceBackButtonListener(function(event) {
  ons.notification.confirm('Do you want to close the app?') // ユーザー側に確認します。
    .then(function(index) {
      if (index === 1) { // OK が押された場合
        navigator.app.exitApp(); // アプリを終了します。
      }
    });
  ));
});
```

これとは別に、前述の要素 ( dialog 系、navigator、splitter ) と `<ons-page>` 要素では、`onDeviceBackButton` プロパティーが提供されているので、このプロパティーを使用して、戻るボタンのハンドラの挙動を制御することもできます。

```javascript
var myNavigator = document.getElementById('my-navigator');
myNavigator.onDeviceBackButton.disable(); // バックボタン用のハンドラを無効にします。
myNavigator.onDeviceBackButton.enable(); // バックボタン用のハンドラを有効にします。
myNavigator.onDeviceBackButton.isEnabled(); // 有効化されている場合、true を返します。
myNavigator.onDeviceBackButton.destroy(); // 現在のハンドラの登録を解除します。

var page = myNavigator.topPage;
page.onDeviceBackButton = function(event) {
  console.log('Hardware back button!');
  event.callParentHandler(); // 親のハンドラを呼び出します ( この例では、navigator のハンドラとなります )。
};
```

### Custom Elements のカスタマイズ

HTML コードをカスタマイズする場合、Onsen UI が使用している Custom Element の定義ファイルにアクセスして、適宜、要素を追加または修正することもできます。各コンポーネントのソースコードは、[`core/src/elements` ディレクトリー](https://github.com/OnsenUI/OnsenUI/tree/master/core/src/elements) 下に置かれています。

<!-- End of markdown -->
<% end %>
