---
# Properties required for metalsmith.js
title: 'Angular 2とAngularJSのモバイルUIコンポーネントをOnsen UIハイブリッドアプリ用フレームワークで'
description: 'Onsen UI for Angular 2 and AngularJSで、美しく速いハイブリッドモバイルアプリを開発できます。AndroidマテリアルデザインとiOSの両方をクロスプラットフォームで対応します。'
version: v2
category: 'discover'
layout: 'default.html.eco'

# Local properties
page: 'angular2-landing'
---


<div class="angular2-landing">
  <div class="angular2-landing-header">
    <%- @partial('global-nav.html.eco') %>
    <h1 class="angular2-landing-header-title">
      Onsen UI for Angular 2
    </h1>
    <div class="angular2-landing-header-subtitle">
      Angular 2、AngularJSを使った<br>ハイブリッドアプリ開発の決定版。
    </div>
    <img class="angular2-landing-header-keyvisual" src="/images/design_2016/angular2_landing_keyvisual.gif">

    <div class="angular2-landing-header-get-started">
      <a href="/v2/guide/angular1" class="angular2-landing-header-get-started-button">
        <div class="angular2-landing-header-get-started-button-title">
          AngularJS
        </div>
        <div class="angular2-landing-header-get-started-button-subtitle">
          ではじめよう
        </div>
      </a>
      <a href="/v2/guide/angular2" class="angular2-landing-header-get-started-button">
        <div class="angular2-landing-header-get-started-button-title">
          Angular 2
        </div>
        <div class="angular2-landing-header-get-started-button-subtitle">
          ではじめよう
        </div>
      </a>
    </div>

    <div class="angular2-landing-header-available">
      <span>
        他のフレームワークでも...
      </span>
      <div class="angular2-landing-header-available-frameworks">
        <a href="/react" class="angular2-landing-header-available-frameworks-react"></a>
        <a href="/v2/guide/js" class="angular2-landing-header-available-frameworks-js"></a>
      </div>
    </div>

    <div class="angular2-landing-header-latest">
      <p class="small" id="release-info">Latest <a class="version" href="https://github.com/OnsenUI/OnsenUI"><%- @framework.version %></a> released <time></time>. See <a href='https://github.com/OnsenUI/OnsenUI-dist/releases'>all versions</a>. Distributed free and open source (Apache 2.0) via <a href="https://github.com/OnsenUI/OnsenUI">GitHub</a></p>
    </div>
  </div>

  <div class="angular2-landing-social">
    <a href="https://twitter.com/Onsen_UI_ja" target="_blank" class="angular2-landing-social-twitter">
      @Onsen_UI_jaのフォロー
    </a>
    <a href="https://github.com/OnsenUI/OnsenUI" target="_blank" class="angular2-landing-social-github">
      GitHubスターをお願いします
    </a>
  </div>

  <div class="angular2-landing-content">
    <h2>Angularを使ったモバイルアプリ開発が驚くほどシンプルに。</h2>

    <p>
      AngularとOnsen UIの組み合わせで、モバイルアプリ開発はとてもシンプルになります。CLIツールの利用で、複雑な作業を簡単な操作で実現することができます。標準の開発環境にはTypeScript、WebPack、Cordovaが含まれているだけでなく、ライブリロード対応のデバッガーやリモートビルドなどのクラウドサービスにも思いのままにアクセスできます。
    </p>

    <img class='angular2-landing-large-image' src="/images/design_2016/image_onsenui_angular2_sp.png"></img>
    <img class='angular2-landing-small-image' src="/images/design_2016/image_onsenui_angular2_sp_small.png"></img>

    <hr>

    <h2>マテリアルデザインとフラットデザインの両方を持つAngular 2ディレクティブを提供</h2>

    <p>
      Onsen UI for Angular 2はシンプルでパワフルなAPIを備えています。すべてのUIコンポーネントは、Angularアプリに簡単に利用できます。すべてのAngular 2コンポーネントを見るには、<a href="/v2/docs/angular2.html">Angular 2リファレンス</a>をご覧ください。
    </p>

    <div id="showcase-carousel-wrapper">
      <iframe id="showcase-carousel" src="https://onsenui.github.io/showcase-carousel"></iframe>
    </div>

    <hr>

    <h2>AngularJS、Angular 2の両方に対応</h2>

    <p>
      Onsen UIはWebコンポーネントでできており、JavaScriptとCSSのコア部分は共有されています。そのため、jQueryやReactといったフレームワークともお使いいただくことができます。
      <br>
      どのようなJavaScriptフレームワークを使うにせよ、Onsen UIを使うことで、常にノウハウの蓄積が生かされるのです。
    </p>

    <img src="/images/design_2016/image_rocket.png"></img>

    <div class="angular2-landing-content-get-started">
      <a href="/v2/guide/angular1/index.html" class="angular2-landing-content-get-started-button">
        Onsen UI for AngularJS<br>をはじめよう
      </a>
      <a href="/v2/guide/angular2/index.html" class="angular2-landing-content-get-started-button">
        Onsen UI for Angular 2<br>をはじめよう
      </a>
    </div>
  </div>
</div>
