---
page: 'vue-landing'
category: 'discover'
title: 'Onsen UI for Vue - ハイブリッドアプリ開発フレームワーク'
layout: 'default.html.eco'
topbar: false
actionbar: false
version: v2
description: 'Vue 2とOnsen UIを組み合わせると、高いパフォーマンスを持つハイブリッドアプリが簡単に開発できます。HTML5とJavaScriptで驚きのパフォーマンスを実現します。MaterialとiOSの両方にクロスプラットフォームに対応します。'
---

<div class="landing vue-landing">
  <%- @partial('global-nav.html.eco') %>
  <div class="landing-header">
    <h1 class="landing-header-title">
      Onsen UI for Vue
    </h1>
    <div class="landing-header-subtitle">
      iOS / Android のデザインを忠実に再現した、モバイル UI ライブラリの決定版。
    </div>
    <img class="landing-header-keyvisual" src="/images/landing/keyvisual_vue.gif">

    <a href="/v2/guide/vue/" class="landing-header-get-started">
      <div class="landing-header-get-started-title">
        はじめよう
      </div>
    </a>
  </div>
  <div class="landing-content">
    <div class="feature">
      <div class="feature-text">
        <h2>iOS / Android ガイドラインに準拠した<br>34 個のコンポーネント</h2>
        <p>Onsen UI は <strong>iOS や Android のデザインを忠実に再現</strong> したコンポーネントを提供します。</p>
        <p>これにより、Web サイトや Progressive Web App (PWA)、および Cordova アプリを本物の iOS アプリ・Android アプリのような見た目に仕上げることができます。</p>
      </div>
      <div class="feature-image">
        <img src="/images/landing/Onsen_UI_Simple_Components.png">
      </div>
    </div>

    <div class="feature">
      <div class="feature-text">
        <h2>複雑な UI の実装を驚くほど簡単に</h2>
        <p>Onsen UI は美麗なコンポーネントだけでなく、<strong>スタックナビゲーター、サイドメニュー、タブバー、カルーセル、無限スクロール、プルフック</strong>等といったモバイル特有の UI を簡単に実装するための仕組みも備えています。外部ページの動的な読み込みやキャッシュにも対応しています。</p>
      </div>
      <div class="feature-image">
        <div class="resource-placeholder"></div>
      </div>
    </div>

    <div class="feature">
      <div class="feature-text">
        <h2>面倒な設定は不要</h2>
        <p>Onsen UI for Vue の利用に特別な知識は一切必要ありません。<code>Vue.use(VueOnsen);</code> と書くだけで、多種多様なコンポーネントをすぐに使えるようになります。</p>
      </div>
      <div class="feature-image">
<%- @markdown => %>
```bash
# Install two packages
npm install onsenui vue-onsenui --save
```
```js
// Webpack CSS import
import 'onsenui/css/onsenui.css';
import 'onsenui/css/onsen-css-components.css';

// JS import
import Vue from 'vue';
import VueOnsen from 'vue-onsenui'; // This already imports 'onsenui'

// And just plug the bindings
Vue.use(VueOnsen);

new Vue({
  el: '#app',
  template: '<v-ons-button>Click Me</v-ons-button>',
});
```
<% end %>
  <img src="/images/guide/first_onsen_ui_app.png" style="border: 1px solid #ccc;">
      </div>
    </div>

    <div class="feature">
      <div class="feature-text">
        <h2>リアクティブな API</h2>
        <p>Onsen UI for Vue のコンポーネントは受け取った prop に対してリアクティブに動作するように設計されています。それにより、Vue と極めて親和性の高いリアクティブな API を提供しています。</p>
      </div>
      <div class="feature-image">
<%- @markdown => %>
```js
const page1 = {
  template: `
    <v-ons-page>
      <v-ons-toolbar>
        <div class="center">Page1</div>
      </v-ons-toolbar>
      <p style="text-align: center">
        This is the first page
        <v-ons-button @click="$emit('push', page2)">
          Push Page 2
        </v-ons-button>
      </p>
    </v-ons-page>
  `
};

new Vue({
  el: '#app',
  template: `
    <v-ons-navigator :page-stack="pageStack">
      <component v-for="page in pageStack"
                :is="page"
                @push="pageStack.push($event)">
      </component>
    </v-ons-navigator>
  `,
  data() {
    return {
      pageStack: [page1]
    };
  }
});
```
<% end %>
      </div>
    </div>

    <div class="feature">
      <div class="feature-text">
        <h2>Vue CLI 用テンプレートを完備</h2>
        <p>Onsen UI for Vue をすぐに試したいという方のために、Vue CLI 用のテンプレートを2種類用意しています。
          現在、Progressive Web App と Cordova アプリに対応しています。</p>
        <p>また、外部サービスの Monaca CLI（無料）を利用すると Vue CLI で作成した Cordova アプリを実機でリアルタイムデバッグしたり、iOS / Android 向けにリモートでビルドしたりすることができます。
        </p>
      </div>
      <div class="feature-image">
<%- @markdown => %>
  * __Progressive Web App__: [vue-pwa-webpack](https://github.com/OnsenUI/vue-pwa-webpack)
  ```bash
  $ vue init OnsenUI/vue-pwa-webpack hello-world
  ```
  * __Cordova__: [vue-cordova-webpack](https://github.com/OnsenUI/vue-cordova-webpack)
  ```bash
  $ vue init OnsenUI/vue-cordova-webpack hello-world
  ```
<% end %>
      </div>
    </div>
  </div>
</div>


<script src="/vendor/highlight.min.js"></script>
<script>
  var $ = document.querySelector.bind(document);
  var $$ = document.querySelectorAll.bind(document);
  var each = function (arr, func) { Array.prototype.forEach.call(arr, func) };
  var code = $$('code');
  var arrows = $$('.arrow');
  var height = $('.code-explanation').offsetHeight;

  each(arrows, function (e, i) {
    var lines = code[i].textContent.split(/\n/);
    var indent = lines[1].match(/\s*/)[0].length;
    code[i].textContent = lines.map(function(e) {
      return e.slice(indent);
    }).join('\n').trim();
    hljs.highlightBlock(code[i]);
    e.style.bottom = height - (code[i].offsetTop + code[i].offsetHeight / 2) + 'px';
  });

  var buttons = $('.platform-buttons').children;
  var examples = $$('.code-explanation');
  each(buttons, function(e, i) {
    e.onclick = function () {
      var j = (i + 1) % 2;
      if (!this.classList.contains('selected')) {
        buttons[i].classList.add('selected');
        buttons[j].classList.remove('selected');
        examples[i].classList.add('selected');
        examples[j].classList.remove('selected');
      }
    }
  });
</script>
