---
page: 'vue-landing'
category: 'discover'
title: 'Onsen UI for Vue.js - ハイブリッドアプリ開発フレームワーク'
layout: 'default.html.eco'
topbar: false
actionbar: false
version: v2
description: 'Vue 2とOnsen UIを組み合わせると、高いパフォーマンスを持つハイブリッドアプリが簡単に開発できます。HTML5とJavaScriptで驚きのパフォーマンスを実現します。MaterialとiOSの両方にクロスプラットフォームに対応します。'
---

<div class="landing vue-landing">
  <%- @partial('global-nav.html.eco') %>
  <div class="landing-header">
    <h1 class="landing-header-title">
      Onsen UI for Vue 2
    </h1>
    <div class="landing-header-subtitle">
      ハイブリッドアプリ開発を速く、シンプルに。現在 α 版を提供中。
    </div>
    <img class="landing-header-keyvisual" src="/images/landing/keyvisual_vue.gif">

    <a href="/v2/docs/guide/vue/" class="landing-header-get-started">
      <div class="landing-header-get-started-title">
        はじめよう
      </div>
      <div class="landing-header-get-started-subtitle">
        Onsen UI for Vue 2
      </div>
    </a>

    <div class="landing-header-available">
      <span>
        他のフレームワークでも...
      </span>
      <div class="landing-header-available-frameworks">
        <a href="/v2/docs/guide/angular1" class="landing-header-available-frameworks-angular1"></a>
        <a href="/v2/docs/guide/angular2" class="landing-header-available-frameworks-angular2"></a>
        <a href="/v2/docs/guide/react" class="landing-header-available-frameworks-react"></a>
        <a href="/v2/docs/guide/js" class="landing-header-available-frameworks-js"></a>
      </div>
    </div>

    <div class="landing-header-latest">
      <p class="small" id="release-info">Latest <a class="version" href="https://github.com/OnsenUI/OnsenUI"><%- @framework.version %></a> released <time></time>. See <a href='https://github.com/OnsenUI/OnsenUI-dist/releases'>all versions</a>. Distributed free and open source (Apache 2.0) via <a href="https://github.com/OnsenUI/OnsenUI">GitHub</a></p>
    </div>
  </div>

  <div class="landing-social">
    <a href="https://twitter.com/Onsen_UI_ja" target="_blank" class="landing-social-twitter">
      @Onsen_UI_jaをフォロー
    </a>
    <a href="https://github.com/OnsenUI/OnsenUI" target="_blank" class="landing-social-github">
      GitHubスターをお願いします
    </a>
  </div>
</div>

<div class="container">
<%- @markdown => %>

## Onsen UIとVue 2でハイブリッドアプリやモバイルWebアプリを開発しよう

Onsen UIをVue 2で使いやすくするためのバインディングを作成しました。Onsen UIは **Web Components** に準拠した、ハイブリッドアプリ開発のためのライブラリです。

## NPMからダウンロード

このバインディングは [NPMにて公開](https://www.npmjs.com/package/vue-onsenui)されています。利用するためには、Onsen UI コアライブラリも必要です。

アプリに組み込むには、下記のように yarn コマンドを用いてプロジェクトに加えてください。

```bash
yarn add onsenui vue-onsenui --save # npm コマンドでも可
```

また、Unpkg CDN から直接 [コアライブラリ](https://unpkg.com/onsenui/) と [バインディング](https://unpkg.com/vue-onsenui/) をダウンロードすることもできます。

## 簡単に利用できる

ライブラリはVueプラグインとして配布されているため、下記のように簡単にアプリで使用できます。

```javascript
/**
 * スタイルシートは webpack または
 * link タグで読み込みます
 */
import 'onsenui/css/onsenui.css';
import 'onsenui/css/onsen-css-components.css';

// Vue をインポート
import Vue from 'vue';

// Onsen UI コアライブラリと Vue バインディングをインポート
import 'onsenui';
import VueOnsen from 'vue-onsenui';

// Vue バインディングをプラグインとして適用
Vue.use(VueOnsen);

new Vue({
  el: '#app',
  template: '<App/>',
  components: { App }
});
```

これにより Onsen UI が持つ全てのカスタム要素が `<v-ons-*>` というコンポーネント名で使えるようになります。また、プラットフォーム別処理や簡易アラートダイアログ表示を行えるユーティリティ関数も使えるようになります。

## 詳細を知るには

ライブラリの使い方は、下記のドキュメントに記述しています。また、多くのOnsen UIコンポーネントを組み込んだサンプルアプリも提供しています。

* [ドキュメント](/v2/docs/guide/vue/)
* [GitHubレポジトリ](https://github.com/OnsenUI/OnsenUI/tree/vue2/bindings/vue)
* [サンプルコード](https://github.com/OnsenUI/OnsenUI/tree/vue2/bindings/vue/examples/components)

このライブラリは α 版の段階ですが、今後はドキュメントを増やしたり、機能を追加していきます。Vue 2を使ったモバイルアプリ開発を強力にサポートしていきます。

<% end %>
</div>


<script src="/vendor/highlight.min.js"></script>
<script>
  var $ = document.querySelector.bind(document);
  var $$ = document.querySelectorAll.bind(document);
  var each = function (arr, func) { Array.prototype.forEach.call(arr, func) };
  var code = $$('code');
  var arrows = $$('.arrow');
  var height = $('.code-explanation').offsetHeight;

  each(arrows, function (e, i) {
    var lines = code[i].textContent.split(/\n/);
    var indent = lines[1].match(/\s*/)[0].length;
    code[i].textContent = lines.map(function(e) {
      return e.slice(indent);
    }).join('\n').trim();
    hljs.highlightBlock(code[i]);
    e.style.bottom = height - (code[i].offsetTop + code[i].offsetHeight / 2) + 'px';
  });

  var buttons = $('.platform-buttons').children;
  var examples = $$('.code-explanation');
  each(buttons, function(e, i) {
    e.onclick = function () {
      var j = (i + 1) % 2;
      if (!this.classList.contains('selected')) {
        buttons[i].classList.add('selected');
        buttons[j].classList.remove('selected');
        examples[i].classList.add('selected');
        examples[j].classList.remove('selected');
      }
    }
  });
</script>
