.content {
	margin: 0 0 0 ($aside-width + 30px);
	padding: 50px 0 100px;
	text-align: left;
	width: 100%;

	h2 {
		font-size: (36px/$basefont)+rem;
		margin-bottom: 10px
	}
	.section-h2 {
		margin-bottom: 70px;
	}
}
