article.common {
	margin: 0 auto;
	width: $width;
}

.content {
	color: #666;
	margin: 0 0 0 ($aside-width + 30px);
	padding: 50px 0 100px;
	text-align: left;
	width: ($width - $aside-width - 30px);

	h2 {
		color: #333;
		font-size: (36px/$basefont)+rem;
		font-weight: 400;
		margin-bottom: 10px
	}
	h3 {
		font-size: (28px/$basefont)+rem;
		margin-bottom: 8px
	}
	h4 {
		font-size: (24px/$basefont)+rem;
		margin-bottom: 6px
	}
	h3, h4, h5, h6 {
		color: #333;
		font-weight: 400;
	}
	.section-h2 {
		margin-bottom: 70px;
	}
}
