body#docs {
    ul.theme-switch-control.segment-control {
        font-size: 0px;
        text-align: center;

        > li {
            display: inline-block;
            font-size: 1.45rem;
            font-weight: 200;
            width: 120px;
            height: 37px;
            border: 1px solid #ccc;
            margin-left: -1px;
            border-radius: 0px;
            text-align: center;
            color: #666;
            line-height: 37px;
            cursor: pointer;
            -webkit-font-smoothing: antialiased;
            transition:
                all 200ms linear,
                color 200ms linear,
                font-weight 200ms linear,
                border-color 200ms linear;

            &:first-child {
                border-radius: 4px 0 0 4px;
            }

            &:last-child {
              border-radius: 0 4px 4px 0;
            }

            &.current {
              background-color: #DB4138;
              color: white;
              border-color: #992C28;
              font-weight: 500;
              transition: none;
              position: relative;
              z-index: 1;
            }
        }
    }
}

