body#getting_started {

.examples {
	&:after {content: ""; clear: both; display: block;}
	li {
		float: left;
		margin: 0 auto;
		text-align: center;;
		width: 25%;
		h3 {
			font-size: 20px;
			margin-bottom: 10px;
		}
		.simulator-small {
			margin: 0 auto 20px;
			text-align: left;
		}
		.btn-download {
			margin: 0 auto;
			text-align: left;
		}
	}
}

#run {
	b {
		font-weight: 700;
		margin-right: 15px;
	}
}

}
