---
page: 'reference-detail'
reference: true
layout: 'default.html.eco'
actionbar: false
---

<div class="content"><div class="reference-container">
  <div>
    <a href="/v2/docs/<%=@framework%>.html"><%=@frameworkName @framework%> Docs</a> &gt;
    <%=@title%>
  </div>

  <%-@markd @categoryFile.contents %>

  <h3>Tutorial</h3>

  Put Tutorial here...

  <h3>Related Components</h3>

  <ul>
  <% if @componentCategories[@framework][@componentCategory].files: %>
    <% for file in @componentCategories[@framework][@componentCategory].files: %>
      <li>
        <a href="<%=file.name%>.html"><%=file.title%></a>
      </li>
    <% end %>
  <% end %>
  </ul>
</div></div>
