---
page: 'reference-detail'
needHelp: true
reference: true
layout: 'docs.html.eco'
actionbar: false
---

<div class="reference-container">
  <div class="breadcrumb">
    <% if @componentCategories[@framework][@doc.category]: %>
      <a href="/v2/docs/<%=@framework%>.html"><%=@frameworkName @framework%> Docs</a> &gt;
      <% if @componentCategories[@framework][@doc.category].index: %>
        <a href="/v2/docs/<%=@framework%>/<%=@doc.category%>.html"><%=@componentCategories[@framework][@doc.category].title%></a> &gt;
      <% else: %>
        <%=@componentCategories[@framework][@doc.category].title%> &gt;
      <% end %>
      <%=@doc.name%>
    <% else: %>
      <a href="/v2/docs/<%=@framework%>.html"><%=@frameworkName @framework%> Docs</a> &gt;
      <a href="/v2/docs/<%=@framework%>/<%=@doc.category%>.html"><%=@titlize @doc.category%></a> &gt;
      <%=@doc.name%>
    <% end %>
  </div>

  <h2><%= @doc.name %></h2>

  <% if @doc.extensionOf: %>
  <p class="reference-extension-note">
    This component is available with <span class="reference-extension-name"><%= @doc.extensionOf %></span> bindings only.
  </p>
  <% end %>

  <section class="reference-description">
    <p><%- @markd @translate @doc.description %></p>

    <% if @doc.deprecated: %>
    <div class="deprecated-message"><%= @translate '[en]Deprecated[/en][ja]非推奨[/ja]' %></div>
    <% end %>
  </section>

  <ul class="reference-quick-navi">
    <% if @doc.examples.length > 0: %>
    <li><a href="#usage"><%= @translate '[en]Usage[/en][ja]使い方[/ja]' %></a></li>
    <% end %>

    <% if @doc.tutorial: %>
    <li><a href="#example"><%= @translate '[en]Live Example[/en][ja]実例[/ja]' %></a></li>
    <% end %>

    <% if @doc.attributes.length > 0: %>
    <li><a href="#attributes"><%= @translate '[en]Attributes[/en][ja]属性[/ja]' %></a></li>
    <% end %>

    <% if @doc.properties.length > 0: %>
    <li><a href="#properties"><%= @translate '[en]Properties[/en][ja]プロパティ[/ja]' %></a></li>
    <% end %>

    <% if @doc.modifiers.length > 0: %>
    <li><a href="#modifiers"><%= @translate '[en]Preset Modifiers[/en][ja]プリセットのmodifier[/ja]' %></a></li>
    <% end %>

    <% if @doc.methods.length > 0: %>
    <li><a href="#methods-summary"><%= @translate '[en]Methods[/en][ja]メソッド[/ja]' %></a></li>
    <% end %>

    <% if @doc.events.length > 0: %>
    <li><a href="#events-summary"><%= @translate '[en]Events[/en][ja]イベント[/ja]' %></a></li>
    <% end %>

    <% if @doc.guides.length > 0 or @doc.seealsos.length > 0: %>
    <li><a href="#seealso"><%= @translate '[en]See Also[/en][ja]関連情報[/ja]' %></a></li>
    <% end %>

    <li><a href="#discussion"><%= @translate '[en]Discussion[/en][ja]議論[/ja]' %></a></li>
  </ul>

  <% if @doc.examples[0]: %>
    <section>
      <h3 id="usage">
        <%= @translate '[en]Usage[/en][ja]使い方[/ja]' %>
        <a href="#usage" class="reference-loop-anchor">#</a>
      </h3>
      <pre><code class="xml"><%= @doc.examples[0] %></code></pre>
    </section>
  <% end %>

  <% if @doc.note: %>
  <section class="reference-note">
    <p><% if @lang == "en": %>Note<% else: %>注意<% end %>: <%- @markd @translate @doc.note %></p>
  </section>
  <% end %>

  <% if @doc.tutorial: %>
  <h3 id="example">
    <% if @lang == "en": %>Live Example<% else: %>実例<% end %>
    <a href="#example" class="reference-loop-anchor">#</a>
  </h3>

  <iframe class="tutorial-embed" width="320" height="568" src="<%- @getTutorialUrl "embed", @doc.tutorial %>"></iframe>

  <% end %>


  <% if @doc.guides.length > 0 or @doc.seealsos.length > 0: %>
  <h3 id="seealso">
    <% if @lang == "en": %>See also<% else: %>関連情報<% end %>
    <a href="#seealso" class="reference-loop-anchor">#</a>
  </h3>

  <ul class="seealso">
    <% for guide in @doc.guides: %>
      <li class="guide"><a href="/guide/overview.html#<%= guide.name.trim() %>"><%- @markd @translate guide.description %></a></li>
    <% end %>
    <% for seealso in @doc.seealsos: %>
      <li class="seealso"><a href="<%= seealso.name.trim() %>.html"><%- @markd @translate seealso.description %></a></li>
    <% end %>
  </ul>
  <% end %>

  <!-- attributes -->
  <% if @doc.attributes.length > 0: %>
  <section>
    <h3 id="attributes">
      <% if @lang == "en": %>Attributes<% else: %>属性<% end %>
      <a href="#attributes" class="reference-loop-anchor">#</a>
    </h3>
    <table>
      <thead>
        <tr>
          <% if @lang == "en": %>
          <th>Name</th>
          <th>Type<br>Default Value</th>
          <th>Description</th>
          <% else: %>
          <th>名前</th>
          <th>型 / デフォルト値</th>
          <th>概要</th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% for attribute in @doc.attributes: %>
          <% if [ 'js', @extension ].indexOf(attribute.extensionOf || 'js') > -1: %>
          <tr>
            <td class="attribute-name" id="<%= @doc.name %>-<%= attribute.name %>">
              <%= attribute.name %>
              <% if attribute.extensionOf: %>
              <span class="reference-extension-name"><%= attribute.extensionOf %></span>
              <% end %>
            </td>
            <td>
              <% if attribute.type: %>
              <span class="value-type"><%= attribute.type %></span>
              <% end %>
              <% if attribute.default: %>
              <br><span class="default-value" style="color: green"><%= attribute.default %></span>
              <% end %>
            </td>
            <td>
              <%- @markd @translate attribute.description %>

              <% if attribute.required: %>
              <span style="font-size: 12px;"><% if @lang == "en": %>Required.<% else: %>必須<% end %></span>
              <% else: %>
              <span style="font-size: 12px"><% if @lang == "en": %>Optional.<% else: %>Optional.<% end %></span>
              <% end %>

              <% if attribute.initonly: %>
              <span style="font-size: 12px;"><%= @translate '[en]Works only during initialization.[/en][ja]初期化時のみ有効[/ja]' %></span>
              <% end %>

              <% if attribute.deprecated: %>
              <div class="deprecated-message"><%= @translate '[en]Deprecated.[/en][ja]非推奨[/ja]' %></div>
              <% end %>
            </td>
          </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </section>
  <% end %>
  <!-- end attributes -->

  <!-- property -->
  <% if @doc.properties.length > 0: %>
  <section>
    <h3 id="properties">
      <% if @lang == "en": %>Properties<% else: %>プロパティ概要<% end %>
      <a href="#properties" class="reference-loop-anchor">#</a>
    </h3>
    <table>
      <thead>
        <tr>
          <% if @lang == "en": %>
          <th>Name</th>
          <th>Description</th>
          <% else: %>
          <th>名前</th>
          <th>概要</th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% for property in @doc.properties: %>
        <tr>
          <td class="attribute-name">
            <%= property.name %>
          </td>
          <td><%- @markd @translate property.description %>
            <% if property.deprecated: %><div class="deprecated-message"><%= @translate '[en]Deprecated[/en][ja]非推奨[/ja]' %></div><% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </section>
  <% end %>
  <!-- end properties -->

  <!-- modifiers -->
  <% if @doc.modifiers.length > 0: %>
  <section>
    <h3 id="modifiers">
      <% if @lang == "en": %>Preset Modifiers<% else: %>プリセットのmodifier<% end %>
      <a href="#modifiers" class="reference-loop-anchor">#</a>
    </h3>
    <table>
      <thead>
        <tr>
          <% if @lang == "en": %>
          <th>Modifier</th>
          <th>Description</th>
          <% else: %>
          <th>Modifier名</th>
          <th>概要</th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% for modifier in @doc.modifiers: %>
        <tr>
          <td class="modifier-name" id="<%= @doc.name %>-<%= modifier.name %>"><%= modifier.name %></td>
          <td><%- @markd @translate modifier.description %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </section>
  <% end %>
  <!-- end modifiers -->

  <!-- methods summary -->
  <% if @doc.methods.length > 0: %>
  <section>
    <h3 id="methods-summary">
      <% if @lang == "en": %>Methods Summary<% else: %>メソッド概要<% end %>
      <a href="#methods-summary" class="reference-loop-anchor">#</a>
    </h3>
    <table>
      <thead>
        <tr>
          <% if @lang == "en": %>
          <th>Signature</th>
          <th>Description</th>
          <% else: %>
          <th>シグネチャ</th>
          <th>概要</th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% for method in @doc.methods: %>
          <% if [ 'js', @extension ].indexOf(method.extensionOf || 'js') > -1: %>
          <tr>
            <td>
              <a href="#method-<%= method.name %>"><%= method.signature %></a>

              <% if method.extensionOf: %>
              <span class="reference-extension-name"><%= method.extensionOf %></span>
              <% end %>
            </td>
            <td><%- @markd @translate method.description %>
              <% if method.deprecated: %><div class="deprecated-message"><%= @translate '[en]Deprecated[/en][ja]非推奨[/ja]' %></div><% end %>
            </td>
          </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </section>
  <% end %>
  <!-- end methods summary -->

  <!-- events summary -->
  <% if @doc.events.length > 0: %>
  <section>
    <h3 id="events-summary">
      <% if @lang == "en": %>Events Summary<% else: %>イベント概要<% end %>
      <a href="#events-summary" class="reference-loop-anchor">#</a>
    </h3>
    <table>
      <thead>
        <tr>
          <% if @lang == "en": %>
          <th>Name</th>
          <th>Description</th>
          <% else: %>
          <th>名前</th>
          <th>概要</th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% for event in @doc.events: %>
          <% if [ 'js', @extension ].indexOf(event.extensionOf || 'js') > -1: %>
          <tr>
            <td><a href="#event-<%= event.name %>"><%= event.name %></a></td>
            <td><%- @markd @translate event.description %>
              <% if event.deprecated: %><div class="deprecated-message"><%= @translate '[en]Deprecated[/en][ja]非推奨[/ja]' %></div><% end %>

              <% if event.extensionOf: %>
              <span class="reference-extension-name"><%= event.extensionOf %></span>
              <% end %>
            </td>
          </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </section>
  <% end %>
  <!-- end events summary -->


  <!-- methods details -->
  <% if @doc.methods.length > 0: %>
  <h3><% if @lang == "en": %>Methods<% else: %>メソッド<% end %></h3>
  <% for method in @doc.methods: %>
    <% if [ 'js', @extension ].indexOf(method.extensionOf || 'js') > -1: %>
    <section class="method-detail">
      <h4 id="method-<%= method.name %>">
        <%= method.signature %><% if method.returns: %><span class="value-type">: <%= method.returns.type %></span><% end %>

        <a href="#method-<%= method.name %>" class="reference-loop-anchor">#</a>
      </h4>

      <p><%- @markd @translate method.description %></p>

      <% if method.extensionOf: %>
      <span class="reference-extension-name"><%= method.extensionOf %></span>
      <% end %>

      <% if method.deprecated: %><div class="deprecated-message"><%= @translate '[en]Deprecated[/en][ja]非推奨[/ja]' %></div><% end %>

      <% if method.returns and method.returns.description.length > 0: %>
      <p><% if @lang == "en": %>Returns<% else: %>返り値<% end %>: <%- @markd @translate method.returns.description %></p>
      <% end %>

      <% if method.params.length > 0: %>
      <!-- method parameter -->
      <h5><% if @lang == "en": %>Parameters<% else: %>パラメーター<% end %></h5>

      <table>
        <thead>
          <tr>
            <% if @lang == "en": %>
            <th>Name</th>
            <th>Type</th>
            <th>Description</th>
            <% else: %>
            <th>名前</th>
            <th>型</th>
            <th>概要</th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% for param in method.params: %>
          <tr>
            <td><span class="parameter-name"><%= param.name %></span></td>
            <td class="value-type"><%= param.type %></td>
            <td><%- @markd @translate param.description %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <!-- end method parameter -->
      <% end %>
    </section>
    <% end %>

  <% end %>

  <% end %>
  <!-- end methods -->


  <!-- events -->
  <% if @doc.events.length > 0: %>
  <h3><% if @lang == "en": %>Events<% else: %>イベント<% end %></h3>
  <% for event in @doc.events: %>
    <% if [ 'js', @extension ].indexOf(event.extensionOf || 'js') > -1: %>
    <section class="event-detail">
      <h4 id="event-<%= event.name %>">
        <%= event.name %>
        <a href="#event-<%= event.name %>" class="reference-loop-anchor">#</a>
      </h4>

      <p><%- @markd @translate event.description %></p>

      <% if event.extensionOf: %>
      <span class="reference-extension-name"><%= event.extensionOf %></span>
      <% end %>

      <% if event.deprecated: %><div class="deprecated-message"><%= @translate '[en]Deprecated[/en][ja]非推奨[/ja]' %></div><% end %>

      <h5><% if @lang == "en": %>Parameters<% else: %>パラメーター<% end %></h5>

      <table>
        <thead>
          <tr>
            <% if @lang == "en": %>
            <th>Name</th>
            <th>Type</th>
            <th>Description</th>
            <% else: %>
            <th>名前</th>
            <th>型</th>
            <th>概要</th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% for param in event.params: %>
          <tr>
            <td><span class="parameter-name"><%= param.name %></span></td>
            <td class="value-type"><%= param.type %></td>
            <td><%- @markd @translate param.description %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </section>
    <% end %>
  <% end %>
  <% end %>
  <!-- end events -->

</div>
