---
page: 'reference-detail'
needHelp: true
reference: true
layout: 'docs.html.eco'
actionbar: false
---

<div class="reference-container">
  <div class="breadcrumb">
    <a href="/v2/api/<%=@framework%>"><%=@frameworkName @framework%> Reference</a> &gt;

    <% if @extensionDoc and @extensionDoc.directive: %>
      <%= @extensionDoc.directive %>
    <% else: %>
      <%=@name%>
    <% end %>

    <% if @framework is 'react': %>
      <%= ' Component' %>
    <% end %>
  </div>

  <h3 id="main">
    <span>
      <% if @extensionDoc and @extensionDoc.directive: %>
        <%= @extensionDoc.directive %> Directive (<%= @extensionDoc.selector %>)
      <% else: %>
        <% if @framework is 'react': %>
          &lt;<%= @name %> /&gt;
        <% else: %>
          <%= @doc.name %>
        <% end %>
      <% end %>
    </span>
  </h3>

  <% if @doc.extensionOf: %>
  <p class="reference-extension-note">
    This component is available with <span class="reference-extension-name"><%= @doc.extensionOf %></span> bindings only.
  </p>
  <% end %>

  <section class="reference-description">
    <p><%- @markd @translate (@extensionDoc && @extensionDoc.description) || '' %></p>
    <p><%- @markd @mapKeywords @translate @doc.description %></p>

    <% if @doc.deprecated: %>
    <div class="deprecated-message"><%= @translate '[en]Deprecated[/en][ja]非推奨[/ja]' %></div>
    <% end %>
  </section>

  <% if @doc.tutorial: %>
  <section>
    <a href="#tutorial" class="reference-loop-anchor">
      <h4 id="tutorial">
        <span>
          <% if @lang == "en": %>Tutorial<% else: %>実例<% end %>
        </span>
      </h4>
    </a>

    <iframe class="tutorial-embed" width="100%" height="568" src="<%- @getTutorialUrl "embed-compact", @doc.tutorial %>"></iframe>

    <div class="tutorial-text">
      <% if @doc.tutorialText: %>
        <%- @markd @doc.tutorialText %>
      <% end %>
    </div>
  </section>

  <% else if @doc.examples and @doc.examples.length > 0: %>

  <section>
  <a href="#usage" class="reference-loop-anchor">
    <h4 id="usage">
      <span>
        <%= @translate '[en]Usage[/en][ja]使い方[/ja]' %>
      </span>
    </h4>
  </a>
    <% for example in @doc.examples: %>
      <pre><code class="xml"><%= @mapKeywords example %></code></pre>
    <% end %>
  </section>
  <% end %>

  <% if @doc.note: %>
  <section class="reference-note">
    <p><% if @lang == "en": %>Note<% else: %>注意<% end %>: <%- @markd @mapKeywords @translate @doc.note %></p>
  </section>
  <% end %>

  <% if (@doc.guides and @doc.guides.length > 0) or (@doc.seealsos and @doc.seealsos.length > 0): %>
  <section>
    <a href="#seealso" class="reference-loop-anchor">
      <h4 id="seealso">
        <span>
          <% if @lang == "en": %>See also<% else: %>関連情報<% end %>
        </span>
      </h4>
    </a>

    <ul class="seealso">
      <% for guide in @doc.guides: %>
        <li class="guide"><a href="/v2/guide/<%= guide.name.trim() %>"><%- @markd @translate guide.description %></a></li>
      <% end %>
      <% for seealso in @doc.seealsos: %>
        <li class="seealso"><a href="<%= @mapKeywords seealso.name.trim() %>.html"><%- @markd @mapKeywords @translate seealso.description %></a></li>
      <% end %>
    </ul>
  </section>
  <% end %>

  <!-- attributes -->
  <% if @ownedAttributes.length > 0: %>
  <section>
    <a href="#attributes" class="reference-loop-anchor">
      <h4 id="attributes">
        <span>
          <% if @lang == "en": %>Attributes<% else: %>属性<% end %>
        </span>
      </h4>
    </a>

    <% if @framework == "js" && @lang == "en": %>
      <p>Attributes are added directly to the element. You can do this in HTML or JS.</p>
      <p>
        HTML: <code>&lt;<%=@name%> someAttribute="true" anotherAttribute&gt;&lt;<%=@name%>&gt;</code><br>
        JS: <code>document.querySelector('<%=@name%>').setAttribute('someAttribute', 'true')</code>
      </p>
    <% end %>

    <table>
      <thead>
        <tr>
          <% if @lang == "en": %>
          <th>Name</th>
          <th>Type</th>
          <th>Description</th>
          <% else: %>
          <th>名前</th>
          <th>型 / デフォルト値</th>
          <th>概要</th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% for attribute in @ownedAttributes: %>
          <tr>
            <td class="attribute-name" id="<%= @name %>-<%= attribute.name %>">
              <%= attribute.name %>
            </td>
            <td>
              <% if attribute.type: %>
              <span class="value-type"><%= attribute.type %></span>
              <% end %>
              <% if attribute.default: %>
              <br><span class="default-value" style="color: green"><%= attribute.default %></span>
              <% end %>
            </td>
            <td>
              <% if @lang == "en": %>
              <%- @markd @translate attribute.description %>
              <% else: %>
              <% if @translate(attribute.description).length != 0: %>
              <%- @markd @translate attribute.description %>
              <% else: %>
              <span style="opacity: 0.6;">
                <%- @markd @translate(attribute.description, "en") %>
                <span style="color: red;">（翻訳中）</span>
              </span>
              <% end %>
              <% end %>

              <% if attribute.required: %>
              <span style="font-size: 12px;"><% if @lang == "en": %>Required.<% else: %>必須<% end %></span>
              <% else: %>
              <span style="font-size: 12px"><% if @lang == "en": %>Optional.<% else: %>Optional.<% end %></span>
              <% end %>

              <% if attribute.initonly: %>
              <span style="font-size: 12px;"><%= @translate '[en]Works only during initialization.[/en][ja]初期化時のみ有効[/ja]' %></span>
              <% end %>

              <% if attribute.deprecated: %>
              <div class="deprecated-message"><%= @translate '[en]Deprecated.[/en][ja]非推奨[/ja]' %></div>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </section>
  <% end %>
  <!-- end attributes -->

  <!-- property -->
  <% if @doc.properties and @doc.properties.length > 0: %>
  <section>
    <a href="#properties" class="reference-loop-anchor">
      <h4 id="properties">
        <span>
          <% if @lang == "en": %>Properties<% else: %>プロパティ概要<% end %>
        </span>
      </h4>
    </a>

    <% if @framework == "js" && @lang == "en": %>
      <p>Properties are accessed on the element through JS, and should be get and set directly. For example: <code>document.querySelector('<%=@name%>').<%=@doc.properties[0].name%></code>.</p>
    <% end %>

    <table>
      <thead>
        <tr>
          <% if @lang == "en": %>
          <th>Name</th>
          <th>Description</th>
          <% else: %>
          <th>名前</th>
          <th>概要</th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% for property in @doc.properties: %>
        <tr>
          <td class="attribute-name">
            <%= property.name %>
          </td>
          <td>
            <% if @lang == "en": %>
            <%- @markd @translate property.description %>
            <% else: %>
            <% if @translate(property.description).length != 0: %>
            <%- @markd @translate property.description %>
            <% else: %>
            <span style="opacity: 0.6;">
              <%- @markd @translate(property.description, "en") %>
              <span style="color: red;">（翻訳中）</span>
            </span>
            <% end %>
            <% end %>
            <% if property.deprecated: %><div class="deprecated-message"><%= @translate '[en]Deprecated[/en][ja]非推奨[/ja]' %></div><% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </section>
  <% end %>
  <!-- end properties -->

  <!-- react/vue props -->
  <% if @doc.props and Object.keys(@doc.props).length > 0: %>
  <section>
    <a href="#props" class="reference-loop-anchor">
      <h4 id="props">
        <span>
          <% if @lang == "en": %>Props<% else: %>Prop一覧<% end %>
        </span>
      </h4>
    </a>
    <table>
      <thead>
        <tr>
          <% if @lang == "en": %>
          <th>Name</th>
          <th>Type</th>
          <th>Description</th>
          <% else: %>
          <th>名前</th>
          <th>型 / デフォルト値</th>
          <th>概要</th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% for key, prop of @doc.props: %>
          <tr>
            <td class="attribute-name" id="<%= @doc.name %>-<%= prop.name %>">
              <%= prop.name %>
            </td>
            <td>
              <% if prop.type: %>
                <% if prop.type.names: %>
                  <span class="value-type"><%= prop.type.names[0] %></span>
                <% else if prop.type.name: %>
                  <span class="value-type"><%= prop.type.name %></span>
                <% end %>
              <% end %>
              <% if prop.defaultValue: %>
              <br><span class="default-value" style="color: green">
                <%= prop.defaultValue.value %>
              </span>
              <% end %>
            </td>
            <td>
              <% if @lang == "en": %>
              <%- @markd @mapKeywords @translate prop.description %>
              <% else: %>
              <% if @translate(prop.description).length != 0: %>
              <%- @markd @mapKeywords @translate prop.description %>
              <% else: %>
              <span style="opacity: 0.6;">
                <%- @markd @mapKeywords @translate(prop.description, "en") %>
                <span style="color: red;">（翻訳中）</span>
              </span>
              <% end %>
              <% end %>

              <% if prop.required == true || prop.required == "true": %>
                <span style="font-size: 12px;"><% if @lang == "en": %>Required.<% else: %>必須<% end %></span>
              <% else: %>
                <span style="font-size: 12px"><% if @lang == "en": %>Optional.<% else: %>Optional.<% end %></span>
              <% end %>

              <% if prop.deprecated: %>
              <div class="deprecated-message"><%= @translate '[en]Deprecated.[/en][ja]非推奨[/ja]' %></div>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </section>
  <% end %>
  <!-- end props -->

  <!-- modifiers -->

  <% if @framework is 'react' and @original and @originalFile then @doc.modifiers = @originalFile.doc.modifiers %>
  <% if @doc.modifiers and @doc.modifiers.length > 0: %>
  <section>
    <a href="#modifiers" class="reference-loop-anchor">
      <h4 id="modifiers">
        <span>
          <% if @lang == "en": %>Preset Modifiers<% else: %>プリセットのmodifier<% end %>
        </span>
      </h4>
    </a>

    <% if @framework == "js" && @lang == "en": %>
      <p>
        Modifiers are set in the <code>modifier</code> attribute. To use more than one, separate them by spaces. For example:<br>
        <code>&lt;<%=@name%> modifier="<%=@doc.modifiers[0].name%>
          <% if @doc.modifiers[1]: %><%=@doc.modifiers[1].name%><% else: %> modifier2<%end%>"&gt;&lt;<%=@name%>&gt;</code>.</p>
    <% end %>

    <table>
      <thead>
        <tr>
          <% if @lang == "en": %>
          <th>Name</th>
          <th>Description</th>
          <% else: %>
          <th>Name</th>
          <th>概要</th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% for modifier in @doc.modifiers: %>
        <tr>
          <td class="modifier-name" id="<%= @doc.name %>-<%= modifier.name %>"><%= modifier.name %></td>
          <td>
            <% if @lang == "en": %>
            <%- @markd @translate modifier.description %>
            <% else: %>
            <% if @translate(modifier.description).length != 0: %>
            <%- @markd @translate modifier.description %>
            <% else: %>
            <span style="opacity: 0.6;">
              <%- @markd @translate(modifier.description, "en") %>
              <span style="color: red;">（翻訳中）</span>
            </span>
            <% end %>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </section>
  <% end %>
  <!-- end modifiers -->

  <!-- methods details -->
  <% if Object.keys(@ownedMethods).length > 0: %>
  <section>
    <a href="#methods-summary" class="reference-loop-anchor">
      <h4 id="methods-summary">
        <span>
          <% if @lang == "en": %>Methods<% else: %>メソッド<% end %>
        </span>
      </h4>
    </a>

    <% if @framework == "js" && @lang == "en": %>
      <p>These methods are called directly on the DOM element. Get a reference to the element in JS, and the methods below will be available to call on it. For example: <code>document.querySelector('<%=@name%>').someMethod()</code>.
      </p>
    <% end %>

    <!-- summary -->
    <table>
      <thead>
        <tr>
          <% if @lang == "en": %>
          <th>Signature</th>
          <th>Description</th>
          <% else: %>
          <th>シグネチャ</th>
          <th>概要</th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% for key, method of @ownedMethods: %>
          <tr>
            <td>
              <a href="#method-<%= method.name %>"><%= method.signature || method.name %> </a>
            </td>
            <td>
              <% if @lang == "en": %>
              <%- @markd @mapKeywords @translate method.description %>
              <% else: %>
              <% if @translate(method.description).length != 0: %>
              <%- @markd @mapKeywords @translate method.description %>
              <% else: %>
              <span style="opacity: 0.6;">
                <%- @markd @mapKeywords @translate(method.description, "en") %>
                <span style="color: red;">（翻訳中）</span>
              </span>
              <% end %>
              <% end %>
              <% if method.deprecated: %><div class="deprecated-message"><%= @translate '[en]Deprecated[/en][ja]非推奨[/ja]' %></div><% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <!-- end summary -->

    <% for key, method of @ownedMethods: %>
      <section class="method-detail">
        <a href="#method-<%= method.name %>" class="reference-loop-anchor">
          <h5 id="method-<%= method.name %>">
            <span><%= method.signature || method.name %><% if method.returns and method.returns.type : %><em class="value-type">: <%= method.returns.type.name || method.returns.type %></em><% end %></span>
          </h5>
        </a>

        <p>
          <% if @lang == "en": %>
          <%- @markd @mapKeywords @translate method.description %>
          <% else: %>
          <% if @translate(method.description).length != 0: %>
          <%- @markd @mapKeywords @translate method.description %>
          <% else: %>
          <span style="opacity: 0.6;">
            <%- @markd @mapKeywords @translate(method.description, "en") %>
            <span style="color: red;">（翻訳中）</span>
          </span>
          <% end %>
          <% end %>
        </p>

        <% if method.deprecated: %><div class="deprecated-message"><%= @translate '[en]Deprecated[/en][ja]非推奨[/ja]' %></div><% end %>

        <% if method.returns and method.returns.description.length > 0: %>
        <p><% if @lang == "en": %>Returns<% else: %>返り値<% end %>: <%- @markd @mapKeywords @translate method.returns.description %></p>
        <% end %>

        <% if Object.keys(method.params).length > 0: %>
        <!-- method parameter -->
        <h6><% if @lang == "en": %>Parameters<% else: %>パラメーター<% end %></h6>

        <table>
          <thead>
            <tr>
              <% if @lang == "en": %>
              <th>Name</th>
              <th>Type</th>
              <th>Description</th>
              <% else: %>
              <th>名前</th>
              <th>型</th>
              <th>概要</th>
              <% end %>
            </tr>
          </thead>
          <tbody>
            <% for key, param of method.params: %>
            <tr>
              <td><span class="parameter-name"><%= param.name %></span></td>
              <td class="value-type"><%= (param.type && param.type.name) || param.type %></td>
              <td>
                <% if param.description: %>
                  <% if @lang == "en": %>
                  <%- @markd @mapKeywords @translate param.description %>
                  <% else: %>
                  <% if @translate(param.description).length != 0: %>
                  <%- @markd @mapKeywords @translate param.description %>
                  <% else: %>
                  <span style="opacity: 0.6;">
                    <%- @markd @mapKeywords @translate(param.description, "en") %>
                    <span style="color: red;">（翻訳中）</span>
                  </span>
                  <% end %>
                  <% end %>
                <% end %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
        <!-- end method parameter -->
        <% end %>
      </section>
    <% end %>
  </section>
  <% end %>
  <!-- end methods -->

  <!-- events -->
  <% if !(@extensionDoc and @extensionDoc.directive) and @ownedEvents.length > 0: %>
  <section>
    <a href="#events-summary" class="reference-loop-anchor">
      <h4 id="events-summary">
        <span>
          <% if @lang == "en": %>Events<% else: %>イベント<% end %>
        </span>
      </h4>
    </a>

    <% if @framework == "js" && @lang == "en": %>
      <p>To use these events, add event listeners to the elements as you would for native events, like click. For example: <code>document.querySelector('<%=@name%>').addEventListener('<%=@ownedEvents[0].name%>', function() { ... })</code>.
      </p>
    <% end %>

    <!-- summary -->
    <table>
      <thead>
        <tr>
          <% if @lang == "en": %>
          <th>Name</th>
          <th>Description</th>
          <% else: %>
          <th>名前</th>
          <th>概要</th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% for event in @ownedEvents: %>
          <tr>
            <td><a href="#event-<%= event.name %>"><%= event.name %></a></td>
            <td>
              <% if @lang == "en": %>
              <%- @markd @mapKeywords @translate event.description %>
              <% else: %>
              <% if @translate(event.description).length != 0: %>
              <%- @markd @mapKeywords @translate event.description %>
              <% else: %>
              <span style="opacity: 0.6;">
                <%- @markd @mapKeywords @translate(event.description, "en") %>
                <span style="color: red;">（翻訳中）</span>
              </span>
              <% end %>
              <% end %>
              <% if event.deprecated: %><div class="deprecated-message"><%= @translate '[en]Deprecated[/en][ja]非推奨[/ja]' %></div><% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <!-- end summary -->

    <% for event in @ownedEvents: %>
      <section class="event-detail">
        <a href="#event-<%= event.name %>" class="reference-loop-anchor">
          <h5 id="event-<%= event.name %>">
            <span><%= event.name %></span>
          </h5>
        </a>

        <p>
          <% if @lang == "en": %>
          <%- @markd @mapKeywords @translate event.description %>
          <% else: %>
          <% if @translate(event.description).length != 0: %>
          <%- @markd @mapKeywords @translate event.description %>
          <% else: %>
          <span style="opacity: 0.6;">
            <%- @markd @mapKeywords @translate(event.description, "en") %>
            <span style="color: red;">（翻訳中）</span>
          </span>
          <% end %>
          <% end %>
        </p>

        <% if event.deprecated: %><div class="deprecated-message"><%= @translate '[en]Deprecated[/en][ja]非推奨[/ja]' %></div><% end %>

        <h6><% if @lang == "en": %>Parameters<% else: %>パラメーター<% end %></h6>

        <table>
          <thead>
            <tr>
              <% if @lang == "en": %>
              <th>Name</th>
              <th>Type</th>
              <th>Description</th>
              <% else: %>
              <th>名前</th>
              <th>型</th>
              <th>概要</th>
              <% end %>
            </tr>
          </thead>
          <tbody>
            <% for param in event.params: %>
            <tr>
              <td><span class="parameter-name"><%= param.name %></span></td>
              <td class="value-type"><%= param.type %></td>
              <td>
                <% if @lang == "en": %>
                <%- @markd @mapKeywords @translate param.description %>
                <% else: %>
                <% if @translate(param.description).length != 0: %>
                <%- @markd @mapKeywords @translate param.description %>
                <% else: %>
                <span style="opacity: 0.6;">
                  <%- @markd @translate(param.description, "en") %>
                  <span style="color: red;">（翻訳中）</span>
                </span>
                <% end %>
                <% end %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </section>
    <% end %>
  </section>
  <% end %>
  <!-- end events -->

  <% if @framework is 'angular2': %>
  <!-- inputs -->
    <% if @extensionDoc and @extensionDoc.directive and @doc.inputs and @doc.inputs.length > 0: %>
      <section>
        <h4 id="input-detail">
          <span>
            <% if @lang == "en": %>Inputs<% else: %>Inputs<% end %>
          </span>
        </h4>
        <table>
          <thead>
            <tr>
              <% if @lang == "en": %>
              <th>Name</th>
              <th>Type</th>
              <th>Description</th>
              <% else: %>
              <th>名前</th>
              <th>型</th>
              <th>概要</th>
              <% end %>
            </tr>
          </thead>
          <tbody>
            <% for input in @doc.inputs: %>
              <tr>
                <td><%= input.name %></td>
                <td><%= input.type %></td>
                <td>
                  <% if @lang == "en": %>
                  <%- @markd @translate input.description %>
                  <% else: %>
                  <% if @translate(input.description).length != 0: %>
                  <%- @markd @translate input.description %>
                  <% else: %>
                  <span style="opacity: 0.6;">
                    <%- @markd @translate(input.description, "en") %>
                    <span style="color: red;">（翻訳中）</span>
                  </span>
                  <% end %>
                  <% end %>
                  <% if input.deprecated: %><div class="deprecated-message"><%= @translate '[en]Deprecated[/en][ja]非推奨[/ja]' %></div><% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </section>
    <% end %>
    <!-- end inputs -->

    <!-- outputs -->
    <% if @extensionDoc and @extensionDoc.directive and @doc.outputs and @doc.outputs.length > 0: %>
      <section>
        <h4 id="output-detail"><% if @lang == "en": %>Outputs<% else: %>Outputs<% end %></h4>
        <table>
          <thead>
            <tr>
              <% if @lang == "en": %>
              <th>Name</th>
              <th>Type</th>
              <th>Description</th>
              <% else: %>
              <th>名前</th>
              <th>型</th>
              <th>概要</th>
              <% end %>
            </tr>
          </thead>
          <tbody>
            <% for output in @doc.outputs: %>
              <tr>
                <td><%= output.name %></td>
                <td><%= output.type %></td>
                <td>
                  <% if @lang == "en": %>
                  <%- @markd @translate output.description %>
                  <% else: %>
                  <% if @translate(output.description).length != 0: %>
                  <%- @markd @translate output.description %>
                  <% else: %>
                  <span style="opacity: 0.6;">
                    <%- @markd @translate(output.description, "en") %>
                    <span style="color: red;">（翻訳中）</span>
                  </span>
                  <% end %>
                  <% end %>
                  <% if output.deprecated: %><div class="deprecated-message"><%= @translate '[en]Deprecated[/en][ja]非推奨[/ja]' %></div><% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </section>
    <% end %>
    <!-- end outputs -->
  <% end %>
</div>
