[Desktop Entry]
Encoding=UTF-8
Name=Link to icn_docu.svg
Type=Link
URL=imap://andreas@mail.asial.co.jp:143/fetch%3EUID%3E.INBOX%3E47187?part=1.3&filename=icn_docu.svg
Icon=text-html
