---
page: 'angular2-landing'
category: 'discover'
title: 'Angular and AngularJS UI Components by Onsen UI Hybrid Mobile App Framework'
layout: 'default.html.eco'
topbar: false
actionbar: false
version: v2
description: 'Onsen UI framework for Angular. Create beautiful high-performance hybrid mobile apps and PWA with AngularJS or Angular 2+. Material and iOS Design with automatic styling.'
---


<div class="angular2-landing">
  <div class="angular2-landing-header">
    <%- @partial('global-nav.html.eco') %>
    <h1 class="angular2-landing-header-title">
      Onsen UI for Angular
    </h1>
    <div class="angular2-landing-header-subtitle">
      Create beautiful high-quality hybrid mobile apps and PWAs the fastest way <br>with Angular and Onsen UI.
    </div>
    <img class="angular2-landing-header-keyvisual" src="/images/design_2016/angular2_landing_keyvisual.gif">

    <div class="angular2-landing-header-get-started">
      <a href="/v2/guide/angular1" track-click='{"category": "angular-landing-page", "action": "click", "label":"angularjs-get-started-btn"}' class="angular2-landing-header-get-started-button">
        <div class="angular2-landing-header-get-started-button-title">
          Get Started
        </div>
        <div class="angular2-landing-header-get-started-button-subtitle">
          with Onsen UI for AngularJS
        </div>
      </a>
      <a href="/v2/guide/angular2" track-click='{"category": "angular-landing-page", "action": "click", "label":"angular2-get-started-btn"}' class="angular2-landing-header-get-started-button">
        <div class="angular2-landing-header-get-started-button-title">
          Get Started
        </div>
        <div class="angular2-landing-header-get-started-button-subtitle">
          with Onsen UI for Angular 2+
        </div>
      </a>
    </div>

    <div class="landing-header-available">
      <span>Or use Onsen UI with...</span>
      <div class="landing-header-available-frameworks">
        <a href="/react" class="landing-header-available-frameworks-react"></a>
        <a href="/vue" class="landing-header-available-frameworks-vue"></a>
        <a href="/v2/guide" class="landing-header-available-frameworks-js"></a>
      </div>
    </div>

    <div class="angular2-landing-header-latest">
      <p class="small" id="release-info">Latest <a class="version" href="https://github.com/OnsenUI/OnsenUI"><%- @framework.version %></a> released <time></time>. See <a href='https://github.com/OnsenUI/OnsenUI/releases'>all versions</a>. Distributed free and open source (Apache 2.0) via <a href="https://github.com/OnsenUI/OnsenUI">GitHub</a></p>
    </div>
  </div>

  <div class="angular2-landing-social">
    <a href="https://twitter.com/Onsen_UI" target="_blank" class="angular2-landing-social-twitter">
      Follow @Onsen_UI
    </a>
    <a href="https://github.com/OnsenUI/OnsenUI" target="_blank" class="angular2-landing-social-github">
      Star on GitHub
    </a>
  </div>

  <div class="angular2-landing-content">
    <h2>Beautiful Angular Directives, automatically styled per platform</h2>

    <p>
      Onsen UI for Angular exposes a simple but powerful API. All UI components can be easily plugged into your Angular mobile app. To see all of Onsen UI's Angular components, take a look at the <a href="/v2/docs/angular2.html">Angular 2+ API</a>.<br>Or, you can quickly try out the showcase below - all of them actually work!
    </p>

    <div id="showcase-carousel-wrapper">
      <iframe id="showcase-carousel" src="https://onsenui.github.io/showcase-carousel"></iframe>
    </div>

    <hr>

    <h2>Common core for AngularJS, Angular and other frameworks</h2>

    <p>
      Onsen UI is compatible with both AngularJS and Angular 2+ by sharing the same JavaScript and CSS core.
      It even supports other libraries like React, jQuery and Vue.
      Thus, you can easily switch between the libraries and frameworks and still feel at home.
    </p>

    <img src="/images/design_2016/image_rocket.png"></img>

    <hr>

    <h2>Powerful CLI and development tools with Monaca</h2>

    <p>
      Experience streamlined Angular mobile development with zero-time setup when you use <a href="https://monaca.io">Monaca</a> to build you Onsen UI apps. Use the powerful CLI or desktop app to simplify complicated build tasks. You can also use the Monaca Debugger to test your apps on device, including live-reload to help speed up your development. And when you're ready to release, Monaca builds your Onsen UI app in the cloud, ready to upload to the app stores.
    </p>

    <img class='angular2-landing-large-image' src="/images/design_2016/image_onsenui_angular2_sp.png"></img>
    <img class='angular2-landing-small-image' src="/images/design_2016/image_onsenui_angular2_sp_small.png"></img>

    <hr>

    <div class="angular2-landing-content-get-started">
      <a href="/v2/guide/angular1/index.html" class="angular2-landing-content-get-started-button">
        Get Started with <br>Onsen UI for AngularJS
      </a>
      <a href="/v2/guide/angular2/index.html" class="angular2-landing-content-get-started-button">
        Get Started with <br>Onsen UI for Angular 2+
      </a>
    </div>
  </div>
</div>
